<section class="main-container-list-view">
    <div class="container-list-view" scrollbar>
        <table mat-table [dataSource]="dataSource"  *ngIf="users?.data?.length > 0">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="name" class="">
                <th mat-header-cell *matHeaderCellDef> គណនី </th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex items-center">
                        <div class="profile-table rounded-md overflow-hidden">
                            <div class="rounded-md overflow-hidden pr-1 custom-position relative">
                                <img [src]="row?.user?.avatar ? fileUrl + row?.user?.avatar :null"
                                    style="width:50px; height: 50px;" alt="iamge">
                                <span class="w-full h-full custom-preview" *ngIf="row?.user?.avatar"
                                    (click)="preview(fileUrl + row?.user?.avatar)">
                                    <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                                </span>
                            </div>

                        </div>
                        <div class="name-phone ml-3">
                            <div>
                                <b class="text-lg">{{row?.user?.name}}</b>
                            </div>
                            <div class="text-gray-600 text-md">
                                {{row?.user?.phone}}
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="piu">
                <th mat-header-cell *matHeaderCellDef> អង្គភាព </th>
                <td mat-cell *matCellDef="let row">
                    <div class="name-phone">
                        <div>
                            {{row?.user?.organization?.name}}
                        </div>
                        <div class="text-gray-600 text-md">
                            តួនាទី: {{row?.user?.role?.name}}
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="sys_role">
                <th mat-header-cell *matHeaderCellDef> តួនាទីក្នុងប្រព័ន្ធ </th>
                <td mat-cell *matCellDef="let row">
                    <div class="name-phone">
                        <div>
                            {{row?.sys?.name}}
                        </div>
                        <div class="text-gray-600 text-md">
                            ( {{row?.sys?.abbre}} )
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="creator">
                <th mat-header-cell *matHeaderCellDef> អ្នកបញ្ចូល </th>
                <td mat-cell *matCellDef="let row">
                    {{row?.creator?.name}}
                </td>
            </ng-container>


            <ng-container matColumnDef="create_at">
                <th mat-header-cell *matHeaderCellDef> កាលបរិច្ឆេទ </th>
                <td mat-cell *matCellDef="let row">
                    {{row?.created_at | date: 'YYYY-MM-dd'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                <td mat-cell *matCellDef="let row" class="bg-white -right-1">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                        <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button *ngIf="access_permission?.update == 1" mat-menu-item (click)="update(row)">
                            <mat-icon class="text-blue-400 icon-size-6" svgIcon="mat_solid:edit"></mat-icon>
                            <span class="text-md text-gray-500">កែប្រែ</span>
                        </button>
                        <button *ngIf="access_permission?.delete == 1" mat-menu-item
                            (click)="delete(row?.user?.id,row?.user?.name)">
                            <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                            <span class="text-md text-gray-500">លុប</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-yellow-300 -pr-2">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</section>