.main-container-list-view {
    max-height: calc(100dvh - 14.75rem);
    overflow: hidden !important;

    .container-list-view {
        max-height: calc(100dvh - 17.5rem);
        overflow: auto !important;
    }
    .container-list-view::-webkit-scrollbar{
        width: 0;
        height: 0;
    }
}

table {
    width: 100%;
}

.container-list-view .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-list-view .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-list-view .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
    z-index: 100 !important;
}

.container-list-view .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.container-list-view .mat-column-name {
    min-width: 15rem;
    text-align: left;
    padding: 3px 2rem !important;
}

.container-list-view .mat-column-piu {
    min-width: 260px;
    text-align: left;
    padding: 3px 2rem !important;
}

.container-list-view .mat-column-sys_role {
    min-width: 15rem;
    text-align: left;
    padding: 3px 2rem !important;
}

.container-list-view .mat-column-creator {
    min-width: 15rem;
    padding: 3px 6px 3px 2rem !important;
}

.container-list-view .mat-column-create_at {
    min-width: 7rem !important;
}

.container-list-view .mat-column-action {
    flex: none;
    width: 2rem;
    margin-right: -2px !important;
}


::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

.custom-position .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}

.custom-position:hover .custom-preview {
    background-color: rgba(23, 22, 22, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}