<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">{{data?.name}}</span>
</div>

<mat-dialog-content class="custom-dialog-content">
    <ng-container>
        <div *ngIf=" data?.project_working_groups.length == 0 " class="flex flex-col justify-center items-center mb-4">
            <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
            <span class="text-2xl"><span>មិនមានក្នុងគម្រោង</span></span>
        </div>
    </ng-container>
    <div *ngIf=" data?.project_working_groups.length > 0">
        <table class="w-full p-2 rounded-md phearak-table-table" >
            <thead class="py-2">
                <tr>
                    <th style="width: 20px;">
                        <div class="p-2">
                            <b>ល.រ</b>
                        </div>
                    </th>
                    <th class="text-left p-1">
                        <b>លេខកូដ</b>
                    </th>
                    <th class="text-left p-1"><b>ឈ្មេាះគម្រោង</b></th>
                    <th class="text-center p-1"><b>តួនាទី</b></th>
                    <th class="p-1 text-left">
                       <b>ស្ថានភាព</b>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of data?.project_working_groups; let i = index" (click)="goToProject(row?.project?.id)">
                    <td class="text-center">{{i+1}}</td>
                    <td class="text-left p-1">
                        {{row?.project?.code}}
                    </td>
                    <td class="text-left p-1">
                        {{row?.project?.name}}
                    </td>
                    <td class="text-center p-1">
                            {{row?.sys?.name}}
                            -{{row?.sys?.abbre}}
                    </td>
                    <td class="text-right p-1">
                        <div [ngStyle]="{'color': row?.project?.status?.color}">
                            {{row?.project?.status?.kh_name}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>
