<div mat-dialog-title class="custom-dialog-title">
  <span class="text-xl">បង្កើតលិខិត</span>
</div>
<mat-dialog-content class="custom-dialog-content overflow-auto md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
  <form [formGroup]="letterform" #Createletterform="ngForm">
    <div class="flex flex-col-reverse sm:flex-row ">
      <div class=" w-full   sm:w-[240px] mt-3 sm:mt-0 ">
        <div class="w-full md:min-w-60 md:max-w-60 flex justify-center">
          <div class="custom-image-upload">
              <div class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                  <img *ngIf="src && !show" [src]="src" alt="image" />

                  <span class="w-full custom-h bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                      *ngIf="!src || show" (click)="selectFile()">លិខិត</span>
              </div>
              <div (click)="selectFile()"
                  class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                  <span class="text-xl mr-2"> ជ្រើសរើសឯកសារ  </span>
                  <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
              </div>
              <input [id]="'portrait-file'" accept="image/*,application/pdf" class="hidden" type="file"
                  (change)="fileChangeEvent($event)" />
              <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
              <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
          </div>
          <!-- <div class="custom-image-upload">
                <div
                    class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                    <img id="imageid" *ngIf="src && !show" [src]="src" alt="image" />

                    <span class="w-full h-full bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                        *ngIf="!src || show" (click)="selectFile()">ឯកសារលទ្ធកម្ម</span>
                </div>
                <div (click)="selectFile()"
                    class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                    <span class="text-xl mr-2"> ជ្រើសរើសឯកសារ </span>
                    <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                </div>
                <input [id]="'portrait-file'" accept="image/*,application/pdf" class="hidden" type="file"
                    (change)="fileChangeEvent($event)"/>
                <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
            </div> -->
      </div>
        <!-- <app-portrait [mode]=" mode " [title]=" 'ជ្រើសរើសរូបភាព' " [index]=" 1 " [src]=" src " (srcChange)="srcChange($event, 1)">
        </app-portrait> -->
      </div>
      <div class=" w-full sm:w-[560px] ">

        <div class="custom-form custom-select sm:pt-[0.5px] sm:mb-0 mt-3">
          <mat-form-field appearance="outline" class="w-full sm:ml-2 mb-5"  >
            <mat-label> កម្មវត្ថុ </mat-label>
            <ng-container>
                <mat-select formControlName="letter_type" >
                    <ng-container *ngIf="types">
                        <mat-option *ngFor="let row of types" [value]="row.id" >
                            <span>{{ row?.name }} </span>
                        </mat-option>
                    </ng-container>
                </mat-select>
            </ng-container>
            <mat-error class="min-h-6 mt-2.5 text-md"
               >
                សូមជ្រើសរើសកម្មវត្ថុ
            </mat-error>
          </mat-form-field>
        </div>
        <div class="custom-textarea custom-form custom-select sm:pt-[0.5px] sm:mb-0 mb-3">
          <mat-form-field appearance="outline" class="w-full sm:ml-2 mb-2">
              <mat-label>មតិយោបល់</mat-label>
              <mat-error class="mt-1 h-6">សូមបញ្ចូលមតិយោបល់</mat-error>
              <textarea matInput [formControlName]="'title'" class=" w-[90%]"></textarea>
          </mat-form-field>
      </div>
      </div>

    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
  <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()"
      [disabled]="letterform.invalid || saving">
      <mat-icon *ngIf="!letterform.disabled" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
      <mat-progress-spinner *ngIf="letterform.disabled" [diameter]="24"
          [mode]="'indeterminate'"></mat-progress-spinner>
  </button>
  <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
      <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
  </button>
</mat-dialog-actions>
