.custom-dialog-container{
    margin: -0.75rem !important;
    margin-top: -0.65rem  !important;
}
::ng-deep .custom-dialog-container .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    width: 50%;
}