<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">ផ្ញើរ របាយការណ៍ </span>
</div>
<ng-container *ngIf="isLoading">
    <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
        <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</ng-container>
<ng-container >
    <div class="custom-dialog-container border rounded-lg"  *ngIf="!isLoading">
        <mat-tab-group>
          
            <mat-tab label="ជម្រើសទី១">
                <app-option1 [isLoading]="isLoading" [data]="data"></app-option1>
            </mat-tab>
            <mat-tab label="ជម្រើសទី២">
                <app-option2 ></app-option2>
            </mat-tab>
            
        </mat-tab-group>
    </div>
</ng-container>