<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">កែប្រែអនុប្រភេទថែទាំ</span>
</div>
<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="SubForm" #UpdateMainSubNgForm="ngForm">

        <div class=" main-container-steper">

            <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 sm:grid-cols-2 gap-4">

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ឈ្មោះខ្មែរ</mat-label>
                    <input id="kh_name" matInput [formControlName]="'kh_name'" minlength="0" maxlength="150">
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="SubForm.get('kh_name').hasError('required')">
                        សូមបញ្ចូលឈ្មោះខ្មែរ
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ឈ្មោះឡាតាំង</mat-label>
                    <input id="en_name" matInput [formControlName]="'en_name'" minlength="0" maxlength="150">
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="SubForm.get('en_name').hasError('required')">
                        សូមបញ្ចូលឈ្មោះឡាតាំង
                    </mat-error>
                </mat-form-field>

            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()" [disabled]="SubForm.invalid || saving">
        <mat-icon *ngIf="!SubForm.disabled"class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="SubForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>