.custom-main-section{
    width: 100%;
    height: calc(100vh - 60px); //60px is navigation
    overflow: hidden;
  }
  .custom-content-section{
    width: 100%;
    height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
  }
  .custom-content-section .custom-content{
    width: 100%;
    max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
    overflow: hidden;
  }
  .custom-content .container-section{
    width: 100%;
    max-height: calc(100vh - 188px);
    overflow: auto;
  }
  
  
  table {
    width: 100%;
  }
  
  .container-section .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
  }
  .container-section .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
  }
  
  .container-section .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
  }
  
  table th{
    color: rgb(30, 41, 59) !important ;
    font-size: 1rem !important;
  }
  .container-section .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
  }
  
  .container-section .mat-column-code {
    min-width: 170px;
    width: 220px;
    max-width: 220px;
    text-align: left;
    padding: 3px 2rem !important;
  }
  
  .container-section .mat-column-organization {
    min-width: 300px;
    width: 400px;
    max-width: 400px;
    padding: 3px 6px 3px 2rem !important;
  }
  
  .container-section .mat-column-type_work {
    min-width: 170px;
  }
  
  .container-section .mat-column-location {
    min-width: 120px;
  }
  
  .container-section .mat-column-budgets {
    min-width: 100px;
  }
  
  .container-section .mat-column-action {
    flex: none;
    width: 25px;
    margin-right: -2px !important;
  }
  
  
  ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
  }
  
  
  .flex-custom {
    display: flex !important;
  }
  
  ::placeholder {
    color: rgb(100 116 139) !important;
  }
  
  ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
  }
  
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(100 116 139) !important;
  }
  
  .border-style{
    border: 1px solid rgb(201, 186, 186) !important;
  }
  //end - 12/12/2023
  input:checked{
    background-color: yellow !important;
  }

  .body-content-hover:hover{
    background-color: #f2f3f8 !important;
  }