<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent pageSizes">
    <!-- ================================ >> Header -->
    <div class="relative flex flex-col gap-2 sm:flex-row flex-0 min-h-15 sm:items-center sm:justify-between py-2 px-5 shadow bg-white">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">អ្នកប្រើប្រាស់</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">កំណត់សិទ្ធិ</span>
            </div>
        </div>
    </div>

    <!--=============================>> Main -->
    <div class="flex flex-auto overflow-hidden sm:pl-5 sm:pr-5 mt-5">

        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>


        <ng-container>
            <div *ngIf=" body?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4 w-full">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>

        <!-- =========================== >> Data listing Table -->
        <div class="flex flex-col flex-auto sm:mb-5">
            <div class="grid border rounded-lg overflow-hidden sm:overflow-y-auto overflow-x-auto"  *ngIf=" body?.length > 0 && !isSearching">
                <!-- ================>>  Get Data  API  -->
                <section style="width: 150%;" class="table-container nationalroad-table mat-elevation-z0 overflow-scroll" tabindex="0" >
                    
                    <table class="w-full border-collapse border-style">
                        <thead>
                            <tr class="border-style bg-yellow-300" >
                                <th class="border-style" rowspan="2" style="width: 50px !important; text-align: center !important;">
                                    <div class="mx-3">
                                        ល.រ
                                    </div>
                                </th>
                                <th class="border-style" rowspan="2" style="width: 400px;">ផ្នែក</th>
                                <th class="border-style p-3" *ngFor="let row of header" colspan="4">
                                    {{row.abbre}}
                                </th>
                            </tr>
                            <tr  class="border-style" >
                                <ng-container *ngFor="let row of header">
                                    <td class="border-style p-3 bg-yellow-300" style=" text-align: center; width: 50px !important;" *ngFor="let action of actions" >
                                        {{action.name}}
                                    </td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  class="border-style body-content-hover"   *ngFor="let part of body; let i = index">
                                <td class="border-style" style="text-align: center;">{{i+1}}</td>
                                <td class="border-style" class="p-3">
                                    {{part.title}}
                                </td>
                                <ng-container *ngFor="let column of part.columns">
                                    <td class="border-style" style="  text-align: center;" *ngFor="let check of column.checks" >
                                        <input type="checkbox" (click)="update(part.part_id, column.role_id, check.action_id)" [checked]="check.value == 1 ? true : false">                                        
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>

                    </table>


                </section>
            </div>
            
        </div>

    </div>
</div>













