<div class="quality-section">
    <div class="quality-container">

        <ng-container>
            <div *ngIf=" data?.quality_check?.standards.length == 0 " class="flex justify-center items-center my-4">
                <mat-icon class="text-yellow-600 icon-size-6" svgIcon="mat_solid:error"></mat-icon>
                <span class="text-2xl text-yellow-600 ml-2 mb-0.5"><span>មិនមានការកំណត់ស្តង់ដាធ្វើតេស្ត នៅ
                        {{data?.point}}</span></span>
            </div>
        </ng-container>

        <!-- <div class="main-content mb-2" *ngIf=" data?.quality_check?.standards.length > 0 ">

            <div class="p-2 px-2.5">
                <div class="flex flex-col gap-2 p-2">
                    <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4 w-full">

                        <mat-form-field appearance="outline" class="w-full mb-6">
                            <mat-label>វិធីតេស្ត</mat-label>
                            <mat-select (selectionChange)=" selectionChange($event) ">
                                <ng-container *ngIf="standards.length > 0">
                                    <mat-option *ngFor="let row of standards" [value]=" row ">
                                        <span>{{ row?.method?.name }}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <ng-container *ngIf=" selectedTestingMethod ">
                            <div class="w-full -mt-3 mb-2">
                                ទីតាំងធ្វើតេសត្តៈ <strong> {{ selectedTestingMethod?.place?.name }} </strong> |
                                តម្រូវការស្តង់ដាៈ <strong>{{ selectedTestingMethod?.requirment }} MPa</strong>
                            </div>

                            <table *ngIf=" selectedTestingMethod?.parameters?.length > 0 " class="border w-full">
                                <thead>
                                    <tr class="bg-yellow-50">
                                        <td style="min-width: 70px;" class="p-3">No</td>
                                        <td style="min-width: 220px;" class="p-3">Parameter</td>
                                        <td style="min-width: 100px; max-width: 100px;" class="p-3">ទិន្ន័យ</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border-t"
                                        *ngFor="let row of selectedTestingMethod?.parameters ; index as i">
                                        <td class="px-3 py-1">{{ i + 1 }}</td>
                                        <td class="px-3 py-1">{{ row?.name }}</td>
                                        <td class="px-3 py-1"><input class=" border p-2 "
                                                (keydown.space)="$event.preventDefault();" style="border-radius: 4px;"
                                                [(ngModel)]=" row.value "></td>
                                    </tr>
                                    <tr class="border-t">
                                        <td class="px-3 py-1">{{last_row}}</td>
                                        <td class="px-3 py-1">លទ្ធផល</td>
                                        <td class="px-3 py-1" style="min-width: 100px; max-width: 100px;">
                                            <input class=" border p-2" [(ngModel)]="result"
                                                onkeypress="return /[0-9]/i.test(event.key)"
                                                (keydown.space)="$event.preventDefault();"
                                                (cut)="$event.preventDefault()" (copy)="$event.preventDefault()"
                                                (paste)="$event.preventDefault()" autocomplete="off"
                                                style="border-radius: 4px;" (keyup)="validate()">
                                            <span *ngIf="validator == 1" class="text-green-600 ml-2">ជាប់</span>
                                            <span *ngIf="validator == 0 && result != ''"
                                                class="text-red-500 ml-2">ធ្លាក់</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </ng-container>

                    </div>

                    <mat-divider></mat-divider>
                    <smooth-alert *ngIf="warningText" [type]="'warning'" [appearance]="'outline'" [@shake]="true">
                        <span fuseAlertTitle>{{ warningText }}</span>
                    </smooth-alert>

                    <h2 class="flex w-full justify-center p-2 m-0">ភស្តុតាងរូបភាពជាក់ស្តែង</h2>

                    <div class="custom-dropzone flex flex-wrap p-2 bg-gray-50 mb-2" ngx-dropzone
                        [accept]="'image/*, .heic, .heif'" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div>
                                <mat-icon class="icon-size-10" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>NO GPS</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </div>

                    <div class="custom-textarea">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>បរិយាយ</mat-label>
                            <textarea id="message" matInput [(ngModel)]="message"></textarea>
                        </mat-form-field>
                    </div>

                </div>
            </div>

            <div class="w-full flex justify-end p-2 pt-0">
                <button class="min-w-40 max-w-40 rounded-md custom-button" mat-flat-button (click)="submit()"
                    [disabled]=" saving || result == '' || result == null">
                    <span class="mr-2" *ngIf="!saving">ត្រួតពិនិត្យគុណភាព</span>
                    <mat-icon svgIcon="mat_solid:send" *ngIf="!saving" class="icon-size-6"></mat-icon>
                    <mat-progress-spinner *ngIf="saving" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </div>

        </div> -->

        <div class="costum-timeline" *ngIf="data?.quality_check?.testing_records.length > 0">
            <div class="timeline">
                <div *ngFor="let box of data?.quality_check?.testing_records; index as i">
                    <div class="container" [ngClass]="{ left: i % 2 !== 0, right: i % 2 == 0 }">
                        <div class="content">
                            <div class="w-full flex justify-between">
                                <h2 class="mb-1">លទ្ធផលៈ {{Number(box?.standard_test?.standard) > Number(box?.result) ? 'ធ្លាក់' : 'ជាប់'}} </h2>
                                <h2 class="mb-1">{{ box?.tester?.name }}</h2>
                            </div>
                            <p class="w-full text-right mb-0.5">{{ box?.created_at | date: 'dd-MMM-yyy hh:mm a'}}</p>
                            <mat-divider></mat-divider>
                            <div class="flex gap-2 py-3">
                                <p class="m-0">ប្រភេទតេស្តៈ {{ box?.standard_test?.method?.name }},</p>
                                <p class="m-0">តម្រូវការស្តង់ដាៈ {{ box?.standard_test?.standard }},</p>
                                <p class="m-0">លទ្ធផលៈ {{ box?.result }}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <p class="m-1 py-2">{{ box?.comment }}</p>
                            <div class="images-roade-care grid grid-cols-1 gap-3 md:grid-cols-2"
                                *ngIf="box?.images.length > 0">
                                <ng-container *ngFor="let img of box?.images" class="h-full md:max-h-60">
                                    <img class="h-full md:max-h-60 w-full rounded-lg object-cover"
                                        [src]="fileUrl+img?.image_uri" alt="img">
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>










<ng-template #loadingTemplate>
    <ng-container>
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
            <p class="text-2xl mb-4">Converting HEIC to JPEG</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
</ng-template>