<div class="custom-main-section">
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex flex-1 items-center font-medium">
                <div class="flex items-center whitespace-nowrap">
                    <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-gray-600">អ្នកប្រើប្រាស់ផ្លូវ</span>
                </div>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <div class="custom-select-header hidden sm:flex">
                <mat-form-field appearance="outline" class="  min-w-48 max-w-48">
                    <input placeholder="ថ្ងៃចាប់ផ្តើម" matInput [matDatepicker]="start_date"
                        (mousedown)="start_date.open()" [(ngModel)]="from" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="start_date">
                        <mat-icon [svgIcon]="'mat_outline:today'"></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #start_date></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="custom-select-header hidden sm:flex">
                <mat-form-field appearance="outline" class=" min-w-48 max-w-48">
                    <input placeholder="ដល់" matInput [matDatepicker]="end_date" (mousedown)="end_date.open()"
                        [(ngModel)]="to" [min]="from" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="end_date">
                        <mat-icon [svgIcon]="'mat_outline:event'"></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #end_date></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="custom-select-header">
                <div class="custom-select-header hidden sm:flex">
                    <mat-form-field appearance="outline" class="min-w-48 max-w-48">
                        <input matInput [(ngModel)]="key" (keyup.enter)="listing(limit,page)"
                            placeholder="ស្វែងរក ឈ្មោះអ្នកប្រើប្រាស់">
                    </mat-form-field>
                </div>
            </div>
            <div class="custom-botton-flat">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="listing(limit,page)">
                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="custom-content-section p-4">
        <ng-container *ngIf="loading">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !loading " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
        <div class="custom-content flex-col rounded-lg border hidden relative"
            [ngClass]="{'flex-custom': data?.length > 0  && !loading }">
            <div class="container-roaduser">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let element"> {{element?.rn}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> ឈ្មោះអ្នកប្រើប្រាស់</th>
                        <td mat-cell *matCellDef="let data">{{data?.user?.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef> លេខទូរស័ព្ទ/អុីមែល</th>
                        <td mat-cell *matCellDef="let data">
                            <p class="m-0 py-1" *ngIf="data?.user?.phone">{{data?.user?.phone}}</p>
                            <p class="m-0 py-1" *ngIf="data?.user?.email">{{data?.user?.email}}</p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="create_at">
                        <th mat-header-cell *matHeaderCellDef> ថ្ងៃចុះឈ្មោះ </th>
                        <td mat-cell *matCellDef="let data">{{data?.created_at | date : 'YYYY-MM-dd'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="t_report">
                        <th mat-header-cell *matHeaderCellDef> ចំនួនរាយការណ៍ </th>
                        <td mat-cell *matCellDef="let data">{{data?.n_of_reports}} </td>
                    </ng-container>
                    <ng-container matColumnDef="request">
                        <th mat-header-cell *matHeaderCellDef>សំណើរថ្មី</th>
                        <td mat-cell *matCellDef="let data">{{data?.n_of_paddings}} </td>
                    </ng-container>
                    <ng-container matColumnDef="reject">
                        <th mat-header-cell *matHeaderCellDef>បដិសេដ</th>
                        <td mat-cell *matCellDef="let data">{{data?.n_of_declineds}} </td>
                    </ng-container>
                    <ng-container matColumnDef="MT_solution">
                        <th mat-header-cell *matHeaderCellDef>MTដោះស្រាយ</th>
                        <td mat-cell *matCellDef="let data">{{data?.n_of_repairings}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valble">
                        <th mat-header-cell *matHeaderCellDef>បានការ</th>
                        <td mat-cell *matCellDef="let data">{{data?.n_of_useds}} </td>
                    </ng-container>
                    <ng-container matColumnDef="solution">
                        <th mat-header-cell *matHeaderCellDef>បានដោះស្រាយ</th>
                        <td mat-cell *matCellDef="let data">{{data?.n_of_dones}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fixed">
                        <th mat-header-cell *matHeaderCellDef>ជួសជុលរួច</th>
                        <td mat-cell *matCellDef="let data">{{data?.n_of_fixeds}} </td>
                    </ng-container>
                    <ng-container matColumnDef="year_plant">
                        <th mat-header-cell *matHeaderCellDef>ដាក់ចូលផែនការឆ្នាំ</th>
                        <td mat-cell *matCellDef="let data">{{data?.n_of_plannings}} </td>
                    </ng-container>
                    <ng-container matColumnDef="authority">
                        <th mat-header-cell *matHeaderCellDef>បញ្ជូនទៅសមត្ថកិច្ចផ្សេង</th>
                        <td mat-cell *matCellDef="let data">{{data?.n_of_specialists}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                        <td mat-cell *matCellDef="let data" class="bg-white z-9">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item [routerLink]="['/pot/users/'+data?.id]">
                                    <mat-icon class="icon-size-6 text-blue-400"
                                        svgIcon="mat_solid:remove_red_eye"></mat-icon>
                                    <span class="text-md text-gray-500">មើល
                                    </span>
                                </button>
                                <button mat-menu-item (click)="updatePassword(data.id)">
                                    <mat-icon class="icon-size-6 text-green-400" svgIcon="mat_solid:vpn_key"></mat-icon>
                                    <span class="text-md text-gray-500">កែប្រែលេខសម្ងាត់
                                    </span>
                                </button>
                                <button mat-menu-item (click)="delete(data)">
                                    <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                    <span class="text-md text-gray-500">លុប</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                        class="bg-yellow-300 -pr-2 z-9"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator
                class="overflow-hidden min-h-11 max-h-11 bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end"
                [ngClass]="{'flex-custom': data?.length > 0  && !loading }" [pageSizeOptions]="[20, 40, 60]"
                [showFirstLastButtons]="true" [length]="total" [pageSize]="limit" (page)="onPageChanged($event)">
            </mat-paginator>
        </div>
    </div>
</div>