.custom-main-section {
    width: 100%;
    height: calc(100vh - 3.75rem);
    overflow: hidden;
}

::ng-deep .custom-main-section .mat-form-field-suffix .mat-icon-button {
    top: -3px !important;
    right: -8px !important;
}

.custom-content-section {
    width: 100%;
    height: calc(100vh - 7.5rem);
}

.custom-content-section .custom-content {
    width: 100%;
    max-height: calc(100vh - 9.5rem);
    overflow: hidden;
}

.custom-content .container-roaduser {
    width: 100%;
    max-height: calc(100vh - 12.25rem);
    overflow: auto;
}

table {
    width: 100%;
}

.container-roaduser .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-roaduser .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-roaduser .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-roaduser .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.container-roaduser .mat-column-name {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    text-align: left;
}

.container-roaduser .mat-column-phone {
    min-width: 310px;
    width: 310px;
    max-width: 310px;
    text-align: left;
}

.container-roaduser .mat-column-create_at {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
    text-align: left;
}

.container-roaduser .mat-column-t_report {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: center
}

.container-roaduser .mat-column-request {
    min-width: 100px;
    // width: 90px;
    max-width: 100px;
    text-align: right;
}

.container-roaduser .mat-column-reject {
    min-width: 77px;
    width: 77px;
    max-width: 77px;
    text-align: right;
}

.container-roaduser .mat-column-MT_solution {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
    text-align: right;
}

.container-roaduser .mat-column-valble {
    min-width: 80px;
    width: 80px;
    max-width: 80px;
    text-align: right;
}

.container-roaduser .mat-column-solution {
    min-width: 130px;
    width: 130px;
    max-width: 130px;
    text-align: right;
}

.container-roaduser .mat-column-fixed {
    min-width: 98px;
    max-width: 98px;
    text-align: right;
}

.container-roaduser .mat-column-year_plant {
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    text-align: right;
}

.container-roaduser .mat-column-authority {
    min-width: 170px;
    width: 170px;
    max-width: 170px;
    text-align: end;
}

.container-mts .mat-column-action {

    width: 74px;
    text-align: end;
    margin-right: -2px !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    color: rgb(100 116 139) !important;
}