<div class="container-village-section" >
    <!-- ================================ >> Header -->
    <div class="container-village-header flex items-center justify-between py-2 px-5 shadow">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center  whitespace-nowrap cursor-pointer" [routerLink]="['/cp/location/villages']">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class=" text-gray-600">ទីតាំង</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class=" text-blue-600">ភូមិ</span>
            </div>
            <div class="flex items-center  whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class=" text-gray-600"> {{ data?.data?.name }} </span>
            </div>
        </div>
    </div>
    <ng-container *ngIf="isLoading">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
            <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
    <!-- =========================== >> Data listing Table -->
    <div class="container-village-body p-2"*ngIf="!isLoading">
        <div class="container-village-content border rounded-lg">
            <!-- ================>>  Get Data  API  -->
            <mat-tab-group >
                <mat-tab label="ទិដ្ឋភាពទូទៅ">
                    <ng-container *ngIf="data">
                        <app-update [isLoading]="isLoading" [data]="data" ></app-update>
                    </ng-container>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
