    .custom-main-section {
        width: 100%;
        height: calc(100vh - 60px); //60px is navigation
        overflow: hidden;
    }
    
    .custom-content-section {
        width: 100%;
        height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
    }
    
    .custom-content-section .custom-content {
        width: 100%;
        max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
        overflow: hidden;
    }
    
    .custom-content .container-mos {
        width: 100%;
        max-height: calc(100vh - 188px);
        overflow: auto;
    }
    .custom-position .custom-preview {
        cursor: pointer;
        border-radius: 4px;
        background-color: transparent;
        min-height: 3rem;
        max-height: 3rem;
        min-width: 3rem;
        max-width: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    
    .custom-position:hover .custom-preview {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ::ng-deep .mat-menu-panel {
        min-height: 3rem !important;
        min-width: 7rem !important;
    }
    table {
        width: 100%;
    }
    
    .container-mos .mat-cell {
        padding: 3px 6px !important;
        color: rgb(71 85 105) !important;
        font-size: 15px !important;
        font-weight: 500 !important;
    }
    
    .container-mos .mat-cell p {
        font-size: 15px !important;
        font-weight: 500;
    }
    
    .container-mos .mat-header-cell {
        font-size: 1rem !important;
        padding: 0 !important;
        color: rgb(30, 41, 59) !important;
    }
    
    .container-mos .mat-column-id {
        min-width: 40px;
        width: 40px;
        max-width: 40px;
        text-align: center;
    }
    
    .container-mos .mat-column-name {
        min-width: 120px;
        width: 120px;
        max-width: 120px;
        text-align: left;
    }
    
    .container-mos .mat-column-contect {
        min-width: 160px;
        width: 160px;
        max-width: 160px;
        text-align: left;
    }
    
    .container-mos .mat-column-image {
        min-width: 70px;
        max-width: 70px;
        width: 70px;
        padding: 3px 6px 3px 2rem !important;
    }
    
    .container-mos .mat-column-manager_type {
        min-width: 100px;
        max-width: 100px;
        width: 100px;
    }
    
    .container-mos .mat-column-fixer {
        min-width: 120px;
        width: 120px;
        max-width: 120px;
        text-align: right;
    }
    
    .container-mos .mat-column-action {
        width: 70px;
        text-align: end;
        margin-right: -2px !important;
    }
    
     ::ng-deep .custom-botton-flat .mat-flat-button {
        color: #fff !important;
    }
    
    .flex-custom {
        display: flex !important;
    }
    
     ::placeholder {
        color: rgb(100 116 139) !important;
    }
    
     ::-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgb(100 116 139) !important;
    }
    
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgb(100 116 139) !important;
    }
    
    //end - 12/12/2023