<div class="custom-main-section">
    <!-- ================================ >> Header  -->
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <!-- =================================>> Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">គ្រប់គ្រងលេខកូដថែទាំ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">កូដថែទាំ</span>
            </div>
        </div>
        <!-- =================================>> Actions -->
        <div class="flex items-center gap-2">
           
            <!-- ================================ >> Search select -->
            <div class="custom-select-header hidden sm:flex">
                <mat-form-field appearance="outline" class="min-w-48 max-w-48">
                    <input matInput [(ngModel)]="key" (keyup.enter)="listing()" placeholder="ស្វែងរកឈ្មោះ">
                </mat-form-field>
            </div>
            <!-- ================================>> Button Search -->
            <div class="custom-botton-flat hidden sm:flex">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="listing()">
                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                </button>
            </div>
            <!-- ================================>> Button Create -->
            <div class="custom-botton-flat">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="CreateMain()" [disabled]="isSearching">
                    <mat-icon class="icon-size-8" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <!--=============================>> Main -->
    <div class="custom-content-section p-3">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>

        <!-- ============================ >> Data Listing Table -->
        <div class="custom-content flex-col rounded-lg border hidden relative" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
            <div class="container-main_code">
                <!-- ================>>  Get Data  API  -->
                <table mat-table [dataSource]="dataSource">

                    <!-- no Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ល.រ</th>
                        <td mat-cell *matCellDef="let data"> {{data?.rn}} </td>
                    </ng-container>

                    <!-- code Column -->
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef> លេខកូដ</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.code}}
                        </td>
                    </ng-container>

                    <!-- type_work Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> ឈ្មោះ</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.kh_name}} <br> {{data?.en_name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="group">
                        <th mat-header-cell *matHeaderCellDef> ក្រុម </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.group?.kh_name}} <br> {{data?.group?.en_name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> ប្រភេទ </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.type?.kh_name}} <br> {{data?.type?.en_name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="sub_type">
                        <th mat-header-cell *matHeaderCellDef> ប្រភេទបន្ទាប់ </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.subtype?.kh_name}} <br> {{data?.subtype?.en_name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="unit">
                        <th mat-header-cell *matHeaderCellDef> ខ្នាត</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.unit?.kh_name}} <br> {{data?.unit?.en_name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="pothole">
                        <th mat-header-cell *matHeaderCellDef> ចំនួនផ្លូវខូច</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.n_of_potholes }}
                        </td>
                    </ng-container>
                    <!-- action Column -->
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                        <td mat-cell *matCellDef="let data" class="bg-white z-9">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                            <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                          </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="UpdateMain(data)">
                                    <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:edit"></mat-icon>
                                    <span class="text-md text-gray-500">កែប្រែ</span>
                                </button>
                                <button mat-menu-item (click)="onDelete(data)">
                                    <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                    <span class="text-md text-gray-500">លុប</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-yellow-300 -pr-2 z-9"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <!-- Paginator -->
            <mat-paginator class="overflow-hidden min-h-11 max-h-11 bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }" [pageSizeOptions]="[30, 40, 60]" [showFirstLastButtons]="true"
                [length]="total" [pageSize]="limit" (page)="onPageChanged($event)">
            </mat-paginator>
        </div>
    </div>
</div>
