<agm-map (mapReady)="mapReady($event)" [styles]="styles" [zoomControl]="true" [streetViewControl]="false"
    [disableDefaultUI]="true" (mapClick)="mapClicked($event)">
    <agm-marker-cluster maxZoom="15" [calculator]="calculator" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker *ngFor="let m of routeMarkers; let i = index" (markerClick)="clickedMarker(m.label, i)"
            [latitude]="m.lat" optimized="true" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
            [iconUrl]="m.icon" (dragEnd)="markerDragEnd(m, $event)">

            <agm-info-window *ngIf="m.info">
                <img (click)="potholeImgClick(m.info)" class="pothole-img" width="100" src="https://angular-material.fusetheme.com/assets/images/cards/03-320x200.jpg" alt="">
            </agm-info-window>

        </agm-marker>
    </agm-marker-cluster>

    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
        optimized="true" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" [iconUrl]="m.icon"
        (dragEnd)="markerDragEnd(m, $event)">

        <agm-info-window>
            <strong>{{m.info}}</strong>
        </agm-info-window>

    </agm-marker>

    <agm-direction *ngFor="let d of directions; let i = index" travelMode="DRIVING"
        [renderOptions]="d.renderOptions" [origin]="d.origin" [destination]="d.destination" (onResponse)="onResponse($event, d)"></agm-direction>

</agm-map>