<div class="w-full   p-3 flex justify-center items-center  " style="height: calc(100dvh - 3.75rem); ">
  <!--  pt-0 sm:pt-[4%] md:pt-[6%] lg:pt-[8%] xl:pt-[10%] -->
  <div class="w-full max-h-[315px] sm:max-h-[375px] min-h-[335px] sm:min-h-[375px] md:min-h-[450px] lg:min-h-[450px] xl:min-h-[450px] md:max-h-[405px] lg:max-h-[450px] xl:max-h-[450px] sm:w-[93%] md:w-[90%] lg:w-[70%] xl:w-[66%] rounded-lg border-2 overflow-hidden " >
    <div class="w-full py-6 md:text-start  lg:text-start xl:text-start pl-0 md:pl-12 lg:pl-12 xl:pl-12  text-center" style="background-color: rgb(254 252 232/var(--tw-bg-opacity)) !important;">
      <span class=" text-[30px]" style=" color: #2196f3; ">សុវត្តិភាពគណនី</span>
    </div>
    <div class=" flex sm:flex-row flex-row md:flex-row lg:flex-row xl:flex-row border-b  ">
      <div class=" w-[62%] h-full  sm:w-[70%] md:w-[70%] lg:w-[70%] xl:w-[70%] pt-6 sm:pt-10 pb-3 sm:py-14 md:py-16 lg:py-16 xl:py-16 pl-4 sm:pl-8 md:pl-8 lg:pl-8 xl:pl-9 ">
        <div class="text-start  sm:text-left md:text-start lg:text-start xl:text-start " > <span class="text-[18px]  sm:text-[19px] md:text-[20px] lg:text-[20px] xl:text-[20px]" >ផ្ទៀងផ្ទាត់អុីម៉ែល : koeun@mpwt.gov.kh </span></div>
      </div>
      <div class="w-[38%] sm:w-[30%] md:w-[30%] lg:w-[30%] xl:w-[30%]  h-full px-1 sm:px-8 ">
        <!-- <mat-slide-toggle>Slide me!</mat-slide-toggle> -->
        <div class=" pt-3 sm:pt-6 md:pt-10 lg:pt-10 xl:pt-10 ">
          <div class="flex justify-end">
            <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled">
            មិនទាន់ផ្ទៀងផ្ទាត់
          </mat-slide-toggle>
        <!-- <span class=" pl-6  pt-7 text-[18px]  sm:text-[19px] md:text-[20px] lg:text-[20px] xl:text-[20px]"></span> -->
          </div>
          <div class="flex justify-end pt-2 pb-3 sm:pb-0">
            <div>
              <button class=" rounded-md custom-button mr-[24px]" mat-flat-button >
              <mat-icon *ngIf="!saving" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
              <mat-progress-spinner *ngIf="saving" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
              <span> ផ្ទៀងផ្ទាត់</span>
            </button>
          </div>

          </div>
        </div>
      </div>

    </div>
    <div class="  flex sm:flex-row flex-row md:flex-row lg:flex-row xl:flex-row border-b">
        <div class=" w-[62%] h-full  sm:w-[70%] md:w-[70%] lg:w-[70%] xl:w-[70%] pt-11 sm:pt-10 pb-3 sm:py-14 md:py-16 lg:py-16 xl:py-16 pl-4 sm:pl-8 md:pl-8 lg:pl-8 xl:pl-9 ">
          <div class="text-start  sm:text-left md:text-start lg:text-start xl:text-start " >
            <span class="text-[18px]  sm:text-[19px] md:text-[20px] lg:text-[20px] xl:text-[20px]" >Google Authenticator</span><br>
            <!-- <span class="  text-[14px]  sm:text-[14px] md:text-[15px] lg:text-[15px] xl:text-[15px] pt-4" style="color: #2196f3;">Google 2FA គិតពីសុវត្តិភាពជាចម្បង.</span> -->
          </div>
        </div>
        <div class="w-[38%] sm:w-[30%] md:w-[30%] lg:w-[30%] xl:w-[30%]  h-full px-1 sm:px-8">
          <div class=" pt-3 sm:pt-6 md:pt-10 lg:pt-10 xl:pt-10 ">
            <div class="flex justify-end">
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              មិនទាន់ផ្ទៀងផ្ទាត់
          </mat-slide-toggle>
        </div>
        <div class="flex justify-end  pt-2 pb-3 sm:pb-0">
          <div>
            <button class=" rounded-md custom-button mr-[24px]" mat-flat-button >
              <mat-icon *ngIf="!saving" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
              <mat-progress-spinner *ngIf="saving" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
              <span> ផ្ទៀងផ្ទាត់</span>
            </button>
        </div>

        </div>
        </div>
        </div>
    </div>
    <div class="flex justify-end pr-8  sm:pr-16 lg:pr-16 xl:pr-16">
      <button [routerLink]="'/my-profile'" class="min-w-8 max-w-8 rounded-md mt-4" mat-flat-button color="warn">
            <!-- <mat-icon>arrow_back</mat-icon> -->
        <mat-icon  class="icon-size-6 text-white" svgIcon="mat_solid:arrow_back"></mat-icon>

      </button>
    </div>
  </div>
</div>
