.container-listing-organization-section {
  width: 100%;
  height: calc(100dvh - 3.75rem);
  overflow: hidden;

  .container-listing-organization-header {
    width: 100%;
    min-height: 3.75rem;
    max-height: 3.75rem;
  }

  .container-listing-organization-body {
    width: 100%;
    max-height: calc(100dvh - 7.5rem);
    overflow: hidden;

    .container-listing-organization-content {
      width: 100%;
      max-height: calc(100dvh - 8.5rem);
      overflow: hidden;

      .container-listing-organization-data {
        width: 100%;
        // max-height: calc(100dvh - 11.25rem); // if have paginator
        max-height: calc(100dvh - 8.5rem); // Don't have pagiantor
        overflow: auto;
        border-radius: 0.432rem;
      }
    }
  }
}

::ng-deep .mat-menu-panel {
  min-height: 3rem !important;
  min-width: 7rem !important;
}
table {
  width: 100%;
}

.container-listing-organization-data .mat-cell {
  padding: 3px 6px !important;
  color: rgb(71 85 105) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.container-listing-organization-data .mat-cell p {
  font-size: 15px !important;
  font-weight: 500;
}

.container-listing-organization-data .mat-header-cell {
  font-size: 1rem !important;
  padding: 0 !important;
  color: rgb(30, 41, 59) !important;
}

.container-listing-organization-data .mat-column-no {
  min-width: 70px;
  width: 70px;
  max-width: 70px;
  padding-left: 1.5rem !important;
}

.container-listing-organization-data .mat-column-kh_name {
  min-width: 100px;
  width: 300px;
  max-width: 300px;
  text-align: left;
  padding: 3px 2rem !important;
}

.container-listing-organization-data .mat-column-en_name {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
}

.container-listing-organization-data .mat-column-abbre {
  min-width: 200px;
  width: 200px;
  max-width: 200px;
}

.container-listing-organization-data .mat-column-project {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  padding: 3px 130px !important;
}



.container-listing-organization-data .mat-column-update_at {
  min-width: 100px;
  width: 200px;
  max-width: 200px;
}

.container-listing-organization-data .mat-column-action {
  width: 300px;
  width: 25px;
  margin-right: -2px !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
  color: #fff !important;
}

.flex-custom {
  display: flex !important;
}

::placeholder {
  color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(100 116 139) !important;
}

//end - 12/12/2023