<div class="container-listing-organization-section">
    <div class="container-listing-organization-header flex gap-2 justify-between items-center py-2 px-5 shadow bg-white sticky top-0 z-999">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">អង្គភាព</span>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <div class="custom-select-header hidden md:flex">
                <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                    <mat-select [(ngModel)]="type_id" placeholder="ប្រភេទអង្គភាព">
                        <ng-container *ngIf="setup">
                            <mat-option *ngFor="let row of setup" [value]="row?.id" (click)="listing()">
                                <span>{{ row?.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="custom-botton-flat">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="openDialog()">
                    <mat-icon class="icon-size-8" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="container-listing-organization-body p-2">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
        <div class="container-listing-organization-content border rounded-lg hidden flex-col" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
            <div class="container-listing-organization-data" scrollbar="true">
                <table mat-table [dataSource]="dataSource">

                    <!-- no Column -->
                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let i=index" class="text-left"> {{i+1}} </td>
                    </ng-container>

                    <!-- name KH -->
                    <ng-container matColumnDef="kh_name">
                        <th mat-header-cell *matHeaderCellDef> ឈ្មោះខ្មែរ </th>
                        <td mat-cell *matCellDef="let data" class="text-left"> {{data?.kh_name}} </td>
                    </ng-container>

                    <!-- name Eng -->
                    <ng-container matColumnDef="en_name">
                        <th mat-header-cell *matHeaderCellDef> ឈ្មោះឡាតាំង </th>
                        <td mat-cell *matCellDef="let data" class="text-left"> {{data?.en_name}} </td>
                    </ng-container>

                    <!-- name Eng -->
                    <ng-container matColumnDef="abbre">
                        <th mat-header-cell *matHeaderCellDef> ពាក្យកាត់ </th>
                        <td mat-cell *matCellDef="let data" class="text-left"> {{data?.abbre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="project">
                        <th mat-header-cell *matHeaderCellDef> ចំនួនគម្រោង </th>
                        <td mat-cell *matCellDef="let data" class="text-right"> {{ data?.project_count }} </td>
                    </ng-container>

                    <!-- name Eng -->
                    <ng-container matColumnDef="update_at">
                        <th mat-header-cell *matHeaderCellDef> កាលបរិច្ឆេទបង្កើត </th>
                        <td mat-cell *matCellDef="let data" class="text-left"> {{data?.updated_at | date: 'YYYY-MM-dd'}} </td>
                    </ng-container>

                    <!-- action Column -->
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                        <td mat-cell *matCellDef="let data" class="bg-white z-9 text-right">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="updateDialog(data)">
                                    <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:edit"></mat-icon>
                                    <span class="text-md text-gray-500">កែប្រែ</span>
                                </button>

                                <button mat-menu-item  (click)="ViewProject(data)">
                                    <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                                    <span class="text-md text-gray-500">មើលគម្រោង</span>
                                </button>

                                <button mat-menu-item (click)="delete(data?.id)">
                                    <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                    <span class="text-md text-gray-500">លុប</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"class="bg-yellow-300 -pr-2 z-9"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <!-- <div class="container-listing-organization-paginator min-h-11 max-h-11" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
                <mat-paginator class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
                    [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
                    (page)="onPageChanged($event)">
                </mat-paginator>
            </div> -->
        </div>
    </div>
</div>