
.custom-main-section {
    width: 100%;
    height: calc(100vh - 60px); //60px is navigation
    overflow: hidden;
}

.custom-content-section {
    width: 100%;
    height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
}

.custom-content-section .custom-content {
    width: 100%;
    max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
    overflow: hidden;
}

.custom-content .container-ministry {
    width: 100%;
    max-height: calc(100vh - 188px);
    overflow: auto;
}
.custom-position .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.custom-position:hover .custom-preview {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}

table {
    width: 100%;
}
::ng-deep .custom-select-header .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 1.6px !important ;
    right: -9.5px !important;
} 
.container-ministry .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-ministry .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-ministry .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-ministry .mat-column-id {
    min-width: 40px;
    width: 40px;
    max-width: 40px;
    text-align: center;
}

.container-ministry .mat-column-name {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    text-align: left;
    padding: 3px 2rem !important;
}

.container-ministry .mat-column-logo {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    padding: 3px 6px 3px 2rem !important;
}

.container-ministry .mat-column-n_of_road {
    min-width: 70px;
    max-width: 70;
    width: 70px;
    text-align: right;
}

.container-ministry .mat-column-no_of_mos {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    text-align: right;
}

.container-ministry .mat-column-action {
    width: 25px;
    margin-right: -30px !important;
    text-align: end;
}

 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    color: rgb(100 116 139) !important;
}
