<div class="custom-main-section">
    <!-- ================================ >> Header -->
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">មន្រ្តី/អាជ្ញាធរ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">ក្រសួង</span>
            </div>
        </div>
        <!-- ================================ >> Actions -->
        <div class="flex items-center gap-2">
        
            <!-- ================================= >> Button Create -->
            <div class="custom-botton-flat">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button [routerLink]="['create']" [disabled]="isSearching">
                    <mat-icon class="icon-size-8" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <!--=============================>> Main -->
    <div class="custom-content-section p-3">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
        <!-- =========================== >> Data listing Table -->
        <div class="custom-content flex-col rounded-lg border hidden relative" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
            <div class="container-ministry">
                <!-- ================>>  Get Data  API  -->
                <table mat-table [dataSource]="dataSource">

                    <!-- no Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> ឈ្មោះក្រសួង</th>
                        <td mat-cell *matCellDef="let data">{{data?.name}}- {{data?.abbre}}</td>
                    </ng-container>

                    <!-- Logo Column -->
                    <ng-container matColumnDef="logo">
                        <th mat-header-cell *matHeaderCellDef> រូបសញ្ញា</th>
                        <td mat-cell *matCellDef="let data">
                            <div class="custom-position relative">
                                <img [src]= "data?.logo ? fileUrl + data?.logo :null" style="width:50px; height: 50px;"
                                    alt="iamge">
                                <span class="w-full h-full custom-preview" *ngIf="data?.logo"
                                    (click)="preview(fileUrl + data?.logo)">
                                    <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <!-- N_of_Road Column -->
                    <ng-container matColumnDef="n_of_road">
                        <th mat-header-cell *matHeaderCellDef> ចំនួនផ្លូវ </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.n_of_roads}}
                        </td>
                    </ng-container>

                    <!-- No_of_mos Column -->
                    <ng-container matColumnDef="no_of_mos">
                        <th mat-header-cell *matHeaderCellDef> ចំនួនការិយាល័យ </th>
                        <td mat-cell *matCellDef="let data" >{{data?.n_of_mos}}</td>
                    </ng-container>

                    <!-- action Column -->
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                        <td mat-cell *matCellDef="let data" class="bg-white z-9">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                              </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item [routerLink]="['/pot/authorities/ministries/'+data?.id]">
                                        <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                                        <span class="text-md text-gray-500">មើល</span>
                                </button>
                                <button mat-menu-item (click)="onDelete(data)">
                                        <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                        <span class="text-md text-gray-500">លុប</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-yellow-300 -pr-2 z-9"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>