.container-mts-section {
  width: 100%;
  height: calc(100dvh - 3.75rem);
  overflow: hidden;

  .container-mts-header {
      width: 100%;
      min-height: 3.75rem;
      max-height: 3.75rem;
  }

  .container-mts-body {
      width: 100%;
      height: calc(100dvh - 7.5rem);
      overflow: hidden;

      .container-mts-content {
          width: 100%;
          max-height: calc(100dvh - 8.5rem);
          overflow: hidden;

      }
  }
}

::ng-deep .container-mts-content .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
  width: 25%;
}
