<div class="container-mts-section">
    <!-- ================================ >> Header -->
    <div class="container-mts-header flex items-center justify-between py-2 px-5 shadow">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap cursor-pointer" [routerLink]="['/pot/authorities/mts']">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">មន្រ្តី/អាជ្ញាធរ</span>
                <mat-icon class="icon-size-5 text-gray-600 " [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-blue-600">ក្រុមជួសជុល</span>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-black"> {{ data?.data?.name  }}</span>
            </div>
        </div>
    </div>
    <ng-container *ngIf="isLoading">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
            <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
    <!-- ============================= >> Main -->
   
    <div class="container-mts-body p-2"  *ngIf="!isLoading">
        <!-- =========================== >> Data listing Table -->
        <div class="container-mts-content border rounded-lg">
            <!-- Tabs -->
            <mat-tab-group>
                <mat-tab label="ទិដ្ឋភាពទូទៅ">
                    <ng-container *ngIf="data">
                        <app-overview [isLoading]="isLoading" [data]="data" [province_id]="province_type"></app-overview>
                    </ng-container>
                </mat-tab>
                <mat-tab label="ក្រសួង">
                    <app-ministry [id]="min_id"></app-ministry>
                </mat-tab>
                <mat-tab label="ការិយាល័យ">
                    <app-mo [id]="min_id"></app-mo>
                </mat-tab>
                <mat-tab label="ផ្លូវជាតិ">
                    <app-nr [id]="min_id"></app-nr>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>