<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">{{data?.title}}</span>
</div>

<mat-dialog-content class="custom-dialog-content hidden-scroll" scrollbar>
    <div class="w-full max-h-120 mb-1.5 rounded-md">
        <img class="w-full h-full object-cover object-top" [src]="data?.src" alt="image">
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions custom-botton-flat">
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>