<div class="custom-main-section">
    <!-- ================================ >> Header -->
    <div
        class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">អ្នកប្រើប្រាស់</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">តួនាទីក្នុងប្រព័ន្ទ</span>
            </div>
        </div>
    </div>

    <!--=============================>> Main -->
    <div class="custom-content-section p-3">
        
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>

        <!-- =========================== >> Data listing Table -->
        <div class="custom-content flex-col rounded-lg border hidden relative" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
            <div class="container-type">
                <!-- ================>>  Get Data  API  -->
                <table mat-table [dataSource]="dataSource">

                    <!-- Id -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let i=index" class="text-center pl-0"> {{i+1}} </td>
                        <td mat-footer-cell *matFooterCellDef>  <span> </span> </td>
                    </ng-container>

                    <!-- Name -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> តួនាទី </th>
                        <td mat-cell *matCellDef="let data"> {{data?.name}} </td>
                        <td mat-footer-cell *matFooterCellDef>  <span> </span> </td>
                    </ng-container>

                    <!-- Abbre -->
                    <ng-container matColumnDef="abbre">
                        <th mat-header-cell *matHeaderCellDef> ពាក្យកាត់ </th>
                        <td mat-cell *matCellDef="let data"> {{data?.abbre}} </td>
                        <td mat-footer-cell *matFooterCellDef>  <span> </span> </td>
                    </ng-container>

                    <!-- Description -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>ពិពណ៌នា</th>
                        <td mat-cell *matCellDef="let data"> 
                            {{data?.description == '' ? 'N/A' : data?.description}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  <span> </span> </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>កាលបរិច្ឆេទបង្កើត</th>
                        <td mat-cell *matCellDef="let data">  {{data?.created_at | date: 'YYYY-MM-dd'}} </td>
                        <td mat-footer-cell *matFooterCellDef>  <span> </span> </td>
                    </ng-container>

                    <ng-container matColumnDef="qty">
                        <th mat-header-cell *matHeaderCellDef> ចំនួនគណនី</th>
                        <td mat-cell *matCellDef="let data"> {{data?.qty}}</td>
                        <td mat-footer-cell *matFooterCellDef>  <span>សរុប : <b>{{total}}</b></span> </td>
                    </ng-container>
                    
                    <tr class="bg-yellow-300 " mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-footer-row *matFooterRowDef="['id','name','abbre','description','date','qty'];sticky: true" class="bg-white -pr-2 z-9"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

    </div>
</div>