.custom-main-section {
  width: 100%;
  height: calc(100vh - 60px); //60px is navigation
  overflow: hidden;
}

.custom-content-section {
  width: 100%;
  height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
}

.custom-content-section .custom-content {
  width: 100%;
  max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
  overflow: hidden;
}

.custom-content .container-type {
  width: 100%;
  max-height: calc(100vh - 188px);
  overflow: auto;
}
::ng-deep .mat-menu-panel {
  min-height: 3rem !important;
  min-width: 7rem !important;
}
table {
  width: 100%;
}

.container-type .mat-cell {
  padding: 3px 6px !important;
  color: rgb(71 85 105) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.container-type .mat-cell p {
  font-size: 15px !important;
  font-weight: 500;
}

.container-type .mat-header-cell {
  font-size: 1rem !important;
  padding: 0 !important;
  color: rgb(30, 41, 59) !important;
}

.container-type .mat-column-id {
  min-width: 20px;
  width: 20px;
  max-width: 20px;
  text-align: center;
}

.container-type .mat-column-name {
  min-width: 100px;
  width: 100px;
  max-width: 100px;
  text-align: left;
}

.container-type .mat-column-abbre {
  min-width: 100px;
  width: 100px;
  max-width: 100px;
  text-align: left;
  
}

.container-type .mat-column-description {
  min-width: 100px;
  width: 100px;
  max-width: 100px;
  text-align: left;
}

.container-type .mat-column-date {
  min-width: 100px;
  width: 100px;
  max-width: 100px;
  text-align: left;
}

.container-type .mat-column-qty {
  min-width: 100px;
  width: 100px;
  max-width: 100px;
  text-align: right;
  padding: 0px 35px !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
  color: #fff !important;
}

.flex-custom {
  display: flex !important;
}

::placeholder {
  color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(100 116 139) !important;
}
::ng-deep .custom-select-header .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 1.6px !important ;
  right: -9.5px !important;
} 