<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">បន្ថែម{{organization}}</span>
</div>

<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="create">
        <div class="custom-form custom-select grid grid-cols-1 gap-4">
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>ឈ្មោះអង្គភាពជាភាសាខ្មែរ</mat-label>
                <input id="kh_name" matInput [formControlName]="'kh_name'">
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="create.get('kh_name').hasError('required')">
                    សូមបញ្ចូលឈ្មោះអង្គភាពជាភាសាខ្មែរ
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>សូមបញ្ចូលឈ្មោះអង្គភាពជាភាសាឡាតាំង</mat-label>
                <input id="en_name" matInput [formControlName]="'en_name'">
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="create.get('en_name').hasError('required')">
                    សូមបញ្ចូលឈ្មោះអង្គភាពជាភាសាឡាតាំង
                </mat-error>
                
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>ពាក្យកាត់</mat-label>
                <input id="abbre" matInput [formControlName]="'abbre'" oninput="this.value = this.value.toUpperCase()" />
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="create.get('abbre').hasError('required')">
                    សូមបញ្ចូលពាក្យកាត់
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button [disabled]="create.invalid  || saving" (click)="submit()">
        <mat-icon *ngIf="!create.disabled"class="icon-size-6 text-white" [svgIcon]="'mat_solid:save'"></mat-icon>
        <mat-progress-spinner *ngIf="create.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn" [disabled]="saving">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>
