.custom-main-section {
    width: 100%;
    height: calc(100vh - 60px); //60px is navigation
    overflow: hidden;
}

.custom-content-section {
    width: 100%;
    height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
}

.custom-content-section .custom-content {
    width: 100%;
    max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
    overflow: hidden;
}

.custom-content .container-main_group {
    width: 100%;
    max-height: calc(100vh - 188px);
    overflow: auto;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
table {
    width: 100%;
}

.container-main_group .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-main_group .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-main_group .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-main_group .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.container-main_group .mat-column-kh_name {
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    text-align: left;
}

.container-main_group .mat-column-en_name {
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    text-align: left;
}

.container-main_group .mat-column-code {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: right;
    padding: 3px 2rem !important;
}

.container-main_group .mat-column-date {
    min-width:100px;
    width: 100px;
    max-width: 100px;
    text-align: left;
}

.container-main_group .mat-column-action {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    
}

 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(100 116 139) !important;
}
::ng-deep .custom-select-header .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 1.6px !important ;
    right: -9.5px !important;
} 