.custom-main-section{
  width: 100%;
  height: calc(100vh - 60px); //60px is navigation
  overflow: hidden;
}
.custom-content-section{
  width: 100%;
  height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
}
.custom-content-section .custom-content{
  width: 100%;
  max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
  overflow: hidden;
}
.custom-content .container-section{
  width: 100%;
  max-height: calc(100vh - 144px);
  overflow: auto;
}
::ng-deep .mat-menu-panel {
  min-height: 3rem !important;
  min-width: 7rem !important;
}

table {
  width: 100%;
}
::ng-deep .custom-select-header .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 1px !important ;
  right: -9.5px !important;
} 

.container-section .mat-cell {
  padding: 3px 6px !important;
  color: rgb(71 85 105) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}
.container-section .mat-cell p {
  font-size: 15px !important;
  font-weight: 500;
}

.container-section .mat-header-cell {
  font-size: 1rem !important;
  padding: 0 !important;
  color: rgb(30, 41, 59) !important;
}

.container-section .mat-column-no {
  min-width: 70px;
  width: 70px;
  max-width: 70px;
  text-align: center;
}
.container-section .mat-column-work_group{
  width: 200px;
}



.container-section .mat-column-code {
  min-width: 170px;
  width: 300px !important;
  max-width: 300px;
  text-align: left;
  padding: 3px 2rem !important;
}

.container-section .mat-column-entities {
  min-width: 300px;
  width: 400px;
  max-width: 400px;
  padding: 3px 6px 3px 2rem !important;
}

.container-section .mat-column-type_work {
  min-width: 170px;
}

.container-section .mat-column-location {
  min-width: 120px;
}

.container-section .mat-column-budgets {
  min-width: 100px;
}

.container-section .mat-column-action {
  flex: none;
  width: 25px;
  margin-right: -2px !important;
}


::ng-deep .custom-botton-flat .mat-flat-button {
  color: #fff !important;
}


.flex-custom {
  display: flex !important;
}

::placeholder {
  color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(100 116 139) !important;
}

.phearak .mat-column-name{

  flex: none !important;
  width: 200px !important;

}
.image-block:hover .icon-hover{
  display: block !important;
}
.image-block img, .icon-hover{
  cursor: pointer;
}
.image-block:hover img{
  filter: brightness(50%);
}
.grid-view-box:hover{
  background-color: #d9dae4 !important;
  cursor: pointer;
}
.btn-option{
  right: 0px;
  top: 0px;
  z-index: 999999999;
}
.image-block .absolute{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


@media (max-width: 575px) {
}