<div class="custom-main-section">
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                 
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">កំណត់</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">ការងារ</span>
            </div>
        </div>
        <div class="flex items-center gap-2 ">
            <div class="custom-select-header">
                <mat-form-field appearance="outline" class="min-w-50">
                 
                    <mat-select (selectionChange)="filterWorksType()" [(ngModel)]="type_id">
                        <ng-container >
                            <mat-option *ngFor="let row of worksType" [value]="row?.id">
                                <span>{{row?.name}}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div> 
            <div *ngIf="data?.length > 100">
                <div class="custom-select-header hidden sm:flex">
                    <mat-form-field appearance="outline" class="min-w-50 max-w-50">
                        <input [(ngModel)]="searchValue" matInput placeholder="ស្វែងរកប្រភេទការងារ">
                    </mat-form-field>
                </div>
                <div class="custom-botton-flat hidden sm:flex">
                    <button (click)="searchLike()" class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button>
                        <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                    </button>
                </div>
            </div>
            
            <div class="custom-botton-flat">
               
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="openDialog()">
                    <mat-icon class="icon-size-8" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
                
            </div>
            <div class="custom-botton-flat">
               
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="viewAs()">
                    <mat-icon *ngIf="view == 'list'" class="icon-size-8" [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                    <mat-icon *ngIf="view == 'grid'" class="icon-size-8" [svgIcon]="'heroicons_outline:view-list'"></mat-icon>

                </button>
                
            </div>
        </div>
    </div>
    <div class="custom-content-section p-3">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>

        <div class="custom-content flex-col  hidden relative" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">


            <div *ngIf="view == 'list'" class="rounded-lg border container-section phearak">
                <!-- ================>>  Get Data  API  -->
                <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> ការងារ </th>
                        <td mat-cell *matCellDef="let data"><span> {{data?.en_name}} </span> </td>
                    </ng-container>

                    <ng-container matColumnDef="testing_method">
                        <th mat-header-cell *matHeaderCellDef>វិធីសាស្រ្តតេស្ត<th>
                        <td mat-cell *matCellDef="let data" style="padding-right: 10px;" >
                            <ul style="list-style-type: square;">
                                <li class="my-2" *ngFor="let row of data?.testingmethods">
                                    {{row?.name}} ({{ row?.unit }})
                                </li> 
                            </ul>
                        </td>
                        
                    </ng-container>
                    
                    
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> រូបភាព </th>
                        <td mat-cell *matCellDef="let data" style="padding-right: 0px;">
                            <div class="relative rounded-sm overflow-hidden image-block" style="width: 70px;">
                                <img style="width: 100% !important; height: 50px !important;" (click)="preview(data?.en_name,fileUrl+data?.image)" [src]="fileUrl+data?.image" alt="">
                                <mat-icon (click)="preview(data?.en_name,fileUrl+data?.image)" class="text-white absolute hidden icon-hover" style="left: 50%; top: 50%; transform: translate(-50%,-50%);" svgIcon="heroicons_outline:eye"></mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="work_group">
                        <th mat-header-cell *matHeaderCellDef> ផ្នែក</th>
                        <td mat-cell *matCellDef="let data" style="padding-right: 10px;">
                            {{data?.group?.name}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>កាលបរិច្ឆេទបង្កើត</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.created_at | date: 'YYYY-MM-dd'}} 
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="creator">
                        <th mat-header-cell *matHeaderCellDef>អ្នកបង្កើត</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.user?.name}}
                        </td>
                    </ng-container>

                    <!-- action Column -->
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                        <td mat-cell *matCellDef="let data" class="bg-white z-9 text-right">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="update(data?.testing_method,data?.group?.id,data?.id,data?.en_name,data?.type?.id,fileUrl+data?.image)">
                                    <mat-icon class="text-blue-400 icon-size-6" svgIcon="mat_outline:edit"></mat-icon>
                                    <span class="text-md text-gray-500">កែប្រែ</span>
                                </button>
                                <button mat-menu-item (click)="delete(data?.id)">
                                    <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                    <span class="text-md text-gray-500">លុប</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                        class="bg-yellow-300 -pr-2 z-9"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <div *ngIf="view == 'grid'" class="grid grid-cols-4 container-section  gap-6">
                <div *ngFor="let row of data">
                    <div class="grid-view-box rounded-lg border overflow-hidden" style="background-color: #f2f3f8;">
                        <div class="header-grid  items-center rounded-t-lg p-3 pt-2 pb-2 flex justify-between" >
                            <div>
                                 <span>{{row?.en_name}}</span>
                            </div>
                            <div>
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                    <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="update(data?.testing_method,data?.group?.id,row?.id,row?.en_name,row?.type?.id,fileUrl+row?.image)">
                                        <mat-icon class="text-blue-400 icon-size-6" svgIcon="mat_outline:edit"></mat-icon>
                                        <span class="text-md text-gray-500">កែប្រែ</span>
                                    </button>
                                    <button mat-menu-item (click)="delete(row?.id)">
                                        <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                        <span class="text-md text-gray-500">លុប</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="p-3 py-0 image-block-grid relative">
                            <img  (click)="preview(row?.en_name,fileUrl+row?.image)" [src]="fileUrl+row?.image" style="height: 200px !important ;" class="w-full rounded-md overflow-hidden" alt="Image">
                            <div class="absolute">
                                <mat-icon (click)="preview(row?.en_name,fileUrl+row?.image)" class="text-white absolute hidden icon-hover" style="left: 13%; top: 50%; transform: translate(-50%,-50%);" svgIcon="heroicons_outline:eye"></mat-icon>
                            </div>
                        </div>
                        <div class=" p-4">
                            <!-- <span style="color: rgb(55, 50, 50)">ប្រភេទការងារ:</span>  <b>សំណង់ផ្លូវថ្នល់</b> -->
                            <span class="text-gray-800">ផ្នែក</span> <span>: {{row?.group?.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>