<div class="main-content">
    <form class="px-6 py-6" name="form" [formGroup]="MosForm" (submit)="submit()">
        <div class="custom-style">
            <div class="pr-5 custom-upload">
                <div class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                    <img *ngIf="src && !show" [src]="src" alt="image" />
                    <span class="w-full h-full custom-preview" *ngIf="src && !show" (click)="preview()">
                        <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                    </span>
                    <span class="w-full custom-h bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                        *ngIf="!src || show" (click)="selectFile()">Upload Image</span>
                </div>
                <div (click)="selectFile()"
                    class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                    <span class="text-xl mr-2"> ជ្រើសរើសរូបភាព </span>
                    <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                </div>
                <input [id]="'portrait-file'" accept="image/*" class="hidden" type="file"
                    (change)="fileChangeEvent($event)" />
                <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
            </div>
            <div class=" custom-content">
                <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 sm:grid-cols-2 gap-4">
                    <mat-form-field appearance="outline" class="w-full mb-1.5">
                        <mat-label>ឈ្មោះការិយាល័យ</mat-label>
                        <input matInput formControlName="mo_name" required  minlength="0" maxlength="50">
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:home_work"></mat-icon>
                        <mat-error class="min-h-6 mt-1 text-md" *ngIf="MosForm.get('mo_name').hasError('required')">
                            សូមបញ្ចូលឈ្មោះការិយាល័យ
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-1.5">
                        <mat-label>ឈ្មោះអ្នកប្រើប្រាស់</mat-label>
                        <input matInput formControlName="name" required  minlength="0" maxlength="50">
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:person"></mat-icon>
                        <mat-error class="min-h-6 mt-1 text-md" *ngIf="MosForm.get('name').hasError('required')">
                            សូមបញ្ចូលឈ្មោះអ្នកប្រើប្រាស់
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-1.5">
                        <mat-label>លេខទូរស័ព្ទ </mat-label>
                        <input matInput type="text" formControlName="phone" required minlength="0" maxlength="10" >
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:phone"></mat-icon>
                        <mat-error  >
                            <span class="min-h-6 mt-1 text-md" *ngIf="MosForm.get('phone').hasError('required')"> សូមបញ្ចូលលេខទូរស័ព្ទ</span>
                            <span class="min-h-6 mt-1 text-md" *ngIf="MosForm.get('phone').hasError('pattern')">សូមបញ្ចូលលេខទូរស័ព្ទត្រឹមត្រូវ E.g: 0965372263 </span>  
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-full mb-1.5">
                        <mat-label>អុីមែល </mat-label>
                        <input matInput type="text" formControlName="email" required>
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:email"></mat-icon>
                        <mat-error >
                                        
                            <span class="min-h-6 mt-1 text-md" *ngIf="MosForm.get('email').hasError('required')"> សូមបញ្ចូលអុីមែល</span>
                            <span class="min-h-6 mt-1 text-md" *ngIf="MosForm.get('email').hasError('pattern')">សូមបញ្ចូលអុីមែលអោយបានត្រឹមត្រូវ E.g: vathanak123@gmail.com </span> 
     
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-4">
                        <mat-label>ប្រភេទគ្រប់គ្រង</mat-label>
                        <ng-container>
                            <mat-select formControlName="management">
                                <ng-container>
                                    <mat-option *ngFor="let row of manage" [value]="row?.id">
                                        <span>{{row?.name}}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </ng-container>
                        <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="MosForm.get('management').hasError('required')">
                            សូមជ្រើសរើសប្រភេទគ្រប់គ្រង
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" class="w-full mb-1.5">
                        <mat-label>ចំនួនក្រសួង </mat-label>
                        <input matInput class="cursor-not-allowed" formControlName="n_of_m_ministries" readonly>
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:home_work"></mat-icon>

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-1.5">
                        <mat-label>ចំនួនផ្លូវ </mat-label>
                        <input matInput class="cursor-not-allowed" formControlName="n_of_m_roads" readonly>
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:map"></mat-icon>

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-1.5">
                        <mat-label>ចំនួនក្រុមជួសជុល </mat-label>
                        <input matInput class="cursor-not-allowed" formControlName="n_of_mts" readonly>
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:person"></mat-icon>

                    </mat-form-field>
                </div>

                <div class="custom-textarea custom-dis custom-select grid grid-cols-1 lg:grid-cols-1 sm:grid-cols-1 gap-4">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>សេចក្តីពណ៌នា</mat-label>
                        <textarea id="description" matInput [formControlName]="'description'" minlength="0" maxlength="250"></textarea>
                    </mat-form-field>
                </div>


            </div>
        </div>
        <div class="w-full flex justify-end border-t mt-6">
            <button class="min-w-36 max-w-36 mt-4 min-h-12 max-h-12 rounded-md custom-button" mat-flat-button [disabled]="MosForm.disabled || MosForm.invalid"(click)="submit()">
                <span class="flex items-center h-full" *ngIf="!MosForm.disabled"><mat-icon class="icon-size-6" [svgIcon]="'mat_solid:save'"></mat-icon>ធ្វើបច្ចុប្បន្នភាព​</span>
                    <mat-progress-spinner *ngIf="MosForm.disabled" [diameter]="24"
                        [mode]="'indeterminate'">
                    </mat-progress-spinner>
            </button>
        </div>
    </form>
</div>