  
.progress-section {
  width: 100%;
  min-height: calc(100dvh - 80dvh) !important;
  max-height: calc(100dvh - 45dvh) !important;
  overflow: auto !important;
}

.progress-section .progress-container {
    width: 100%;
    height: 100%;
}
.header-custom {
  display: flex;
  align-items: center;
  height: 10px;
  margin-top: 25px;
}
