<div class="progress-section">
    <div class="progress-container">
        <div class="main-content mb-2">
            <div class="h-full px-10 pb-5 border-b flex justify-start items-center header-custom">
                <mat-checkbox  [disabled]="true">Firebase</mat-checkbox>
                <mat-checkbox class="ml-10" checked (change)="ChangeOption('sms')" > SMS</mat-checkbox>
                <mat-checkbox class="ml-10" [disabled]="true">E-mail</mat-checkbox>
                <mat-checkbox class="ml-10" [disabled]="true">Telegram</mat-checkbox>
            </div>
            <div class="body-section-custom mb-10 mt-5 border-dotted grid grid-cols-4 gap-4">
                <div class="mr-15 mt-5 min-w-30 " *ngFor="let row of data">
                    <mat-checkbox class="select-custom ml-10 " (change)="ChangeObject($event,row)" > 
                        {{ row?.name }}
                    </mat-checkbox>    
                </div>
            </div>
            
            <ng-container *ngIf="isSearching">
                <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                    <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                    <div class="lds-spinner">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                    <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                    <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
                </div>
            </ng-container>
            
        </div>
    </div>
</div>
<div class="w-full h-full flex justify-end p-2 pt-0 border-dotted border-t border-gray-500">
    <button class="min-w-8 max-w-8 rounded-md custom-button px-5 py-2.5 mr-2  mt-2 ml-10" mat-flat-button [disabled]="form.disabled || form.invalid" (click)="submit()">
        <mat-icon class="icon-size-6 text-white" *ngIf="!form.disabled" svgIcon="mat_solid:send"></mat-icon>   
        <mat-progress-spinner *ngIf="form.disabled" [diameter]="24"
                [mode]="'indeterminate'">
        </mat-progress-spinner> 
    </button>
    <button class="min-w-8 max-w-8 rounded-md  mt-2" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</div>

