.container-Road_all-section {
  width: 100%;
  height: calc(100dvh - 3.75rem);
  overflow: hidden;

  .container-Road_all-header {
      width: 100%;
      min-height: 3.75rem;
      max-height: 3.75rem;
  }

  .container-Road_all-body {
      width: 100%;
      height: calc(100dvh - 7.5rem);
      overflow: hidden;

      .container-Road_all-content {
          width: 100%;
          max-height: calc(100dvh - 8.5rem);
          overflow: hidden;

      }
  }
}

::ng-deep .container-Road_all-content .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
  width: 33.33%;
}

app-map {
    position: relative;
    display: block;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 50vw;
    min-height: calc(100vh - 240px);
    width: 100%;
    height: 100%;
    background: rgba(166, 232, 166, 0.875);
}
