<div class="container-Road_all-section">
    <!-- ================================ >> Header -->
    <div class="container-Road_all-header flex items-center justify-between py-2 px-5 shadow">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap cursor-pointer" [routerLink]="['/cp/road/alls']">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-blue-600">ផ្លូវជាតិ</span>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600"> NR {{data?.data?.name }} </span>
            </div>
        </div>
    </div>
    <ng-container *ngIf="isLoading">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
            <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
    <div class="container-Road_all-body p-2" *ngIf="!isLoading">
        <div class="container-Road_all-content border rounded-lg">
            <!-- Tabs -->
            <mat-tab-group [selectedIndex]="index" (selectedTabChange)="tabChanged($event)">
                <mat-tab label="ទិដ្ឋភាពទូទៅ">
                    <ng-container *ngIf="data">
                        <app-overview [data]="data"></app-overview>
                    </ng-container>
                </mat-tab>

                <mat-tab label="ព័ត៌មានលំអិត" >
                    <app-detail [id]="view_id" ></app-detail>
                </mat-tab>

                
                <mat-tab label="អាជ្ញាធរ" >
                    <app-authority></app-authority>
                </mat-tab>
                
                <mat-tab label="ផែនទី" >
                    <app-map *ngIf="isMapLoaded" [data]="data.data"></app-map>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>