<h1 mat-dialog-title></h1>
<!-- <mat-form-field appearance="outline" class="w-full mb-2">
    <mat-label>កាលបរិច្ឆេទ ចាប់ផ្តើមអនុវត្ត កិច្ចសន្យាគម្រោង</mat-label>
    <input [(ngModel)]="startDate" id="project_start_date_contract" matInput
         [matDatepicker]="project_start_date_contract">
    <mat-datepicker-toggle matSuffix [for]="project_start_date_contract"></mat-datepicker-toggle>
    <mat-datepicker #project_start_date_contract startView="year"></mat-datepicker>
</mat-form-field>
 <br> 
<mat-form-field appearance="outline" class="w-full mb-2">
    <mat-label>កាលបរិច្ឆេទ បញ្ជប់ កិច្ចសន្យាគម្រោង</mat-label>
    <input [(ngModel)]="endDate" id="project_end_date_contract" matInput
         [matDatepicker]="project_end_date_contract">
    <mat-datepicker-toggle matSuffix [for]="project_end_date_contract"></mat-datepicker-toggle>
    <mat-datepicker #project_end_date_contract startView="year"></mat-datepicker>
</mat-form-field> -->
<label>កាលបរិច្ឆេទ ចាប់ផ្តើមអនុវត្ត កិច្ចសន្យាគម្រោង</label>
<input class="border-2 w-full p-3 mt-2 rounded-md" [(ngModel)]="startDate" type="date"> <br>
<label class="block mt-5">កាលបរិច្ឆេទ បញ្ជប់ កិច្ចសន្យាគម្រោង</label>
<input class="border-2 mt-2 w-full p-3  rounded-md" [(ngModel)]="endDate" type="date">

<br><br>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button (click)="migrate()" mat-button mat-dialog-close mat-button class="bg-primary text-white shadow">Migrate</button>
</div>