.main-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.custom-upload-user {
    min-width: 300px;
    max-width: 500px;
    margin-right: 1rem;
}

.custom-upload-user img {
    min-height: 18.3rem;
    max-height: 18.3rem;
    border-radius: 3px;
    object-fit: cover;
}

.custom-upload-user .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 18.30rem;
    max-height: 18.30rem;
    min-width: calc(100% - 0.45rem);
    max-width: calc(100% - 0.45rem);
    margin: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}