<div class="main-content">
    <div class="px-4 pt-6 flex">
        <div class="pr-4 custom-upload-user">
            <div
                class="h-full min-h-[19.0rem] max-h-[19.0rem] max-w-64 mx-auto mb-4 border-2 rounded-md  w-full custom-image relative p-1">
                <img [src]="src" alt="image" />
                <span class="w-full h-full custom-preview" *ngIf="src" (click)="preview()">
                    <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                </span>
            </div>
        </div>
        <div class="w-full">
            <div class="custom-form custom-select grid grid-cols-1 gap-4 min-w-120">
                <div class="flex bg-slate-50 p-4 rounded-md mb-3.5 mt-0.5">
                    <div class="min-w-40">ឈ្មោះអ្នកប្រើប្រាស់</div>
                    <div class="min-w-80 font-semibold">{{user?.name}}</div>
                </div>
                <div class="flex bg-slate-50 p-4 rounded-md mb-3.5">
                    <div class="min-w-40">លេខទូរស័ព្ទ</div>
                    <div class="min-w-80 font-semibold">{{user?.phone}}</div>
                </div>
                <div class="flex bg-slate-50 p-4 rounded-md mb-3.5">
                    <div class="min-w-40">អុីម៉ែល</div>
                    <div class="min-w-80 font-semibold">{{user?.email}}</div>
                </div>
                <div class="flex bg-slate-50 p-4 rounded-md">
                    <div class="min-w-40">បង្កើតតាមរយៈ</div>
                    <div class="min-w-80 font-semibold">{{user?.social?.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>