.background-custom{
    height: 100dvh;
}
.background-custom{
    .postiton-image{
        width: 100%;
        height: 100dvh;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -99;
    }
}
.custom-style-bg{
    width: 100%;
    height: 100dvh;
    background-image: url(../../../../assets/images/logo/Background.png);
}

.custom-button:disabled{
    background-color:  rgb(226 232 240) !important;
    color: #9da9bb !important;
    cursor: not-allowed;
}
.custom-button:enabled{
    background-color: #FFC107 !important;
    color: rgb(15 23 42) !important;
}
