<div class="flex flex-col sm:flex-row items-center justify-center flex-auto min-w-full">
    <div class="relative md:flex justify-center background-custom w-full md:w-120 py-8 px-4 sm:p-12 md:p-16 md:pt-24">
        <div class="w-full max-w-90 md:w-90 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-full px-8 mb-12">
                <img src="assets/images/logo/logo.png">
            </div>

            <!-- Alert -->
            <smooth-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </smooth-alert>

            <!-- Sign in form -->
            <form class="mt-8 custom-form" [formGroup]="logInForm" #logInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field appearance="outline" class="w-full mb-6">
                    <mat-label>លេខទូរស័ព្ទ</mat-label>
                    <input id="phone" matInput [formControlName]="'phone'">
                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:smartphone"></mat-icon>
                    <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="logInForm.get('phone').hasError('required')">
                        សូមបញ្ចូលលេខទូរស័ព្ទ
                    </mat-error>
                    <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="logInForm.get('phone').hasError('pattern')">
                        សូមបញ្ចូលលេខទូរស័ព្ទឲ្យបានត្រឹមត្រូវ
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field appearance="outline" class="w-full mb-6">
                    <mat-label>លេខសម្ងាត់</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                    <button mat-icon-button type="button" class="-top-0.5" (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'" matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    </button>
                    <mat-error class="min-h-6 mt-2.5 text-sm">
                        សូមបញ្ចូលលេខសម្ងាត់
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex text-lg items-end justify-between w-full mt-1.5">
                    <mat-checkbox [color]="'primary'" [formControlName]="'rememberMe'">
                        ចងចាំខ្ញុំ
                    </mat-checkbox>
                    <a class="text-red-600 text-lg hover:underline" [routerLink]="['/auth/forgot-password']">ភ្លេចពាក្យសម្ងាត់​ ?
                    </a>
                </div>

                <!-- Submit button -->
                <button class="w-full mt-6 py-6 rounded-md custom-button" mat-flat-button [disabled]="logInForm.invalid  || saving" (click)="Login()">
                    <span *ngIf="!logInForm.disabled" class="text-lg">
                        ចូលប្រព័ន្ធ
                    </span>
                    <mat-progress-spinner *ngIf="logInForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>

                <!-- Separator -->
                <!-- <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-2 text-secondary">ឬ</div>
                    <div class="flex-auto mt-px border-t"></div>
                </div> -->

                <!-- Title -->
                <!-- <div class="flex flex-col items-center mt-0.5 font-medium">
                    <div class="my-3">មិនទាន់មានគណនីទេ ?</div>
                    <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/auth/register']">បង្កើតគណនី</a>
                </div> -->
            </form>
        </div>
        <div class="postiton-image">
            <img src="../../../../assets/images/logo/sign-bg.jpg" alt="bg">
        </div>
    </div>
    <div class="custom-style-bg hidden sm:flex flex-auto items-start pt-24 justify-center overflow-hidden relative">
        <img class="absolute top-12 left-15 w-5/6 lg:w-3/5 hidden md:block" src="../../../../assets/images/logo/texts.png" alt="text">
        <img class="lg:w-3/5 w-5/6 hidden md:block" src="../../../../assets/images/logo/Map-middle.png" alt="map">
    </div>
</div>