.container-listing-standard-section {
    width: 100%;
    height: calc(100dvh - 3.75rem);
    overflow: hidden;
    // dvh=dymaic viewport height
    // lvh=largest viewport height
    // svh=smallest viewport height
  
    .container-listing-standard-header {
      width: 100%;
      min-height: 3.75rem;
      max-height: 3.75rem;
    }
  
    
  }
  .container-listing-standard-body {
    width: 100%;
    max-height: calc(100dvh - 7.5rem);
    overflow: hidden; 
  }
  .container-listing-standard-data {
    width: 100%;
    max-height: calc(100dvh - 11.25rem);
    overflow: auto;
    border-radius: 0.432rem;
  }
  .noData .noDataHover{
    display: none;

  }
  .noData:hover .noDataHover{
    display: flex !important;
    background-color: rgba(0, 0, 0, 0.337);
    color: white;
    justify-content: center;
    align-items: center;
  }