<div class="container-listing-standard-section ">
    <div
        class="container-listing-standard-header flex gap-2 justify-between items-center py-2 px-5 shadow bg-white sticky top-0 z-999">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">កំណត់</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-blue-600 cursor-pointer" [routerLink]="['/sup/setting/testing-standard']">ស្តង់ដាតេស្ត</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">{{roadName}}</span>
            </div>
        </div>
        <div>
          
        </div>
        
    </div>
    <div class="container-listing-standard-body  p-4">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" methods?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
        <div *ngIf="methods?.length > 0 && !isSearching " class="container-listing-standard-data border round-lg p-4">
            <!-- <div class=" pt-4 pb-6 text-2xl w-full text-left pl-6 font-bold text-gray-700">
                {{roadName}}
            </div>  -->
            <table class="w-full mt-2">
                <thead class="h-30 border">
                   <tr class="">
                        <th rowspan="2"  class="border min-w-15 w-[5%] h-15" ></th>
                        <th rowspan="2"  class="border min-w-30 w-[10%]">វិធីសាស្ត្រតេស្ត</th>
                        <th [attr.colspan]="layers.length"  class="border w-[85%]">ស្រទាប់</th>
                   </tr>
                   <tr>
                        <th class="border " *ngFor="let item of layers" [style.width]="(85/layers.length) + '%'">{{item}}</th>
                   </tr>
                </thead>
                <tbody>
                    <tr class="h-10" *ngFor="let item of methods;let i=index;">
                        <td class="border text-center">{{i+1}}</td>
                        <td class="border text-center">{{item.name}}</td>
                        <td class="border text-center cursor-pointer " *ngFor="let d of item.standards;let j=index;" >
                            <div *ngIf="d.method_id != null" class="text-gray-700  w-full" (click)="dialogUpdate(d,item.id)"> {{d.des}}</div>
                            <div *ngIf="d.method_id == null" class="noData w-full h-10" (click)="create(d,item.id)">
                                <div class="noDataHover w-full h-10 hidden" >បង្កើត</div>
                            </div>
                        </td>
                        
                    </tr>
                   
                </tbody>
            </table>
        </div>
       
    </div>
    
</div>
