.custom-main-section {
    width: 100%;
    height: calc(100vh - 60px); //60px is navigation
    overflow: hidden;
}

.custom-content-section {
    width: 100%;
    height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
}

.custom-content-section .custom-content {
    width: 100%;
    max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
    overflow: hidden;
}

.custom-content .container-commune {
    width: 100%;
    max-height: calc(100vh - 188px);
    overflow: auto;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
table {
    width: 100%;
}

.container-commune .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-commune .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-commune .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-commune .mat-column-id {
    min-width: 40px;
    width: 40px;
    max-width: 40px;
    text-align: center;
}

.container-commune .mat-column-province {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: left;
}

.container-commune .mat-column-district {
    min-width: 80px;
    width: 80px;
    max-width: 80px;
    text-align: left;
}

.container-commune .mat-column-code {
    min-width: 90px;
    width: 90px;
    max-width: 90px;
    text-align: right;
}

.container-commune .mat-column-name {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
    text-align: left;
    padding: 3px 2rem !important;
}

.container-commune .mat-column-no_village {
    min-width: 80px;
    width: 80px;
    max-width: 80px;
    text-align: end;
}

.container-commune .mat-column-update_at {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    text-align: left;
    padding: 3px 2rem !important;
}


.container-commune .mat-column-action {
    text-align: end;
    width: 25px;
}

 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(100 116 139) !important;
}

//end - 12/12/2023