<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">ការងារ: {{data?.name}}</span>
</div>
<div class="custom-dialog-testing-method border rounded-lg">
    <mat-tab-group mat-align-tabs="center">

        <mat-tab label="ទិន្នន័យ">
            <div class="p-2">
                <form class="mt-3" [formGroup]="formGroup" #updateworkNgForm="ngForm">
                    <div class="flex flex-col sm:flex-row gap-2">
                        <div class="w-full md:min-w-60 md:max-w-60 flex justify-center">
                            <div class="custom-image-upload">
                                <div class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                                    <img [src]="src" />
                                    <span class="w-full h-full custom-preview" (click)="preview()">
                                        <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                                    </span>
                                    <!-- <span class="w-full custom-h bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                                            (click)="selectFile()">Upload Image</span> -->
                                </div>
                                <div (click)="selectFile()"
                                    class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                                    <span class="text-xl mr-2"> ជ្រើសរើសរូបភាព </span>
                                    <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                                </div>
                                <input [id]="'portrait-file'" accept="image/*" class="hidden" type="file"
                                    (change)="fileChangeEvent($event)" />
                                <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                                <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4 w-full">
                                <mat-form-field appearance="outline" class="w-full mb-6">
                                    <mat-label>ការងារ</mat-label>
                                    <input id="title" matInput [formControlName]="'name'">
                                    <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="formGroup.get('name').hasError('required')">
                                        សូមបញ្ចូលការងារ
                                    </mat-error>
                                    <mat-error class="min-h-6 mt-2.5 text-sm"
                                        *ngIf="formGroup.get('name').hasError('maxlength')">
                                        សូមបញ្ចូលការងារតូចជាងឬស្មើ១០០ខ្ទង់
                                    </mat-error>
                                </mat-form-field>
            
                                <mat-form-field appearance="outline" class="w-full mb-6">
                                    <mat-label>ផ្នែក</mat-label>
                                    <mat-select [formControlName]="'group_id'">
                                        <ng-container >
                                            <mat-option *ngFor="let row of worksGroup" [value]="row?.id">
                                                <span>{{row?.name}}</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="formGroup.get('type_id').hasError('required')">
                                        សូមជ្រើសរើសប្រភេទការងារ
                                    </mat-error>
                                </mat-form-field>
        
                            </div>
                        </div>
                        
                    </div>
                
                </form>
                <div class="border-b mt-5"></div>

                <div class="w-full flex justify-end pt-3 ">
                    <button [disabled]="btnDisable" [disabled]="formGroup.invalid || saving"  class="min-w-8 max-w-8 rounded-md custom-button mr-2" mat-flat-button (click)="create()" >
                        <mat-icon *ngIf="!formGroup.disabled" class="icon-size-6 text-white" [svgIcon]="'mat_solid:save'"></mat-icon>
                        <mat-progress-spinner *ngIf="formGroup.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
                        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                    </button>
    
                </div>
            </div>
        </mat-tab>


        <mat-tab label="វិធីសាស្ត្រតេស្ត">
            <div class="custom-select-header flex items-center justify-end pt-2 mr-3">
                <form action="" [formGroup]="form">
                    <mat-form-field appearance="outline" class="min-w-50">
                    <mat-label>ជ្រើសរើសវិធីសាស្រ្តតេស្ត</mat-label>
                        <mat-select [formControlName]="'testing_method_id'" (selectionChange)="filterWorksType()">
                            <ng-container *ngFor="let row of testingMethodData">
                                <mat-option [value]="row?.id">
                                    <span>{{row?.name}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </form>

                <button [disabled]="form.invalid" (click)="addTestingMethod()" class="ml-3 min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button>
                    <mat-icon class="icon-size-8 text-white" style="color: white !important" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div> 
    
            <div class="border rounded-md mt-3 overflow-hidden">
                
                <section class="section-container" tabindex="0" *ngIf="isSearching == false" >
                    <table *ngIf="testing_method.length > 0" class="table-fixed  w-full phearak-update-table">
                        <thead style="background: #fefce8">
                            <tr class="border-b">
                                <th class="text-center l-r" style="width: 50px;"><b>ល.រ</b></th>
                                <th class="text-left" style="width: 150px !important;"><b>ឈ្មោះ</b></th>
                                <th class="text-left">ពិពណ៌នា</th>
                                <th class="text-left">Parameter</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b" *ngFor="let row of testing_method; let i = index">
                                <td class="text-center l-r text-sm">{{i+1}}</td>
                                <td class=""><span>{{row?.name}}</span></td>
                                <td class="text-left">
                                    {{row?.description}}
                                </td>
                                <td>
                                    <ul style="list-style-type: square;">
                                        <li class="my-1" *ngFor="let param of row?.parameters">
                                            {{param?.name}}
                                        </li>
                                    </ul>
                                </td>
                                <td class="text-right">
                                    <button mat-button (click)="deleteTestingMethod(row)">
                                        <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <ng-container *ngIf="isSearching == false">
                    <div *ngIf="testing_method?.length == 0 " class="flex flex-col justify-center items-center mb-4">
                        <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                        <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
                    </div>
                </ng-container>
                <ng-container *ngIf="isSearching">
                    <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                        <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                        <div class="lds-spinner">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </ng-container>
                <div class="border-b mt-5"></div>
                <div class="w-full flex justify-end pt-3 p-2 ">
            
                    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
                        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                    </button>
                </div>
            </div>  
        </mat-tab>
    </mat-tab-group>
</div>

