.gridItem{
  height: 360px;
}
// .content-report-table .mat-cell {
//   padding: 3px 6px !important;
//   color: rgb(71 85 105) !important;
//   font-size: 15px !important;
//   font-weight: 500 !important;
// }
.grid-content{
  width: 100%;
  max-height: calc(100dvh - 15.75rem);
  overflow-y:auto;
}
.gridItemMain{
  display: none;
}
.gridItem-body .gridItemMain{
  display: none;
  background-color:transparent;
  padding: 0 16px 16px 16px !important;
}
.gridItem-body:hover .gridItemMain{
  .gridItemView{
    background-color: rgba(0, 0, 0, 0.5);
  }
  display: block;

}
.gridItem-body img{
  height: 100%;
}
@media (min-width: 1790px) {
  .gridItem{
    height: 430px;
  }
}
@media (max-width: 1550px) {
  .gridItem{
    height: 340px;
  }
}
@media (max-width: 1470px) {
  .gridItem{
    height: 320px;
  }
}
@media (max-width: 1400px) {
  .gridItem{
    height: 310px;
  }
}
@media (max-width: 1300px) {
  .gridItem{
    height: 290px;
  }
}
@media (max-width: 1280px) {
  .gridItem{
    height: 350px;
  }
}
@media (max-width: 1190px) {
  .gridItem{
    height: 330px;
  }
}
@media (max-width: 1090px) {
  .gridItem{
    height: 310px;
  }
}
@media (max-width: 1029px) {
  .gridItem{
    height: 290px;
  }
}
@media (max-width: 960px) {
  .gridItem{
    height: 350px;
  }
}
@media (max-width: 780px) {
  .gridItem{
    height: 330px;
  }
}
@media (max-width: 700px) {
  .gridItem{
    height: 290px;
  }
}
@media (max-width: 494px) {
  .gridItem{
    height: 280px;
  }
}
@media (max-width: 464px) {
  .gridItem{
    height: 260px;
  }
}
@media (max-width: 424px) {
  .gridItem{
    height: 240px;
  }
}
tr:last-child td.mat-cell {
  border-bottom: none;
}

.picture_list_body .mat-cell {
  padding: 3px 6px !important;
  color: rgb(71 85 105) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.picture_list_body .mat-cell p {
  font-size: 15px !important;
  font-weight: 500;
}

.picture_list_body .mat-header-cell {
  font-size: 1rem !important;
  padding: 0 !important;
  color: rgb(30, 41, 59) !important;
}
.picture_list_body .mat-column-nos {
  min-width: 50px;
  width: 50px;
  max-width: 50px;
  text-align: center;
}
.flex-custom{
  display: flex !important;
}
.picture_list_body{
  width: 100%;
  max-height: calc(100dvh - 17.45rem);
  min-height: 45px;
  overflow-y:auto;
}
.picture_list_body .mat-column-title {
  min-width: 150px;
  width: 250px;
  text-align: left;
  padding: 3px 6px 3px 0.1rem !important;
}
.picture_list_body .mat-column-created_by{
  min-width: 150px;
  width: 200px;
  text-align: left;
  padding: 3px 6px 3px 0.1rem !important;
}
.picture_list_body .mat-column-pk {
  min-width: 200px;
  width: 200px;
  text-align: left;
 
  padding: 3px 6px 3px 0.1rem !important;
}
.picture_list_body .mat-column-status {
  min-width: 150px;
  width: 150px;
  text-align: center;
  padding: 3px 6px 3px 0.1rem !important;
}
.picture_list_body .mat-column-layer {
  min-width: 210px;
  width: 210px;
  text-align: left;
  padding: 3px 6px 3px 0.1rem !important;
}
.picture_list_body .mat-column-images {
  min-width: 150px;
  width: 150px;
  max-width: 150px;
  padding: 3px 6px 3px 0.1rem !important;
}
.picture_list_body .mat-column-create_at {
  min-width: 150px;
  width: 150px;
  max-width: 150px;
  padding: 3px 6px 3px 0.1rem !important;
}
.picture_list_body .mat-column-action {
  flex: none;
  width: 2rem;
}
.custom-position{
  min-height: 3rem;
  max-height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
}
.custom-position .custom-preview {
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  min-height: 3rem;
  max-height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.custom-position:hover .custom-preview {
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
}
.picture_list_body .mat-column-image_uri {
  min-width: 150px;
  width: 250px;
  max-width: 200px;
  text-align:left;
  padding: 3px 0.1rem !important;
}
