<div>
  <div *ngIf=" !isLoading" class="custom-botton-flat w-full text-right min-h-13 max-h-13  pr-3 pt-1 ">
    <div class="flex justify-between">
      <div ></div>

      <div class="custom-select-header right-1 mt-0.5 flex sticky" >
        <mat-form-field appearance="outline" class="min-w-24 max-w-24 mr-1.5">
          <mat-select [(ngModel)]="pkstart" (selectionChange)="changePkStart($event)"  placeholder="Pk Start" [disabled]="data.length == 0 && pkstart==''" >
              <ng-container *ngIf="listPkStart " >
                  <mat-option *ngFor="let row of listPkStart" [value]="row?.id">
                      <span>PK {{row?.pk}}</span>
                  </mat-option>
              </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="min-w-24 max-w-24 mr-1.5">
          <mat-select [(ngModel)]="pkend" (selectionChange)="changePkEnd($event)"  placeholder="Pk End" [disabled]="data.length == 0 &&  pkend == ''" >
              <ng-container *ngIf="listPkEnd " >
                
                  <mat-option *ngFor="let row of listPkEnd" [value]="row?.id">
                    
                      <span>PK {{row?.pk}}</span>
                  </mat-option>
              </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="min-w-40 max-w-40 mr-1.5">
          <mat-select [(ngModel)]="test_method" (selectionChange)="onChangeMethod($event)"  placeholder="ស្រទាប់" [disabled]="data.length == 0 && test_method ==''" >
              <ng-container *ngIf="setup.works" >
                <mat-option  [value]="0">
                  <span>ទាំងអស់</span>
              </mat-option>
                  <mat-option *ngFor="let row of setup.works" [value]="row?.id">
                      <span>{{ row?.name }}</span>
                  </mat-option>
              </ng-container>
          </mat-select>
        </mat-form-field>
      
      <!-- <button *ngIf="gridView" class="min-w-6 max-w-6 rounded-md text-white bg-yellow-300 mr-1.5  "
        mat-flat-button (click)="changeView('grid')">
        <mat-icon class="icon-size-6 " svgIcon="heroicons_outline:view-list"></mat-icon>
      </button> -->

      <!-- <button *ngIf="listView" class="min-w-6 max-w-6 rounded-md  text-white bg-yellow-300    mr-1.5  " [disabled]="data.length == 0 && constructionType ==''"
        mat-flat-button (click)="changeView('list')">
        <mat-icon class="icon-size-6 " svgIcon="heroicons_outline:view-grid"></mat-icon>
      </button> -->

      <!-- button print -->
      <!-- <button *ngIf="listView" class="min-w-6 max-w-6 rounded-md  text-white bg-yellow-300    mr-1.5  " [disabled]="data.length == 0 && constructionType ==''"
        mat-flat-button (click)="downloadReport(5)">
        <mat-icon class="icon-size-6 " *ngIf="!isSaving " svgIcon="mat_outline:file_download"></mat-icon>
        <mat-progress-spinner *ngIf="isSaving " [diameter]="24" [mode]="'indeterminate'"> </mat-progress-spinner> 
      </button> -->
  
    </div>
    </div>
  </div>
  <div class="custom-resport flex flex-col">
    <ng-container *ngIf="isLoading">
      <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
          <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
          <div class="lds-spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
          </div>
      </div>
  </ng-container>
  <div *ngIf="data?.length === 0  && !isLoading" class="flex flex-col justify-center items-center mb-4 ">
    <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
    <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
  </div>
</div>
</div>

<div  class="m-2 " *ngIf="data?.length > 0  && !isLoading && gridView">
  <div class="grid grid-cols-2 gap-5 grid-content sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 ">
    <div class="gridItem  rounded-xl  bg-[#f2f3f8] hover:bg-slate-300" *ngFor="let row of data">
      <div class="gridItem-header  h-[15%] flex w-full items-center  ">
        <div class="w-[75%] sm:w-[80%] md:w-[82%] lg:w-[82%] xl:w-[82%]  pl-2 sm:pl-3 md:pl-3 lg:pl-4 xl:pl-5 truncate flex "  >
          <div class="pr-2"><mat-icon style="color: rgb(212, 176, 15);" svgIcon="heroicons_solid:photograph"></mat-icon></div>
          <span class="pt-[2px]">{{row?.comment}} {{row?.created_at}}</span>
        </div>
        <div class="w-[25%] sm:w-[20%] md:w-[18%] lg:w-[18%] xl:w-[18%] ">
    </div>
    </div>
      <div class="gridItem-body px-1 sm:px-2 md:px-2 lg:px-3 xl:px-4 pb-4 h-[85%] relative cursor-pointer">
        <div class=" gridItemMain absolute  w-full h-full   " style=" right: 0; left: 0; top: 0; bottom: 0;">
          <div class="w-full h-full  gridItemView items-center flex justify-center" *ngIf="row?.images[0]?.image_uri" (click)="preview(row?.images,row?.created_at,row?.comment)" >
            <mat-icon class="text-white w-8 h-8" style="object-fit: contain;" svgIcon="heroicons_outline:eye"></mat-icon>
          </div>
        </div>
        <img class="rounded-md"  [src]="url+row?.images[0]?.image_uri" alt="">
      </div>
    </div>
  </div>
</div>

<div *ngIf="data?.length > 0  && !isLoading && listView"  class=" w-full picture_list_body">

  <table mat-table [dataSource]="dataSource" class="w-full">
    <ng-container matColumnDef="nos">
        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="status" >
      <th mat-header-cell *matHeaderCellDef > ស្ថានភាព</th>
      <td mat-cell *matCellDef="let data" >
          <div  class="flex justify-center items-center" >
            <!-- from -->
            <div> 
                <div *ngIf="data?.from?.id == 1"  class="border" [style.background-color]="data?.from?.color"
                  style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                <span></span>
                </div>
                <div *ngIf="data?.from?.id == 2"  class="control-slide-1 border" [style.background-color]="data?.from?.color"
                  style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                <span></span>
                </div>
                <div *ngIf="data?.from?.id == 3"  class="control-slide-2 border" [style.background-color]="data?.from?.color"
                  style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                <span></span><span></span>
                </div>
                <div *ngIf="data?.from?.id == 4"  class=" border" [style.background-color]="data?.from?.color"
                  style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                </div>
              </div>
            <div class="w-5 flex justify-center"><span>-></span></div>
            <!-- to -->
           <div>
              <div *ngIf="data?.to?.id == 1"  class="border" [style.background-color]="data?.to?.color"
              style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
            <span></span>
            </div>
            <div *ngIf="data?.to?.id == 2"  class="control-slide-1 border" [style.background-color]="data?.to?.color"
              style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
            <span></span>
            </div>
            <div *ngIf="data?.to?.id == 3"  class="control-slide-2 border" [style.background-color]="data?.to?.color"
              style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
            <span></span><span></span>
            </div>
            <div *ngIf="data?.to?.id == 4"  class=" border" [style.background-color]="data?.to?.color"
              style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
            </div>
           </div>
          </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="pk" >
      <th mat-header-cell *matHeaderCellDef > ទីតាំង(PK)</th>
      <td mat-cell *matCellDef="let data,let i=index">
         PK{{data.pk}}+{{data.station_start}} -  PK{{data.pk}}+{{data.station_end}}
      </td>
  </ng-container>
  <ng-container matColumnDef="layer" >
    <th mat-header-cell *matHeaderCellDef > ស្រទាប់</th>
    <td mat-cell *matCellDef="let data">
      {{data.work.name}} ({{data.side.abrv}})
    </td>
</ng-container>
  
    <ng-container matColumnDef="title" >
      <th mat-header-cell *matHeaderCellDef > មតិយោបល់</th>
      <td mat-cell *matCellDef="let data">
          <span *ngIf="data.comment != null">{{data.comment}}</span>
          <span *ngIf="data.comment == null">គ្មាន</span>
      </td>
  </ng-container>

<ng-container matColumnDef="image_uri">
  <th mat-header-cell *matHeaderCellDef> <span class="pl-2 font-bold">រូបភាព</span></th>
  <td mat-cell *matCellDef="let data">
     <div class="flex justify-start">
      <div class="flex flex-row" >
        <div  class="custom-position relative mr-2"  style="width:3rem; height: 3rem; border-radius: 4px;">
          <img *ngIf="data?.images[0]?.image_uri != null" [src]="url+data?.images[0]?.image_uri"
          style="width:3rem; height: 3rem; border-radius: 4px;" alt="">
          
          <span class="w-full h-full custom-preview" *ngIf="data?.images[0]?.image_uri != null"
            (click)="preview(data?.images[0],data?.created_at,data?.comment)">
            <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
          </span>
        </div>
      </div>
     </div>
  </td>
</ng-container>


<ng-container matColumnDef="create_at">
  <th mat-header-cell *matHeaderCellDef > កាលបរិច្ឆេទ</th>
    <td mat-cell *matCellDef="let data">
      {{data?.created_at }}
  </td>
</ng-container>
<ng-container matColumnDef="created_by" >
  <th mat-header-cell *matHeaderCellDef >អ្នកបញ្ចូល </th>
  <td mat-cell *matCellDef="let data,let i=index">
    {{data.tester    }}
  </td>
</ng-container>
  <ng-container matColumnDef="action" stickyEnd>
    <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
    <td mat-cell *matCellDef="let data" class="bg-white z-9 -right-1">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
            <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item  (click)="view(data)">
                <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                <span class="text-md text-gray-500">មើល</span>
            </button>
            <button mat-menu-item  (click)="downloadReport(5,data)">
              <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_outline:file_download"></mat-icon>
              <span class="text-md text-gray-500">ទាញយក</span>
          </button>
            
        </mat-menu>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-50 -pr-2 z-9 ">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
  </table>
</div>
<div class="min-h-11 max-h-11 hidden" [ngClass]="{'flex-custom': data?.length > 0  && !isLoading && listView }">
  <mat-paginator
      class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
      [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
      (page)="onPageChanged($event)">
  </mat-paginator>
</div>

<ng-template #loadingTemplate>
  <ng-container>
      <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
          <p class="text-2xl mb-4">សូមមេត្តារង់ចាំ! កំពុងទាញយករបាយការណ៏</p>
          <div class="lds-spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
          </div>
      </div>
  </ng-container>
</ng-template>