.container-provice-section {
    width: 100%;
    height: calc(100dvh - 3.75rem);
    overflow: hidden;
  
    .container-provice-header {
      width: 100%;
      min-height: 3.75rem;
      max-height: 3.75rem;
    }
  
    .container-provice-body {
      width: 100%;
      max-height: calc(100dvh - 7.5rem);
      overflow: hidden;
  
      .container-provice-content {
        width: 100%;
        max-height: calc(100dvh - 8.5rem);
        overflow: hidden;
  
        .container-provice-data {
          width: 100%;
          // max-height: calc(100dvh - 11.25rem); //if have paginator
          max-height: calc(100dvh - 8.5rem);
          overflow: auto;
          border-radius: 0.432rem;
        }
      }
    }
  }
  
  ::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
  }
  
  table {
    width: 100%;
  }
  
  .container-provice-data .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
  }
  
  .container-provice-data .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
  }
  
  .container-provice-data .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
    z-index: 100 !important;
  }
  
  .container-provice-data .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
  }
  
  .container-provice-data .mat-header-cell:first-child {
    border-top-left-radius: 0.5rem;
  }
  
  .container-provice-data .mat-header-cell:last-child {
    border-top-right-radius: 0.4rem;
  }
  .container-provice-data .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
  }
  
  .container-provice-data .mat-column-code {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: right;
  }
  
  .container-provice-data .mat-column-name {
    min-width: 250px;
    text-align: left;
    padding: 3px 3rem !important;
  }
  
  .container-provice-data .mat-column-report {
    min-width: 260px;
    text-align: left;
    padding: 3px 3rem !important;
  }
  
  .container-provice-data .mat-column-action {
    flex: none;
    width: 2rem;
    margin-right: -2px !important;
  }
  
  
  ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
  }
  
  
  .flex-custom {
    display: flex !important;
  }
  
  ::placeholder {
    color: rgb(100 116 139) !important;
  }
  
  ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
  }
  
  //end - 12/12/2023