<div mat-dialog-title class="custom-dialog-title">
    <span class="text-2xl font-semibold">ស្វែងរក</span>
</div>
<mat-dialog-content class="custom-dialog-content">
    <div class="flex flex-col">
        <div class="w-full flex mb-3">
            <div class="min-w-40 max-w-40 min-h-12 max-h-12 pt-4 mt-0.5">ជំពូកថវិកា</div>
            <div class="custom-form custom-select w-full">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-select [(ngModel)]="budget_id">
                        <mat-option [value]="0">
                            <span>ទាំងអស់</span>
                        </mat-option>
                        <ng-container *ngIf="budgets">
                            <mat-option *ngFor="let row of budgets" [value]="row?.id">
                                <span>{{ row?.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="w-full flex mb-3">
            <div class="min-w-40 max-w-40 min-h-12 max-h-12 pt-4 mt-0.5">ឆ្នាំនៃជំពូកថវិកា</div>
            <div class="custom-form custom-select w-full">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-select [(ngModel)]="budget_year_id">
                        <mat-option [value]="0">
                            <span>ទាំងអស់</span>
                        </mat-option>
                        <ng-container *ngIf="budget_years.length > 0">
                            <mat-option *ngFor="let row of budget_years" [value]="row?.id">
                                <span>{{ row?.year }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="w-full flex mb-3">
            <div class="min-w-40 max-w-40 min-h-12 max-h-12 pt-4 mt-0.5">ប្រភពថវិកា</div>
            <div class="custom-form custom-select w-full">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-select [(ngModel)]="category_id">
                        <mat-option [value]="0">
                            <span>ទាំងអស់</span>
                        </mat-option>
                        <ng-container *ngIf="categories.length > 0">
                            <mat-option *ngFor="let row of categories" [value]="row?.id">
                                <span>{{ row?.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="w-full flex mb-3">
            <div class="min-w-40 max-w-40 min-h-12 max-h-12 pt-4 mt-0.5">ទីតាំង</div>
            <div class="custom-form custom-select w-full">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-select [(ngModel)]="province_id">
                        <mat-option [value]="0">
                            <span>ទាំងអស់</span>
                        </mat-option>
                        <ng-container *ngIf="provinces.length > 0">
                            <mat-option *ngFor="let row of provinces" [value]="row?.id">
                                <span>{{ row?.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="w-full flex mb-3">
            <div class="min-w-40 max-w-40 min-h-12 max-h-12 pt-4 mt-0.5">ស្ថានភាព</div>
            <div class="custom-form custom-select w-full">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-select [(ngModel)]="status_id">
                        <mat-option [value]="0">
                            <span>ទាំងអស់</span>
                        </mat-option>
                        <ng-container *ngIf="status.length > 0">
                            <mat-option *ngFor="let row of status" [value]="row?.id">
                                <span>{{ row?.kh_name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="w-full flex mb-1">
            <div class="min-w-40 max-w-40 min-h-12 max-h-12 pt-4">កាលបរិច្ឆេទ</div>
            <div class="custom-form custom-select w-full grid grid-cols-2 gap-3">
                <mat-form-field appearance="outline" class="w-full relative">
                    <input placeholder="ចាប់ផ្តើមពី" matInput [(ngModel)]="form" readonly (click)="start_date.open()"
                        [matDatepicker]="start_date">
                    <mat-datepicker #start_date startView="year"></mat-datepicker>
                    <mat-icon *ngIf="form != null" (click)="clear('from')" matSuffix
                        class="mr-2 text-slate-500 cursor-pointer" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                    <input placeholder="ដល់" matInput [(ngModel)]="to" readonly (click)="end_date.open()"
                        [matDatepicker]="end_date">
                    <mat-datepicker #end_date startView="year"></mat-datepicker>
                    <mat-icon *ngIf="to != null" (click)="clear('to')" matSuffix
                        class="mr-2 text-slate-500 cursor-pointer" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:search'"></mat-icon>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>