<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">កែប្រែព័ត៌៌មានលទ្ធកម្ម</span>
</div>

<mat-dialog-content class="custom-dialog-content">
    <form #form [formGroup]="procurementForm" #procurementInfoNgForm="ngForm">
        <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">តម្លៃគម្រោងស្នើសុំដំបូង</h3>
        <div class="custom-form grid grid-cols-1 sm:grid-cols-3 gap-4 mb-3">
            
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label> សាងសង់ </mat-label>
                <input (keyup)="calculate1()" formatInput matInput [formControlName]="'bud_request_construction'" autocomplete="off" maxlength="27">
                <span class="custom-position" *ngIf="procurementForm.value.bud_request_construction != ''"> រៀល </span>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="procurementForm.get('bud_request_construction').hasError('required')">
                    សូមបញ្ចូលតម្លៃសាងសង់ស្នើសុំ
                </mat-error>
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="procurementForm.get('bud_request_construction').hasError('maxlength')">
                    តម្លៃសាងសង់ស្នើសុំ​ មិនអាចកលើសពី២០ខ្ទង់
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>ត្រួតពិនិត្យ</mat-label>
                <input (keyup)="calculate1()" formatInput matInput [formControlName]="'bud_request_check'" autocomplete="off" maxlength="27">
                <span class="custom-position" *ngIf="procurementForm.value.bud_request_check != ''"> រៀល </span>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="procurementForm.get('bud_request_check').hasError('required')">
                    សូមបញ្ចូលត្រួតពិនិត្យស្នើសុំ
                </mat-error>
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="procurementForm.get('bud_request_check').hasError('maxlength')">
                    តម្លៃត្រួតពិនិត្យស្នើសុំ​ មិនអាចកលើសពី២០ខ្ទង់
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2.5 cursor-not-allowed">
                <mat-label>សរុប</mat-label>
                <input formatInput matInput readonly [value]="bud_request_total | number" class="cursor-not-allowed" [disabled]="true">
                <span class="custom-position">រៀល</span>
            </mat-form-field>
            
        </div>
        <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">តម្លៃគម្រោងក្រោយធានាចំណាយ</h3>
        <div class="custom-form grid grid-cols-1 sm:grid-cols-3 gap-4 mb-3">
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label> សាងសង់ </mat-label>
                <input (keyup)="calculate2()" formatInput matInput [formControlName]="'bud_after_warranty_con'" autocomplete="off" maxlength="27">
                <span class="custom-position" *ngIf="procurementForm.value.bud_after_warranty_con != ''"> រៀល </span>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="procurementForm.get('bud_after_warranty_con').hasError('required')">
                    សូមបញ្ចូលសាងសង់ក្រោយធានាចំណាយ
                </mat-error>
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="procurementForm.get('bud_after_warranty_con').hasError('maxlength')">
                    តម្លៃសាងសង់ក្រោយធានាចំណាយ​ មិនអាចកលើសពី២០ខ្ទង់
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label> ត្រួតពិនិត្យ </mat-label>
                <input (keyup)="calculate2()" formatInput matInput [formControlName]="'bud_after_warranty_check'"  maxlength="27" autocomplete="off">
                <span class="custom-position" *ngIf="procurementForm.value.bud_after_warranty_check != ''"> រៀល </span>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="procurementForm.get('bud_after_warranty_check').hasError('required')">
                    សូមបញ្ចូលត្រួតពិនិត្យ ក្រោយធានាចំណាយ
                </mat-error>
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="procurementForm.get('bud_after_warranty_check').hasError('maxlength')">
                    តម្លៃត្រួតពិនិត្យ ក្រោយធានាចំណាយ​ មិនអាចកលើសពី២០ខ្ទង់
                </mat-error>
            </mat-form-field> 
            <mat-form-field appearance="outline" class="w-full mb-2.5 cursor-not-allowed">
                <mat-label>សរុប</mat-label>
                <input formatInput matInput readonly [value]="bud_after_warranty_total | number" class="cursor-not-allowed" [disabled]="true">
                <span class="custom-position">រៀល</span>
            </mat-form-field> 
        </div>
        <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">តម្លៃគម្រោងក្នុងកិច្ចសន្យា</h3>
        <div class="custom-form grid grid-cols-1 sm:grid-cols-3 gap-4 mb-3">
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label> សាងសង់ </mat-label>
                <input (keyup)="calculate3()" formatInput matInput [formControlName]="'bud_contract_construciton'" autocomplete="off" maxlength="27">
                <span class="custom-position" *ngIf="procurementForm.value.bud_contract_construciton != ''"> រៀល </span>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="procurementForm.get('bud_contract_construciton').hasError('required')">
                    សូមបញ្ចូលតម្លៃកិច្ចសន្យា សាងសង់
                </mat-error>
                <mat-error class="min-h-6 mt-2.5 text-sm"
                    *ngIf="procurementForm.get('bud_contract_construciton').hasError('maxlength')">
                    តម្លៃកិច្ចសន្យា សាងសង់ មិនអាចកលើសពី២០ខ្ទង់
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label> ត្រួតពិនិត្យ </mat-label>
                <input (keyup)="calculate3()" formatInput matInput [formControlName]="'bud_contract_check'" autocomplete="off" maxlength="27">
                <span class="custom-position" *ngIf="procurementForm.value.bud_contract_check != ''"> រៀល </span>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="procurementForm.get('bud_contract_check').hasError('required')">
                    សូមបញ្ចូលតម្លៃកិច្ចសន្យា ត្រួតពិនិត្យ
                </mat-error>
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="procurementForm.get('bud_contract_check').hasError('maxlength')">
                    តម្លៃកិច្ចសន្យា ត្រួតពិនិត្យ​ មិនអាចកលើសពី២០ខ្ទង់
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2.5 cursor-not-allowed">
                <mat-label>សរុប</mat-label>
                <input formatInput matInput readonly [value]="bud_contract_total | number" class="cursor-not-allowed" [disabled]="true">
                <span class="custom-position">រៀល</span>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button
        [disabled]="procurementForm.invalid  || saving" (click)="submit()">
        <mat-icon *ngIf="!procurementForm.disabled" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="procurementForm.disabled" [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn"
        [disabled]="saving">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>