.custom-button:disabled{
    background-color:  rgb(226 232 240) !important;
    color: #9da9bb !important;
    cursor: not-allowed;
}
.custom-button:enabled{
    background-color: #FFC107 !important;
    color: #fff !important;
    font-weight: 600;
}


.custom-position {
    position: absolute;
    right: 0.2rem;
    top: 0.25rem;
}