<ng-container *ngIf="isLoading">
    <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
        <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</ng-container>
<!-- ================>>  Get Data  API  -->
<div class="main-working-table-content" *ngIf="!isLoading">
    <!-- Header -->
    <div class="min-h-12 max-h-12 flex items-center justify-end bg-yellow-50 border-b">
        <div class="flex items-center gap-2 pl-4 pr-2 custom-botton-flat">
            <button *ngIf="access_permission?.add_update_work" class="min-w-20 max-w-20 rounded-md bg-yellow-400"
                mat-flat-button (click)="createPK()">
                <span>សំណង់ផ្លូវ</span>
            </button>
            <button class="min-w-32 max-w-32 rounded-md custom-button" mat-flat-button (click)="artisticWork()"
                [disabled]="true">
                <span>សំណង់សិល្បការណ៍</span>
            </button>
            <button *ngIf="pk_stations.length > 0" class="min-w-11 max-w-11 rounded-md bg-yellow-400 pt-2 pb-1" [matTooltip]="'ទាញយក'" (click)="download()">
                <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
            </button>
        </div>
    </div>
    <div class="w-full p-3 flex gap-3 border-b" *ngIf="showAlert && pk_stations.length > 0">
        <smooth-alert class="w-full" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
            [@shake]="alert.type === 'warning'">
            {{ alert.message }}
        </smooth-alert>
    </div>
    <!-- Rows -->
    <div class="content costom-html-table" scrollbar="true">
        <div *ngIf="pk_stations.length == 0 && !isLoading" class="flex flex-col justify-center items-center mb-4">
            <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
            <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
        </div>
        <table *ngIf="pk_stations.length > 0 && !isLoading">
            <thead>
                <tr class="custom">
                    <th colspan="3" class="border-r bg-white z-10"
                        style="width: 155px; min-width: 155px; max-width: 155px; height: 65px; min-height: 65px; max-height: 65px; left: 0px; z-index: 1;">
                        PK
                    </th>
                    <td *ngFor="let row of pk_stations" class="border-r"
                        style="width: 34px; min-width: 34px; max-width: 34px; height: 65px; min-height: 65px; max-height: 65px;">
                        <div class="transform-custom">
                            {{row?.trx}}
                        </div>
                    </td>
                </tr>
                <!-- <tr>
                    <th colspan="3" class="border-t border-r bg-white z-10"
                        style="width: 155px; min-width: 155px; max-width: 155px; height: 61px; min-height: 61px; max-height: 61px; left: 0px; z-index: 1;">
                        Station</th>
                    <td *ngFor="let row of pk_stations" class="border-t border-r"
                        style="width: 34px; min-width: 34px; max-width: 34px; height: 60px; min-height: 60px; max-height: 60px;">
                        <div class="transform">
                            {{row?.number}}
                        </div>
                    </td>
                </tr> -->
            </thead>
            <tbody>
                <!-- <tr>
                    <th class="border-t border-r bg-yellow-50 z-10"
                        style="width: 34px; min-width: 34px; max-width: 34px; height: 34px; min-height: 34px; max-height: 34px;">
                        I. </th>
                    <th colspan="2" class="border-t border-r bg-yellow-50 z-10"
                        style="width: 121px; min-width: 121px; max-width: 121px; height: 34px; min-height: 34px; max-height: 34px;">
                        Road</th>
                    <td *ngFor="let row of pk_stations" class="bg-yellow-50 border-t border-r"
                        style="width: 34px; min-width: 34px; max-width: 34px; height: 34px; min-height: 34px; max-height: 34px;">
                    </td>
                </tr> -->

                <ng-container *ngFor="let row of works; let i = index">
                    <tr>
                        <th rowspan="2" class="border-t border-r bg-white z-10"
                            style="width: 34px; min-width: 34px; max-width: 34px; height: 68px; min-height: 68px; max-height: 68px;">
                            {{i+1}}</th>
                        <th rowspan="2" class="border-t border-r bg-white z-10"
                            style="width: 121px; min-width: 121px; max-width: 121px; height: 68px; min-height: 69px; max-height: 68px;">
                            {{row?.work}}</th>
                        <th class="border-t border-r flex justify-center items-center"
                            style="width: 34px; min-width: 34px; max-width: 34px; height: 34px; min-height: 34px; max-height: 34px;">
                            L
                        </th>
                        <td *ngFor="let l of row?.l; let j = index" class="border-t border-r td-relative" [style.backgroundColor]="l?.color"
                            (click)="openWorkSideDialog($event, i,'L', j, l?.side_id)"
                            style="width: 34px; min-width: 34px; max-width: 34px; height: 34px; min-height: 34px; max-height: 34px;">
                            <div *ngIf="l?.progress == 2" class="control-slide-1"
                                style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                                <span></span>
                            </div>
                            <div *ngIf="l?.progress == 3" class="control-slide-2"
                                style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                                <span></span><span></span>
                            </div>
                            <div *ngIf="l?.progress == 4"
                                style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                            </div>
                            <div class="status-standard" [ngClass]="{
                                'red': l?.have_test == '3',
                                'green': l?.have_test == '2',
                                'orange': l?.have_test == '4',
                                'transparent': l?.have_test == '1'
                              }"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="border-t border-r flex justify-center items-center costom-th-sticky"
                            style="width: 34px; min-width: 34px; max-width: 34px; height: 34px; min-height: 34px; max-height: 34px;">
                            R
                        </th>
                        <td *ngFor="let r of row?.r; let k = index" class="border-t border-r td-relative" [style.backgroundColor]="r?.color"
                            (click)="openWorkSideDialog($event, i,'R',k, r?.side_id)"
                            style="width: 34px; min-width: 34px; max-width: 34px; height: 34px; min-height: 34px; max-height: 34px;">
                            <div *ngIf="r?.progress == 2" class="control-slide-1"
                                style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                                <span></span>
                            </div>
                            <div *ngIf="r?.progress == 3" class="control-slide-2"
                                style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                                <span></span><span></span>
                            </div>
                            <div *ngIf="r?.progress == 4"
                                style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                            </div>
                            <div class="status-standard" [ngClass]="{
                                'red': r?.have_test == '3',
                                'green': r?.have_test == '2',
                                'orange': r?.have_test == '4',
                                'transparent': r?.have_test == '1'
                              }"></div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="border-t max-h-40 p-4 flex-col items-start w-full bg-gray-50" *ngIf="user != undefined">
        <p class="flex items-center gap-2 min-h-11 max-h-11 m-0" *ngIf="user?.created_by">
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
            បង្កើតៈ {{user?.created_by?.name}} ({{user?.created_by?.date}})
        </p>
        <p class="flex items-center gap-2 min-h-11 max-h-11 m-0" *ngIf="user?.updated_by">
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
            បច្ចុប្បន្នៈ {{user?.updated_by?.name ? user?.updated_by?.name : 'N/A' }} ({{user?.updated_by?.name ?
            user?.updated_by?.date :'N/A'}})
        </p>
        <p class="flex items-center gap-2 min-h-11 max-h-11 m-0" *ngIf="user?.approved_by">
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
            អនុម័តៈ {{user?.approved_by?.name}} ({{user?.approved_by?.date}})
        </p>
    </div>
</div>