.main-working-table-content {
    max-height: calc(100dvh - 11.5rem);
}

.main-working-table-content {
    .content {
        width: 100%;
        max-height: calc(100dvh - 24.5rem);
        overflow: auto;
        margin-bottom: 0.02rem;
    }
}

::ng-deep .mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.costom-html-table {

    table {
        margin: 0;
        border: none;
        border-collapse: separate;
        border-spacing: 0;
    }

    table th,
    table td {
        font-size: 13px;
    }

    .transform-custom {
        width: 60px;
        margin-left: -12px;
        transform: rotate(-90deg);
    }

    .transform {
        width: 55px;
        transform: rotate(-90deg) !important;
        margin-left: -10px;
        text-align: center;
    }

    table thead,
    table tbody {
        th:first-child {
            position: sticky;
            left: 0;
            z-index: 2;
        }

        td {
            &:hover {
                background-color: #aba9a91a;
            }

        }
    }

    table tbody th:nth-child(2) {
        position: sticky;
        left: 34px;
        z-index: 2;
    }

    .costom-th-sticky {
        position: sticky;
        left: 9.6875rem !important;
        z-index: 10 !important;
        background-color: #fff !important;
    }

    table tbody th:nth-child(3) {
        position: sticky;
        left: 9.6875rem;
        z-index: 10;
        background-color: #fff !important;
    }

    .control-slide-1,
    .control-slide-2 {
        position: relative;
        overflow: hidden;
    }

    .control-slide-1 span {
        position: absolute;
        width: 3.1rem;
        height: 1.45px;
        background-color: #000;
        // background-color: #64748b;
        top: 16px;
        left: -0.47rem;
        transform: translateY(0) rotate(-45.8deg);
    }

    .control-slide-2 span {
        position: absolute;
        width: 3.1rem;
        height: 1.45px;
        background-color: #000;
        top: 16px;
        left: -0.47rem;
    }

    .control-slide-2 span:nth-child(1) {
        width: 3.05rem;
        transform: translateY(0) rotate(45.8deg);
    }

    .control-slide-2 span:nth-child(2) {
        width: 3.05rem;
        transform: translateY(0) rotate(-45.8deg);
    }

    .td-relative {
        position: relative;
    }

    .td-relative .status-standard {
        position: absolute;
        top: 0;
        right: 0;
        width: 8px;
        height: 8px;
        border-bottom-left-radius: 1rem;
    }
    .red{
        background-color: red;
    }
    .green{
        background-color: green;
    }
    .orange{
        background-color: orange;
    }
    .transparent{
        background-color: transparent;
    }
}