<form [formGroup]="organizationForm">
    <mat-form-field appearance="outline" class="w-full relative mb-4">
        <mat-label>{{label}}</mat-label>
        <input matInput formControlName="organization_id" [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)="onSelected($event)" #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOrganizations | async" [value]="option?.name">
                    {{option?.name}}
                </mat-option>
                <mat-option [disabled]="true" *ngIf="organizationForm.get('organization_id').valid && noOrganization">
                   គ្មានទិន្នន័យ
                </mat-option>
        </mat-autocomplete>
        <a (click)="createOrganization(organizationForm.get('organization_id').value, organizations[0]?.type_id)" mat-icon-button *ngIf="organizationForm.get('organization_id').valid && noOrganization" class="absolute -top-1.5 -right-1.5 bg-white" >
            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
        </a>
        <mat-error class="min-h-6 mt-2.5 text-sm"
            *ngIf="organizationForm.get('organization_id').hasError('required')">
            សូមជ្រើសរើស{{label}}
        </mat-error>
    </mat-form-field>
</form>
