<div class="container-technical-section">
    <!-- ================================ >> Header -->
    <div class="container-technical-header flex items-center justify-between py-2 px-5 shadow">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap cursor-pointer" [routerLink]="['/sup/projects']">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-blue-600">គម្រោង</span>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">{{code_project}}</span>
            </div>
        </div>
        <!-- ================================ >> Actions -->
        <div class="custom-select-header">
            <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                <mat-select [(ngModel)]="project_type_id" class="text-gray-400" placeholder="ជ្រើសរើសប្រភេទព័ត៌មាន">
                    <ng-container>
                        <ng-container>
                            <mat-option [routerLink]="['/sup/projects/'+project_id+'/info']" [value]="1"
                                *ngIf="access_permission?.info?.can_access == 1"
                                >ព័ត៌មានគម្រោង</mat-option>
                            <mat-option
                                *ngIf="access_permission?.technical?.can_access == 1"
                            [routerLink]="['/sup/projects/'+project_id+'/technical']" [value]="2"
                                >ការងារបច្ចេកទេស</mat-option>
                            <mat-option
                                *ngIf="access_permission?.report?.can_access == 1"
                            [routerLink]="['/sup/projects/'+project_id+'/report']" [value]="3"
                                >របាយការណ៍</mat-option>
                        </ng-container>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    
    <div class="container-technical-body p-2">
        <div *ngIf="!checkQurey" class="container-technical-content border rounded-lg">
            <mat-tab-group (selectedTabChange)="checkTab($event)">
                <mat-tab *ngIf="access_permission?.technical?.diagram?.can_access == 1" label="តារាងការងារ">
                    <app-working-table [access_permission]="access_permission?.technical?.diagram" [project_id]="project_id"></app-working-table>
                </mat-tab>
                <mat-tab *ngIf="access_permission?.technical?.standard_test?.can_access == 1" label="កំណត់ស្តង់ដា">
                    <app-testing-standard [access_permission]="access_permission?.technical?.standard_test" [id]="project_id" [code]="code_project"></app-testing-standard>
                </mat-tab>
                <mat-tab *ngIf="access_permission?.technical?.plan?.can_access== 1" label="ប្លង់">
                    <app-plan [access_permission]="access_permission?.technical?.plan" [id]="project_id"></app-plan>
                </mat-tab>
                <mat-tab label="ផែនទី">
                    <app-map *ngIf="mapLoaded" [project_id]="project_id"></app-map>
                </mat-tab>
            </mat-tab-group>
        </div>


        <ng-container *ngIf="checkQurey">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<!-- Last edit tab (14/03/2023) Yim Klok -->