
<form [formGroup]="form" >
    <mat-form-field appearance="outline" class="w-full relative mb-4">

        <mat-label>{{ label }}</mat-label>
        <input type="text" aria-label=" label " formControlName="select"  matInput  [matAutocomplete]="autocomplete">
        <mat-autocomplete (optionSelected)=" select($event) " #autocomplete="matAutocomplete">
            <mat-option *ngFor="let option of filterData | async " [value]=" option ">
                {{option?.name}}
            </mat-option>
            <!-- <mat-option [disabled]="true" *ngIf="firstcreateProjectForm.get('executive_director_id').valid && noExecutive">
                គ្មានទិន្នន័យ
            </mat-option> -->
        </mat-autocomplete>
    
        <a mat-icon-button *ngIf = " hasNoData " class="absolute -top-1.5 -right-1.5 bg-white" >
            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
        </a>
    
        <mat-error class="min-h-6 mt-2.5 text-sm"  >
            សូមជ្រើសរើស{{ label }}
        </mat-error>
    </mat-form-field>
</form>
