.custom-dialog-testing-method{
    margin: -0.75rem !important;
    margin-top: -0.65rem  !important;
}
::ng-deep .custom-dialog-testing-method .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    width: 33.33%;
}

.custom-image-upload {
    width: 100%;
    height: 100%;
}

.section-container-work {
    height: 220px;
    overflow: auto;
}
.section-container-parameter{
    height: 170px;
    overflow: auto;
}

table {
    width: 100%;
}
.custom-image img {
    min-height: 11.75rem;
    max-height: 11.75rem;
    border-radius: 3px;
    object-fit: cover;
}

.custom-image .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 11.75rem;
    max-height: 11.75rem;
    min-width: calc(100% - 0.45rem);
    max-width: calc(100% - 0.45rem);
    margin: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.custom-image:hover .custom-preview {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-custom {
    border-radius: 5px;
}

.max-h-custom {
    max-height: 2.5rem;
}

.border-hover {
    box-sizing: border-box;
    border: 1px solid #cbd5e1;
    transition: all 0.1s;
}

.border-hover:hover {
    border: 2px solid #cbd5e1;
}

::placeholder {
    color: rgb(160, 176, 197) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(160, 176, 197) !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.custom-h {
    min-height: 11.75rem;
    max-height: 11.75rem;
}

.rounded-custom {
    border-radius: 5px;
}

.max-h-custom {
    max-height: 2.5rem;
}

.border-hover {
    box-sizing: border-box;
    border: 1px solid #cbd5e1;
    transition: all 0.1s;
}

.border-hover:hover {
    border: 2px solid #cbd5e1;
}

::placeholder {
    color: rgb(160, 176, 197) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(160, 176, 197) !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}
::ng-deep .mat-form-field-wrapper{
    padding: 0px !important;
    margin: 0px !important;
}
.phearak-update-table th, .phearak-update-table td{
    padding: 10px 5px !important;
}
.l-r{
    width: 100px !important;
    text-align: center;
}
