<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">វិធីសាស្ត្រតេស្ត: {{data?.name}}</span>
</div>

<div class="custom-dialog-testing-method border rounded-lg">
    <!-- <mat-dialog-content class="custom-dialog-content"> -->
        <mat-tab-group mat-align-tabs="center">
            <div class="contents">
                <mat-tab label="ទិន្នន័យ">
                    <form class="p-3 pt-4"  [formGroup]="formGroup" #updatedataNgForm="ngForm">
                        <div class="flex flex-col sm:flex-row gap-2">
                            <div class="w-full md:min-w-60 md:max-w-60 flex justify-center">
                                <div class="custom-image-upload">
                                    <div class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                                        <img id="imageid" *ngIf="src && !show" [src]="src" alt="image" />
                                        <span class="w-full h-full custom-preview" *ngIf="src && !show" (click)="preview()">
                                            <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                                        </span>
                                        <span class="w-full h-full bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                                            *ngIf="!src || show" (click)="selectFile()">Upload Image</span>
                                    </div>
                                    <div (click)="selectFile()"class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                                        <span class="text-xl mr-2"> ជ្រើសរើសរូបភាព </span>
                                        <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                                    </div>
                                    <input [id]="'portrait-file'" accept="image/*" class="hidden" type="file"
                                        (change)="fileChangeEvent($event)"/>
                                    <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                                    <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
                                </div>
                            </div>
                            <div class="w-full">
                                <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4 w-full">
                                    <mat-form-field appearance="outline" class="w-full mb-7">
                                        <mat-label>វិធីសាស្ត្រតេស្ត</mat-label>
                                        <input id="name" matInput [formControlName]="'name'">
                                        <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="formGroup.get('name').hasError('required')">
                                            សូមបញ្ចូលវិធីសាស្ត្រតេស្ត
                                        </mat-error>

                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-full mb-4">
                                        <mat-label>ខ្នាត</mat-label>
                                        <input id="unit" matInput [formControlName]="'unit'">
                                    </mat-form-field>
                                </div>
                                <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-1 sm:grid-cols-1 gap-4">
                                    <div class="custom-textarea">
                                        <mat-form-field appearance="outline" class="w-full">
                                            <mat-label>សេចក្តីពណ៌នា</mat-label>
                                            <textarea id="description" matInput [formControlName]="'description'"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="border-b mt-5"></div>

                    <div class="w-full flex justify-end p-3 ">
                        <button [disabled]="btnDisable" [disabled]="formGroup.invalid || saving"  class="min-w-8 max-w-8 rounded-md custom-button mr-2" mat-flat-button (click)="create()" >
                            <mat-icon *ngIf="!formGroup.disabled" class="icon-size-6 text-white" [svgIcon]="'mat_solid:save'"></mat-icon>
                            <mat-progress-spinner *ngIf="formGroup.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>
                        <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
                            <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                        </button>
                    </div>
                </mat-tab>


                <mat-tab label="ការងារ">
                    <div class="custom-select-header flex items-center justify-end pt-2 mr-3">
                        <form action="" [formGroup]="form">
                            <mat-form-field appearance="outline" class="min-w-50">
                            <mat-label>ជ្រើសរើសការងារ</mat-label>
                                <mat-select [formControlName]="'work_id'" (selectionChange)="filterWorksType()">
                                    <ng-container *ngFor="let row of works">
                                        <mat-option [value]="row?.id">
                                            <span>{{row?.en_name}}</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </form>

                        <button [disabled]="btnDisable" [disabled]="form.invalid" (click)="addwork()" class="ml-3 min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button>
                            <mat-icon class="icon-size-8 text-white" style="color: white !important" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        </button>
                    </div>

                    <div class="border rounded-md mt-3 overflow-hidden">
                        <section class="section-container-work" tabindex="0" *ngIf="isSearching == false && listWork?.length != 0 ">
                            <table  class="table-fixed  w-full phearak-update-table">
                                <thead style="background: #fefce8">
                                    <tr class="border-b">
                                        <th class="text-center l-r" style="width: 50px;"><b>ល.រ</b></th>
                                        <th class="text-left" style="width: 100px !important;"><b>ឈ្មោះ</b></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border-b" *ngFor="let row of listWork; let i = index">
                                        <td class="text-center l-r text-sm">{{i+1}}</td>
                                        <td class=""><span>{{row?.en_name}}</span></td>

                                        <td class="text-right">
                                            <button mat-button (click)="deleteWork(row)">
                                                <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>

                        <ng-container *ngIf="isSearching == false">
                            <div *ngIf="listWork?.length == 0 " class="flex flex-col justify-center items-center mb-4">
                                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="isSearching">
                            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                                <div class="lds-spinner">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </ng-container>

                        <div class="border-b mt-5"></div>
                        <div class="w-full flex justify-end pt-3 p-2">
                            <button class="min-w-8 max-w-8 rounded-md ml-5" mat-flat-button [mat-dialog-close]="false" color="warn">
                                <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="ប៉ារ៉ាម៉ែត្រ">

                    <div class="p-2 flex items-center justify-end">

                        <div class="custom-form custom-select mr-2 lg:grid-cols-2 sm:grid-cols-2 gap-4 w-full">
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>ឈ្មោះ Param</mat-label>
                                <input id="title" matInput [(ngModel)]="nameTmp">
                            </mat-form-field>
                        </div>

                        <div class="custom-form custom-select ml-2 lg:grid-cols-2 sm:grid-cols-2 gap-4 w-full">
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>ខ្នាត</mat-label>
                                <input id="title" matInput [(ngModel)]="unit">
                            </mat-form-field>
                        </div>

                        <button [disabled]="nameTmp == '' ? true : false || isSpinner" (click)="addParam()" class="min-w-8 ml-2 p-6  max-w-8 rounded-md bg-yellow-400" mat-flat-button >
                            <mat-progress-spinner *ngIf="isSpinner" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                            <mat-icon *ngIf="isSpinner == false" class="icon-size-8 text-white" style="color: white !important" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        </button>

                    </div>

                    <div class="border rounded-md mt-2 overflow-hidden">
                        <section class="section-container-parameter" tabindex="0" *ngIf="isSearching == false">
                            <table class="table-fixed  w-full phearak-update-table">
                                <thead style="background: #fefce8">
                                    <tr class="border-b">
                                        <th class="text-center l-r" ><b>ល.រ</b></th>
                                        <th class="text-left" style="width: 200px !important;"><b>ឈ្មោះ</b></th>
                                        <th class="text-left"><b class="pl-8">ខ្នាត</b></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border-b" *ngFor="let row of listing; let i = index">
                                        <td class="text-center l-r text-sm">{{i+1}}</td>
                                        <td class=""><span>{{row?.name}}</span></td>
                                        <td class=""><span class="pl-8">{{row?.unit}}</span></td>

                                        <td class="text-right">
                                            <button mat-button (click)="removeParamData(i,row?.id)">
                                                <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                        <ng-container>
                            <div *ngIf=" listing?.length == 0 " class="flex flex-col justify-center items-center mb-4">
                                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
                            </div>
                        </ng-container>
                        <div class="border-b mt-5"></div>

                        <div class="w-full flex justify-end pt-3 p-2">

                        <button class="min-w-8 max-w-8 rounded-md ml-3" mat-flat-button [mat-dialog-close]="false" color="warn">
                            <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                        </button>

                    </div>
                    </div>


                </mat-tab>
            </div>
        </mat-tab-group>
    <!-- </mat-dialog-content> -->
</div>

