<div class="custom-main-section">
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">គ្រប់គ្រងអ្នកប្រើប្រាស់</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">គណនី</span>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <div class="custom-select-header">
                <mat-form-field appearance="outline" class="min-w-48 max-w-48">
                    <input (keyup.enter)="listing()" autocomplete="off" [(ngModel)]="searchValue" matInput
                        placeholder="ស្វែងរកគណនី">
                </mat-form-field>
            </div>
            <div class="custom-fbotton-flat">
                <button (click)="listing()" class="min-w-8 max-w-8 text-white rounded-md bg-yellow-400" mat-flat-button>
                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                </button>
            </div>
            <div class="custom-botton-flat">
                <button (click)="create()" class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button>
                    <mat-icon class="icon-size-8" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="custom-content-section p-4">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching "
                class="flex flex-col justify-center items-center mb-4 w-full">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>

        <div class="custom-content flex-col rounded-lg border hidden relative"
            [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
            <div class="container-account" scrollbar>
                <table mat-table [dataSource]="dataSource">
                    <!-- no Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let data"> {{ data?.rn }} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>គណនី</th>
                        <td mat-cell *matCellDef="let data">
                            <div class="p-2 pl-0">
                                <div class="flex items-center">

                                    <div class="custom-position relative">
                                        <img [src]="data?.avatar ? fileUrl+data?.avatar :null"
                                            style="width:60px; height: 60px;" alt="iamge">
                                        <span class="w-full h-full custom-preview" *ngIf="data?.avatar"
                                            (click)="preview(fileUrl+data?.avatar)">
                                            <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                                        </span>
                                    </div>
                                    <div class="ml-5 py-1"
                                        style="display: flex; height: 60px; flex-direction: column; justify-content: space-between;">
                                        <div class="mb-2">
                                            <b>{{data?.name}}</b>
                                        </div>
                                        <div class="text-base">
                                            {{data?.phone}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="organization">
                        <th mat-header-cell *matHeaderCellDef> អង្គភាព</th>
                        <td mat-cell *matCellDef="let data">
                            <div>
                                {{data?.organization?.name}}
                            </div>

                            <div class="mt-2">
                                <span class="text-gray-800" *ngIf="data?.oranization_role?.name">តួនាទី : </span>
                                <b>{{data?.oranization_role?.name}}</b>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>ប្រភេទ</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.type?.full_name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>ស្ថានភាព</th>
                        <td mat-cell *matCellDef="let element">
                            <ui-switch [checked]="element?.is_active == 1" (change)="onChange($event, element.id)">
                            </ui-switch>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                        <td mat-cell *matCellDef="let data" class="bg-white z-9">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="update(data)">
                                    <mat-icon class="text-blue-400 icon-size-6" svgIcon="mat_solid:edit"></mat-icon>
                                    <span class="text-md text-gray-500">កែប្រែ</span>
                                </button>

                                <button mat-menu-item (click)="updatePassword(data.id)">
                                    <mat-icon class="icon-size-6 text-green-500" svgIcon="mat_solid:vpn_key"></mat-icon>
                                    <span class="text-md text-gray-500">កែប្រែពាក្យសម្ងាត់</span>
                                </button>

                                <button mat-menu-item (click)="delete(data?.id,$event)" (page)="onPageChanged($event)">
                                    <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                    <span class="text-md text-gray-500">លុប</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                        class="bg-yellow-300 -pr-2 z-9"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div class="container-listing-project-paginator min-h-11 max-h-11"
                [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
                <mat-paginator
                    class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
                    [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
                    (page)="onPageChanged($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>