.custom-main-section {
    width: 100%;
    height: calc(100dvh - 3.75rem);
    overflow: hidden;
}

.custom-content-section {
    width: 100%;
    max-height: calc(100dvh - 7.5rem);
}

.custom-content-section .custom-content {
    width: 100%;
    max-height: calc(100vh - 9.5rem);
    overflow: hidden;
}

.custom-content .container-account {
    width: 100%;
    max-height: calc(100vh - 12.25rem);
    overflow: auto;
}

::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}

.custom-position .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 3.8rem;
    max-height: 3.8rem;
    min-width: 3.8rem;
    max-width: 3.8rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.custom-position:hover .custom-preview {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

.container-account .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-account .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-account .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-account .mat-column-id {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.container-account .mat-column-name {
    min-width: 220px;
    width: 220px;
    max-width: 220px;
    text-align: left;
    padding: 3px 2rem !important;
}

.container-account .mat-column-organization {
    min-width: 170px;
    width: 230px;
    max-width: 230px;
}

.container-account .mat-column-type {
    min-width: 230px;
    width: 230px;
    max-width: 230px;
}

.container-account .mat-column-status {
    min-width: 170px;
    width: 230px;
    max-width: 230px;
}

.container-account .mat-column-action {
    flex: none;
    width: 25px;
    margin-right: -2px !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    color: rgb(100 116 139) !important;
}