<mat-drawer-container hasBackdrop="true">
    <mat-drawer position="end" #drawer mode="over" style="padding: 1em;">
        <section id="select" class="section-container" tabindex="0" >
          <table><tr class="min-h-[48px] h-[48px] max-h-[48px] border-b">
            
            <th class="w-[110px] text-left pl-1"><b>ផ្លូវជាតិ</b></th>
            <th  class="w-[340px] text-left pl-1.5"><b>ផ្តើម</b></th>
            <th class="w-[300px] text-left pl-3"><b>បញ្ចប់</b></th>
          </tr>
        </table>
          <div *ngFor="let item  of mainRoads, let i=index;" class="grid grid-cols-1 gap-2">
            <div class=" min-h-[40px] h-[40px] max-h-[40px] bg-yellow-50 flex items-center pl-2 hover:cursor-pointer"  (click)="drawer.toggle();viewPKs(item,true);">
             
              <div class="w-[110px] text-left "><b>NR {{item.name}}</b> </div>
              <div class="w-[337px] text-left "><b>{{item.start_point}}</b></div>
              <div class="w-[300px] text-left pl-2 "><b>{{item.end_point}}</b></div>
            </div>
            <table>

              <tr *ngFor="let road of item.subRoads "  class="min-h-[48px] h-[48px] max-h-[48px]  border-b hover:bg-gray-100 hover:cursor-pointer"  (click)="drawer.toggle();viewPKs(road,true);">
                
                <td class="w-[110px] text-left pl-2">NR {{road.name}}</td>
                <td class="w-[337px] text-left pl-2 ">{{road.start_point}}</td>
                <td class="w-[300px] text-left pl-2">{{road.end_point}}</td>
              </tr>
            </table>

          </div>
      </section>
    </mat-drawer>
    <mat-drawer-content>
        <agm-map (mapReady)="mapReady($event)" [styles]="styles" [zoomControl]="true" [streetViewControl]="false"
            [disableDefaultUI]="true" (mapClick)="mapClicked($event)">
            <agm-marker-cluster maxZoom="15" [calculator]="calculator" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
                <agm-marker *ngFor="let m of routeMarkers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                    [latitude]="m.lat" optimized="true" [longitude]="m.lng" [label]="m.label"
                    [markerDraggable]="m.draggable" [iconUrl]="m.icon" (dragEnd)="markerDragEnd(m, $event)">

                    <agm-info-window *ngIf="m.info">
                        <img (click)="potholeImgClick(m.info)" class="pothole-img" width="100"
                            src="https://angular-material.fusetheme.com/assets/images/cards/03-320x200.jpg" alt="">
                    </agm-info-window>

                </agm-marker>
            </agm-marker-cluster>

        </agm-map>
        <div class="info-map  w-100 h-48  rounded-md shadow-sm px-6 flex flex-col pt-5  "  *ngIf="!loading" >
          <div class="w-full text-2xl  py-2 pl-4">NR {{roadName}} </div>
          <div class="w-full flex py-2 "><span class="text-gray-700 text-xl">- {{roadLength}}  គម</span></div>
          <div class="w-full flex py-2 "><span class="text-gray-700 text-xl">- {{station}}</span></div>
          <div class="w-full flex py-2 "><span class="text-gray-700 text-xl">- {{roadStart}} - {{roadEnd}}</span></div>
        </div>
        <button class="drawer-btn  text-yellow-500 mr-2 pulse " mat-raised-button (click)="drawer.toggle()">ផ្លូវជាតិ</button>
    </mat-drawer-content>
</mat-drawer-container>
