mat-drawer-container {
    width: 100%;
    // height: calc(100dvh - 11.25rem);
    height: 100%;
    overflow: hidden;
    position: relative;

    mat-drawer {
        width: 50%;

        .road-head {
            display: flex;
            justify-content: space-between;
            margin-top: 1em;
        }

        .road {
            display: flex;
            justify-content: space-between;
            margin-top: 1em;
            cursor: pointer;

            &:hover {
                background-color: #ebb305b0;
            }
        }
    }

    mat-drawer-content {
        button {
            &.drawer-btn {
                position: absolute;
                top: calc(50% - 20px);
                right: 0;
            }
        }

        div {
          &.info-map {
              position: absolute;
              bottom: calc(5% - 20px);
              background-color: #ffffffd5;
              left: 12px;
          }
      }

        agm-map {
            width: 100%;
            height: 100%;
        }
    }
}
.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px #EAB308;
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

