<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">កែប្រែព័ត៌មានទូទៅ</span>
</div>

<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="dateForm" #dateInfoNgForm="ngForm">
        <div class="custom-form grid grid-cols-1 sm:grid-cols-2 gap-4">
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>កាលបរិច្ឆេទ ចាប់ផ្តើមអនុវត្ត កិច្ចសន្យាគម្រោង</mat-label>
                <input (keyup)="calculate()" matInput [formControlName]="'project_start_date_contract'" readonly="true" [matDatepicker]="project_start_date_contract" (click)="startDate()">
                <mat-hint class="mt-2">ឧទាហរណ៍: 2023-01-15</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="project_start_date_contract" id="project_start_date"></mat-datepicker-toggle>
                <mat-datepicker (closed)="calculate()" #project_start_date_contract startView="year" ></mat-datepicker>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="dateForm.get('project_start_date_contract').invalid">
                    សូមបញ្ចូលកាលបរិច្ឆេទឲ្យត្រឹមត្រូវ
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>កាលបរិច្ឆេទបញ្ចប់​ កិច្ចសន្យាគម្រោង</mat-label>
                <input (keyup)="calculate()" matInput [formControlName]="'project_end_date_contract'"  readonly="true" [min]="dateForm.get('project_start_date_contract').value" [matDatepicker]="project_end_date_contract" (click)="endDate()">
                <mat-hint class="mt-2">ឧទាហរណ៍: 2023-01-15</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="project_end_date_contract" id="project_end_date"></mat-datepicker-toggle>
                <mat-datepicker (closed)="calculate()" #project_end_date_contract startView="year"  ></mat-datepicker>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="dateForm.get('project_end_date_contract').invalid">
                    សូមបញ្ចូលកាលបរិច្ឆេទឲ្យត្រឹមត្រូវ
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>រយៈពេលអនុវត្ត កិច្ចសន្យាគម្រោង</mat-label>
                <input matInput [formControlName]="'process_contract_duration'">
                <span class="custom-position" *ngIf="dateForm.value.process_contract_duration != '' && dateForm.value.process_contract_duration != undefined">
                    ខែ
                </span>
                <mat-hint class="mt-2">ឧទាហរណ៍: 24</mat-hint>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="dateForm.get('process_contract_duration').invalid">
                    សូមបញ្ចូលរយៈពេលអនុវត្ត កិច្ចសន្យាគម្រោង
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>កាលបរិច្ឆេទបញ្ចប់​ កិច្ចសន្យាគម្រោង(ករណីពន្យា)</mat-label>
                <input matInput [formControlName]="'delay_date'" [matDatepicker]="delay_date"  (click)="delayDate()">
                <mat-hint class="mt-2">ឧទាហរណ៍: 2023-01-15</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="delay_date" id="delay_date"></mat-datepicker-toggle>
                <mat-datepicker #delay_date startView="year" ></mat-datepicker>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="dateForm.get('delay_date').invalid">
                    សូមបញ្ចូលកាលបរិច្ឆេទឲ្យត្រឹមត្រូវ
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>រយៈពេលធានា សុពលភាពគម្រោង</mat-label>
                <input matInput [formControlName]="'warranty_duration'">
                <span class="custom-position" *ngIf="dateForm.value.warranty_duration != '' && dateForm.value.warranty_duration != undefined">
                    ខែ
                </span>
                <mat-hint class="mt-2">ឧទាហរណ៍: 12</mat-hint>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="dateForm.get('warranty_duration').invalid">
                    សូមបញ្ចូលរយៈពេលធានា សុពលភាពគម្រោង
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>កាលបរិច្ឆេទបញ្ចប់សុពលភាពគម្រោង</mat-label>
                <input matInput [formControlName]="'close_project_date'" [matDatepicker]="close_project_date" (click)="close_project_Date()">
                <mat-hint class="mt-2">ឧទាហរណ៍: 2023-01-15</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="close_project_date" id="closeDate"></mat-datepicker-toggle>
                <mat-datepicker #close_project_date startView="year"></mat-datepicker>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="dateForm.get('close_project_date').invalid">
                    សូមបញ្ចូលកាលបរិច្ឆេទឲ្យត្រឹមត្រូវ
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button [disabled]="dateForm.invalid  || saving"
        (click)="submit()">
        <mat-icon *ngIf="!dateForm.disabled" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="dateForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn"
        [disabled]="saving">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>
