<div class="container-info-section">
    <!-- ================================ >> Header -->
    <div class="container-info-header flex items-center justify-between py-2 px-5 shadow">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap cursor-pointer" [routerLink]="['/sup/projects']">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-blue-600">គម្រោង</span>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="code_project">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">{{code_project}}</span>
            </div>
        </div>
        <!-- ================================ >> Actions -->
        <div class="custom-select-header">
            <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                <mat-select [(ngModel)]="project_type_id" class="text-gray-400" placeholder="ជ្រើសរើសប្រភេទព័ត៌មាន">
                    <ng-container>
                        <mat-option [routerLink]="['/sup/projects/'+project_id+'/info']" [value]="1"
                            *ngIf="access_permission?.info?.can_access == 1"
                            >ព័ត៌មានគម្រោង</mat-option>
                        <mat-option
                            *ngIf="access_permission?.technical?.can_access == 1"
                        [routerLink]="['/sup/projects/'+project_id+'/technical']" [value]="2"
                            >ការងារបច្ចេកទេស</mat-option>
                        <mat-option
                            *ngIf="access_permission?.report?.can_access == 1"
                        [routerLink]="['/sup/projects/'+project_id+'/report']" [value]="3"
                            >របាយការណ៍</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="container-info-body p-2">
        <div *ngIf="!checkQurey" class="container-info-content border rounded-lg">
            <mat-tab-group  (selectedTabChange)="checkTab($event)">

                <mat-tab *ngIf="access_permission?.info?.stastistic?.can_access == 1" label="ព័ត៌មានស្ថិតិ">
                    <ng-template matTabContent>
                        <app-info-dashboard [loading]="check_statistic" [access_permission]="access_permission?.info?.stastistic" (BackToParent)="clallBack($event)" [id]="project_id"></app-info-dashboard>
                    </ng-template>
                </mat-tab>

                <mat-tab *ngIf="access_permission?.info?.general_info?.can_access == 1" label="ព័ត៌មានទូទៅ">
                    <ng-template matTabContent>
                        <app-overview [isLoading]="check_overview" [access_permission]="access_permission?.info?.general_info" [id]="project_id"></app-overview>
                    </ng-template> 
                </mat-tab>

                <mat-tab *ngIf="access_permission?.info?.procurement?.can_access == 1" label="ឯកសារលទ្ធកម្ម"> 
                    <ng-template matTabContent>
                        <app-procurement [isLoading]="check_procurement" [access_permission]="access_permission?.info?.procurement" [id]="project_id"></app-procurement>
                    </ng-template>
                </mat-tab>
                
                <mat-tab *ngIf="access_permission?.info?.user?.can_access == 1"  label="អ្នកប្រើប្រាស់">
                    <ng-template matTabContent>
                        <app-project_working_groups [access_permission]="access_permission?.info?.user"></app-project_working_groups>
                    </ng-template>
                </mat-tab>

            </mat-tab-group>
        </div>
        <ng-container *ngIf="checkQurey">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
    </div>
</div>