
<div class="custom-main-section">
    <div class="min-h-15 max-h-15 flex gap-2 justify-end items-center md:grid-cols-2 sm:grid-cols-2  py-2 px-5 shadow bg-white">
        <div class="flex items-center gap-2">
            <div class="custom-select-header">
                <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                    <mat-select (selectionChange)="checkSelect($event)" [(ngModel)]="Authority_type_id" class="text-gray-400">
                        <ng-container>
                            <mat-option  value="Ministry">ក្រសួង</mat-option>
                            <mat-option  value="MO">ការិយាល័យ</mat-option>
                            <mat-option  value="MT">ក្រុមជួសជុល</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- ================================ Button Create Ministry-->
            <div class="custom-botton-flat  sm:flex">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button *ngIf="Authority_type_id == 'Ministry'" (click)="CreateMini()">
                    <mat-icon class="icon-size-7" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div>

            <!-- ================================ Button Create MO-->
            <div class="custom-botton-flat  sm:flex">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button *ngIf="Authority_type_id == 'MO'" (click)="CreateMo()">
                    <mat-icon class="icon-size-7" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div>

            <!-- ================================ Button Create MT-->
            <div class="custom-botton-flat  sm:flex">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button *ngIf="Authority_type_id == 'MT'" (click)="CreateMt()">
                    <mat-icon class="icon-size-7" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div>
        <ng-container *ngIf="Authority_type_id == 'Ministry'">
            <app-ministry [data]="ministryData" [id]="view_id" [onCreate]="onCreatemi"></app-ministry>
        </ng-container>

        <ng-container *ngIf="Authority_type_id == 'MO'">
            <app-mo [data]="moData" [id]="view_id"  > </app-mo>
        </ng-container>

        <ng-container *ngIf="Authority_type_id == 'MT'">
            <app-mt [data]="mtData" [id]="view_id" ></app-mt>
        </ng-container>

    </div>
</div>
