.background-custom {
    height: 100vh;
}

.background-custom {
    .postiton-image {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -99;
    }
}

.custom-style-bg {
    width: 100%;
    height: 100vh;
    background-image: url(../../../../assets/images/logo/Background.png);
}

.custom-button:disabled {
    background-color: gray;
}

.custom-button:enabled {
    background-color: #FFC107;
}