<div class="flex flex-col sm:flex-row items-center justify-center flex-auto min-w-0">
    <div class="relative md:flex justify-center background-custom w-full md:w-120 py-8 px-4 sm:p-12 md:p-16 md:pt-24">
        <div class="w-full max-w-90 md:w-90 min-w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-full px-8 mb-12">
                <img src="assets/images/logo/logo.png">
            </div>

            <!-- Alert -->
            <smooth-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </smooth-alert>

            <!-- <mat-label>ភ្លេចពាក្យសម្ងាត់​?</mat-label> -->
            <!-- Sign in form -->
            <div class="custom-form">
                <form class="mt-8 " [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">
                    <!-- Phone field -->
                    <mat-form-field appearance="outline" class="w-full mb-2">
                        <mat-label>លេខទូរស័ព្ទ</mat-label>
                        <input id="username" matInput [formControlName]="'username'">
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:smartphone"></mat-icon>
                        <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="forgotPasswordForm.get('username').hasError('required')">
                            សូមបញ្ចូលលេខទូរស័ព្ទ
                        </mat-error>
                        <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="forgotPasswordForm.get('username').hasError('pattern')">
                            សូមបញ្ចូលលេខទូរស័ព្ទឲ្យបានត្រឹមត្រូវ
                        </mat-error>
                    </mat-form-field>

                    <!-- Submit button -->
                    <button class="w-full mt-4 py-6 rounded-md custom-button" mat-flat-button [disabled]="forgotPasswordForm.disabled" (click)="forgotPassword()">
                    <span *ngIf="!forgotPasswordForm.disabled" class="text-lg">
                        ស្នើរសុំកូងសុវត្តិភាព(OTP)
                    </span>
                    <mat-progress-spinner *ngIf="forgotPasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
                </form>
            </div>

            <div class="additional-info " style="margin-top: 50px; margin-right: 79%;">
                <button mat-raised-button color="7986cb" [routerLink]="['/auth/login']">
                    <mat-icon svgIcon="mat_outline:arrow_back"></mat-icon>
                </button>
            </div>
        </div>
        <div class="postiton-image">
            <img src="../../../../assets/images/logo/sign-bg.jpg" alt="bg">
        </div>
    </div>
    <div class="custom-style-bg hidden sm:flex flex-auto items-center justify-center overflow-hidden relative">
        <img class="absolute top-12 left-15 w-5/6 lg:w-3/5 hidden md:block" src="../../../../assets/images/logo/texts.png" alt="text">
        <img class="lg:w-3/5 w-5/6 hidden md:block" src="../../../../assets/images/logo/Map-middle.png" alt="map">
    </div>
</div>