<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">បង្កើតថ្មី</span>
</div>
<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="newForm" #CreateNewNgForm="ngForm">
        <div class=" main-container-steper">
            <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-1 sm:grid-cols-2 gap-4">
                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ចំណងជើង</mat-label>
                    <input id="title" matInput [formControlName]="'title'" minlength="0" maxlength="50">
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="newForm.get('title').hasError('required')">
                        សូមបញ្ចូលចំណងជើង
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full mb-2.5">
                    <mat-label>កាលបរិច្ឆេទ</mat-label>                   
                    <input  matInput [formControlName]="'posted_at'" (mousedown)="posted_at.open()" [matDatepicker]="posted_at" [max]="maxDate">                 
                    <mat-datepicker-toggle  matSuffix [for]="posted_at">
                        <mat-icon [svgIcon]="'mat_outline:today'"></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #posted_at></mat-datepicker> 
                    <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="newForm.get('posted_at').hasError('required')">
                        សូមបញ្ចូលកាលបរិច្ឆេទ
                    </mat-error>
                </mat-form-field>
                <div class="custom-textarea">
                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>សេចក្តីពណ៌នា</mat-label>
                        <textarea id="description" matInput [formControlName]="'content'"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()" [disabled]="newForm.invalid || saving">
        <mat-icon *ngIf="!newForm.disabled"class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="newForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>
