<div *ngIf=" !isLoading" class="custom-botton-flat w-full text-right min-h-13 max-h-13  pr-3 pt-1 ">
  <div class="flex justify-between">
    <div class="pl-4">
   
    </div>

    <div class="custom-select-header right-1 mt-0.5 flex sticky" >
      <mat-form-field appearance="outline" class="min-w-24 max-w-24 mr-1.5" *ngIf="listView">
        <mat-select [(ngModel)]="pkstart" (selectionChange)="changePkStart($event)"  placeholder="Pk Start" [disabled]="data.length == 0 && dataChart.length == 0" >
            <ng-container *ngIf="listPkStart " >
                <mat-option *ngFor="let row of listPkStart" [value]="row?.id">
                    <span>PK {{row?.pk}}</span>
                </mat-option>
            </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="min-w-24 max-w-24 mr-1.5" *ngIf="listView">
        <mat-select [(ngModel)]="pkend" (selectionChange)="changePkEnd($event)"  placeholder="Pk End" [disabled]="data.length == 0 && dataChart.length == 0 " >
            <ng-container *ngIf="listPkEnd " >
                <mat-option *ngFor="let row of listPkEnd" [value]="row?.id">
                    <span>PK {{row?.pk}}</span>
                </mat-option>
            </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="min-w-40 max-w-40 mr-1.5" *ngIf="listView">
        <mat-select [(ngModel)]="test_method" (selectionChange)="onChangeMethod($event)" placeholder="ស្រទាប់" [disabled]="(dataChart.length == 0 || data.length == 0) && test_method ==''" >
            <ng-container *ngIf="setupPk.works" >
                <mat-option  [value]="0">
                  <span>ទាំងអស់</span>
                </mat-option>
                <mat-option *ngFor="let row of setupPk.works" [value]="row?.id">
                    <span>{{ row?.name }}</span>
                </mat-option>
            </ng-container>
        </mat-select>
      </mat-form-field>
      <button *ngIf="gridView" class="min-w-6 max-w-6 rounded-md text-white bg-yellow-300 mr-1.5  " [disabled]="(dataChart.length == 0 || data.length == 0) && test_method ==''"
      mat-flat-button (click)="changeView('grid')">
     
      <mat-icon class="icon-size-6 " svgIcon="heroicons_outline:view-list"></mat-icon>
    </button>

    <button *ngIf="listView" class="min-w-6 max-w-6 rounded-md  text-white bg-yellow-300    mr-1.5  " [disabled]="(dataChart.length == 0 || data.length == 0) && test_method ==''"
      mat-flat-button (click)="changeView('list')">
      
      <mat-icon class="icon-size-5 " svgIcon="heroicons_outline:chart-bar"></mat-icon>
    </button>
   
    

    <!-- button print -->
    <!-- <button *ngIf="listView" class="min-w-6 max-w-6 rounded-md  text-white bg-yellow-300    mr-1.5  " [disabled]="data.length == 0 && constructionType ==''"
      mat-flat-button (click)="downloadReport(5)">
      <mat-icon class="icon-size-6 " *ngIf="!isSaving " svgIcon="mat_outline:file_download"></mat-icon>
      <mat-progress-spinner *ngIf="isSaving " [diameter]="24" [mode]="'indeterminate'"> </mat-progress-spinner> 
    </button> -->

  </div>
  </div>
</div>
<div class="custom-resport flex flex-col" *ngIf="listView">
  
  <ng-container *ngIf="isLoading">
    <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
        <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</ng-container>
  <!-- <div class="mt-1"></div> -->
  <div *ngIf="data?.length > 0  && !isLoading"  class="content-report-table w-full px-1 pt-1 ">

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nos">
          <th mat-header-cell *matHeaderCellDef> ល.រ </th>
          <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="title" >
        <th mat-header-cell *matHeaderCellDef > មតិយោបល់</th>
        <td mat-cell *matCellDef="let data">
            <span *ngIf="data?.comment != null">{{data?.comment}}</span>
            <span *ngIf="data?.comment == null">គ្មាន</span>
        </td>
    </ng-container>

     <ng-container matColumnDef="location" >
        <th mat-header-cell *matHeaderCellDef > ទីតាំង</th>
        <td mat-cell *matCellDef="let data">
            PK{{data?.pk}}+{{data?.station_start}} - PK{{data?.pk}}+{{data?.station_end}}
        </td>
    </ng-container>
    <ng-container matColumnDef="layer" >
      <th mat-header-cell *matHeaderCellDef>ការងារ</th>
      <td mat-cell *matCellDef="let data">
          {{data?.work?.name}} ({{data?.side?.abrv}})
      </td>
    </ng-container>
    <ng-container matColumnDef="methods" >
      <th mat-header-cell *matHeaderCellDef>វិធីសាស្ត្រតេស្ត</th>
      <td mat-cell *matCellDef="let data">
          {{data?.method?.name}}
      </td>
    </ng-container>
    <ng-container matColumnDef="image_uri">
      <th mat-header-cell *matHeaderCellDef> <span class="pl-2 font-bold">រូបភាព</span></th>
      <td mat-cell *matCellDef="let data">
         <div class="flex justify-start">
          <div class="flex flex-row" >
            <div  class="custom-position relative mr-2"  style="width:3rem; height: 3rem; border-radius: 4px;">
              <img *ngIf="data?.images[0]?.image_uri != null" [src]="url+data?.images[0]?.image_uri"
              style="width:3rem; height: 3rem; border-radius: 4px;" alt="">
              
              <span class="w-full h-full custom-preview" *ngIf="data?.images[0]?.image_uri != null"
                (click)="preview(data?.images[0],data?.created_at,data?.comment)">
                <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
              </span>
            </div>
          </div>
         </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="create_at">
      <th mat-header-cell *matHeaderCellDef > កាលបរិច្ឆេទ</th>
      <td mat-cell *matCellDef="let data">
          {{data?.created_at}}
      </td>
  </ng-container>
  <ng-container matColumnDef="creator" >
      <th mat-header-cell *matHeaderCellDef > អ្នកបញ្ចូល</th>
      <td mat-cell *matCellDef="let data">
          {{data?.tester}}
      </td>
  </ng-container>
    <ng-container matColumnDef="action" stickyEnd>
      <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
      <td mat-cell *matCellDef="let data" class="bg-white z-9 -right-1">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
              <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="view(data)">
                  <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                  <span class="text-md text-gray-500">មើល</span>
              </button>
              <button mat-menu-item  (click)="downloadReport(6,data)">
                <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_outline:file_download" ></mat-icon>
                <span class="text-md text-gray-500">ទាញយក</span>
              </button>
          </mat-menu>
      </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-50 -pr-2 z-9 ">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
  </div>
  <div *ngIf="data?.length === 0  && !isLoading" class="flex flex-col justify-center items-center mb-4 ">
    <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
    <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
</div>
</div>
<div class="min-h-11 max-h-11 hidden" [ngClass]="{'flex-custom': data?.length > 0  && !isLoading && listView }">
  <mat-paginator
      class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5  flex items-center justify-end overflow-hidden"
      [pageSizeOptions]="[10, 20, 30]"  [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
      (page)="onPageChanged($event)">
  </mat-paginator>
</div>
<div *ngIf="gridView && !isLoading" >
 <div class="px-2">
      <apx-chart class="h-[480px]" 
      [series]="chartOptions.series"[states]="chartOptions.states"
      [colors]="chartOptions.colors"[plotOptions]="chartOptions.plotOptions"
      [chart]="chartOptions.chart" [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"[yaxis]="chartOptions.yaxis"[dataLabels]="chartOptions.dataLabels"
      [legend]="chartOptions.legend"[stroke]="chartOptions.stroke"
    ></apx-chart> 
 </div>
</div>
<ng-template #loadingTemplate>
  <ng-container>
      <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
          <p class="text-2xl mb-4">សូមមេត្តារងចាំ! កំពុងទាញយករបាយការណ៏</p>
          <div class="lds-spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
          </div>
      </div>
  </ng-container>
</ng-template>