table{
  width: 100% !important;
}
// 3.75
// 14.45
// 8.20
.flex-custom{
  display: flex !important;
}
.custom-resport{
  width: 100%;
  max-height:calc(100dvh - 17.55rem);
  overflow: auto;
}
tr:last-child td.mat-cell {
  border-bottom: none;
}

.content-report-table .mat-cell {
  padding: 3px 6px !important;
  color: rgb(71 85 105) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.content-report-table .mat-cell p {
  font-size: 15px !important;
  font-weight: 500;
}

.content-report-table .mat-header-cell {
  font-size: 1rem !important;
  padding: 0 !important;
  color: rgb(30, 41, 59) !important;
}
.content-report-table .mat-column-nos {
  min-width: 70px;
  width: 70px;
  max-width: 70px;
  text-align: center;
}
.content-report-table .mat-column-layer {
  min-width: 200px;
  text-align: left;
  padding: 3px 6px 3px 2rem !important;
}
.content-report-table .mat-column-methods {
  min-width: 120px;
  text-align: left;
  padding: 3px 6px 3px 2rem !important;
}
.content-report-table .mat-column-title {
  min-width: 150px;
  text-align: left;
  padding: 3px 6px 3px 1rem !important;
}
.content-report-table .mat-column-methods {
  min-width: 163px;
  text-align: left;
  padding: 3px 6px 3px 1rem !important;
}
.content-report-table .mat-column-creator {
  min-width: 150px;
  text-align: left;
  padding: 3px 6px 3px 1rem !important;
}
.content-report-table .mat-column-location {
  min-width:200px;
  width: 200px;
  max-width: 120px;
  padding: 3px 6px 3px 1rem !important;
}
// .content-report-table .mat-column-standard {
//   min-width: 100px;
//   width: 100px;
//   max-width: 100px;
//   padding: 3px 6px 3px 2rem !important;
// }
.content-report-table .mat-column-result {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  padding: 3px 6px 3px 1rem !important;
}
.content-report-table .mat-column-create_at {
  min-width: 150px;
  width: 150px;
  max-width: 150px;
  padding: 3px 6px 3px 1rem !important;
}
.content-report-table .mat-column-action {
  flex: none;
  width: 2rem;
}
.flex-custom{
  display: flex !important;
}
.picture_list_body .mat-column-action {
  flex: none;
  width: 2rem;
}
.custom-position{
  min-height: 3rem;
  max-height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
}
.custom-position .custom-preview {
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  min-height: 3rem;
  max-height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.custom-position:hover .custom-preview {
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
}
