.report-main-section {
    width: 100%;
    height: calc(100vh - 60px); //60px is navigation
    overflow: hidden;
}

.report-content-section {
    width: 100%;
    height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
}

.report-content-section .report-content {
    width: 100%;
    max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
    overflow: hidden;
}

.report-content .container-report-monthly {
    width: 100%;
    max-height: calc(100vh - 144px);
    overflow: auto;
}
::ng-deep .custom-select-header .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 1px !important ;
    right: -9.5px !important;
} 
table {
    width: 100%;
}
.tr.mat-footer-row {
    font-weight: bold;
  }

.container-report-monthly .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-report-monthly .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-report-monthly .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-report-monthly .mat-column-month {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: center;
}

.container-report-monthly .mat-column-user {
    min-width: 170px;
    width: 170px;
    max-width: 170px;
    text-align: right;

}

.container-report-monthly .mat-column-all_report {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}

.container-report-monthly .mat-column-pending {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}

.container-report-monthly .mat-column-declined {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}
.container-report-monthly .mat-column-repairing {
    min-width: 140px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}
.container-report-monthly .mat-column-done {
    min-width: 120px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}
.container-report-monthly .mat-column-fixed {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}
.container-report-monthly .mat-column-in_planning {
    min-width: 70px;
    width: 80px;
    max-width: 80px;
    text-align: right;
}
.container-report-monthly .mat-column-specialist {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    text-align: right;
    padding: 3px 2rem !important;
}
 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(100 116 139) !important;
}

//end - 12/12/2023