<div class="report-main-section">
  <!-- ====================================>> Header -->
      <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
          <!-- =============================>> Title -->
          <div class="flex flex-1 items-center font-medium">
              <div class="flex flex-1 items-center font-medium">
                  <div class="flex items-center whitespace-nowrap">
                      <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
                  </div>
                  <div class="flex items-center  whitespace-nowrap">
                      <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                      </mat-icon>
                      <span class=" text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                      <span class=" text-gray-600">របាយការណ៍</span>
                      <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                      </mat-icon>
                      <span class=" text-gray-600">តាមខែ</span>
                  </div>
              </div>
          </div>
          <!-- ================================ >> Actions -->
          <div class="flex items-center gap-2">
            <!-- ================================ >> Search -->
            <div class="custom-select-header hidden sm:flex">
                <mat-form-field appearance="outline" class="  min-w-48 max-w-48">
                    <mat-label>ថ្ងៃចាប់ផ្តើម</mat-label>
                    <input matInput [matDatepicker]="startdate" id="inputSearch" [(ngModel)]="from" [max]="maxDate">
                    <mat-datepicker-toggle  matSuffix [for]="startdate">
                        <mat-icon [svgIcon]="'mat_outline:today'"></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #startdate startView="year"></mat-datepicker>
                    
                </mat-form-field>
                
            </div>
            <div class="custom-select-header hidden sm:flex " >
                <mat-form-field appearance="outline" class=" min-w-48 max-w-48 ">
                    <mat-label>ដល់</mat-label>
                    <input matInput [matDatepicker]="enddate" id="inputSearch" [(ngModel)]="to" [min]="from" [max]="maxDate" >    
                    <mat-datepicker-toggle  matSuffix [for]="enddate">
                        <mat-icon [svgIcon]="'mat_outline:event'"></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #enddate startView="year"></mat-datepicker>
                </mat-form-field>
            </div>
            <!-- ================================ >> Search select -->
            <div class="custom-botton-flat">
              <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="listing()">
                  <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
              </button>
          </div>
          </div>
      </div>
      <!-- ================================>> Main -->
      <div class="report-content-section p-3">
          <ng-container *ngIf="isSearching">
              <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                  <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                  <div class="lds-spinner">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                  </div>
              </div>
          </ng-container>
  
          <ng-container>
              <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                  <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                  <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
              </div>
          </ng-container>
  
          <div class="report-content flex-col rounded-lg border hidden relative" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
              <div class="container-report-monthly">
                  <table mat-table [dataSource]="dataSource">
  
                      <!-- no Column -->
                      <ng-container matColumnDef="month">
                          <th mat-header-cell *matHeaderCellDef> កាលបរិច្ឆេទ</th>
                          <td mat-cell *matCellDef="let data">
                            ខែ{{ data?.month }} - {{ data?.year }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef> <span class="font-bold">សរុប</span> </td>
  
                      </ng-container>
  
                      <!-- code Column -->
                      <ng-container matColumnDef="user">
                          <th mat-header-cell *matHeaderCellDef> អ្នកទាញយកប្រចាំខែ</th>
                          <td mat-cell *matCellDef="let data">
                            {{ data?.user }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef> <span class="font-bold">{{ getTotal('user') }}</span> </td>
                      </ng-container>
  
                      <!-- organization Column -->
                      <ng-container matColumnDef="all_report">
                          <th mat-header-cell *matHeaderCellDef> របាយករណ៍សរុប</th>
                          <td mat-cell *matCellDef="let data">
                            {{ data?.all_report }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef> <span class="font-bold">{{ getTotal('all_report') }}</span> </td>
                      </ng-container>
  
                      <!-- type_work Column -->
                      <ng-container matColumnDef="pending">
                          <th mat-header-cell *matHeaderCellDef> សំណើរថ្មី </th>
                          <td mat-cell *matCellDef="let data">
                            {{ data?. pending}}
                          </td>
                          <td mat-footer-cell *matFooterCellDef> <span class="font-bold">{{ getTotal('pending') }}</span> </td>
                      </ng-container>
  
                      <!-- location Column -->
                      <ng-container matColumnDef="declined">
                          <th mat-header-cell *matHeaderCellDef>បដិសេដ</th>
                          <td mat-cell *matCellDef="let data">
                            {{ data?.declined }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef> <span class="font-bold">{{ getTotal('declined') }}</span> </td>
                      </ng-container>
  
                      <ng-container matColumnDef="repairing">
                          <th mat-header-cell *matHeaderCellDef>រង់ចាំដំណោះស្រាយ</th>
                          <td mat-cell *matCellDef="let data">
                            {{ data?. repairing}}
                          </td>
                          <td mat-footer-cell *matFooterCellDef> <span class="font-bold">{{ getTotal('repairing') }} </span> </td>
                      </ng-container>
  
                      <!-- action Column -->
                      <ng-container matColumnDef="done">
                          <th mat-header-cell *matHeaderCellDef>បានដំណោះស្រាយ</th>
                          <td mat-cell *matCellDef="let data">
                            {{ data?. done}}
                          </td>
                          <td mat-footer-cell *matFooterCellDef> <span class="font-bold"> {{ getTotal('done') }}</span> </td>
                      </ng-container>
  
                      <ng-container matColumnDef="fixed">
                          <th mat-header-cell *matHeaderCellDef>ជួសជុលរួច</th>
                          <td mat-cell *matCellDef="let data">
                            {{ data?.fixed }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef>  <span class="font-bold">{{ getTotal('fixed') }}</span></td>
                      </ng-container>
  
                      <ng-container matColumnDef="in_planning">
                          <th mat-header-cell *matHeaderCellDef>ផែនការឆ្នាំ</th>
                          <td mat-cell *matCellDef="let data">
                            {{ data?.in_planning }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef> <span class="font-bold"> {{ getTotal('in_planning') }}</span> </td>
                      </ng-container>
                      <ng-container matColumnDef="specialist">
                          <th mat-header-cell *matHeaderCellDef> បញ្ជូនទៅសមត្ថកិច្ចផ្សេង</th>
                          <td mat-cell *matCellDef="let data">
                            {{ data?.specialist }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef>  <span class="font-bold"> {{ getTotal('specialist') }} </span> </td>
                      </ng-container>
                      
                      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-yellow-300 -pr-2 z-9"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      <tr mat-footer-row *matFooterRowDef="['month', 'user','all_report','pending','declined','repairing','done','fixed','in_planning','specialist'];sticky: true" class="bg-blue-50 -pr-2 z-9"></tr>
                  </table>
                  
              </div>
              
          </div>
      </div>
  </div>
  