<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">បង្កើតក្រសួង</span>
</div>
<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="miniForm" #CreateMiniNgForm="ngForm">

        <div class=" main-container-steper">

            <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-1 sm:grid-cols-1 gap-4">

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ក្រសួង</mat-label>
                    <ng-container>
                        <mat-select formControlName="object" multiple>
                            <ng-container *ngIf=" mos ">
                                <mat-option *ngFor="let row of mos" [value]="row.id" [disabled]="row.disabled">
                                    <span>{{ row?.name }} </span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="miniForm.get('object').hasError('required')">
                        សូមជ្រើសរើសក្រសួង
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()" [disabled]="miniForm.invalid || saving">
        <mat-icon *ngIf="!miniForm.disabled"class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="miniForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>