tr:last-child td.mat-cell {
    border-bottom: none;
  }
  
  .picture_dialog_list_body .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
  }
  
  .picture_dialog_list_body .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
  }
  
  .picture_dialog_list_body .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
  }
  .picture_dialog_list_body .mat-column-nos {
    min-width: 50px;
    width: 50px;
    max-width: 50px;
    text-align: center;
  }
  .flex-custom{
    display: flex !important;
  }
  .picture_dialog_list_body{
    width: 100%;
    max-height: calc(100dvh - 17.45rem);
    min-height: 45px;
    overflow-y:auto;
  }
  .picture_dialog_list_body .mat-column-title {
    min-width: 150px;
    width: 250px;
    text-align: left;
    padding: 3px 6px 3px 1rem !important;
  }
  .picture_dialog_list_body .mat-column-created_by{
    min-width: 150px;
    width: 200px;
    text-align: left;
    padding: 3px 6px 3px 1rem !important;
  }
  .picture_dialog_list_body .mat-column-pk {
    min-width: 110px;
    width: 110px;
    text-align: left;
   
    padding: 3px 6px 3px 1rem !important;
  }
  .picture_dialog_list_body .mat-column-status {
    min-width: 150px;
    width: 150px;
    text-align: center;
    padding: 3px 6px 3px 1rem !important;
  }
  .picture_dialog_list_body .mat-column-layer {
    min-width: 210px;
    width: 210px;
    text-align: left;
    padding: 3px 6px 3px 1rem !important;
  }
  .picture_dialog_list_body .mat-column-images {
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    padding: 3px 6px 3px 1rem !important;
  }
  .picture_dialog_list_body .mat-column-create_at {
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    padding: 3px 6px 3px 1rem !important;
  }
  .picture_dialog_list_body .mat-column-action {
    flex: none;
    width: 2rem;
  }
  .custom-position{
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
  }
  .custom-position .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  .custom-position:hover .custom-preview {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .picture_dialog_list_body .mat-column-image_uri {
    min-width: 150px;
    width: 250px;
    max-width: 200px;
    text-align:left;
    padding: 3px 1rem !important;
  }
.control-slide-1,
    .control-slide-2 {
        position: relative;
        overflow: hidden;
    }

    .control-slide-1 span {
        position: absolute;
        width: 3.1rem;
        height: 1.45px;
        background-color: #000;
        // background-color: #64748b;
        top: 14px;
        left: -0.47rem;
        transform: translateY(0) rotate(-45.8deg);
    }

    .control-slide-2 span {
        position: absolute;
        width: 3.1rem;
        height: 1.45px;
        background-color: #000;
        top: 15px;
        left: -0.55rem;
    }

    .control-slide-2 span:nth-child(1) {
        width: 3.05rem;
        transform: translateY(0) rotate(45.8deg);
    }

    .control-slide-2 span:nth-child(2) {
        width: 3.05rem;
        transform: translateY(0) rotate(-45.8deg);
    }
    //top
    .top-controll-slide-1,
    .top-controll-slide-2 {
        position: relative;
        overflow: hidden;
    }

    .top-controll-slide-1 span {
        position: absolute;
        width: 1.8rem;
        height: 0.8px;
        background-color: #000;
        // background-color: #64748b;
        top: 10px;
        left: -0.47rem;
        transform: translateY(0) rotate(-45.8deg);
    }

    .top-controll-slide-2 span {
      position: absolute;
        width: 1.8rem;
        height: 0.8px;
        background-color: #000;
        // background-color: #64748b;
        top: 8.3px;
        left: -0.33rem;
        transform: translateY(0) rotate(-45.8deg);
    }

    .top-controll-slide-2 span:nth-child(1) {
        width: 1.8rem;
        transform: translateY(0) rotate(45.8deg);
    }

    .top-controll-slide-2 span:nth-child(2) {
        width: 1.8rem;
        transform: translateY(0) rotate(-45.8deg);
    }

