<div mat-dialog-title class="custom-dialog-title">
    <div class="flex justify-between">
        <span class="text-xl">វឌ្ឍនភាពការងារ  </span> 
       </div>
</div>
<mat-dialog-content class="custom-dialog-content overflow-auto ">
    <div *ngIf=" !isLoading" class="custom-botton-flat w-full text-right min-h-max  pr-3  ">
        <div class="flex justify-between">
            <div class="flex flex-col w-full">
                <div class="w-full text-start py-[7px] flex flex-row justify-start"><div class="font-bold text-lg "> I. ព័ត៍មានទូទៅ</div> </div>
                <div class="w-full text-start py-[7px] flex flex-row justify-between pl-2"><div> លេខកូដគម្រោង ៖</div> <div class="text-gray-500">{{dataDialog.setup.project.code}}</div> </div>
                <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2"><div class="min-w-[100px]"> ឈ្មោះគម្រោង ៖ </div>  <div class="truncate pl-2 text-gray-500">{{dataDialog.setup.project.name}}</div></div>
                <div class="w-full text-start py-[7px] flex flex-row justify-between pl-2"><div> ទីតាំង ៖</div> <div class="text-gray-500">{{dataDialog.setup.project.pk_start}} - {{dataDialog.setup.project.pk_end}}</div></div>
                <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2"><div> ប្រភេទកម្រាស់ផ្លូវ ៖ </div> <div class="text-gray-500">{{suffect}}</div></div>
                <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2"><div> ស្ថានភាព ៖</div>  <div class="text-gray-500">{{dataDialog.setup.project.status.kh_name}}</div></div>
                <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2 ">
                    <div> រយ:ពេលសាងសង់ ៖</div>  
                    <div class="flex flex-row" *ngIf="dataDialog.setup.project.start_date != null || dataDialog.setup.project.end_date != null">
                        <div class="text-gray-500" >
                            <span *ngIf="dataDialog.setup.project.start_date != null">Start {{dataDialog.setup.project.start_date}}</span> -<span *ngIf="dataDialog.setup.project.end_date != null">end {{dataDialog.setup.project.end_date}}</span>
                        </div>
                    </div>
                    <div class="text-gray-500" *ngIf="dataDialog.setup.project.start_date == null && dataDialog.setup.project.end_date == null">
                        មិនទាន់កំណត់កាលបរិច្ឆេទ
                    </div>
                </div>

                <div class="w-full text-start py-[7px] flex flex-row justify-start mt-2"><div class="font-bold text-lg "> II. ប្រតិបត្តិការ</div> </div>
                <div class="w-full text-start py-[7px] flex flex-row justify-between pl-2"><div> ទីតាំង ៖</div> <div class="text-gray-500">PK{{dataDialog.data.pk}}+{{dataDialog.data.station_start}} - PK{{dataDialog.data.pk}}+{{dataDialog.data.station_end}}</div> </div>
                <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2"><div> ផ្នែក ៖</div>  <div *ngIf="dataDialog?.data?.side?.abrv == 'L'" class="text-gray-500">ឆ្វេង( {{dataDialog?.data?.side.abrv}} )</div><div *ngIf="dataDialog?.data?.side?.abrv == 'R'" class="text-gray-500">ស្តាំ( {{dataDialog?.data?.side.abrv}} )</div></div>
                <div class="w-full text-start py-[7px] flex flex-row justify-between pl-2"><div> ស្រទាប់ ៖</div> <div class="text-gray-500">{{dataDialog?.data?.work?.name}}</div></div>
                <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2"><div> កាលបរិច្ឆេទ ៖ </div> <div class="text-gray-500">{{dataDialog?.data?.created_at}}</div></div>
                <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2"><div> បញ្ចូលទិន្ន័យដោយ ៖</div>  <div class="text-gray-500">{{dataDialog?.data?.tester}}</div></div>
                <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2"><div> មតិយោបល់ ៖ </div> 
                    <div class="text-gray-500">
                        <span *ngIf="data[0].comment != null">{{data[0].comment}}</span>
                        <span *ngIf="data[0].comment == null">គ្មាន</span></div>
                    </div>
            </div>
        </div>
    </div>
    <div>
        <div class="custom-resport flex flex-col">
            <ng-container *ngIf="isLoading">
              <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                  <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                  <div class="lds-spinner">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                  </div>
              </div>
          </ng-container>
          <div *ngIf="data?.length === 0  && !isLoading" class="flex flex-col justify-center items-center mb-4 ">
            <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
            <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
          </div>
        </div>
    </div>
    <div *ngIf="data?.length > 0  && !isLoading "  class=" w-full picture_dialog_list_body mt-4 ">
        <div class="w-full text-start py-1 flex flex-row justify-start"><div class="font-bold text-lg "> III.វឌ្ឍនភាព</div> </div>
        <table mat-table [dataSource]="dataSource" class="w-full">
            <ng-container matColumnDef="nos">
                <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="status" >
                <th mat-header-cell *matHeaderCellDef > ស្ថានភាព</th>
                <td mat-cell *matCellDef="let data" >
                    <div  class="flex justify-center items-center" >
                    <!-- from -->
                    <div> 
                        <div *ngIf="data?.from?.id == 1"  class="border" [style.background-color]="data?.from?.color"
                            style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                        <span></span>
                        </div>
                        <div *ngIf="data?.from?.id == 2"  class="control-slide-1 border" [style.background-color]="data?.from?.color"
                            style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                        <span></span>
                        </div>
                        <div *ngIf="data?.from?.id == 3"  class="control-slide-2 border" [style.background-color]="data?.from?.color"
                            style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                        <span></span><span></span>
                        </div>
                        <div *ngIf="data?.from?.id == 4"  class=" border" [style.background-color]="data?.from?.color"
                            style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                        </div>
                        </div>
                    <div class="w-5 flex justify-center"><span>-></span></div>
                    <!-- to -->
                    <div>
                        <div *ngIf="data?.to?.id == 1"  class="border" [style.background-color]="data?.to?.color"
                        style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                    <span></span>
                    </div>
                    <div *ngIf="data?.to?.id == 2"  class="control-slide-1 border" [style.background-color]="data?.to?.color"
                        style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                    <span></span>
                    </div>
                    <div *ngIf="data?.to?.id == 3"  class="control-slide-2 border" [style.background-color]="data?.to?.color"
                        style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                    <span></span><span></span>
                    </div>
                    <div *ngIf="data?.to?.id == 4"  class=" border" [style.background-color]="data?.to?.color"
                        style="width: 33px; min-width: 33px; max-width: 33px; height: 33px; min-height: 33px; max-height: 33px;">
                    </div>
                    </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="pk" >
                <th mat-header-cell *matHeaderCellDef > ទីតាំង(PK)</th>
                <td mat-cell *matCellDef="let data,let i=index">
                {{data.pk}}
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="layer" >
                <th mat-header-cell *matHeaderCellDef > ស្រទាប់</th>
                <td mat-cell *matCellDef="let data">
                  
                </td>
            </ng-container> -->
            <ng-container matColumnDef="title" >
                <th mat-header-cell *matHeaderCellDef > មតិយោបល់</th>
                <td mat-cell *matCellDef="let data">
                    <span *ngIf="data.comment != null">{{data.comment}}</span>
                    <span *ngIf="data.comment == null">គ្មាន</span>
                </td>
            </ng-container>
      
            <!-- <ng-container matColumnDef="image_uri">
                <th mat-header-cell *matHeaderCellDef> <span class="pl-2 font-bold">រូបភាព</span></th>
                <td mat-cell *matCellDef="let data">
                <div class="flex justify-start">
                    <div class="flex flex-row" *ngFor="let item of data?.images">
                    <div class="custom-position relative mr-2"  style="width:3rem; height: 3rem; border-radius: 4px;">
                        <img [src]="url+item?.image_uri"
                        style="width:3rem; height: 3rem; border-radius: 4px;" alt="">
                        <span class="w-full h-full custom-preview" *ngIf="item?.image_uri"
                        (click)="preview(item,data?.created_at,data?.comment)">
                        <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                        </span>
                    </div>
                    </div>
                </div>
                </td>
            </ng-container> -->
            <!-- <ng-container matColumnDef="create_at">
                <th mat-header-cell *matHeaderCellDef > កាលបរិច្ឆេទ</th>
                <td mat-cell *matCellDef="let data">
                    {{data?.created_at }}
                </td>
            </ng-container>
            <ng-container matColumnDef="created_by" >
                <th mat-header-cell *matHeaderCellDef >អ្នកបញ្ចូល </th>
                <td mat-cell *matCellDef="let data,let i=index">
                {{data?.updater?.name}}
                </td>
            </ng-container> -->
            <!-- <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
            <td mat-cell *matCellDef="let data" class="bg-white z-9 -right-1">
               
            </td>
            </ng-container> -->
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-50 -pr-2 z-9 ">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
        </table>
        
    </div>
    <div *ngIf="data?.length > 0  && !isLoading " class="w-full text-start py-1 flex flex-row justify-start"><div class="font-bold text-lg "> IV. រូបភាព</div> </div>
    <div *ngIf="data?.length > 0  && !isLoading "  class="w-full flex flex-row mt-2">
        
        <div class="grid grid-cols-3 gap-2 w-full">
            <div *ngFor="let item of dataDialog.data.images">
                <div class="  border rounded-md p-1">
                    <img class="rounded-md lg:h-64 md:h-60 sm:h-52 h-44  w-full" [src]="url+item?.image_uri" alt=""> 
                 </div>
            </div>
        </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center" class="custom-dialog-actions">
    <button  class="min-w-6 max-w-6 rounded-md  text-white bg-yellow-300    mr-1.5  " [disabled]="data.length == 0 "
        mat-flat-button (click)="downloadReport(5,this.dataDialog.data.id)">
        <mat-icon class="icon-size-6 " *ngIf="!isSaving " svgIcon="mat_outline:file_download"></mat-icon>
    </button>
      
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
  </mat-dialog-actions>

  <ng-template #loadingTemplate>
    <ng-container>
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
            <p class="text-2xl mb-4">សូមមេត្តារងចាំ! កំពុងទាញយករបាយការណ៏</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
  </ng-template>
