<div class="container-dashboard-section bg-slate-50" scrollbar>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0 p-3">
        <!-- Summary -->
        <div class="flex flex-col flex-auto p-6 bg-white shadow rounded-2xl overflow-hidden">
            <div class="flex flex-col items-center mt-2">
                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">{{data?.project?.all || 0}}</div>
                <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Projects</div>
                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Completed:</div>
                    <div class="ml-1.5 text-lg font-semibold">{{ data?.project?.complete || 0 }}</div>
                </div>
            </div>
        </div>
    </div>
</div>