.progress-section {
    width: 100%;
    min-height: calc(100dvh - 50dvh) !important;
    max-height: calc(100dvh - 50dvh) !important;
    overflow: auto !important;
}

.progress-section .progress-container {
    width: 100%;
    height: 100%;
}

::placeholder {
    color: rgb(160, 176, 197) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(160, 176, 197) !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}


.control-slide,
.control-slide-1,
.control-slide-2 {
    position: relative;
    overflow: hidden;
    min-width: 1.5rem;
    max-width: 1.5rem;
    min-height: 1.5rem;
    min-height: 1.5rem;
    border: 1px solid #64748b;
    margin-right: 0.5rem;
}

.control-slide-1 span {
    position: absolute;
    width: 2.05rem;
    height: 1.45px;
    background-color: #64748b;
    top: 10px;
    left: -5px;
    transform: translateY(0) rotate(-45deg);
}

.control-slide-2 span {
    position: absolute;
    width: 2.05rem;
    height: 1.45px;
    background-color: #64748b;
    top: 10px;
    left: -5px;
}

.control-slide-2 span:nth-child(1) {
    width: 2.05rem;
    transform: translateY(0) rotate(45.8deg);
}

.control-slide-2 span:nth-child(2) {
    width: 2.05rem;
    transform: translateY(0) rotate(-45.8deg);
}



.custom-dropzone {
    min-height: 10rem;
    height: auto;
    color: #94a3b8;
    border: 2px dashed #94a3b8;
    border-radius: 5px;
    font-size: 15px;
}

.custom-dropzone.ngx-dz-hovered {
    border: 5px solid #94a3b8;
}


















.costum-timeline {

    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 10px auto;
    }

    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: rgb(241 245 249);
        top: 0;
        bottom: 0;
        left: 20px;
        margin-left: -3px;
    }

    .container {
        padding: 5px 15px 5px 50px;
        position: relative;
        background-color: inherit;
        width: 100%;
    }

    .container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: rgb(241 245 249);
        border: 4px solid #FF9F55;
        top: 19px;
        border-radius: 50%;
        z-index: 1;
    }

    .left,
    .right {
        left: 0;
    }

    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid rgb(241 245 249);
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent rgb(241 245 249);
    }

    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid rgb(241 245 249);
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(241 245 249) transparent transparent;
    }

    .left::after,
    .right::after {
        left: 7px;
    }

    .content {
        padding: 20px 30px;
        background-color: rgb(241 245 249);
        position: relative;
        border-radius: 6px;
    }

    .container::before {
        left: 40px;
        border: medium solid rgb(241 245 249);
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(241 245 249) transparent transparent;
    }
}