<div class="progress-section">
    <div class="progress-container">

        <!-- <div *ngIf="data?.progress?.next_progress" class="main-content mb-2">
            <div class="h-full px-4 py-2 border-b flex justify-center items-center">
                <strong class="mr-2">ស្ថានភាពៈ​​​ </strong>
                <ng-container>
                    <div *ngIf="data?.progress?.current_progress?.id == 1" class="control-slide bg-white"></div>
                    <div *ngIf="data?.progress?.current_progress?.id == 2" class="control-slide-1">
                        <span></span>
                    </div>
                    <div *ngIf="data?.progress?.current_progress?.id == 3" class="control-slide-2">
                        <span></span><span></span>
                    </div>
                    <div *ngIf="data?.progress?.current_progress?.id == 4" class="control-slide bg-black"></div>
                    <span>{{data?.progress?.current_progress?.name}}</span>
                </ng-container>
                <mat-icon svgIcon="mat_solid:arrow_right_alt" class="ml-1 mr-2"></mat-icon>
                <ng-container>
                    <div *ngIf="data?.progress?.next_progress?.id == 1" class="control-slide bg-white">
                    </div>
                    <div *ngIf="data?.progress?.next_progress?.id == 2" class="control-slide-1">
                        <span></span>
                    </div>
                    <div *ngIf="data?.progress?.next_progress?.id == 3" class="control-slide-2">
                        <span></span><span></span>
                    </div>
                    <div *ngIf="data?.progress?.next_progress?.id == 4" class="control-slide bg-black"></div>
                    <span>{{data?.progress?.next_progress?.name}}</span>
                </ng-container>
            </div>

            <form [formGroup]="progressForm">
                <h2 class="flex w-full justify-center p-2 m-0">ភស្តុតាងរូបភាពជាក់ស្តែង</h2>
                <div class="flex flex-col gap-2 p-2">
                    <div class="custom-dropzone flex flex-wrap p-2 bg-gray-50" ngx-dropzone
                        [accept]="'image/*, .heic, .heif'" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div>
                                <mat-icon class="icon-size-10" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </div>
                    <div class="w-full">
                        <div class="custom-textarea">
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label>បរិយាយ</mat-label>
                                <textarea id="message" matInput [formControlName]="'message'"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>

            <div class="w-full flex justify-end p-2 pt-0">
                <button class="min-w-36 max-w-36 rounded-md custom-button" [disabled]="loading" mat-flat-button
                    (click)="submit()">
                    <span *ngIf="!progressForm.disabled">ធ្វើវឌ្ឍនភាពការងារ</span>
                    <mat-icon svgIcon="mat_solid:send" *ngIf="!progressForm.disabled" class="icon-size-6"></mat-icon>
                    <mat-progress-spinner *ngIf="progressForm.disabled" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </div>
        </div> -->

        <ng-container>
            <div *ngIf=" data?.progress?.histories.length == 0 " class="flex justify-center items-center my-4">
                <mat-icon class="text-yellow-600 icon-size-6" svgIcon="mat_solid:error"></mat-icon>
                <span class="text-2xl text-yellow-600 ml-2 mb-0.5"><span>មិនមានការធ្វើវឌ្ឍនភាពការងារ នៅ
                        {{data?.point}}</span></span>
            </div>
        </ng-container>

        <div class="costum-timeline" *ngIf="data?.progress?.histories.length > 0">
            <div class="timeline">
                <div *ngFor="let box of data?.progress?.histories; let i = index">
                    <div class="container" [ngClass]="{ left: i % 2 !== 0, right: i % 2 == 0 }">
                        <div class="content">
                            <div class="w-full flex justify-between">
                                <h2 class="mb-1">{{ box?.progress?.name }}</h2>
                                <h2 class="mb-1">{{ box?.updater?.name }}</h2>
                            </div>
                            <p class="w-full text-right mb-0.5">{{ box?.created_at | date: 'dd-MMM-yyy hh:mm a'}}</p>
                            <mat-divider></mat-divider>
                            <p class="m-1 py-2">{{ box?.comment }}</p>
                            <div class="images-roade-care grid grid-cols-1 gap-3 md:grid-cols-2"
                                *ngIf="box?.images.length > 0">
                                <ng-container *ngFor="let img of box?.images" class="h-full md:max-h-60">
                                    <img class="h-full md:max-h-60 w-full rounded-lg object-cover"
                                        [src]="fileUrl+img?.image_uri" alt="img">
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<ng-template #loadingTemplate>
    <ng-container>
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
            <p class="text-2xl mb-4">Converting HEIC to JPEG</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
</ng-template>