.custom-main-section {
    width: 100%;
    height: calc(100vh - 200px); //60+60+24+50+48px is navigation
    overflow: hidden;
}

.custom-content-section {
    width: 100%;
    height: calc(100vh - 200px); //120(navigatio+header) = 120px
}

.custom-content-section .custom-content {
    width: 100%;
    max-height: calc(100vh - 200px); //60+60+12+12+48+50(navigatio+header+padding-top+padding-bottom+)=144px
    overflow: hidden;
}

.custom-content .view-village {
    width: 100%;
    max-height: calc(100vh - 305px); //60+60+12+12+44+50+48(navigatio+header+padding-top+padding-bottom+paginator)=188px
    overflow: auto;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
table {
    width: 100%;
}

.view-village .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.view-village .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.view-village .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.view-village .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.view-village .mat-column-province {
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    text-align: left;
    padding: 3px 2rem !important;
}

.view-village .mat-column-district {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    padding: 3px 6px 3px 2rem !important;
}

.view-village .mat-column-commune {
    min-width: 170px;
    width: 170px;
    max-width: 170px;
    padding: 3px 6px 3px 2rem !important;
}
.view-village .mat-column-code {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    padding: 3px 6px 3px 2rem !important;
}

.view-village .mat-column-name {
    min-width: 170px;
    width: 230px;
    max-width: 230px;
    padding: 3px 6px 3px 2rem !important;
}

.view-village .mat-column-update_at {
    min-width: 250px;
    width: 200px;
    max-width: 200px;
    padding: 3px 6px 3px 2rem !important;
}

.view-village .mat-column-action {
    flex: none;
    width: 25px;
    margin-right: -30px !important;
}

 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    color: rgb(100 116 139) !important;
}
