<div class="custom-main-section">
    <!-- ================================ >> Header -->
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="text-gray-600">ផ្លូវជាតិ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class=" text-gray-600">ផ្លូវទាំងអស់</span>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <!-- ================================ >> Search -->
            <div class="custom-select-header hidden sm:flex">
                <mat-form-field appearance="outline" class="min-w-48 max-w-48">
                    <input matInput [(ngModel)]="key" (keyup.enter)="listing()" placeholder="ស្វែងរកលេខផ្លូវ">
                </mat-form-field>
            </div>
            <!-- ================================>> Button Search -->
            <div class="custom-botton-flat hidden sm:flex">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="listing()">
                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    
    <!--=============================>> Main -->
    <div class="custom-content-section p-3">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>

        
        <!-- =========================== >> Data listing Table -->
        <div class="custom-content flex-col rounded-lg border hidden relative" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
            <div class="container-pothole" scrollbar>
                <!-- ================>>  Get Data  API  -->
                <table mat-table [dataSource]="dataSource">

                    <!-- id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let data"> {{data?.rn}} </td>
                    </ng-container>

                    <!-- road Column -->
                    <ng-container matColumnDef="road">
                        <th mat-header-cell *matHeaderCellDef> ផ្លូវជាតិ</th>
                        <td mat-cell *matCellDef="let data">
                            <b>NR </b> {{data?.name}} ({{data?.length}})
                            <br> . ផ្តើម: {{data?.start_point}}
                            <br> . បញ្ចប់: {{data?.end_point}}
                        </td>
                    </ng-container>

                    <!-- ministry Column -->
                    <ng-container matColumnDef="ministry">
                        <th mat-header-cell *matHeaderCellDef> ក្រសួង</th>
                        <td mat-cell *matCellDef="let data">
                            <span *ngFor="let ministry of data.ministries">
                                {{ministry?.ministry?.abbre}}
                            </span>
                            <!-- {{ data?.ministries?.ministry?.abbre }} -->
                        </td>
                    </ng-container>

                    <!-- Cross Column -->
                    <ng-container matColumnDef="cross">
                        <th mat-header-cell *matHeaderCellDef> ខេត្តឆ្លងកាត់ </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.provincess}}
                        </td>
                    </ng-container>

                    <!-- fixer Column -->
                    <ng-container matColumnDef="fixer">
                        <th mat-header-cell *matHeaderCellDef>ចំនួនក្រុមជួសជុល</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.n_of_mts}}
                        </td>
                    </ng-container>
                    
                    <!-- project -->
                    <ng-container matColumnDef="project">
                        <th mat-header-cell *matHeaderCellDef>ចំនួនគម្រោង</th>
                        <td mat-cell *matCellDef="let data">
                            {{ data?.n_of_project }}
                        </td>
                    </ng-container>

                    <!-- PK Column -->
                    <ng-container matColumnDef="PK">
                        <th mat-header-cell *matHeaderCellDef>ចំនួន PK</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.n_of_pks}}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>ស្ថានភាព</th>
                        <td mat-cell *matCellDef="let element">
                            <ui-switch [checked]="element?.status == 1" (change)="onChange($event, element.id)">
                            </ui-switch>
                        </td>
                    </ng-container>

                    <!-- action Column -->
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                        <td mat-cell *matCellDef="let data" class="bg-white z-9">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                            <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item [routerLink]="['/cp/road/alls/'+data?.id]">
                                    <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                                    <span class="text-md text-gray-500">មើល</span>
                                </button>
                                <!-- <button mat-menu-item (click)="openDialog()">
                                <mat-icon class="icon-size-6" svgIcon="toc"></mat-icon>
                                    <span class="text-md text-gray-500">Migrate</span>
                                </button> -->
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-yellow-300 -pr-2 z-9"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div> 
               
            <!-- paginator -->
            <mat-paginator class="overflow-hidden min-h-11 max-h-11 bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }" [pageSizeOptions]="[20, 40, 60]" [showFirstLastButtons]="true"
                [length]="total" [pageSize]="limit" (page)="onPageChanged($event)">
            </mat-paginator>
        </div>
        
    </div>
</div>