.custom-main-section {
    width: 100%;
    height: calc(100vh - 60px); //60px is navigation
    overflow: hidden;
}

.custom-content-section {
    width: 100%;
    height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
}

.custom-content-section .custom-content {
    width: 100%;
    max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
    overflow: hidden;
}

.custom-content .container-pothole {
    width: 100%;
    max-height: calc(100vh - 188px);
    overflow: auto;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
table {
    width: 100%;
}

.container-pothole .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-pothole .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-pothole .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-pothole .mat-column-id {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.container-pothole .mat-column-road {
    padding-left: 1.5rem !important;
    min-width: 20rem;
}

.container-pothole .mat-column-ministry {
    min-width: 10rem;
}

.container-pothole .mat-column-cross {
    min-width: 10rem;
}

.container-pothole .mat-column-fixer {
    min-width: 10rem;
    text-align: end;
}
.container-pothole .mat-column-project {
    min-width: 10rem;
    text-align: end;
}

.container-pothole .mat-column-PK {
    min-width: 10rem;
    text-align: end;
}

.container-pothole .mat-column-status {
    min-width: 6rem;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    text-align: center;
}

.container-pothole .mat-column-action {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: end;
}

 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(100 116 139) !important;
}

//end - 12/12/2023