.authority-mo-main-section {
    width: 100%;
    max-height: calc(100dvh - 20rem);
    overflow: auto;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
table {
    width: 100%;
}

tr:last-child td.mat-cell {
    border-bottom: none;
}

.authority-mo-main-section .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.authority-mo-main-section .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.authority-mo-main-section .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.authority-mo-main-section .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.authority-mo-main-section .mat-column-mo {
    min-width: 180px;
    width: 180px;
    padding: 3px 2rem !important;
}

.authority-mo-main-section .mat-column-manager {
    min-width: 200px;
    width: 200px;
    padding: 3px 6px 3px 2rem !important;
}

.authority-mo-main-section .mat-column-create_at {
    min-width: 200px;
    width: 200px;
    text-align: left;
    padding: 3px 2rem !important;
}
.authority-mo-main-section .mat-column-action {
    min-width: 90px;
    width: 1rem;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}
