<div *ngIf="!isLoading"
  class="custom-botton-flat w-full text-right min-h-13 max-h-13  pr-3 pt-1  ">

  <div class="flex justify-end">
      <button *ngIf="gridView" class="min-w-6 max-w-6 rounded-md border border-solid bg-yellow-300 mr-1.5 mt-0.5 text-white " [disabled]="data?.length==0"
          mat-flat-button (click)="changeView('grid')">
          <mat-icon class="icon-size-6 " svgIcon="heroicons_outline:view-list"></mat-icon>
      </button>
      <button *ngIf="listView" class="min-w-6 max-w-6 rounded-md bg-yellow-300  border border-solid  mr-1.5 mt-0.5 text-white " [disabled]="data?.length==0"
          mat-flat-button (click)="changeView('list')">
          <mat-icon class="icon-size-6 " svgIcon="heroicons_outline:view-grid"></mat-icon>
      </button>
      <button class="min-w-7 max-w-7 rounded-md bg-yellow-300  ml-1.5 mt-0.5 text-white" mat-flat-button (click)="create()" >
          <mat-icon class="icon-size-8 " [svgIcon]="'heroicons_outline:plus'"></mat-icon>
      </button>
  </div>

</div>
<div>
  <div class="custom-resport flex flex-col">
    <ng-container *ngIf="isLoading">
      <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
          <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
          <div class="lds-spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
          </div>
      </div>
  </ng-container>
  <div *ngIf="data?.length === 0  && !isLoading" class="flex flex-col justify-center items-center mb-4 ">
    <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
    <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
  </div>
</div>
</div>

<div  class="m-2 " *ngIf="data?.length > 0  && !isLoading && gridView">
  <div class="grid grid-cols-2 gap-5 grid-content sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 ">
    <div class="gridItem  rounded-xl  bg-[#f2f3f8] hover:bg-slate-300" *ngFor="let row of data">
      <div class="gridItem-header  h-[15%] flex w-full items-center  ">
        <div class="w-[75%] sm:w-[80%] md:w-[82%] lg:w-[82%] xl:w-[82%]  pl-2 sm:pl-3 md:pl-3 lg:pl-4 xl:pl-5 truncate flex "  >
          <div class="pr-2"><mat-icon style="color: rgb(212, 176, 15);" svgIcon="heroicons_solid:photograph"></mat-icon></div>
          <span class="pt-[2px] truncate">{{row?.title}}.{{row?.created_at}}</span>
        </div>
        <div class="w-[25%] sm:w-[20%] md:w-[18%] lg:w-[18%] xl:w-[18%] ">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
            <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="update(row)">
                <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                <span class="text-md text-gray-500">កែប្រែ</span>
            </button>
            <button mat-menu-item (click)="delete(row)">
                <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                <span class="text-md text-gray-500">លុប</span>
            </button>
        </mat-menu>
    </div>
    </div>
      <div class="gridItem-body px-1 sm:px-2 md:px-2 lg:px-3 xl:px-4 pb-4 h-[85%] relative cursor-pointer">
        <div class=" gridItemMain absolute  w-full h-full   " style=" right: 0; left: 0; top: 0; bottom: 0;">
          <!-- <div class="w-full h-full  gridItemView items-center flex justify-center" *ngIf="row?.image_uri" (click)="preview(url+ row?.image_uri)" >
            <mat-icon class="text-white w-8 h-8" style="object-fit: contain;" svgIcon="heroicons_outline:eye"></mat-icon>
          </div> -->
        </div>
        <div class=" image-block justify-center flex h-[280px] items-center ">

          <div class="relative">
            <mat-icon
          class="icon-size-24 text-hint opacity-50 cursor-pointer "
          [svgIcon]="'heroicons_solid:document'" ></mat-icon>
              <div
                  class="absolute left-1 bottom-1 px-1.5 rounded text-xl font-semibold leading-5 text-white "
                  [class.bg-red-600]="true">
                  PDF
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="data?.length > 0  && !isLoading && listView"  class=" w-full reference_list_body">

  <table mat-table [dataSource]="dataSource" class="w-full">
    <ng-container matColumnDef="nos">
        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="title" >
      <th mat-header-cell *matHeaderCellDef >ចំណងជើង</th>
      <td mat-cell *matCellDef="let data">
          {{data?.title }}
      </td>
</ng-container>

<ng-container matColumnDef="image_uri">
  <th mat-header-cell *matHeaderCellDef> ឯកសារជាPDF</th>
  <td mat-cell *matCellDef="let data">
      <!-- <div class="custom-position relative"  style="width:3rem; height: 3rem; border-radius: 4px;">
            <img [src]="url+data?.image_uri"
            style="width:3rem; height: 3rem; border-radius: 4px;" alt="">
            <span class="w-full h-full custom-preview" *ngIf="data?.image_uri"
            (click)="preview(url+data?.image_uri)">
              <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
          </span>
      </div> -->
      <div class="custom-position relative" (click)="openPDF(data)" matTooltip="មើលឯកសារ" >
        <mat-icon
        class="icon-size-14 pb-2 text-hint opacity-50 cursor-pointer"
        [svgIcon]="'heroicons_solid:document'" ></mat-icon>
            <div
                class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white "
                [class.bg-red-600]="true">
                PDF
            </div>
      </div>
  </td>
</ng-container>


      <ng-container matColumnDef="create_at">
        <th mat-header-cell *matHeaderCellDef > កាលបរិច្ឆេទបង្កើត</th>
        <td mat-cell *matCellDef="let data">
            {{data?.created_at}}
        </td>
    </ng-container>
    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef >អ្នកបញ្ចូល</th>
      <td mat-cell *matCellDef="let data">
          {{data?.creator?.name}}
      </td>
    </ng-container>

  <ng-container matColumnDef="action" stickyEnd>
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">

    </th>
    <td mat-cell *matCellDef="let data" class="bg-white z-9 -right-1">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
            <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="update(data)">
                <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:edit"></mat-icon>
                <span class="text-md text-gray-500">កែប្រែ</span>
            </button>
            <button mat-menu-item (click)="delete(data)">
                <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                <span class="text-md text-gray-500">លុប</span>
            </button>
        </mat-menu>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-50 -pr-2 z-9 ">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
  </table>
</div>
<div class="min-h-11 max-h-11 hidden" [ngClass]="{'flex-custom': data?.length > 0  && !isLoading && listView }">
  <mat-paginator
      class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
      [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
      (page)="onPageChanged($event)">
  </mat-paginator>
</div>

