.custom-style {
    display: flex;
    width: 100%;
}



.main-content {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

::ng-deep {
    .custom-style-custom-content-mat-label {
        height: 10px !important;
        display: flex !important;
        align-items: center !important;
    }
}

::placeholder {
    color: rgb(160, 176, 197) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(160, 176, 197) !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(160, 176, 197) !important;
}