<div class="main-content">
    <form class="px-6 py-6" name="form" [formGroup]="form" >
        <div class=" custom-content">
            <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-4">

                <mat-form-field appearance="outline" class="w-full mb-5">
                    <mat-label>ផ្លូវជាតិ</mat-label>
                    <input matInput formControlName="name" readonly class="cursor-not-allowed">
                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:map"></mat-icon>
                    
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-5">
                    <mat-label>ចំណុចចាប់ផ្តើម</mat-label>
                    <input matInput formControlName="start_point" readonly class="cursor-not-allowed">
                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:my_location"></mat-icon>
                    <mat-error class="min-h-6 mt-1 text-md">
                        សូមបញ្ចូលចំណុចចាប់ផ្តើម
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-5">
                    <mat-label>ចំណុចបញ្ចប់</mat-label>
                    <input matInput formControlName="end_point" readonly class="cursor-not-allowed">
                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:my_location"></mat-icon>
                    <mat-error class="min-h-6 mt-1 text-md">
                        សូមបញ្ចូលចំណុចបញ្ចប់
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="w-full mb-5">
                    <mat-label>ប្រវែងសរុប</mat-label>
                    <input matInput formControlName="length" readonly class="cursor-not-allowed">
                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:show_chart"></mat-icon>

                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-5">
                    <mat-label>ខេត្តឆ្លងកាត់</mat-label>
                    <input matInput formControlName="provinces" readonly class="cursor-not-allowed">
                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:outlined_flag"></mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-5">
                    <mat-label>ចំនួនPK</mat-label>
                    <input matInput formControlName="n_of_pks" readonly class="cursor-not-allowed">
                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:place"></mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-5">
                    <mat-label>អាជ្ញាធរ</mat-label>
                    <input matInput formControlName="ministries" readonly class="cursor-not-allowed">
                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:home_work"></mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-5">
                    <mat-label>ចំនួនការិយាល័យ</mat-label>
                    <input matInput formControlName="n_of_mos" readonly class="cursor-not-allowed">
                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:home_work"></mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-5">
                    <mat-label>ចំនួនក្រុមជួសជុល</mat-label>
                    <input matInput formControlName="n_of_mts" readonly class="cursor-not-allowed">
                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:engineering"></mat-icon>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>