.custom-style {
    display: flex;
    width: 100%;
}

.custom-style {
    .custom-upload {
        min-width: 280px;
        width: 150px;
        max-width: 580px;
        margin-right: 1rem;
    }
    .custom-upload img {
        min-height: 11.75rem;
        max-height: 11.75rem;
        border-radius: 3px;
        object-fit: cover;
    }
    
    .custom-upload .custom-preview {
        cursor: pointer;
        border-radius: 4px;
        background-color: transparent;
        min-height: 11.75rem;
        max-height: 11.75rem;
        min-width: calc(100% - 0.45rem);
        max-width: calc(100% - 0.45rem);
        margin: 0.25rem;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .custom-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 10%;
    }
}

::ng-deep {
    .custom-style-custom-content-mat-label {
        height: 10px !important;
        display: flex !important;
        align-items: center !important;
    }
}
.custom-h {
    min-height: 11.75rem;
    max-height: 11.75rem;
}

.rounded-custom {
    border-radius: 5px;
}

.max-h-custom {
    max-height: 2.5rem;
}

.border-hover {
    box-sizing: border-box;
    border: 1px solid #cbd5e1;
    transition: all 0.1s;
}

.border-hover:hover {
    border: 2px solid #cbd5e1;
}

::placeholder {
    color: rgb(160, 176, 197) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(160, 176, 197) !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}
