<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent pageSizes">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center min-h-15 sm:justify-between py-2 px-5 shadow bg-white">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap cursor-pointer" [routerLink]="['/pot/authorities/mts']">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600 hidden sm:flex">មន្រ្តី/អាជ្ញាធរ</span>
                <mat-icon class="icon-size-5 text-gray-600 hidden sm:flex" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-blue-600">ក្រុមជួសជុល</span>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">បង្កើត</span>
            </div>
            
        </div>
    </div>
    <!-- ============================= >> Main -->
    <div class="flex flex-auto overflow-hidden sm:pl-5 sm:pr-5 mt-5">
        <!-- =========================== >> Data listing Table -->
        <div class="flex flex-col flex-auto sm:mb-5">
            <div class="grid border border-radius overflow-hidden sm:overflow-y-auto custom-stepper">
                <!-- ================>>  Get Data  API  -->
                <form class="px-6 py-6" name="form" [formGroup]="mtsForm" (submit)=" submit() ">
                    <div class="custom-style">
                        <div class="pr-5 custom-upload">
                            <div class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                                <img *ngIf="src && !show" [src]="src" alt="image" />
                                <span class="w-full h-full custom-preview" *ngIf="src && !show" (click)="preview()">
                                    <!-- <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon> -->
                                    <img *ngIf="src == ''" src="assets/images/avatars/person-placeholder.jpg" class="w-full" alt="">
                                </span>
                                <span class="w-full custom-h bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                                    *ngIf="!src || show" (click)="selectFile()">ជ្រើសរើសរូបភាព</span>
                            </div>
                            <div (click)="selectFile()"
                                class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                                <span class="text-xl mr-2"> ជ្រើសរើសរូបភាព </span>
                                <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                            </div>
                            <input [id]="'portrait-file'" accept="image/*" class="hidden" type="file"
                                (change)="fileChangeEvent($event)" />
                            <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                            <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
                        </div>
                        <div class=" custom-content">
                            <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 sm:grid-cols-2 gap-4">
                                <mat-form-field appearance="outline" class="w-full mb-4">
                                    <mat-label>ខេត្ត</mat-label>
                                    <ng-container>
                                        <mat-select formControlName="province" >
                                            <ng-container>
                                                <mat-option *ngFor="let row of manage" [value]="row?.id">
                                                    <span>{{row?.name}}</span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </ng-container>
                                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mtsForm.get('province').hasError('required')">
                                        សូមជ្រើសរើសបខេត្ត
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full mb-1.5">
                                    <mat-label>ឈ្មោះក្រុមជួសជុល</mat-label>
                                    <input matInput formControlName="mt_name" required minlength="0" maxlength="50">
                                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:engineering"></mat-icon>
                                    <mat-error class="min-h-6 mt-1 text-md" *ngIf="mtsForm.get('mt_name').hasError('required')">
                                        សូមបញ្ចូលឈ្មោះក្រុមជួសជុល
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full mb-1.5">
                                    <mat-label>ឈ្មោះអ្នកប្រើប្រាស់</mat-label>
                                    <input matInput formControlName="name" required minlength="0" maxlength="50">
                                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:person"></mat-icon>
                                    <mat-error class="min-h-6 mt-1 text-md" *ngIf="mtsForm.get('name').hasError('required')">
                                        សូមបញ្ចូលឈ្មោះអ្នកប្រើប្រាស់
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full mb-1.5">
                                    <mat-label>លេខទូរស័ព្ទ </mat-label>
                                    <input matInput type="text" formControlName="phone" required minlength="0" maxlength="10">
                                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:phone"></mat-icon>
                                    <mat-error  >
                                        <span class="min-h-6 mt-1 text-md" *ngIf="mtsForm.get('phone').hasError('required')"> សូមបញ្ចូលលេខទូរស័ព្ទ</span>
                                        <span class="min-h-6 mt-1 text-md" *ngIf="mtsForm.get('phone').hasError('pattern')">សូមបញ្ចូលលេខទូរស័ព្ទត្រឹមត្រូវ E.g: 0965372263 </span>  
                                    </mat-error>
                                </mat-form-field>


                                <mat-form-field appearance="outline" class="w-full mb-6">
                                    <mat-label>អុីមែល </mat-label>
                                    <input matInput type="text" formControlName="email" required>
                                    <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:email"></mat-icon>
                                    <mat-error >
                                        
                                        <span class="min-h-6 mt-1 text-md" *ngIf="mtsForm.get('email').hasError('required')"> សូមបញ្ចូលអុីមែល</span>
                                        <span class="min-h-6 mt-1 text-md" *ngIf="mtsForm.get('email').hasError('pattern')">សូមបញ្ចូលអុីមែលអោយបានត្រឹមត្រូវ E.g: admin@gmail.com </span> 
                                        
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-full mb-6">
                                    <mat-label>ពាក្យសម្ងាត់ </mat-label>
                                    <input matInput type="password" formControlName="password" required #password maxlength="20" minlength="6">
                                    <button mat-icon-button type="button" class="-top-0.5" (click)="password.type === 'password' ? password.type = 'text' : password.type = 'password'" matSuffix>
                                        <mat-icon class="icon-size-5" *ngIf="password.type === 'password'"
                                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                                        <mat-icon class="icon-size-5" *ngIf="password.type === 'text'"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    </button>
                                    <mat-error >
                                        
                                        <span class="min-h-6 mt-1 text-md" *ngIf="mtsForm.get('password').hasError('required')"> សូមបញ្ចូលពាក្យសម្ងាត់</span>
                                        <span class="min-h-6 mt-1 text-md" *ngIf="mtsForm.get('password').hasError('minlength')">ពាក្យសម្ងាត់ត្រូវមាន៦ខ្ទង់យ៉ាងតិច</span>
                                        <span class="min-h-6 mt-1 text-md" *ngIf="mtsForm.get('password').hasError('maxlength')">ពាក្យសម្ងាត់មិនលើសពី២០ខ្ទង់</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="custom-textarea custom-dis custom-select grid grid-cols-1 lg:grid-cols-1 sm:grid-cols-1 gap-4">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>សេចក្តីពណ៌នា</mat-label>
                                    <textarea id="description" matInput [formControlName]="'description'"></textarea>
                                </mat-form-field>
                                
                            </div>

                        </div>
                    </div>
                    <div align="center" class="w-full flex justify-end border-t mt-6">
                        <button class="min-w-25 max-w-25 mt-4 min-h-12 max-h-12 rounded-md custom-button px-5 py-2.5 mr-2 " mat-flat-button [disabled]="mtsForm.disabled || mtsForm.invalid"(click)="submit()">
                            <span class="flex items-center h-full" *ngIf="!mtsForm.disabled"><mat-icon class="icon-size-6" [svgIcon]="'mat_solid:save'"></mat-icon>រក្សាទុក</span>
                                <mat-progress-spinner *ngIf="mtsForm.disabled" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                        </button>
                        <button class="min-w-15 max-w-15 mt-4 min-h-12 max-h-12 focus:outline-none text-white bg-red-600 font-medium rounded-lg text-sm " mat-flat-button [routerLink]="['/pot/authorities/mts']">
                            <span class="flex items-center h-full">
                                <mat-icon class="icon-size-4 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                បិទ</span>
                        </button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>