<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">កែប្រែពាក្យសម្ងាត់</span>
</div>
<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="updateForm" #ChangePasswordNgForm="ngForm">

        <div class="flex flex-col sm:flex-row gap-2">
            
            <div class="w-full"> 
                <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-1 gap-4 w-full">

                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>លេខសម្ងាត់ថ្មី</mat-label>
                        <input matInput type="password" formControlName="password" required #password minlength="6" maxlength="16" >
                            <button mat-icon-button type="button" class="-top-0.5" (click)="password.type === 'password' ? password.type = 'text' : password.type = 'password'" matSuffix>
                                <mat-icon class="icon-size-5" *ngIf="password.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                                <mat-icon class="icon-size-5" *ngIf="password.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            </button>
                            <mat-error class="min-h-6 mt-2.5 text-sm">
                                <span class="min-h-6 mt-1 text-md" *ngIf="updateForm.get('password').hasError('required')">សូមបញ្ចូលពាក្យសម្ងាត់</span>
                                <span class="min-h-6 mt-1 text-md" *ngIf="updateForm.get('password').hasError('minlength')">ពាក្យសម្ងាត់ត្រូវមាន៦ខ្ទង់យ៉ាងតិច</span>
                                <span class="min-h-6 mt-1 text-md" *ngIf="updateForm.get('password').hasError('maxlength')">ពាក្យសម្ងាត់មិនលើសពី១៥ខ្ទង់</span>
                            </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()" [disabled]="updateForm.invalid || saving">
        <mat-icon *ngIf="!updateForm.disabled"class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="updateForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>