<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent pageSizes">
    <!-- ================================ >> Header -->
    <div
        class="relative flex flex-col gap-2 sm:flex-row flex-0 min-h-15 sm:items-center sm:justify-between py-2 px-5 shadow bg-white">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">អ្នកប្រើប្រាស់</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">តួនាទីក្នុងគម្រោង</span>
            </div>
        </div>
    </div>

    <!--=============================>> Main -->
    <div class="flex flex-auto overflow-hidden sm:pl-5 sm:pr-5 mt-5">
        
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>

        <!-- =========================== >> Data listing Table -->
        <div class="flex flex-col flex-auto sm:mb-5">
            <div class="grid border rounded-lg overflow-hidden sm:overflow-y-auto">
                <!-- ================>>  Get Data  API  -->
                <section class="table-container nationalroad-table mat-elevation-z0" tabindex="0" *ngIf=" data?.length > 0 && !isSearching">
                    <table mat-table [dataSource]="dataSource" class="w-full">

                        <!-- Id -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                            <td mat-cell *matCellDef="let i=index" class="text-center"> {{i+1}} </td>
                        </ng-container>

                        <!-- Name -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> តួនាទី</th>
                            <td mat-cell *matCellDef="let data" class="text-left"> {{data?.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> ពិពណ៌នា</th>
                            <td mat-cell *matCellDef="let data" class="text-left">
                                {{data?.description == NULL ? 'N/A' : data?.description}}
                            
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="qty">
                            <th mat-header-cell *matHeaderCellDef> ចំនួនគណនី</th>
                            <td mat-cell *matCellDef="let data" class="text-right"> {{data?.qty}}</td>
                        </ng-container>

                        
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>កាលបរិច្ឆេទបង្កើត</th>
                            <td mat-cell *matCellDef="let data" class="text-left"> {{data?.created_at | date: 'dd-MM-Y'}} </td>
                        </ng-container>

                        
                        
                        <tr class="bg-yellow-300 " mat-header-row *matHeaderRowDef="displayedColumns"></tr>


                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="p-3 text-right pr-6">
                        សរុប: <b class="ml-2">{{total}}</b>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>