.custom-style {
    display: flex;
    width: 100%;
}

.custom-style {
    .custom-upload {
        min-width: 150px;
        max-width: 240px;
        margin-right: 1.5rem;
    }
}

.main-content {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

::ng-deep {
    .custom-style-custom-content-mat-label {
        height: 10px !important;
        display: flex !important;
        align-items: center !important;
    }
}

::placeholder {
    color: rgb(160, 176, 197) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(160, 176, 197) !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(160, 176, 197) !important;
}

.custom-button:disabled {
    background-color: rgb(226 232 240) !important;
    color: #9da9bb !important;
    cursor: not-allowed;
}

.custom-button:enabled {
    background-color: #FFC107 !important;
    color: #fff !important;
    font-weight: 600;
}