<mat-dialog-content class="custom-dialog-content">
    <div class="flex flex-col p-0 text-2xl">
        សូមធ្វើការជ្រើសរើសប្រភពថវិកា
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <div class="w-full flex justify-between">
        <div (click)="close(1)" class="border cursor-pointer rounded-md hover:bg-green-100 px-4 py-2">
            ថវិការជាតិ
        </div>
        <div (click)="close(2)" class="border cursor-pointer rounded-md hover:bg-green-100 px-4 py-2">
            កម្ចីឥទានក្រៅប្រទេស
        </div>
    </div>
</mat-dialog-actions>