
<div class="main-content">
    <form class="px-6 py-6" name="form" [formGroup]="form" (submit)="submit()">
        <div class="custom-style">
            <div class="pr-5 custom-upload">
                <div class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                    <img *ngIf="src && !show" [src]="src" alt="image" />
                    <span class="w-full h-full custom-preview" *ngIf="src && !show" (click)="preview()">
                        <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                    </span>
                    <span class="w-full custom-h bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                        *ngIf="!src || show" (click)="selectFile()">Upload Image</span>
                </div>
                <div (click)="selectFile()"
                    class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                    <span class="text-xl mr-2"> ជ្រើសរើសរូបភាព </span>
                    <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                </div>
                <input [id]="'portrait-file'" accept="image/*" class="hidden" type="file"
                    (change)="fileChangeEvent($event)" />
                <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
            </div>
            <div class=" custom-content">
                <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-1 sm:grid-cols-1 gap-4">
                    <mat-form-field appearance="outline" class="w-full mb-5">
                        <mat-label>ឈ្មោះក្រសួង</mat-label>
                        <input matInput formControlName="name" required minlength="0" maxlength="50" >
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:home_work"></mat-icon>
                        <mat-error class="min-h-6 mt-1 text-md">
                            សូមបញ្ចូលឈ្មោះក្រសួង
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-5">
                        <mat-label>ឈ្មោះកាត់</mat-label>
                        <input matInput formControlName="abbre" required minlength="0" maxlength="20" >
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:short_text"></mat-icon>
                        <mat-error class="min-h-6 mt-1 text-md">
                            សូមបញ្ចូលឈ្មោះកាត់
                        </mat-error>
                    </mat-form-field>

                    <div class="custom-textarea">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>សេចក្តីពណ៌នា</mat-label>
                            <textarea id="description" matInput [formControlName]="'description'"></textarea>
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="outline" class="w-full mb-5">
                        <mat-label >ចំនួនផ្លូវ</mat-label>
                        <input  class="cursor-no-drop" matInput formControlName="n_of_roads" readonly >
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:map"></mat-icon>

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-5">
                        <mat-label>ចំនួនការិយាល័យ</mat-label>
                        <input class="cursor-no-drop " matInput formControlName="n_of_mos" readonly>
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:home_work"></mat-icon>

                    </mat-form-field>                    
                </div>
            </div>
        </div>
        <div class="w-full flex justify-end border-t mt-6">
            <button class="min-w-36 max-w-36 mt-4 min-h-12 max-h-12 rounded-md custom-button" mat-flat-button [disabled]="form.disabled || form.invalid"(click)="submit()">
                <span class="flex items-center h-full" *ngIf="!form.disabled" ><mat-icon class="icon-size-6" [svgIcon]="'mat_solid:save'"></mat-icon>ធ្វើបច្ចុប្បន្នភាព​</span>
                    <mat-progress-spinner *ngIf="form.disabled" [diameter]="24"
                        [mode]="'indeterminate'">
                    </mat-progress-spinner>
            </button>
        </div>
    </form>
</div>