.main-container-working-group {
    max-height: calc(100dvh - 11.5rem);
    overflow: hidden !important;
    .main-body-working-group {
        max-height: calc(100dvh - 14.75rem);
        overflow: hidden !important;
    }
}

.flex-custom {
    display: flex !important;
}