<div class="main-container-working-group">
    <div class="min-h-13 max-h-13 p-1 pb-2 px-2 border-b">
        <div class="flex items-center justify-end">
            <button *ngIf="access_permission?.create == 1" (click)="createDialog()"
                class="rounded-md bg-yellow-400 min-w-7 max-w-7 p-5 ml-2" mat-flat-button>
                <mat-icon class="icon-size-6" style="color: white !important"
                    [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            </button>
        </div>
    </div>

    <div class="main-body-working-group">
        <list-view *ngIf="!isLoading && users?.data?.length > 0" [access_permission]="access_permission" (childEvent)="getUser()"  [sysrole]="sysRole" [users]="users"></list-view>
        <div class="container-listview-paginator hidden min-h-11 max-h-11" [ngClass]="{'flex-custom': users?.data?.length > 0 && !isLoading }">
            <mat-paginator
                class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
                [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
                (page)="onPageChanged($event)">
            </mat-paginator>
        </div>
        <ng-container *ngIf="isLoading">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>

        <ng-container>
            <div *ngIf="users?.data?.length == 0 && !isLoading " class="flex flex-col justify-center items-center mb-4 ">
                <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
                <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
    </div>

</div>