.report-main-section {
    width: 100%;
    height: calc(100vh - 60px); //60px is navigation
    overflow: hidden;
}

.report-content-section {
    width: 100%;
    height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
}

.report-content-section .report-content {
    width: 100%;
    max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
    overflow: hidden;
}

.report-content .container-report-province {
    width: 100%;
    max-height: calc(100vh - 144px);
    overflow: auto;
}

table {
    width: 100%;
}

.tr.mat-footer-row {
    font-weight: bold;
  }
.container-report-province .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-report-province .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-report-province .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-report-province .mat-column-id {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.container-report-province .mat-column-province {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    text-align: left;
    
}

.container-report-province .mat-column-t_report {
    min-width: 120px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}

.container-report-province .mat-column-request {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}

.container-report-province .mat-column-reject {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}
.container-report-province .mat-column-wait_solution {
    min-width: 140px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}
.container-report-province .mat-column-solutioned {
    min-width: 120px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}
.container-report-province .mat-column-fixed {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: right;
}
.container-report-province .mat-column-plan_year {
    min-width: 70px;
    width: 80px;
    max-width: 80px;
    text-align: right;
}
.container-report-province .mat-column-refer_authority {
    min-width: 190px;
    width: 190px;
    max-width: 190px;
    text-align: right;
    padding: 3px 2rem !important;
}
 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(100 116 139) !important;
}

//end - 12/12/2023