<div class="report-main-section">
<!-- ====================================>> Header -->
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <!-- =============================>> Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex flex-1 items-center font-medium">
                <div class="flex items-center whitespace-nowrap">
                    <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
                </div>
                <div class="flex items-center  whitespace-nowrap" >
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">របាយការណ៍</span>
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">តាមខេត្ត</span>
                </div>
            </div>
        </div>
        <!-- ================================ >> Actions -->
        <div class="flex items-center gap-2">
            <!-- ================================ >> Search -->
            <div class="report-botton-flat">
                <button class="min-w-7 max-w-25 rounded-md bg-yellow-400" mat-flat-button (click)="GetMts()" [disabled]="isSearching">
                    <mat-icon class="icon-size-8" svgIcon="mat_solid:send"></mat-icon>
                    <span class="ml-2 mr-1 lg:block hidden">បញ្ជូនSMS</span>
                </button>
            </div>

        </div>
    </div>
    <!-- ================================>> Main -->
    <div class="report-content-section p-3">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>

        <ng-container>
            <div *ngIf=" province?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>

        <div class="report-content flex-col rounded-lg border hidden relative" [ngClass]="{'flex-custom': province?.length > 0  && !isSearching }">
            <div class="container-report-province">
                <table mat-table [dataSource]="dataSource">

                    <!-- no Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>

                    </ng-container>

                    <!-- code Column -->
                    <ng-container matColumnDef="province">
                        <th mat-header-cell *matHeaderCellDef> ខេត្ត</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.data.name}} ({{data?.data?.code}}-{{data?.data?.abbre}})
                        </td>
                        <td mat-footer-cell *matFooterCellDef> <span class="font-bold">សរុប</span> </td>
                    </ng-container>

                    <!-- organization Column -->
                    <ng-container matColumnDef="t_report">
                        <th mat-header-cell *matHeaderCellDef> របាយការណ៍សរុប</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.pothole?.all_report}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> <span class=" font-bold">{{ getTotal('all_report') }}</span> </td>
                    </ng-container>

                    <!-- type_work Column -->
                    <ng-container matColumnDef="request">
                        <th mat-header-cell *matHeaderCellDef> សំណើរថ្មី </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.pothole?.pending}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> <span class="font-bold">{{ getTotal('pending') }}</span> </td>
                    </ng-container>

                    <!-- location Column -->
                    <ng-container matColumnDef="reject">
                        <th mat-header-cell *matHeaderCellDef>បដិសេដ</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.pothole?.declined}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> <span class="font-bold">{{ getTotal('declined') }}</span> </td>
                    </ng-container>

                    <ng-container matColumnDef="wait_solution">
                        <th mat-header-cell *matHeaderCellDef>រង់ចាំដំណោះស្រាយ</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.pothole?.repairing}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> <span class="font-bold">{{ getTotal('repairing') }} </span></td>
                    </ng-container>

                    <!-- action Column -->
                    <ng-container matColumnDef="solutioned">
                        <th mat-header-cell *matHeaderCellDef>បានដំណោះស្រាយ</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.pothole?.done}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  <span class="font-bold">{{ getTotal('done') }}</span> </td>
                    </ng-container>

                    <ng-container matColumnDef="fixed">
                        <th mat-header-cell *matHeaderCellDef>ជួសជុលរួច</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.pothole?.fixed}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> <span class="font-bold">{{ getTotal('fixed') }}</span> </td>
                    </ng-container>

                    <ng-container matColumnDef="plan_year">
                        <th mat-header-cell *matHeaderCellDef>ផែនការឆ្នាំ</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.pothole?.planning}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  <span class="font-bold">{{ getTotal('planning') }}</span></td>
                    </ng-container>
                    <ng-container matColumnDef="refer_authority">
                        <th mat-header-cell *matHeaderCellDef> បញ្ជូនទៅសមត្ថកិច្ចផ្សេង</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.pothole?.specialist}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  <span class="font-bold">{{ getTotal('specialist') }}</span> </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-yellow-300 -pr-2 z-9"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="['id', 'province','t_report','request','reject','wait_solution','solutioned','fixed','plan_year','refer_authority'];sticky: true" class="bg-blue-50 -pr-2 z-9"></tr>
                </table>
                
            </div>
            
        </div>
    </div>
</div>
