<div class="custom-main-section">
    <!-- ================================ >> Header -->
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
        
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                 
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">កំណត់</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">ថវិកាប្រចាំឆ្នាំ</span>
            </div>
        </div>
        <!-- ================================ >> Actions -->
        <div class="flex items-center gap-2">
            <!-- ================================>> Button Create -->
            <div class="custom-botton-flat ">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400 mr-2" mat-flat-button (click)="CreateBudget()" [disabled]="isSearching" >
                    <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>

                <button *ngIf="gridView" class="min-w-8 max-w-8 hidden rounded-md bg-yellow-400 mr-2" mat-flat-button (click)="changeView('grid')" >
                    <mat-icon class="icon-size-6 " svgIcon="heroicons_outline:view-list"></mat-icon>
                </button>

                <button *ngIf="gridView" class="min-w-8 max-w-8 rounded-md bg-yellow-400 mr-2" mat-flat-button (click)="Downloadgraph()">
                    <mat-icon class="icon-size-6 " svgIcon="heroicons_outline:download"></mat-icon>
                </button>

                <button *ngIf="listView" class="min-w-8 max-w-8 hidden rounded-md bg-yellow-400 mr-2" mat-flat-button (click)="changeView('list')" >
                    <mat-icon class="icon-size-6 " svgIcon="heroicons_outline:chart-bar"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <!--=============================>> Main -->
    <div class="custom-content-section p-3">
        <ng-container *ngIf="isSearching && listView">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching && listView" class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
        <!-- =========================== >> Data listing Table -->
        <div class="custom-content flex-col rounded-lg border hidden relative" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching && listView}">
            <div class="container-budgetyear">
                <!-- ================>>  Get Data  API  -->
                <table mat-table [dataSource]="dataSource">

                    <!-- no Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let i=index">{{ i+1 }} </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>

                    <!-- code Column -->
                    <ng-container matColumnDef="year">
                        <th mat-header-cell *matHeaderCellDef> ឆ្នាំ</th>
                        <td mat-cell *matCellDef="let data">
                            {{ data?.year }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> <span class="font-bold text-center"></span> </td>
                    </ng-container>

                    <!-- created_at Column -->
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef> កាលបរិច្ឆេទបង្កើត <th>
                        <td mat-cell *matCellDef="let data">
                            {{ data?.created_at |date : 'YYYY-MM-dd' }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> <span class="font-bold text-center"></span> </td>
                    </ng-container>

                    <!-- type_work Column -->
                    <ng-container matColumnDef="project_count" >
                        <th mat-header-cell *matHeaderCellDef> ចំនួនគម្រោង</th>
                        <td mat-cell *matCellDef="let data">
                            {{ data?.project_count }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> <span > សរុប : <b>{{ getTotal('project_count') }}</b></span> </td>
                    </ng-container>

                    <!-- action Column -->
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                        <td mat-cell *matCellDef="let data" class="bg-white z-9 text-end">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                            <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="ViewProject(data)">
                                    <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                                    <span class="text-md text-gray-500">មើលគម្រោង</span>
                                </button>
                                <!-- <button mat-menu-item (click)="UpdateBudget(data)">
                                    <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:edit"></mat-icon>
                                    <span class="text-md text-gray-500">កែប្រែ</span>
                                </button> -->
                                <button mat-menu-item (click)="Ondelete(data)">
                                    <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                    <span class="text-md text-gray-500">លុបឆ្នាំ</span>
                                </button>
                            </mat-menu>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  <span class="font-bold"> </span> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-yellow-300 -pr-2 z-9"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="['id','year','created_at','project_count','action'];sticky: true" class="bg-white -pr-2 z-9"></tr>
                </table>
            </div>
        </div>
        <div *ngIf="gridView && !isSearching" >
            <div class="px-2">
                Graph Work
                <div id="chart">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [yaxis]="chartOptions.yaxis"
                      [xaxis]="chartOptions.xaxis"
                      [labels]="chartOptions.labels"
                      [stroke]="chartOptions.stroke"
                      [title]="chartOptions.title"
                      [dataLabels]="chartOptions.dataLabels"
                      [fill]="chartOptions.fill"
                      [tooltip]="chartOptions.tooltip"
                    ></apx-chart>
                  </div>
            </div>
        </div>
    </div>
</div>

