<div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
   <img class="pothole-img" src="https://angular-material.fusetheme.com/assets/images/cards/03-320x200.jpg" alt="">
   <div class="card-body mt-6">
      <div class="text-2xl font-semibold leading-tight">PK {{ title }}</div>
      <div class="mt-2">Pothole: {{ countPothole }} </div>
      <div class="mt-4" style="color: grey">Comment:</div>
      <div class="mt-2">From rocky mountains to crystal clear lakes, there are the places you must see and enjoy.</div>
   </div>
</div>