
<div class="main-body-total-dashboard">
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <!-- =============================>> Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex flex-1 items-center font-medium">
                <div class="flex items-center whitespace-nowrap">
                    <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
                </div>
                <div class="flex items-center  whitespace-nowrap" >
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">របាយការណ៍</span>
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">របាយការណ៍តាមខេត្ត</span>
                </div>
            </div>
        </div>
       
    </div>
    <div class="main-body-total-data" scrollbar>
        <!-- <ng-container *ngIf="loading">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container> -->
        <div class="flex flex-col lg:flex-row p-3">
            <!-- Dashboard -->
            <div class="flex flex-col flex-auto h-fit bg-white shadow rounded-2xl p-6">
                <div class="flex items-start justify-between">
                    <div class="text-2xl font-bold truncate py-2 text-slate-600">របាយការណ៍តាមខេត្ត</div>
                </div>
                <mat-divider></mat-divider>
                <div class="title flex flex-col flex-auto mt-6  cusotom-relative">
                    <div id="chart">
                        <apx-chart
                          [series]="chartOptions.series"
                          [chart]="chartOptions.chart"
                          [yaxis]="chartOptions.yaxis"
                          [xaxis]="chartOptions.xaxis"
                          [labels]="chartOptions.labels"
                          [stroke]="chartOptions.stroke"
                          [title]="chartOptions.title"
                          [dataLabels]="chartOptions.dataLabels"
                          [fill]="chartOptions.fill"
                          [tooltip]="chartOptions.tooltip"
                        ></apx-chart>
                      </div>
                    
                </div>
                <!-- <div class="mt-8">
                    <div class="-my-3 divide-y">
                        <ng-container *ngFor="let dataset of data?.process?.series; let i = index">
                            <div class="grid grid-cols-2 py-3">
                                <div class="flex items-center">
                                    <div class="flex-0 w-2 h-2 rounded-full"
                                        [style.backgroundColor]="workProgress?.colors[i]">
                                    </div>
                                    <div class="ml-3 truncate">{{data?.process?.labels[i]}}</div>
                                </div>
                                <div class="text-right text-secondary">{{dataset}}%</div>
                            </div>
                        </ng-container>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
