.main-body-total-dashboard {
    width: 100%;
    height: calc(100vh - 60px); //60px is navigation
    overflow: hidden;
}
.main-body-total-data {
    width: 100%;
    height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
}
.title .title{
    margin-top: 30px;
}