<div class="dashboard-container w-full p-4 bg-slate-100">

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 mb-4">
        <div class="bg-white border rounded-sm min-h-50 max-h-50 relative">
            <div class="min-h-[100px] max-h-[100px] border-b flex items-center justify-center">
                <mat-icon class="icon-size-10" style="color: #00bcd4;" svgIcon="mat_outline:business"></mat-icon>
            </div>
            <div
                class="absolute min-w-30 max-w-30 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border rounded-full text-center py-1 bg-white">
                <span class="text-md">ការិយាល័យ (MO)</span>
            </div>
            <div class="min-h-[100px] max-h-[100px] flex items-center justify-center">
                <span *ngIf="!spinner" class="text-6xl">{{data?.mo | number}}</span>
                <mat-progress-spinner *ngIf="spinner" [diameter]="35" [mode]="'indeterminate'"></mat-progress-spinner>
            </div>
        </div>
        <div class="bg-white border rounded-sm min-h-50 max-h-50 relative">
            <div class="min-h-[100px] max-h-[100px] border-b flex items-center justify-center">
                <mat-icon class="icon-size-10" style="color: #66bb6a;" svgIcon="mat_outline:directions_walk"></mat-icon>
            </div>
            <div
                class="absolute min-w-30 max-w-30 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border rounded-full text-center py-1 bg-white">
                <span class="text-md">ក្រុមជួសជុល (MT)</span>
            </div>
            <div class="min-h-[100px] max-h-[100px] flex items-center justify-center">
                <span *ngIf="!spinner" class="text-6xl">{{data?.mt | number}}</span>
                <mat-progress-spinner *ngIf="spinner" [diameter]="35" [mode]="'indeterminate'"></mat-progress-spinner>
            </div>
        </div>
        <div class="bg-white border rounded-sm min-h-50 max-h-50 relative">
            <div class="min-h-[100px] max-h-[100px] border-b flex items-center justify-center">
                <mat-icon class="icon-size-10" style="color: #ffc107;" svgIcon="mat_solid:people"></mat-icon>
            </div>
            <div
                class="absolute min-w-26 max-w-26 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border rounded-full text-center py-1 bg-white">
                <span class="text-md">អ្នកប្រើប្រាសផ្លូវ</span>
            </div>
            <div class="min-h-[100px] max-h-[100px] flex items-center justify-center">
                <span *ngIf="!spinner" class="text-6xl">{{data?.member | number}}</span>
                <mat-progress-spinner *ngIf="spinner" [diameter]="35" [mode]="'indeterminate'"></mat-progress-spinner>
            </div>
        </div>
    </div>

    <div class="bg-white border rounded-sm min-h-50 max-h-50 relative mb-4">
        <div class="min-h-[100px] max-h-[100px] border-b flex items-center justify-center">
            <mat-icon class="icon-size-10" style="color: #00bcd4;" svgIcon="mat_solid:warning"></mat-icon>
        </div>
        <div
            class="absolute min-w-26 max-w-26 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border rounded-full text-center py-1 bg-white">
            <span class="text-md">ចំនួនរាយកាណ៍</span>
        </div>
        <div class="min-h-[100px] max-h-[100px] flex items-center justify-center">
            <span *ngIf="!spinner" class="text-6xl">{{data?.pothole | number}}</span>
            <mat-progress-spinner *ngIf="spinner" [diameter]="35" [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">

        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
            <div class="bg-white border rounded-sm min-h-50 max-h-50 relative">
                <div class="min-h-[100px] max-h-[100px] border-b flex items-center justify-center relative">
                    <div class="absolute top-0 right-0 p-2 border-b border-l" *ngIf="!spinner">
                        {{data?.pending?.percent | number:'1.2-2'}} %
                    </div>
                    <mat-icon class="icon-size-10" style="color: #e66060;" svgIcon="mat_solid:volume_down"></mat-icon>
                </div>
                <div
                    class="absolute min-w-18 max-w-18 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border rounded-full text-center py-1 bg-white">
                    <span class="text-md">សំណើរថ្មី</span>
                </div>
                <div class="min-h-[100px] max-h-[100px] flex items-center justify-center">
                    <span *ngIf="!spinner" class="text-6xl">{{data?.pending?.total | number}}</span>
                    <mat-progress-spinner *ngIf="spinner" [diameter]="35"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </div>
            </div>
            <div class="bg-white border rounded-sm min-h-50 max-h-50 relative">
                <div class="min-h-[100px] max-h-[100px] border-b flex items-center justify-center relative">
                    <div class="absolute top-0 right-0 p-2 border-b border-l" *ngIf="!spinner">
                        {{data?.declined?.percent | number:'1.2-2'}} %
                    </div>
                    <mat-icon class="icon-size-10 text-slate-800" svgIcon="mat_solid:close"></mat-icon>
                </div>
                <div
                    class="absolute min-w-18 max-w-18 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border rounded-full text-center py-1 bg-white">
                    <span class="text-md">បដិសេធ</span>
                </div>
                <div class="min-h-[100px] max-h-[100px] flex items-center justify-center">
                    <span *ngIf="!spinner" class="text-6xl">{{data?.declined?.total | number}}</span>
                    <mat-progress-spinner *ngIf="spinner" [diameter]="35"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </div>
            </div>
            <div class="bg-white border rounded-sm min-h-50 max-h-50 relative">
                <div class="min-h-[100px] max-h-[100px] border-b flex items-center justify-center relative">
                    <div class="absolute top-0 right-0 p-2 border-b border-l" *ngIf="!spinner">
                        {{data?.repairing?.percent | number:'1.2-2'}} %
                    </div>
                    <mat-icon class="icon-size-10" style="color: #ffc107;"
                        svgIcon="mat_solid:fitness_center"></mat-icon>
                </div>
                <div
                    class="absolute min-w-30 max-w-30 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border rounded-full text-center py-1 bg-white">
                    <span class="text-md">ជូនMTដោះស្រាយ</span>
                </div>
                <div class="min-h-[100px] max-h-[100px] flex items-center justify-center">
                    <span *ngIf="!spinner" class="text-6xl">{{data?.repairing?.total | number}}</span>
                    <mat-progress-spinner *ngIf="spinner" [diameter]="35"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </div>
            </div>
        </div>

        <div class="bg-white">
            <div class="border border-b-0 rounded-sm rounded-bl-none rounded-br-none min-h-50 max-h-50 relative">
                <div class="min-h-[100px] max-h-[100px] border-b flex items-center justify-center relative">
                    <div class="absolute top-0 right-0 p-2 border-b border-l" *ngIf="!spinner">
                        {{data?.all_done?.percent | number:'1.2-2'}} %
                    </div>
                    <mat-icon class="icon-size-10" style="color: #66bb6a;" svgIcon="mat_solid:done_all"></mat-icon>
                </div>
                <div
                    class="absolute min-w-26 max-w-26 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border rounded-full text-center py-1 bg-white">
                    <span class="text-md">បានដោះស្រាយ</span>
                </div>
                <div class="min-h-[100px] max-h-[100px] flex items-center justify-center">
                    <span *ngIf="!spinner" class="text-6xl">{{data?.all_done?.total | number}}</span>
                    <mat-progress-spinner *ngIf="spinner" [diameter]="35"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
                <div class="border rounded-sm rounded-tl-none min-h-50 max-h-50 relative">
                    <div class="min-h-[100px] max-h-[100px] border-b flex items-center justify-center relative">
                        <div class="absolute top-0 right-0 p-2 border-b border-l" *ngIf="!spinner">
                            {{data?.fixed?.percent | number:'1.2-2'}} %
                        </div>
                        <mat-icon class="icon-size-10" style="color: #66bb6a;" svgIcon="mat_solid:done_all"></mat-icon>
                    </div>
                    <div
                        class="absolute min-w-20 max-w-20 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border rounded-full text-center py-1 bg-white">
                        <span class="text-md">ជួសជុលរួច</span>
                    </div>
                    <div class="min-h-[100px] max-h-[100px] flex items-center justify-center">
                        <span *ngIf="!spinner" class="text-6xl">{{data?.fixed?.total | number}}</span>
                        <mat-progress-spinner *ngIf="spinner" [diameter]="35"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </div>
                </div>
                <div class="border rounded-sm min-h-50 max-h-50 relative">
                    <div class="min-h-[100px] max-h-[100px] border-b flex items-center justify-center relative">
                        <div class="absolute top-0 right-0 p-2 border-b border-l" *ngIf="!spinner">
                            {{data?.planning?.percent | number:'1.2-2'}} %
                        </div>
                        <mat-icon class="icon-size-10" style="color: #66b8bb;"
                            svgIcon="mat_solid:rate_review"></mat-icon>
                    </div>
                    <div
                        class="absolute min-w-30 max-w-30 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border rounded-full text-center py-1 bg-white">
                        <span class="text-md">ដាក់ចូលផែនការឆ្នាំ</span>
                    </div>
                    <div class="min-h-[100px] max-h-[100px] flex items-center justify-center">
                        <span *ngIf="!spinner" class="text-6xl">{{data?.planning?.total | number}}</span>
                        <mat-progress-spinner *ngIf="spinner" [diameter]="35"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </div>
                </div>
                <div class="bg-white border rounded-sm rounded-tr-none min-h-50 max-h-50 relative">
                    <div class="min-h-[100px] max-h-[100px] border-b flex items-center justify-center relative">
                        <div class="absolute top-0 right-0 p-2 border-b border-l" *ngIf="!spinner">
                            {{data?.specialist?.percent | number:'1.2-2'}} %
                        </div>
                        <mat-icon class="icon-size-10" style="color: #2e2e6fcf;" svgIcon="mat_solid:people"></mat-icon>
                    </div>
                    <div
                        class="absolute min-w-36 max-w-36 text-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border rounded-full px-3 py-1 bg-white">
                        <span class="text-md">បញ្ជូនទៅសមត្ថកិច្ចផ្សេង</span>
                    </div>
                    <div class="min-h-[100px] max-h-[100px] flex items-center justify-center">
                        <span *ngIf="!spinner" class="text-6xl">{{data?.specialist?.total | number}}</span>
                        <mat-progress-spinner *ngIf="spinner" [diameter]="35"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>