
<div class="main-content overflow-y-auto h-full">
    <form class="px-6 py-6" name="form" [formGroup]="form" (submit)="submit()">
        <div class="custom-style">
            <div class=" main-container-steper">
                <div class="custom-form custom-select grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4">
                    <mat-form-field appearance="outline" class="w-full mb-5">
                        <mat-label>លេខកូដ</mat-label>
                        <input matInput formControlName="code" readonly class="cursor-not-allowed">
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:code"></mat-icon>
                        <mat-error class="min-h-6 mt-1 text-md">
                            សូមបញ្ចូលលេខកូដ
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-5">
                        <mat-label>ឈ្មោះខ្មែរ</mat-label>
                        <input matInput formControlName="name" required>
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:location_on" ></mat-icon>
                        <mat-error class="min-h-6 mt-1 text-md">
                            សូមបញ្ចូលឈ្មោះខ្មែរ
                        </mat-error>

                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" class="w-full mb-5">
                        <mat-label>ឈ្មោះឡាតាំង</mat-label>
                        <input matInput formControlName="en_name" required>
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:location_on"></mat-icon>
                        <mat-error class="min-h-6 mt-1 text-md">
                            សូមបញ្ចូលឈ្មោះឡាតាំង
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-5">
                        <mat-label>ពាក្យកាត់</mat-label>
                        <input matInput formControlName="abbre" required>
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:sort"></mat-icon>
                        <mat-error class="min-h-6 mt-1 text-md">
                            សូមបញ្ចូលពាក្យកាត់
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-5">
                        <mat-label>Latitude </mat-label>
                        <input matInput formControlName="lat" readonly class="cursor-not-allowed">
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:touch_app"></mat-icon>
                        <mat-error class="min-h-6 mt-1 text-md">
                            សូមបញ្ចូលLatitude
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-full mb-5">
                        <mat-label> Longitude </mat-label>
                        <input matInput formControlName="lng" readonly class="cursor-not-allowed">
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:touch_app"></mat-icon>
                        <mat-error class="min-h-6 mt-1 text-md">
                            សូមបញ្ចូលLongitude
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-5">
                        <mat-label>ព្រំដែន</mat-label>
                        <input matInput formControlName="latlng" class="cursor-not-allowed">
                        <mat-icon class="mr-2" matSuffix svgIcon="mat_outline:timeline"></mat-icon>
                        <mat-error class="min-h-6 mt-1 text-md">
                            សូមបញ្ចូលឈ្មោះព្រំដែន
                        </mat-error>

                    </mat-form-field>
                </div>

            </div>
        </div>
        <div class="w-full flex justify-end border-t mt-5">
            <button class="min-w-36 max-w-36 mt-4 min-h-12 max-h-12 rounded-md custom-button" mat-flat-button [disabled]="form.disabled || form.invalid"(click)="submit()">
                <span class="flex items-center h-full" *ngIf="!form.disabled"><mat-icon class="icon-size-6" [svgIcon]="'mat_solid:save'"></mat-icon>ធ្វើបច្ចុប្បន្នភាព​</span>
                    <mat-progress-spinner *ngIf="form.disabled" [diameter]="24"
                        [mode]="'indeterminate'">
                    </mat-progress-spinner>
            </button>
        </div>
    </form>
</div>