<div *ngIf="data?.length >= 0 && !isSearching" class="custom-botton-flat w-full text-right min-h-13 max-h-13  pr-3 pt-1 bg-white">
    <div class="flex justify-end gap-2">
        <div class="custom-select-header ">
            <mat-form-field appearance="outline" class="min-w-48 max-w-48">
                <input matInput [(ngModel)]="key" (keyup.enter)="listing()" placeholder="ស្វែងរកលេខផ្លូវជាតិ">
            </mat-form-field>
        </div>
        <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="listing()">
            <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
        </button>
    </div>
</div>
<div class="national-main-section rounder-md">

    <div class="national-content-section">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
         <!-- ================>>  Get Data  API  -->
        <div class="natioanl-body-section flex-col rounded-lg border hidden relative " [ngClass]="{ 'flex-custom': data?.length> 0 && !isSearching }">
            
            <table mat-table [dataSource]="dataSource">

                <!-- no Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                    <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                </ng-container>

                <!-- road Column -->
                <ng-container matColumnDef="road">
                    <th mat-header-cell *matHeaderCellDef> ផ្លូវជាតិ</th>
                    <td mat-cell *matCellDef="let data">
                      <b>NR</b>  {{data?.name}}  ({{data?.length}})
                        <br> . {{data?.start_point}}
                        <br> . {{data?.end_point}}
                    </td>
                </ng-container>

                <!-- ministry Column -->
                <ng-container matColumnDef="ministry">
                    <th mat-header-cell *matHeaderCellDef> ក្រសួង</th>
                    <td mat-cell *matCellDef="let data">
                        {{ data?.ministriess }}    
                    </td>
                </ng-container>

                <!-- Cross Column -->
                <ng-container matColumnDef="cross">
                    <th mat-header-cell *matHeaderCellDef> ខេត្តឆ្លងកាត់ </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.provincess}}
                    </td>
                </ng-container>

                <!-- fixer Column -->
                <ng-container matColumnDef="fixer">
                    <th mat-header-cell *matHeaderCellDef>ចំនួនក្រុមជួសជុល</th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.n_of_mts}}
                    </td>
                </ng-container>

                <!-- Pk column -->
                <ng-container matColumnDef="PK">
                    <th mat-header-cell *matHeaderCellDef>ចំនួន PK</th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.n_of_pks}}
                    </td>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                    <td mat-cell *matCellDef="let data" class="bg-white z-9">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                                </button>
                        <mat-menu #menu="matMenu" class="menu-custom">
                            <button mat-menu-item [routerLink]="['/cp/road/alls/'+data?.id]">
                                <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                                    <span class="text-md text-gray-500">មើល</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-50 -pr-2 z-9 "></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
            </table>
           
        </div>
    </div>
</div>
<div class="min-h-11 max-h-11 hidden" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
    <mat-paginator
        class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
        [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
        (page)="onPageChanged($event)">
    </mat-paginator>
</div>