
.national-main-section {
    width: 100%;
    max-height: calc(100dvh - 18.2rem);
    overflow: auto;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
table {
    width: 100%;
}

.natioanl-body-section .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.natioanl-body-section .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.natioanl-body-section .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.natioanl-body-section .mat-column-id {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.natioanl-body-section .mat-column-road {
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    text-align: left;
    padding: 3px 2rem !important;
}

.natioanl-body-section .mat-column-ministry {
    min-width: 180px;
    width: 180px;
    max-width: 180px;
    padding: 3px 6px 3px 2rem !important;
}

.natioanl-body-section .mat-column-cross {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    padding: 3px 6px 3px 2rem !important;
}
.natioanl-body-section .mat-column-fixer {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: right !important;
}

.natioanl-body-section .mat-column-PK {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: right !important;
    padding: 3px 6px 3px 2rem !important;
}

.natioanl-body-section .mat-column-action {
    flex: none;
    width: 25px;
    margin-right: -30px !important;
}

 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    color: rgb(100 116 139) !important;
}
