.ministry-main-section {
    width: 100%;
    max-height: calc(100dvh - 11.5rem);
    overflow: hidden;
}

.ministry-content-section {
    width: 100%;
    max-height: calc(100dvh - 11.5rem);
    overflow: hidden;
}

.ministry-content-section .ministry-body-section {
    width: 100%;
    max-height: calc(100vh - 11.5rem);
    overflow: auto;
}

.custom-position .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.custom-position:hover .custom-preview {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
table {
    width: 100%;
}

tr:last-child td.mat-cell {
    border-bottom: none;
}

.ministry-body-section .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.ministry-body-section .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.ministry-body-section .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.ministry-body-section .mat-column-id {
    min-width: 40px;
    width: 40px;
    max-width: 40px;
    text-align: center;
}

.ministry-body-section .mat-column-name {
    min-width: 220px;
    width: 220px;
    max-width: 220px;
    text-align: left;
    padding: 3px 2rem !important;
}

.ministry-body-section .mat-column-create_at {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    padding: 3px 6px 3px 2rem !important;
}

.ministry-body-section .mat-column-action {
    width: 2rem;
    margin-right: -2px !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}