<div class="container-listing-project-section">
    <div
        class="container-listing-project-header flex gap-2 justify-between items-center py-2 px-5 shadow bg-white sticky top-0 z-999">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">គម្រោង</span>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <div class="flex items-center min-w-30 h-10 border-2 rounded-md overflow-hidden">
                <input placeholder="លេខកូដ ឬឈ្មោះគម្រោង" type="text" class="w-full px-3 h-10" [(ngModel)]="key"
                    (keyup.enter)="listing()">
                <button mat-icon-button class="rounded-none bg-slate-200" (click)="listing()">
                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                </button>
            </div>

            <div class="min-w-11 max-w-11 flex items-center justify-center">
                <button mat-icon-button class="bg-slate-200 rounded-md" (click)="filter()">
                    <mat-icon svgIcon="heroicons_solid:menu-alt-3"></mat-icon>
                </button>
            </div>

            <div *ngIf="createProject == 'SV Info Entry' || createProject == 'Super Admin'" class="custom-botton-flat">
                <button mat-icon-button class="bg-slate-200 rounded-md" (click)="comfirmCategory()">
                    <mat-icon class="icon-size-8" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="container-listing-project-body p-2">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
        <div class="container-listing-project-content border rounded-lg hidden flex-col"
            [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
            <div class="container-listing-project-data" scrollbar>

                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="code" class="">
                        <th mat-header-cell *matHeaderCellDef> លេខកូដ </th>
                        <td mat-cell *matCellDef="let element"> {{element?.code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="project">
                        <th mat-header-cell *matHeaderCellDef> គម្រោង </th>
                        <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="piu">
                        <th mat-header-cell *matHeaderCellDef> អង្គភាពត្រួតពិនិត្យ</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.reviewer?.name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> ប្រភពថវិកា </th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0">{{element?.category?.name}}</p>
                            <small class="text-center">{{element?.budget_plans?.name}}</small>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>ស្ថានភាព</th>
                        <td mat-cell *matCellDef="let data">
                            <ng-container *ngIf="data?.status">
                                <span [ngStyle]="{'color': data?.status?.color }">{{data?.status?.kh_name}}</span>
                            </ng-container>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                        <td mat-cell *matCellDef="let element" class="bg-white -right-1">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button *ngIf="element?.permission?.can?.access_info == 1" mat-menu-item
                                    [routerLink]="['/sup/projects/' + element?.id + '/info']">
                                    <mat-icon class="icon-size-5" svgIcon="mat_solid:info"></mat-icon>
                                    <span class="text-lg text-gray-500">ព័ត៌មានគម្រោង</span>
                                </button>
                                <button *ngIf="element?.permission?.can?.access_technical == 1" mat-menu-item
                                    [routerLink]="['/sup/projects/' + element?.id + '/technical']">
                                    <mat-icon class="icon-size-6" svgIcon="toc"></mat-icon>
                                    <span class="text-lg text-gray-500">ការងារបច្ចេកទេស</span>
                                </button>
                                <button *ngIf="element?.permission?.can?.access_report == 1" mat-menu-item
                                    [routerLink]="['/sup/projects/' + element?.id + '/report']">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trending-up'"></mat-icon>
                                    <span class="text-lg text-gray-500">របាយការណ៍</span>
                                </button>
                                <button *ngIf="element?.permission?.can?.delete == 1 && element?.status?.id === 1" mat-menu-item
                                    (click)="deleteProject(element?.id)">
                                    <mat-icon class="icon-size-5 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                    <span class="text-lg text-gray-500">លុប</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-yellow-300 -pr-2">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div class="container-listing-project-paginator min-h-11 max-h-11"
                [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
                <mat-paginator
                    class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
                    [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
                    (page)="onPageChanged($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>