.main-body-overiew {
    height: calc(100dvh - 11.5rem);
}

.main-body-overiew .main-content {
    height: calc(100dvh - 11.75rem);
    overflow: auto !important;
}

.main-content {
    .header {
        min-height: 3.25rem;
        min-height: 3.25rem;
        overflow: hidden;
    }
}

.main-content::-webkit-scrollbar{
    width: 0 !important;
    height: 0 !important;
}

.main-content {
    .content {
        width: 100%;
    }
}