<ng-container *ngIf="isLoading">
    <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
        <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</ng-container>
<div *ngIf="data == undefined && !isLoading" class="flex flex-col justify-center items-center mb-4">
    <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
    <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
</div>
<!-- ================>>  Get Data  API  -->
<div class="main-body-overiew">
    <div *ngIf="data != undefined && !isLoading" class="main-content" scrollbar>
        <!-- Header -->
        <div class="header grid grid-cols-2 shadow text-md font-semibold text-secondary bg-yellow-50">
            <div class="p-4 flex items-center">ព័ត៌មានទូទៅ</div>
            <div class="flex justify-between items-center pl-4 pr-2">
                <div>ទិន្នន័យ</div>
                <button *ngIf="access_permission?.update == 1 && data?.main?.status?.id === 1" class="min-w-8 max-w-8 rounded-md bg-blue-400 "
                    mat-stroked-button (click)="updateMain()">
                    <mat-icon class="icon-size-6 text-white" svgIcon="mat_solid:create"></mat-icon>
                </button>
            </div>
        </div>
        <!-- Rows -->
        <div class="content">
            <div class="grid grid-cols-2 text-md text-secondary bg-slate-100">
                <p class="h-full px-4 py-2 border-b flex items-center">ទូទៅ</p>
                <p class="h-full px-4 py-2 border-b flex items-center"></p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">ឈ្មោះគម្រោង</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{data?.main?.name}}</p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">លេខកូដគម្រោង</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{data?.main?.code}}</p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">ប្រភេទគម្រោង</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{data?.main?.type?.name}}</p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary" *ngIf="data?.main?.surfaces?.length > 0">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">ប្រភេទកម្រាលផ្លូវ</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container>
                        {{textSurface}}
                    </ng-container>
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">ផ្លូវជាតិលេខ</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container *ngIf="data?.main?.road">
                        {{data?.main?.road?.name}}
                    </ng-container>
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">ខេត្ត</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container *ngIf="data?.main?.provinces">
                        {{textProvince}}
                    </ng-container>
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">ស្ថានភាព</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container *ngIf="data?.main?.status">
                        <span [ngStyle]="{'color': data?.main?.status?.color }">{{data?.main?.status?.kh_name}}</span>
                    </ng-container>
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary bg-slate-100">
                <p class="h-full px-4 py-2 border-b flex items-center">ថវិកា</p>
                <p class="h-full px-4 py-2 border-b flex items-center"></p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">ប្រភពថវិកា</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container *ngIf="data?.main?.category">
                        {{data?.main?.category?.name}}
                    </ng-container>
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">ជំពូកថវិកា</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{data?.main?.budget_plan?.name}}</p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary bg-slate-100">
                <p class="h-full px-4 py-2 border-b flex items-center">អង្គភាព</p>
                <p class="h-full px-4 py-2 border-b flex items-center"></p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">ប្រតិបត្តិករ</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container *ngIf="data?.main?.executive_director">
                        {{data?.main?.executive_director?.name}}
                    </ng-container>
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary" *ngIf="data?.main?.entitty">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">អង្គភាពគ្រប់គ្រង</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container>
                        {{data?.main?.entity?.name}}
                    </ng-container>
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary" *ngIf="data?.main?.reviewer">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">អង្គភាពត្រួតពិនិត្យ</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container>
                        {{data?.main?.reviewer?.name}}
                    </ng-container>
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">ក្របខណ្ឌ</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container *ngIf="data?.main?.framework">
                        {{data?.main?.framework?.name}}
                    </ng-container>
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">ម្ចាស់គម្រោង</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{data?.main?.project_owner?.name}}</p>
            </div>
        </div>

        <!-- Header -->
        <div class="header grid grid-cols-2 shadow text-md font-semibold text-secondary bg-yellow-50">
            <div class="p-4 flex items-center">ព័ត៌៌មានលទ្ធកម្ម</div>
            <div class="flex justify-between items-center pl-4 pr-2">
                <div>ទិន្នន័យ</div>
                <button *ngIf="access_permission?.update == 1" class="min-w-8 max-w-8 rounded-md bg-blue-400 "
                    mat-stroked-button (click)="updateProcurement()">
                    <mat-icon class="icon-size-6 text-white" svgIcon="mat_solid:create"></mat-icon>
                </button>
            </div>
        </div>
        <!-- Rows -->
        <div class="content">
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">តម្លៃសាងសង់ស្នើសុំ</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{data?.procurement?.bud_request_construction |
                    number}} រៀល</p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">តម្លៃត្រួតពិនិត្យស្នើសុំ</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{data?.procurement?.bud_request_check | number}}
                    រៀល</p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary bg-slate-100">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">សរុបតម្លៃគម្រោងស្នើសុំដំបូង</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{bud_request_total | number}} រៀល
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">តម្លៃសាងសង់ក្រោយធានាចំណាយ</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{data?.procurement?.bud_after_warranty_con |
                    number}} រៀល</p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">តម្លៃត្រួតពិនិត្យក្រោយធានាចំណាយ
                </p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{data?.procurement?.bud_after_warranty_check |
                    number}} រៀល
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary bg-slate-100">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">សរុបតម្លៃគម្រោងក្រោយធានាចំណាយ</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{bud_after_warranty_total | number}} រៀល
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">តម្លៃកិច្ចសន្យា សាងសង់</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{data?.procurement?.bud_contract_construciton |
                    number}} រៀល
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">តម្លៃកិច្ចសន្យា ត្រួតពិនិត្យ</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{data?.procurement?.bud_contract_check |
                    number}} រៀល
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary bg-slate-100">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">សរុបតម្លៃកិច្ចសន្យា</p>
                <p class="h-full px-4 py-2 border-b flex items-center">{{bud_contract_total | number}} រៀល
                </p>
            </div>
        </div>

        <!-- Header -->
        <div class="header grid grid-cols-2 shadow text-md font-semibold text-secondary bg-yellow-50">
            <div class="p-4 flex items-center">ព័ត៌៌មានកាលបរិច្ចេទ</div>
            <div class="flex justify-between items-center pl-4 pr-2">
                <div>ទិន្នន័យ</div>
                <button *ngIf="access_permission?.update == 1" class="min-w-8 max-w-8 rounded-md bg-blue-400 "
                    mat-stroked-button (click)="updateDate()">
                    <mat-icon class="icon-size-6 text-white" svgIcon="mat_solid:create"></mat-icon>
                </button>
            </div>
        </div>
        <!-- Rows -->
        <div class="content">
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">កាលបរិច្ឆេទចាប់ផ្តើម កិច្ចសន្យាគម្រោង
                </p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container
                        *ngIf="data?.date?.project_start_date_contract; else noStartDateContract">{{data?.date?.project_start_date_contract
                        | date:'dd-MMM-yyy'}}</ng-container>
                    <ng-template #noStartDateContract><span
                            class="text-yellow-300">មិនទាន់កំណត់កាលបរិច្ឆេទ</span></ng-template>
                </p>
            </div>

            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">កាលបរិច្ឆេទបញ្ចប់​ កិច្ចសន្យាគម្រោង</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container
                        *ngIf="data?.date?.project_end_date_contract; else noEndDateContract">{{data?.date?.project_end_date_contract
                        | date:'dd-MMM-yyy'}}</ng-container>
                    <ng-template #noEndDateContract><span
                            class="text-yellow-300">មិនទាន់កំណត់កាលបរិច្ឆេទ</span></ng-template>
                </p>
            </div>

            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">រយៈពេលអនុវត្ត កិច្ចសន្យាគម្រោង</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container
                        *ngIf="data?.date?.process_contract_duration; else noDuration">{{data?.date?.process_contract_duration}}
                        ខែ</ng-container>
                    <ng-template #noDuration><span class="text-yellow-300">មិនទាន់កំណត់ចំនួនខែ</span></ng-template>
                </p>
            </div>

            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">កាលបរិច្ឆេទបញ្ចប់​
                    កិច្ចសន្យាគម្រោង(ករណីពន្យា)</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container *ngIf="data?.date?.delay_date; else noDelayDate">{{data?.date?.delay_date |
                        date:'dd-MMM-yyy'}}</ng-container>
                    <ng-template #noDelayDate><span class="text-yellow-300">មិនទាន់កំណត់កាលបរិច្ឆេទ</span></ng-template>
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r border-b flex items-center">រយៈពេលធានា សុពលភាពគម្រោង</p>
                <p class="h-full px-4 py-2 border-b flex items-center">
                    <ng-container
                        *ngIf="data?.date?.warranty_duration; else noWarrantyDuration">{{data?.date?.warranty_duration}}
                        ខែ</ng-container>
                    <ng-template #noWarrantyDuration><span class="text-yellow-300">មិនទាន់កំណត់ចំនួនខែ</span></ng-template>
                </p>
            </div>
            <div class="grid grid-cols-2 text-md text-secondary">
                <p class="h-full px-4 py-2 border-r flex items-center">កាលបរិច្ឆេទបញ្ចប់សុពលភាពគម្រោង</p>
                <p class="h-full px-4 py-2 flex items-center">
                    <ng-container
                        *ngIf="data?.date?.close_project_date; else noCloseProjectDate">{{data?.date?.close_project_date
                        | date:'dd-MMM-yyy'}}</ng-container>
                    <ng-template #noCloseProjectDate><span
                            class="text-yellow-300">មិនទាន់កំណត់កាលបរិច្ឆេទ</span></ng-template>
                </p>
            </div>
        </div>
    </div>
</div>