.detail-pk-main-section {
    width: 100%;
    max-height: calc(100dvh - 20rem);
    overflow: auto;
}

table {
    width: 100%;
}

tr:last-child td.mat-cell {
    border-bottom: none;
}

.detail-pk-main-section .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.detail-pk-main-section .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.detail-pk-main-section .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.detail-pk-main-section .mat-column-no {
    min-width: 40px;
    width: 40px;
    max-width: 40px;
    text-align: center;
}

.detail-pk-main-section .mat-column-code {
    min-width: 50px;
    width: 50px;
    max-width: 50px;
    text-align: right;
}

.detail-pk-main-section .mat-column-point {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    text-align: right;
}

.detail-pk-main-section .mat-column-totalPotholes {
    min-width: 120px;
    max-width: 120;
    width: 120px;
    text-align: right;
}
.detail-pk-main-section .mat-column-action {
    min-width: 90px;
    flex: none;
    width: 1rem;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}
