<div class="detail-pk-main-section rounded-md overscroll-y-auto">
    <div class="min-h-15 max-h-15 flex gap-2 justify-end items-center py-2 px-5 min-width-sm shadow bg-white" *ngIf=" data?.length== 0 && !isSearching ">
        <div class="flex items-center gap-2">
             <!-- ================================>> Button Search PK -->
            <div class="custom-select-header hidden sm:flex">
                <mat-form-field appearance="outline" class="min-w-48 max-w-48"  >
                    <input matInput [(ngModel)]="key" (keyup.enter)="listing()" placeholder="ស្វែងរក PK">
                </mat-form-field>
            </div>
            <div class="custom-botton-flat hidden sm:flex ">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="listing()">
                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                </button>
            </div>

        </div>
    </div>
    <ng-container *ngIf="isSearching">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
            <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div *ngIf=" data?.length==0 && !isSearching " class="flex flex-col justify-center items-center mb-4 ">
            <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
            <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
        </div>
    </ng-container>

    <!-- <div *ngIf=" data?.length== 0 && !isSearching " >
        <div class="flex flex-col justify-center items-center mb-4 ">
            <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
            <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
        </div>
    </div> -->

    <div *ngIf="data?.length > 0 && !isSearching">
        <!-- ================>>  Get Data  API  -->
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                <td mat-cell *matCellDef="let data"> {{ data?.rn }} </td>
            </ng-container>

            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> ចំនួន PK </th>
                <td mat-cell *matCellDef="let data">
                    PK {{data?.code}}
                </td>
            </ng-container>

            <ng-container matColumnDef="point">
                <th mat-header-cell *matHeaderCellDef> ចំណុច ឬ ចំនួនក្រលុក </th>
                <td mat-cell *matCellDef="let data">
                    <span *ngFor="let point of data.points">
                        M {{point?.meter}}  ;  {{point?.n_of_potholes}} <br>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="totalPotholes">
                <th mat-header-cell *matHeaderCellDef> ចំនួនក្រលុកសរុប </th>
                <td mat-cell *matCellDef="let data">
                    {{data?.n_of_potholes}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                    <div class="min-h-15 max-h-15 flex gap-2 justify-end items-center py-2 px-5 bg-yellow-50">
                        <div class="flex items-center gap-2">
                             <!-- ================================>> Button Search PK -->
                            <div class="custom-select-header ">
                                <mat-form-field appearance="outline" class="min-w-40 max-w-40"  >
                                    <input matInput [(ngModel)]="key" (keyup.enter)="listing()" placeholder="ស្វែងរក PK">
                                </mat-form-field>
                            </div>
                            <div class="custom-botton-flat  ">
                                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="listing()">
                                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                                </button>
                            </div>
                
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let data" class="bg-white z-9 -right-1">
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-50 -pr-2 z-9 "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>

        </table>
    </div>
</div>
<div class="min-h-11 max-h-11 hidden" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
    <mat-paginator
        class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
        [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
        (page)="onPageChanged($event)">
    </mat-paginator>
</div>
