<ng-container *ngIf="loading">
    <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
        <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</ng-container>


<div mat-dialog-title *ngIf="response && !loading" class="custom-dialog-title mb-6">
    <span class="text-xl">គម្រោង {{response?.project_code}} | {{response?.point}} | {{response?.work}} | {{response?.side?.name}}</span>
</div>

<ng-container *ngIf="response && !loading">
    <div class="custom-dialog-container border rounded-lg">
        <mat-tab-group>
          
            <mat-tab label="វឌ្ឍនភាពការងារ">
                <app-progress [data]="response" [id]="data" (updateSide)="getNewSide($event)"></app-progress>
            </mat-tab>
            <mat-tab label="ត្រួតពិនិត្យគុណភាព">
                <app-quality [data]="response" [id]="data" (updateTestQuality)="testQuality($event)"></app-quality>
            </mat-tab>
            
        </mat-tab-group>
    </div>
</ng-container>