<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">បង្កើតកូដថែទាំ</span>
</div>
<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="mainForm" #CreateMainCodeNgForm="ngForm">

        <div class=" main-container-steper">

            <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 sm:grid-cols-2 gap-4">

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>លេខកូដ</mat-label>
                    <input id="code" type="number" matInput [formControlName]="'code'" >
                    <!-- <mat-hint class="mt-2">E.g.សូមបញ្ចូលជាលេខអារ៉ាប់</mat-hint> -->
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('code').hasError('required')">
                        សូមបញ្ចូលលេខកូដ
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>អត្រា</mat-label>
                    <input id="rate" type="number" matInput [formControlName]="'rate'">
                    <!-- <mat-hint class="mt-2">E.g.សូមបញ្ចូលជាលេខអារ៉ាប់</mat-hint> -->
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('rate').hasError('required')">
                        សូមបញ្ចូលអត្រា
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ឈ្មោះខ្មែរ</mat-label>
                    <input id="kh_name" matInput [formControlName]="'kh_name'" minlength="0" maxlength="150">
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('kh_name').hasError('required')">
                        សូមបញ្ចូលឈ្មោះខ្មែរ
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ឈ្មោះអង់គ្លេស</mat-label>
                    <input id="en_name" matInput [formControlName]="'en_name'" minlength="0" maxlength="150">
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('en_name').hasError('required')">
                        សូមបញ្ចូលឈ្មោះអង់គ្លេស
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ក្រុម</mat-label>
                    <ng-container>
                        <mat-select formControlName="group">
                            <mat-option>ជ្រើសរើស</mat-option>
                            <ng-container *ngIf=" group ">
                                <mat-option *ngFor="let row of group" [value]="row.id">
                                    <span>{{ row?.kh_name }} - {{row?.en_name}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('group').hasError('required')">
                        សូមជ្រើសរើសក្រុម
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>កត្តា</mat-label>
                    <ng-container>
                        <mat-select formControlName="unit">
                            <mat-option>ជ្រើសរើស</mat-option>
                            <ng-container *ngIf="unit">
                                <mat-option *ngFor="let row of unit" [value]="row.id">
                                    <span>{{ row?.kh_name}}-{{row?.en_name}} </span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('unit').hasError('required')">
                        សូមជ្រើសរើសកត្តា
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ប្រភេទ</mat-label>
                    <ng-container>
                        <mat-select formControlName="type">
                            <mat-option>ជ្រើសរើស</mat-option>
                            <ng-container *ngIf=" type">
                                <mat-option *ngFor="let row of type " [value]="row.id">
                                    <span>{{ row?.kh_name }} - {{row?.en_name}} </span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('type').hasError('required')">
                        សូមជ្រើសរើសប្រភេទ
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-6">
                    <mat-label>ប្រភេទបន្ទាប់</mat-label>
                    <ng-container>
                        <mat-select formControlName="subtype">
                            <mat-option>ជ្រើសរើស</mat-option>
                            <ng-container *ngIf="subtype">
                                <mat-option *ngFor="let row of subtype" [value]="row.id">
                                    <span>{{ row?.kh_name }} - {{row?.en_name}} </span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('subtype').hasError('required')">
                        សូមជ្រើសរើសប្រភេទបន្ទាប់
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="custom-textarea custom-dis custom-select grid grid-cols-1 lg:grid-cols-1 sm:grid-cols-1 gap-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>សេចក្តីពណ៌នា</mat-label>
                    <textarea id="description" matInput [formControlName]="'description'"></textarea>
                </mat-form-field>
                
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()" [disabled]="mainForm.invalid || saving">
        <mat-icon *ngIf="!mainForm.disabled"class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="mainForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>