
<div class="natioanal-main-mo-section">
    <div class="natioanal-content-mo-section">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
         <!-- ================>>  Get Data  API  -->
        <div class="natioanal-body-mo-section hidden" [ngClass]="{ 'flex-custom': data?.length> 0 && !isSearching }">
            <table mat-table [dataSource]="dataSource">

                <!-- no Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ល.រ</th>
                    <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                </ng-container>

                <!-- road Column -->
                <ng-container matColumnDef="nationaroad">
                    <th mat-header-cell *matHeaderCellDef> ផ្លូវជាតិ</th>
                    <td mat-cell *matCellDef="let data">
                        NR {{ data?.name }}
                    </td>
                </ng-container>

                <!-- ministry Column -->
                <ng-container matColumnDef="manage">
                    <th mat-header-cell *matHeaderCellDef> ដែនគ្រប់គ្រង</th>
                    <td mat-cell *matCellDef="let data">
                        <span *ngFor="let mts of data.mts">
                            . {{ mts?.mt?.user?.name }} (PK {{ mts?.start_pk }} - PK {{ mts?.end_pk }}) <br>
                        </span>
                    </td>
                </ng-container>

                <!-- total_pothole Column -->
                <ng-container matColumnDef="total_pothole">
                    <th mat-header-cell *matHeaderCellDef> ចំនួនផ្លូវខូច</th>
                    <td mat-cell *matCellDef="let data">
                        {{ data?.n_of_potholes }}
                    </td>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                    <td mat-cell *matCellDef="let data" class="bg-white z-9">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                                </button>
                        <mat-menu #menu="matMenu" class="menu-custom">
                            <button mat-menu-item [routerLink]="['/cp/road/alls/'+data?.id ]">
                                <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                                    <span class="text-md text-gray-500">មើល</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-300 -pr-2 z-9 "></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
            </table>
        </div>
    </div>
</div>
<div class="min-h-11 max-h-11 hidden" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
    <mat-paginator
        class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
        [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
        (page)="onPageChanged($event)">
    </mat-paginator>
</div>