<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">{{data?.title}}</span>
</div>
<mat-dialog-content class="custom-dialog-content hidden-scroll" scrollbar>
    <div class="grid " [ngClass]="images?.length > 1 ? 'grid-cols-2 gap-4' :'grid-cols-1 gap-1'">
      <div class="w-full   mb-1.5 rounded-md bg-[#f2f3f8] hover:bg-slate-300" *ngFor="let row of images let i = index; " [attr.data-index]="i" >
        <div class="rounded-md w-full">
          <div class="w-full  h-13 flex items-center ">
            <div class="pl-6 flex" >
              <div class="pr-2"><mat-icon style="color: rgb(212, 176, 15); font-size: 19px !important;" svgIcon="heroicons_solid:photograph"></mat-icon></div>
               <span class="pt-[2px]">{{data?.comment}} {{data?.date}}</span></div>
          </div>
          <div class=" w-full min-h-max px-1 sm:px-2 md:px-3 lg:px-4 xl:px-4 pb-1 sm:pb-2 md:pb-3 lg:pb-4 xl:pb-4">
            <img class="w-full  object-cover rounded-md" style="object-fit: cover;" [src]="url+row?.image_uri" alt="image">
          </div>
        </div>
  </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions custom-botton-flat">
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>
