.custom-main-section {
    width: 100%;
    height: calc(100dvh - 3.75rem);
    overflow: hidden;
}

.custom-content-section {
    width: 100%;
    max-height: calc(100dvh - 7.5rem);
}

.custom-content-section .container-organization {
    width: 100%;
    max-height: calc(100vh - 9.5rem);
    overflow: auto;
}

table {
    width: 100%;
}

.container-organization .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-organization .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-organization .mat-column-id {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.container-organization .mat-column-name {
    min-width: 15rem;
    text-align: left;
    padding: 3px 2rem !important;
}

.container-organization .mat-column-date {
    min-width: 10rem;
}

.container-organization .mat-column-qty {
    min-width: 15rem;
    text-align: right;
    padding: 3px 4.5rem !important;
}

td.mat-footer-cell {
    border-bottom: 0;
}