<!-- <div *ngIf="data?.length != 0 && !isLoading" class=" w-full  flex justify-end pr-5 py-2 min-h-15 max-h-15" >
  <div class="custom-select-header right-1 mt-0.5 md:flex sticky">
    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
      <mat-select [(ngModel)]="work_type" (selectionChange)="onChangeLayer('work_type')"  placeholder="ស្រទាប់ដី" [disabled]="data?.length==0 && work_type ==''">
          <ng-container *ngIf="setup?.layers">

              <mat-option *ngFor="let row of setup?.layers" [value]="row?.id">
                  <span>{{ row?.name }}</span>
              </mat-option>
          </ng-container>
      </mat-select>
  </mat-form-field>
</div>
  <div class="custom-select-header right-1 ml-1.5 mt-0.5 md:flex sticky">
    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
      <mat-select [(ngModel)]="method" (selectionChange)="onChangeTest('method')"  placeholder="វិធីសាស្ត្រតេស្ត" [disabled]="data?.length==0 && work_type ==''">
          <ng-container *ngIf="methos?.length > 0">

              <mat-option *ngFor="let row of methos" [value]="row?.id">
                  <span>{{ row?.name }}</span>
              </mat-option>
          </ng-container>
      </mat-select>
  </mat-form-field>
</div>
  <div class="custom-botton-flat ml-1.5 mt-0.5">
  <button *ngIf="access_permission?.create == 1" class="min-w-7 max-w-7 rounded-md bg-yellow-400 " mat-flat-button (click)="create()">
      <mat-icon class="icon-size-8 " [svgIcon]="'heroicons_outline:plus'"></mat-icon>
  </button>
</div>
</div> -->
<div class="testing-standard-main-section rounded-md">

    <ng-container *ngIf="isLoading">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
            <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>

    

    <div *ngIf=" !isLoading">
        <div class="min-h-12 max-h-12 flex items-center justify-end bg-yellow-50 border-b">
            <div class="flex items-center gap-2 pl-4 pr-2 custom-botton-flat">
                <button class="min-w-11 max-w-11 rounded-md bg-yellow-400 pt-2 pb-1" [matTooltip]="'ទាញយក'" (click)="downloadjsreport(7)">
                    <mat-icon class="icon-size-6 " *ngIf="!isSaving " svgIcon="mat_outline:file_download"></mat-icon>
                </button>
            </div>
        </div>
        <div *ngFor="let data of Alldata;let x=index;" class="mt-3">
            <div *ngIf="!isLoading" >
                <div  class="custom-botton-flat w-full flex  justify-between text-right min-h-11 max-h-11  pr-1.5 items-center bg-slate-50 shadow-sm " >
                    <div class="pl-4"><span class="text-gray-600">{{x+1}}. </span> <span class=" text-gray-500 font-bold">{{data.name}}</span></div>
                    <button  *ngIf="access_permission?.create == 1" class="min-w-3 max-w-3 rounded-md ml-1.5  bg-yellow-400 " mat-flat-button (click)="create(data.name,data.id)">
                        <mat-icon class="icon-size-6 " [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    </button>
                </div>
                <div *ngIf="data.item.length == 0"class="flex flex-col justify-center items-center mb-4 ">
                    <mat-icon class="icon-size-18" svgIcon="toc"></mat-icon>
                    <span class="text-xl "><span>គ្មានទិន្នន័យ</span></span>
                </div>
            </div>
         <div class="overflow-y-auto">
            <table *ngIf="data.item.length >  0">
                <thead class="h-[48px] bg-yellow-50 border-b">
                    <tr>
                        <th class="no font-bold">ល.រ </th>
                   
                    <!-- <th class="layer font-bold">ស្រទាប់ដី</th> -->
                    <th class="method font-bold">វិធីសាស្ត្រតេស្ត</th>
                    <th class="pk font-bold">ទីតាំង(PK)</th>
                    <th class="standard font-bold">តម្រូវការស្តង់ដារ</th>
                    <th class="create_at font-bold">កាលបរិច្ឆេទ</th>
                    <th class="creator font-bold">អ្នកបញ្ចូល</th>
                    <th class="action font-bold"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item1 of data.item.sub;let j= index;">
                    <tr class="h-[48px] border-b  " *ngFor="let item of item1?.data;let i= index;">
                        <!-- <td class="no " *ngIf="j>0">{{data.item.sub[j-1].data.length+i+1}} </td> -->
                        <td class="no " [attr.rowspan]="item1?.data.length"   *ngIf="data.item.sub[j].data[0].id == item.id"> {{j+1}}</td>
                       
                        <!-- <td class="layer "> {{item.work_type?.name}}</td> -->
                        <td class="method border-x" [attr.rowspan]="item1?.data.length"   *ngIf="data.item.sub[j].data[0].id == item.id" >{{item.method?.name}}</td>
                        <td class="pk ">PK {{item.pk_start}}+{{item?.station_start}} - PK {{item.pk_end}}+{{item?.station_end}}</td>
                        <td class="standard "> <span *ngIf=" item.method?.id == 44">X <= </span> <span *ngIf=" item.method?.id != 44">X >= </span>{{item?.standard}} {{item?.method?.unit}}</td>
                        <td class="create_at "> {{item?.date}}</td>
                        <td class="creator "> {{item.creator}}</td>
                        <td class="action">
                            <button *ngIf="access_permission?.delete == 1" mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button *ngIf="access_permission?.update == 1" mat-menu-item (click)="update(item,data?.name)">
                                    <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:edit"></mat-icon>
                                    <span class="text-md text-gray-500">កែប្រែ</span>
                                </button>
                                <button  mat-menu-item (click)="delete(item.id)">
                                    <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                    <span class="text-md text-gray-500">លុប</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
            <div class="min-h-11 max-h-11 hidden" [ngClass]="{'flex-custom': data?.length > 0  && !isLoading }">
                <mat-paginator
                    class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
                    [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
                    (page)="onPageChanged($event)">
                </mat-paginator>
            </div>
         </div>
         
        </div>
    </div>
</div>
<ng-template #loadingTemplate>
    <ng-container>
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
            <p class="text-2xl mb-4">សូមមេត្តារងចាំ! កំពុងទាញយករបាយការណ៏</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
  </ng-template>
