.testing-standard-main-section {
    width: 100%;
    max-height: calc(100dvh - 14.2rem);
    overflow: auto;
}

table {
    width: 100%;
}

tr:last-child td.mat-cell {
    border-bottom: none;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
.testing-standard-main-section .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.testing-standard-main-section .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.testing-standard-main-section .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.testing-standard-main-section .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.testing-standard-main-section .mat-column-pks {

    min-width: 236px;
    padding: 3px 0.5rem !important;
}

.testing-standard-main-section .mat-column-work_type {
    min-width: 140px;
    padding: 3px 6px 3px 0.5rem !important;
}
.testing-standard-main-section .mat-column-Location {
  min-width: 130px;
  text-align: left;
  padding: 3px 6px 3px 1rem !important;
}
.testing-standard-main-section .mat-column-method {
    min-width: 296px;
    text-align: left;
    padding: 3px 6px 3px 1rem !important;
}

.testing-standard-main-section .mat-column-standard {
    min-width: 170px;
    width: 200px;
    max-width: 200px;
    padding: 3px 6px 3px 1rem !important;
}

.testing-standard-main-section .mat-column-create_at {
    min-width: 115px;
    width: 130px;
    max-width: 200px;
}

.testing-standard-main-section .mat-column-created_by {
    min-width: 200px;
    padding: 3px 6px 3px 1rem !important;
}

.testing-standard-main-section .mat-column-action {
    flex: none;
    width: 2rem;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}
.no{
    min-width: 70px;
    max-width: 70px;
    width: 70px;
    text-align: center;
}
.pk{
    min-width: 236px;
    padding: 3px 0.5rem !important;
    text-align:left; 
}
.layer{
    min-width: 140px;
    padding: 3px 0.5rem !important;
    text-align:left; 
}
.method{
    min-width: 296px;
    text-align: left;
    padding: 3px 6px 3px 1rem !important;
}
.standard{
    min-width: 170px;
    width: 200px;
    max-width: 200px;
    text-align: left;
    padding: 3px 6px 3px 1rem !important;
}
.create_at{
    min-width: 115px;
    width: 130px;
    text-align: left;
    max-width: 200px;
}
.creator{
    min-width: 200px;
    text-align: left;
    padding: 3px 6px 3px 1rem !important;
}
table thead .action{
    flex: none;
    width: 2rem;
    position: sticky !important;
    right: 0;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(254 252 232 / var(--tw-bg-opacity)) !important;
}
table tbody tr .action{
    background-color: #fff;
    position: sticky !important;
    right: 0;
}