<div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
    <p class="text-2xl mb-4">{{data?.message}}</p>
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>