<div class="mb-5">
  <div class="min-h-50 max-h-50 mb-5 border-2 rounded-md mt-1 w-full custom-image relative p-1">
    <img [src]="src" alt="image"/>
  </div>
  <div *ngIf="mode !== 'READONLY'" (click)="selectFile()" class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
    <span class="text-xl mr-2"> {{ title }} </span>
    <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
  </div>
</div>

<input [id]="'portrait-file-' + index" class="hidden" type="file" (change)="fileChangeEvent($event)" />