.main-content {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

::placeholder {
    color: rgb(160, 176, 197) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(160, 176, 197) !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(160, 176, 197) !important;
}

.custom-button:disabled {
    background-color: rgb(226 232 240) !important;
    color: #9da9bb !important;
    cursor: not-allowed;
}

.custom-button:enabled {
    background-color: #FFC107 !important;
    color: #fff !important;
    font-weight: 600;
}