<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">បង្កើតប្លង់</span>
</div>


<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="planForm" #CreatePlanNgForm="ngForm" (submit)="submit()">
        <!-- <div class="custom-style">
            <div class="pr-5 custom-upload">
                <app-portrait mode="mode" [src]=" src " [title]=" 'ជ្រើសរើសរូបភាព' "
                        (srcChange)="srcChange($event)">
                    </app-portrait>
            </div>

            <div class=" main-container-steper">
                <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4">

                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>ចំណងជើង</mat-label>
                        <input id="title" matInput [formControlName]="'title'" required>
                        <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="planForm.get('title').hasError('required')">
                            សូមបញ្ចូលចំណងជើង
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>លេខសម្គាល់</mat-label>
                        <input id="name" matInput [formControlName]="'docu_code'" required>
                        <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="planForm.get('docu_code').hasError('required')">
                            សូមបញ្ចូលលេខសម្គាល់
                        </mat-error>
                    </mat-form-field>

                    <div class="custom-textarea">
                        <mat-form-field appearance="outline" class="w-full mb-6">
                            <mat-label>សេចក្តីពណ៌នា</mat-label>
                            <textarea id="description" matInput [formControlName]="'description'"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="flex flex-col sm:flex-row gap-2">
            <div class="w-full md:min-w-60 md:max-w-60 flex justify-center">
                <div class="custom-image-upload">
                    <div class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                        <img *ngIf="src && !show" [src]="src" alt="image" />
                        <!-- <span class="w-full h-full custom-preview" *ngIf="src && !show" (click)="preview()">
                            <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                        </span> -->
                        <span class="w-full custom-h bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                            *ngIf="!src || show" (click)="selectFile()">ប្លង់</span>
                    </div>
                    <div (click)="selectFile()"
                        class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                        <span class="text-xl mr-2"> ជ្រើសរើសឯកសារ </span>
                        <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                    </div>
                    <input [id]="'portrait-file'" accept="image/*,application/pdf"class="hidden" type="file"
                        (change)="fileChangeEvent($event)" />
                    <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                    <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
                </div>
            </div>
            <div class="w-full">
                <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4 w-full">
                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>ចំណងជើង</mat-label>
                        <input id="title" matInput [formControlName]="'title'">
                        <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="planForm.get('title').hasError('required')">
                            សូមបញ្ចូលចំណងជើង
                        </mat-error>
                        <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="planForm.get('title').hasError('maxlength')">
                            សូមបញ្ចូលចំណងជើងតូចជាងឬស្មើ១០០ខ្ទង់
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>លេខសម្គាល់</mat-label>
                        <input id="name" matInput [formControlName]="'docu_code'">
                        <!-- <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="planForm.get('docu_code').hasError('required')">
                            សូមបញ្ចូលលេខសម្គាល់
                        </mat-error>
                        <mat-error class="min-h-6 mt-2.5 text-sm"
                            *ngIf="planForm.get('docu_code').hasError('maxlength')">
                            សូមបញ្ចូលលេខសម្គាល់តូចជាងឬស្មើ១០០ខ្ទង់
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="custom-textarea">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>សេចក្តីពណ៌នា</mat-label>
                        <textarea id="description" matInput [formControlName]="'description'"></textarea>
                    </mat-form-field>
                    <mat-error class="min-h-6 text-sm"
                        *ngIf="planForm.get('description').hasError('required') && planForm.get('description').touched">
                        សូមបញ្ចូលសេចក្តីពណ៌នា
                    </mat-error>
                    <mat-error class="min-h-6 text-sm" *ngIf="planForm.get('description').hasError('maxlength')">
                        សូមបញ្ចូលសេចក្តីពណ៌នាតូចជាងឬស្មើ២៥៥ខ្ទង់
                    </mat-error>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()" [disabled]="planForm.invalid || saving">
        <mat-icon *ngIf="!planForm.disabled"class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="planForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>
