
<div class="main-total">
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <!-- =============================>> Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex flex-1 items-center font-medium">
                <div class="flex items-center whitespace-nowrap">
                    <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
                </div>
                <div class="flex items-center  whitespace-nowrap" >
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">របាយការណ៍</span>
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">តារាងរបាយការណ៍សរុប</span>
                </div>
            </div>
        </div>
       
    </div>

    <div class="main-total-data" scrollbar>
        <div class="flex flex-col lg:flex-row p-3">
            <!-- Dashboard -->
            <div class="flex flex-col flex-auto h-fit bg-white-600 shadow rounded-2xl overflow-hidden p-6">
                <div class="flex items-start justify-between">
                    <div class="text-2xl font-bold truncate py-2 text-slate-600">តារាងរបាយការណ៍សរុប </div>
                </div>
                <mat-divider></mat-divider>
                <div class="flex flex-col flex-auto mt-6 h-72 cusotom-relative">
                    <apx-chart *ngIf="workchart" class="flex items-center justify-center w-full h-full"
                        [chart]="workchart.chart" [colors]="workchart.colors" [labels]="workchart.labels"
                        [plotOptions]="workchart.plotOptions" [series]="workchart.series"
                        [states]="workchart.states" [tooltip]="workchart.tooltip" [responsive]="workchart.responsive">
                    </apx-chart>
                </div>
                <div class="mt-8">
                    <div class="-my-3 divide-y">
                        <ng-container *ngFor="let dataset of data?.sum?.series; let i = index">
                            <div class="grid grid-cols-2 py-3">
                                <div class="flex items-center">
                                    <div class="flex-0 w-2 h-2 rounded-full"
                                        [style.backgroundColor]="workchart?.colors[i]">
                                    </div>
                                    <div class="ml-3 truncate">{{data?.sum?.labels[i]}}</div>
                                </div>
                                <div class="text-right text-secondary">{{dataset}} ករណី</div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
