
<div class="mo-main-section">

    <div *ngIf=" data?.length == 0 && !isSearching " class="flex min-h-12 max-h-12 items-center justify-end px-2 py-0.5 shadow text-gray-800 bg-white custom-botton-flat">
        <button class="min-w-8 max-w-8 rounded-md bg-yellow-400 " mat-flat-button (click)="createMo()">
            <mat-icon class="icon-size-8 " [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        </button>
    </div>

    <div class="mo-content-section">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
         <!-- ================>>  Get Data  API  -->
        <div class="mo-body-section hidden" [ngClass]="{ 'flex-custom': data?.length> 0 && !isSearching }">
            
            <table mat-table [dataSource]="dataSource">

                <!-- no Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                    <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                </ng-container>

                <!-- road Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> ឈ្មោះ </th>
                    <td mat-cell *matCellDef="let data">
                        {{ data?.mo?.user?.name }}
                    </td>
                </ng-container>

                <!-- ministry Column -->
                <ng-container matColumnDef="create_at">
                    <th mat-header-cell *matHeaderCellDef> កាលបរិច្ឆេទ </th>
                    <td mat-cell *matCellDef="let data">
                        {{ data?. created_at | date: 'YYYY-MM-dd'}}
                    </td>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="button-create text-center" >
                        <div class="custom-botton-flat ml-1.5 mt-0.5">
                            <button class="min-w-7 max-w-7 rounded-md bg-yellow-400 " mat-flat-button
                                (click)="createMo()">
                                <mat-icon class="icon-size-8 " [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            </button>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let data" class="bg-white z-9" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                                </button>
                        <mat-menu #menu="matMenu" class="menu-custom">
                            <button mat-menu-item (click)="OnDelete(data)">
                                <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                    <span class="text-md text-gray-500">លុប</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-50 -pr-2 z-9  "></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
            </table>
        </div>
    </div>
</div>