.custom-main-account {
  width: 100%;
  height: calc(100vh - 60px); //60px is navigation
  overflow: hidden;
}

.custom-content-account {
  width: 100%;
  height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
}

.custom-content-account .custom-content {
  width: 100%;
  max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom
  overflow: hidden;
}

.custom-content .container-account {
  width: 100%;
  max-height: calc(100vh - 188px);
  overflow: auto;
}
::ng-deep .custom-select-header .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 1px !important ;
  right: -9.5px !important;
}
::ng-deep .mat-menu-panel {
  min-height: 3rem !important;
  min-width: 7rem !important;
}

.custom-position .custom-preview {
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  min-height: 3.1rem;
  max-height: 3.1rem;
  min-width: 3.1rem;
  max-width: 3.1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.custom-position:hover .custom-preview {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

.container-account .mat-cell {
  padding: 3px 6px !important;
  color: rgb(71 85 105) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.container-account .mat-cell p {
  font-size: 15px !important;
  font-weight: 500;
}

.container-account .mat-header-cell {
  font-size: 1rem !important;
  padding: 0 !important;
  color: rgb(30, 41, 59) !important;
}

.container-account .mat-column-id {
  min-width: 70px;
  width: 70px;
  max-width: 70px;
  text-align: center;
}

.container-account .mat-column-name {
  min-width: 220px;
  width: 380px;
  max-width: 380px;
  text-align: left;
  padding: 3px 1rem !important;
}

.container-account .mat-column-organization {
  min-width: 170px;
  width: 350px;
  max-width: 350px;
  padding: 3px 1rem !important;
}

.container-account .mat-column-type {
  min-width: 230px;
  width: 230px;
  max-width: 230px;
  padding: 3px 1rem !important;
}

.container-account .mat-column-nPro{
  min-width: 350px;
  width: 350px;
  max-width: 350px;
  padding: 10px 8rem !important;
}

.container-account .mat-column-status {
  min-width: 170px;
  width: 230px;
  max-width: 230px;
  padding: 3px 1rem !important;
}
.container-account .mat-column-action {
  flex: none;
  width: 25px;
  margin-right: -2px !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
  color: #fff !important;
}

.flex-custom {
  display: flex !important;
}

::placeholder {
  color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(100 116 139) !important;
}

.mat-column-nPro{
  text-align: right !important;
}
