<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">បង្កើតការិយាល័យ</span>
</div>
<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="moForm" #CreateMoNgForm="ngForm">

        <div class=" main-container-steper">

            <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-4">

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ក្រសួង</mat-label>
                    <ng-container>
                        <mat-select formControlName="ministry" (valueChange)="ministrySelected($event)">
                            <mat-option>ជ្រើសរើស</mat-option>
                            <ng-container *ngIf="ministry">
                                <mat-option *ngFor="let row of ministry" [value]="row.id">
                                    <span>{{ row?.abbre }} </span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="moForm.get('ministry').hasError('required')">
                        សូមជ្រើសរើសក្រសួង
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ការិយាល័យ</mat-label>
                    <ng-container>
                        <mat-select formControlName="mo">
                            <mat-option>ជ្រើសរើស</mat-option>
                            <ng-container *ngIf="mo">
                                <mat-option *ngFor="let row of mo" [value]="row.id">
                                    <span>{{ row?.user?.name }} </span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="moForm.get('ministry').hasError('required')">
                        សូមជ្រើសរើសការិយាល័យ
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>PK ចាប់ផ្តើម</mat-label>
                    <input id="fromPK" matInput type="number" min="1" max="172" maxlength="3" [formControlName]="'fromPK'">
                    <mat-error >
                        <span class="min-h-6 mt-2.5 text-md" *ngIf="moForm.get('fromPK').hasError('min')"> សូមបញ្ចូលPK ធំជាងនេះ</span>
                        <span class="min-h-6 mt-2.5 text-md" *ngIf="moForm.get('fromPK').hasError('required')"> សូមបញ្ចូលPK ចាប់ផ្តើម</span>
                        <span class="min-h-6 mt-2.5 text-md" *ngIf="moForm.get('fromPK').hasError('exist')"> មានរួចហើយ</span>
                        <span class="min-h-6 mt-2.5 text-md" *ngIf="moForm.get('fromPK').hasError('greaterThanToPK') || moForm.get('fromPK').hasError('max')">សូមបញ្ចូលPK តូចជាងនេះ</span>
                    </mat-error>
                   
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>PK បញ្ចប់</mat-label>
                    <input id="toPK" matInput type="number" min="2" max="172" maxlength="3" [formControlName]="'toPK'">
                    <mat-error >
                        <span class="min-h-6 mt-2.5 text-md" *ngIf="moForm.get('toPK').hasError('required')"> សូមបញ្ចូលPK បញ្ចប់</span>
                        <span class="min-h-6 mt-2.5 text-md" *ngIf="moForm.get('toPK').hasError('lessThanFromPK')">សូមបញ្ចូលPK ធំជាងនេះ</span>
                        <span class="min-h-6 mt-2.5 text-md" *ngIf="moForm.get('toPK').hasError('exist')">មានរួចហើយ</span>
                        <span class="min-h-6 mt-2.5 text-md" *ngIf="moForm.get('toPK').hasError('max')">សូមបញ្ចូលPK តូចជាងនេះ</span>
                    </mat-error>

                   
                </mat-form-field>

            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()" [disabled]="!moForm.valid">
        <mat-icon *ngIf="!moForm.disabled"class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="moForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>