.custom-style {
    display: flex;
    width: 100%;
}

.custom-style {
    .custom-upload {
        min-width: 150px;
        max-width: 240px;
        margin-right: 1.5rem;
    }
}

.main-content {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

table {
    width: 100%;
}

.standard-section .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.standard-section .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.standard-section .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.standard-section .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.standard-section .mat-column-test_type {
    min-width: 150px;
    text-align: left;
    padding: 3px 2rem !important;
}

.standard-section .mat-column-standard {
    min-width: 170px;
    text-align: right;
    padding: 3px 1rem !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

::ng-deep {
    .custom-style-custom-content-mat-label {
        height: 10px !important;
        display: flex !important;
        align-items: center !important;
    }
}

::placeholder {
    color: rgb(160, 176, 197) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(160, 176, 197) !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(160, 176, 197) !important;
}

.custom-button:disabled {
    background-color: rgb(226 232 240) !important;
    color: #9da9bb !important;
    cursor: not-allowed;
}

.custom-button:enabled {
    background-color: #FFC107 !important;
    color: #fff !important;
    font-weight: 600;
}