<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">បង្កើតស្តង់ដារតេស្ត ស្រទាប់ {{dataDialog?.layer}}</span>
</div>

<mat-dialog-content class="custom-dialog-content overflow-auto md:overflow-hidden lg:overflow-hidden xl:overflow-hidden">
    <form [formGroup]="StandardForm" #CreateStandardNgForm="ngForm">

        <div class=" main-container-steper">

            <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 sm:grid-cols-2 gap-4">

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ទីតាំងចាប់ផ្តើម (PK Start)</mat-label>
                    <ng-container>
                        <mat-select formControlName="pk_start">
                            <ng-container>
                                <ng-container *ngIf="pk_start">
                                    <mat-option *ngFor="let row of pk_start" [value]="row" (click)="check()">
                                        <span>{{row}}</span>
                                    </mat-option>
                                </ng-container>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="StandardForm.get('pk_start').hasError('required')">
                        សូមជ្រើសរើស PK Start
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>Station Start</mat-label>
                    <ng-container>
                        <mat-select formControlName="station_start">
                            <ng-container *ngIf="station_start">
                                <mat-option *ngFor="let row of station_start" [value]="row.name" (click)="checkSta_start()">
                                    <span>{{row.name}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md"
                        *ngIf="StandardForm.get('station_start').hasError('required')">
                        សូមជ្រើសរើស Station Start
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ទីតាំងបញ្ចប់ (PK End)</mat-label>
                    <ng-container>
                        <mat-select formControlName="pk_end">
                            <ng-container *ngIf="pk_end">
                                <mat-option *ngFor="let row of pk_end" [value]="row" (click)="checkEnd()">
                                    <span>{{row}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="StandardForm.get('pk_end').hasError('required')">
                        សូមជ្រើសរើស PK End
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>Station End</mat-label>
                    <ng-container>
                        <mat-select formControlName="station_end">
                            <ng-container *ngIf="station_end">
                                <mat-option *ngFor="let row of station_end" [value]="row">
                                    <span>{{row}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md"
                        *ngIf="StandardForm.get('station_end').hasError('required')">
                        សូមជ្រើសរើស Station End
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="w-full mb-2" >
                  <mat-label>ស្រទាប់</mat-label>
                  <ng-container>
                      <mat-select formControlName="type_id"  >
                          <ng-container *ngIf="layers">
                              <mat-option *ngFor="let row of layers" [value]="row.id"  (click)="checkLayer(row?.id)">
                                  <span>{{ row?.name}}</span>
                              </mat-option>
                          </ng-container>
                      </mat-select>
                  </ng-container>
                  <mat-error class="min-h-6 mt-2.5 text-md"
                      *ngIf="StandardForm.get('type_id').hasError('required')">
                      សូមជ្រើសរើសស្រទាប់
                  </mat-error>
              </mat-form-field> -->
              <!-- <div></div> -->
                <mat-form-field appearance="outline" class="w-full mb-2"  (click)="checkmethodError()" >
                    <mat-label>វិធីសាស្ត្រតេស្ត</mat-label>
                    <ng-container>
                        <mat-select formControlName="testing_id" >
                            <ng-container *ngIf="methods">
                                <mat-option *ngFor="let row of methods" [value]="row.id" (click)="checkmethod(row)">
                                    <span>{{ row?.name }} | {{row?.testing_method_type?.name}} | {{row?.unit}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </ng-container>
                    <mat-error class="min-h-6 mt-2.5 text-md"
                        *ngIf="StandardForm.get('testing_id').hasError('required') && !showMethodError">
                        សូមជ្រើសរើសវិធីសាស្ត្រតេស្ត
                    </mat-error>
                    <mat-hint *ngIf="showMethodError" class="min-h-6 mt-2.5 text-md text-orange-400">
                      {{methodError}}
                    </mat-hint>
                </mat-form-field>


                <mat-form-field appearance="outline" class="w-full mb-2 ">
                    <mat-label>តម្រូវការតាមស្តង់ដារ</mat-label>
                    <input id="standard" matInput [formControlName]="'standard'" (keyup)="oninput($event)"  class="relative w-[90%]" (cut)="$event.preventDefault()"
                    (copy)="$event.preventDefault()"
                    (paste)="$event.preventDefault()" onkeypress="return /^[0-9.\. ]+$/i.test(event.key)" >
                    <span class="absolute pt-1" *ngIf="unitShow">{{unit}}</span>
                    <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="StandardForm.get('standard').hasError('required')">
                        សូមបញ្ចូលតម្រូវការតាមស្តង់ដារ
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()"
        [disabled]="StandardForm.invalid || saving">
        <mat-icon *ngIf="!StandardForm.disabled" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="StandardForm.disabled" [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>
