<div class="container-mos-section">
    <!-- ================================ >> Header -->
    <div  class="container-mos-header flex items-center justify-between py-2 px-5 shadow">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap cursor-pointer" [routerLink]="['/pot/authorities/mos']">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">មន្រ្តី/អាជ្ញាធរ</span>
                <mat-icon class="icon-size-5 text-gray-600 " [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-blue-600">ការិយាល័យ</span>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-black">{{data?.data?.user?.name}}</span>
            </div>
        </div>
    </div>
    <ng-container *ngIf="isLoading">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
            <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
    <!-- ============================= >> Main -->
    <div class="container-mos-body p-2" *ngIf="!isLoading">
        
        <!-- =========================== >> Data listing Table -->
        <div class="container-mos-content border rounded-lg">
               
            <mat-tab-group >
                <mat-tab label="ទិដ្ឋភាពទូទៅ">
                    <ng-container *ngIf="data">
                        <app-Overview [isLoading]="isLoading" [data]="data"></app-Overview>
                    </ng-container>
                </mat-tab>
                <mat-tab label="ក្រសួង">
                    <ng-container>
                        <app-ministry [id]="mos_id"></app-ministry>
                    </ng-container>
                </mat-tab>
                <mat-tab label="ក្រុមជួសជុល">
                    <app-mt [id]="mos_id"></app-mt>
                </mat-tab>
                <mat-tab label=" ផ្លូវជាតិ ">
                    <app-nationalroad [id]="mos_id"></app-nationalroad>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>