<!-- Loading bar -->
<!-- <loading-bar></loading-bar> -->

<!-- Navigation -->
<helpers-navigation class="dark print:hidden z-999 top-0" [appearance]="navigationAppearance" [mode]="isScreenSmall ? 'over' : 'side'" [name]="'mainNavigation'" [navigation]="navigation.default" [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container NavigationContentHeader>
        <!-- Logo -->
        <div class="flex mb-1 bg-custom items-center justify-start min-h-15 max-h-15 p-0 shadow">

            <!-- Logo -->
            <div class="logo-road-care">
                <img src="assets/images/logo/road-care.png" alt="road care project">
            </div>
            <div class="title pt-4 width flex gap-4">
                <h1 class="text-gray-800 font-bold" style="font-size: 1.5em;">កម្មវិធីថែទាំផ្លូវ</h1>
                <!-- <h1 class="font-semibold" style="font-size: 1.3em; color: red;">Dev</h1> -->
            </div>

            <div class="flex items-center">
                <!-- Navigation appearance toggle button -->
                <button class="hidden md:inline-flex" mat-icon-button (click)="toggleNavigationAppearance()">
                    <mat-icon class="text-gray-800 " [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                </button>
                <button class="inline-flex md:hidden" mat-icon-button (click)="toggleNavigation('mainNavigation')">
                    <mat-icon class="text-gray-800 " svgIcon="mat_outline:arrow_back"></mat-icon>
                </button>
            </div>
        </div>
    </ng-container>
</helpers-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0 custom-main-section-dense" style="z-index: 170;">

    <!-- Header -->
    <div class="bg-custom flex flex-0 items-center justify-between w-full min-h-15 max-h-15 px-4 md:px-6 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <div class="items-center pr-2 space-x-2 flex">
            <!-- Navigation toggle button -->
            <button class="inline-flex md:hidden" mat-icon-button (click)="toggleNavigation('mainNavigation')">
                <mat-icon class="text-gray-800" [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
            <div class="font-medium hidden sm:block">
                {{access}}
            </div>
            <div class="custom-select-header"  *ngIf="search">
                <mat-form-field appearance="outline" class="min-w-40 max-w-40 bg-slate-100 hover:bg-white transition-all rounded-[5px]">
                    <mat-select [(ngModel)]="year">
                        <mat-option [value]="0" (click)="listing()">
                            <span>ទាំងអស់</span>
                        </mat-option>
                        <mat-option *ngFor="let row of filters" [value]="row?.year" (click)="listing()">
                            <span>{{ row?.year }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
         <!-- Logo -->
         <div class="logo-road-care flex custom-box sm:hidden">
            <img src="assets/images/logo/road-care.png" alt="road care project">
        </div>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <!-- <languages></languages> -->
            <full-screen class="hidden md:block"></full-screen>
            <user></user>
        </div>
    </div>

    <!-- Content -->
    <div class="flex relative flex-col flex-auto container-section-dense">
        <router-outlet *ngIf="true"></router-outlet>
    </div>

</div>
