.custom-main-section-dense{
    height: 100dvh;  
    max-height: -webkit-fill-available;
    overflow: hidden !important;
}
.custom-main-section-dense .container-section-dense{
    max-height: calc(100dvh - 3.75rem);
    overflow: auto !important;
}

.bg-custom {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(234 179 8 / var(--tw-bg-opacity)) !important;
}

.custom-box {
    position: absolute;
    top: 1.9rem;
    left: 47%;
    transform: translate(-50%, -50%);
}

.width {
    width: 100%;
    max-width: 182px;
    min-width: 182px;
}

.logo-road-care {
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    max-height: 45px;
    margin: 0 12px;
}

.logo-road-care img {
    width: 100%;
}

.navigation-item:hover:not(.navigation-item-active) {
    background-color: #292929 !important;
}

.navigation-item-active {
    background-color: #333333 !important;
    color: #f5f5f5 !important;
}

.navigation-item-children .navigation-item-active {
    color: #fff !important;
    background-color: #242424 !important;
}

.navigation-item-children .navigation-item:hover:not(.navigation-item-active) {
    background-color: #303030 !important;
}