<div mat-dialog-title class="custom-dialog-title border-b">
    <div class="flex justify-between">
        <div class="text-xl">កំណត់អ្នកប្រើប្រាស់</div>
        <div class="flex justify-end">

            <div *ngIf="mode == 'listing'" class="custom-select-header">
               
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>ស្វែងរក ឈ្មោះ ឬ លេខទូរស័ព្ទ</mat-label>
                        <input [disabled]="saving" id="search" name="search" matInput [(ngModel)]="searchValue" (keyup.enter)="findUser()" />
                    </mat-form-field>
    
            </div>
    
            <button [disabled]="saving" (click)="findUser()" *ngIf="mode == 'listing'" class="rounded-md  bg-yellow-400 min-w-7 max-w-7 p-5 ml-2" mat-flat-button>
                <mat-icon class="icon-size-6" style="color: white !important" svgIcon="mat_solid:search"></mat-icon>
            </button>
    
            <button [disabled]="saving" (click)="changeMode()" class="rounded-md  bg-yellow-400 min-w-7 max-w-7 p-5 ml-2" mat-flat-button>
                <mat-icon *ngIf="mode == 'listing'" class="icon-size-6" style="color: white !important" svgIcon="feather:user-plus"></mat-icon>
                <mat-icon *ngIf="mode == 'create'" class="icon-size-6" style="color: white !important" svgIcon="mat_solid:format_list_bulleted"></mat-icon>
            </button>
    
        </div>
    </div>
</div>

<mat-dialog-content class="custom-dialog-content p-3">
    <!-- listing User -->
    <section *ngIf="mode == 'listing'">   
        <ng-container *ngIf="isLoading">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
    
        <ng-container *ngIf="User.length == 0 && !hide ">
            <div class="flex flex-col justify-center items-center mb-4 ">
                <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
                <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>

        <div class="border rounded-md" *ngIf="!hide && User.length > 0">
            <table  class="border-b w-full user-table dialog-user">
                <thead class="border-b py-5 bg-yellow-50">
                    <tr>
                        <th class="name">
                            <b>គណនី</b>
                        </th>
        
                        <th class="text-left">
                            <b class="text-left" style="text-align: left;">អង្គភាព</b>
                        </th>

                        <th class="text-left">
                            <b class="text-left" style="text-align: left;">តួនាទីក្នុងប្រព័ន្ធ</b>
                        </th>
        
                        <th class="option" style="width: 80px;">
                            <b></b>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b py-5 tr-user" *ngFor="let row of User;let i=index;">
    
                        <td>
                            <div class="flex items-center">
                                <div class="profile-table rounded-md overflow-hidden">
                                    <div class="rounded-md overflow-hidden">
                                        <img [src]="fileUrl+row?.avatar" class="border" style="width: 100%; height: 65px; margin: 0 auto;" alt="Profile">
                                    </div>
                                    
                                </div>
                                <div class="name-phone ml-5">
                                        <div>
                                            <b class="text-lg">{{row?.name}}</b>
                                        </div>
                                        <div class="text-gray-600 text-md">
                                            {{row?.phone}}
                                        </div>
                                </div>
                            </div>
                        </td>
        
                        <td>
                            <div class="name-phone">
                                <div>
                                    {{row?.organization?.name}}
                                </div>
                                <div>
                                    តួនាទី: {{row?.role?.name}}
                                </div>
                            </div>
                        </td>
    
                        <td>
                            <form [formGroup]="formGroup">
                                <div class="custom-select-header">
                                    <mat-form-field appearance="outline" class="min-w-50">
                                        <mat-label>ជ្រើសរើសតួនាទី</mat-label>
                                        <mat-select [formControlName]="'sys_id'"  (selectionChange)="checkSubmit(row)">
                                            <ng-container *ngFor="let role of roles?.systemRole">
                                                <mat-option [value]="role?.id">
                                                    <span>{{role?.name}}-</span>
                                                    <span>{{role?.abbre}} </span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </form>
                        </td> 
        
                        <td>
                            <!-- <button (click)="save(row?.id)" class="rounded-md bg-yellow-400 min-w-7 max-w-7 p-5 ml-2" mat-flat-button>
                                <mat-icon class="icon-size-6" style="color: white !important" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            </button> -->
                            <button [disabled]="saving || !canSaveList[i].check" class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="save(row?.id)">
                                <mat-icon *ngIf="!formGroup.disabled" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
                                <mat-progress-spinner *ngIf="formGroup.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                            </button>
                        </td>
        
                    </tr>
                    
                </tbody>
            </table>
        </div>

    </section>


    <!-- Create User-->
    <section *ngIf="mode == 'create'">
        <form [formGroup]="form" #CreateProNgForm="ngForm">
            <div class="border-b text-xl pb-3 mb-3">
                I. ព័ត៌មានគណនី
            </div>

            <div class="flex flex-col sm:flex-row gap-2">
                <div class="w-full md:min-w-60 md:max-w-60 flex justify-center">
                    <div class="custom-image-upload">
                        <div class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                            <img [src]="src" />
                            <span class="w-full h-full custom-preview" (click)="preview()">
                                <!-- <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon> -->
                                <img *ngIf="src == ''" src="assets/images/avatars/person-placeholder.jpg" class="w-full" alt="">
                            </span>
                            <!-- <span class="w-full custom-h bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                                 (click)="selectFile()">Upload Image</span> -->
                        </div>
                        <div (click)="selectFile()"
                            class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                            <span class="text-xl mr-2"> ជ្រើសរើសរូបភាព </span>
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                        </div>
                        <input [id]="'portrait-file'" accept="image/*" class="hidden" type="file"
                            (change)="fileChangeEvent($event)" />
                        <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                        <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
                    </div>
                </div>

                <div class="w-full">
                    <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4 w-full">
                        <div class="grid grid-cols-2 gap-3">
    
                            <mat-form-field appearance="outline" class="w-full mb-6">
                                <mat-label>ឈ្មោះ (គោត្តនាម-នាម)</mat-label>
                                <input id="title" matInput [formControlName]="'name'">
                                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="form.get('name').hasError('required')">
                                    សូមបញ្ចូលឈ្មោះ (គោត្តនាម-នាម)
                                </mat-error>
                                <mat-error class="min-h-6 mt-2.5 text-sm"
                                    *ngIf="form.get('name').hasError('maxlength')">
                                    សូមបញ្ចូលឈ្មោះ (គោត្តនាម-នាម) តូចជាងឬស្មើ១០០ខ្ទង់
                                </mat-error>
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" class="w-full mb-6">
                                <mat-label>អុីមែល</mat-label>
                                <input type="email" id="title" matInput [formControlName]="'email'">
                                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="form.get('email').hasError('required')">
                                    សូមបញ្ចូលអុីមែល
                                </mat-error>
                                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="form.get('email').hasError('email')" >
                                    អុីមែលមិនត្រឹមត្រូវទេ​ ឧ.abc123@gmail.com
                                </mat-error>
                                <mat-error class="min-h-6 mt-2.5 text-sm"
                                    *ngIf="form.get('email').hasError('maxlength')">
                                    សូមបញ្ចូលអុីមែល តូចជាងឬស្មើ១០០ខ្ទង់
                                </mat-error>
                            </mat-form-field>
                        </div>
    
                        <div class="grid grid-cols-2 gap-3">
    
    
                            <mat-form-field appearance="outline" class="w-full mb-6">
                                <mat-label>លេខទូរស័ព្ទ</mat-label>
                                <input id="title" matInput [formControlName]="'phone'" (cut)="$event.preventDefault()"
                                (copy)="$event.preventDefault()"
                                (paste)="$event.preventDefault()" onkeypress="return /^[0-9\+ ]+$/i.test(event.key)">
                                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="form.get('phone').hasError('required')">
                                    សូមបញ្ចូលលេខទូរស័ព្ទ
                                </mat-error>
                                <mat-error class="min-h-6 mt-2.5 text-sm"
                                    *ngIf="form.get('phone').hasError('maxlength')">
                                    សូមបញ្ចូលលេខទូរស័ព្ទតូចជាងឬស្មើ១០០ខ្ទង់
                                </mat-error>
                            </mat-form-field>
                            
    
                            <mat-form-field appearance="outline" class="w-full mb-6">
                                <mat-label>ពាក្យសម្ងាត់</mat-label>
                                <input id="title" matInput [formControlName]="'password'">
                                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="form.get('password').hasError('required')">
                                    សូមបញ្ចូលពាក្យសម្ងាត់
                                </mat-error>
                                <mat-error class="min-h-6 mt-2.5 text-sm"
                                    *ngIf="form.get('password').hasError('maxlength')">
                                    សូមបញ្ចូលពាក្យសម្ងាត់តូចជាងឬស្មើ១០០ខ្ទង់
                                </mat-error>
                            </mat-form-field>
    
                        </div>
    
                        <div class="grid grid-cols-2 gap-3">
    
                            <mat-form-field appearance="outline" class="w-full mb-6">
                                <mat-label>អង្គភាព</mat-label>
                                <mat-select [formControlName]="'organization_id'">
                                    <ng-container >
                                        <mat-option *ngFor="let row of organizations" [value]="row?.id">
                                            <span>{{row?.name}}</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="form.get('organization_id').hasError('required')">
                                    សូមជ្រើសរើសអង្គភាព
                                </mat-error>
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" class="w-full mb-6">
                                <mat-label>តួនាទី</mat-label>
                                <mat-select [formControlName]="'organization_role'">
    
                                    <ng-container *ngFor="let row of organizationRoles">
                                        <mat-option [value]="row?.id">
                                            <span>{{row?.name}}</span>
                                        </mat-option>
                                    </ng-container>
    
                                </mat-select>
                                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="form.get('organization_role').hasError('required')">
                                    សូមជ្រើសរើសតួនាទី
                                </mat-error>
                            </mat-form-field>
    
                        </div>
                        
                    </div>
                </div>
                
            </div>

            <div class="border-b text-xl mt-10 pb-3 mb-3">
                II. តួរនាទីក្នុងប្រព័ន្ធ
            </div>

            <div class="w-full">
                <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4 w-full">

                    <div class="grid grid-cols-3 gap-3">

                        <mat-form-field appearance="outline" class="min-w-50">
                            <mat-label>ជ្រើសរើសតួនាទី</mat-label>
                            <mat-select [formControlName]="'sys_id'">
                                <ng-container *ngFor="let role of roles?.systemRole">
                                    <mat-option [value]="role?.id">
                                        <span>{{role?.name}}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    
                </div>
            </div>
        
        </form>
    </section>



    
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button *ngIf="mode == 'create'" (click)="create()" [disabled]="form.invalid || isDisable" class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button >
        <mat-icon class="icon-size-6 " svgIcon="mat_solid:save"></mat-icon>
    </button>
    <button [disabled]="saving" class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
    
</mat-dialog-actions>
