.custom-image-upload {
    width: 100%;
    height: 100%;
}

.custom-image img {
    min-height: 11.75rem;
    max-height: 11.75rem;
    border-radius: 3px;
    object-fit: cover;
}

.custom-image .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 11.75rem;
    max-height: 11.75rem;
    min-width: calc(100% - 0.45rem);
    max-width: calc(100% - 0.45rem);
    margin: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-h {
    min-height: 11.75rem;
    max-height: 11.75rem;
}

.rounded-custom {
    border-radius: 5px;
}

.max-h-custom {
    max-height: 2.5rem;
}

.border-hover {
    box-sizing: border-box;
    border: 1px solid #cbd5e1;
    transition: all 0.1s;
}

.border-hover:hover {
    border: 2px solid #cbd5e1;
}

::placeholder {
    color: rgb(160, 176, 197) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(160, 176, 197) !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}
.dialog-user .name{
    text-align: left;
    width: 220px !important;
}
.dialog-user .piu{
    text-align: left;
    padding-left: 50px;
}
.dialog-user td, .dialog-user th{
    padding: 10px;
}
.dialog-user .role{
    text-align: left;
}
.profile-table{
    width: 70px !important;
}

.profile-table img{
    object-fit: cover;
}
.mat-dialog-content{
    padding-top: 0px !important;
}

.custom-image-upload {
    width: 100%;
    height: 100%;
}

.custom-image img {
    min-height: 11.75rem;
    max-height: 11.75rem;
    border-radius: 3px;
    object-fit: cover;
}

.custom-image .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 11.75rem;
    max-height: 11.75rem;
    min-width: calc(100% - 0.45rem);
    max-width: calc(100% - 0.45rem);
    margin: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-h {
    min-height: 11.75rem;
    max-height: 11.75rem;
}

.rounded-custom {
    border-radius: 5px;
}

.max-h-custom {
    max-height: 2.5rem;
}

.border-hover {
    box-sizing: border-box;
    border: 1px solid #cbd5e1;
    transition: all 0.1s;
}

.border-hover:hover {
    border: 2px solid #cbd5e1;
}

::placeholder {
    color: rgb(160, 176, 197) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(160, 176, 197) !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}
.user-modal .mat-form-field-wrapper, .user-modal .mat-form-field-type-mat-select{
    padding: 0px !important;
}
.institutions{
    text-align: left;
}
.institutions{
    width: 230px !important;
}
.dialog-user .position{
    text-align: left;
}
.name-phone{
    padding: 5px 0px;
    padding-left: 0px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
}

.tr-user:hover{
    background-color: #f2f3f8 !important;
}