@use 'styles/default';
@use 'styles/dense';
.ps__thumb-y
{
    background-color: rgb(155, 155, 155) !important;
}

.navigation-wrapper{
    color: #fff !important;
    background-color: #242424 !important;
}