.container-dashboard-section{
    width: 100%;
    height: calc(100dvh - 3.75rem);
    overflow: hidden;
    .container-dashboard-header{
        width: 100%;
        min-height: 3rem;
        max-height: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: .5em;
    }
    .container-dashboard-body{
        width: 100%;
        height: calc(100dvh - 7.5rem);
        overflow: hidden;
        .container-dashboard-content{
            width: 100%;
            height: calc(100dvh - 8.5rem);
            overflow: hidden;
            .container-dashboard-data{
                width: 100%;
                height: calc(100dvh - 11.25rem);
                overflow: auto;
            }
        }
    }
    
}

.d-none {
    display: none;
}