<div class="container-dashboard-section">
    <div class="container-dashboard-header bg-blue-50">
        <mat-button-toggle-group value="graph" #display="matButtonToggleGroup">
            <mat-button-toggle value="graph">GRAPH</mat-button-toggle>
            <mat-button-toggle value="map">MAP</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="container-dashboard-body p-2">
        <div class="container-dashboard-content border rounded-lg {{show('map', display.value)}}">
            <app-map *ngIf="mapLoaded"></app-map>
        </div>
        <div class="container-dashboard-content border rounded-lg {{show('graph', display.value)}}">
            <sv-admin-dashboard *ngIf="role === 'SV Admin'"></sv-admin-dashboard>
            <super-admin-dashboard *ngIf="role === 'Super Admin'"></super-admin-dashboard>
            <super-user-dashboard *ngIf="role === 'SV Info Entry'"></super-user-dashboard>
            <minister-dashboard *ngIf="role === 'Minister'"></minister-dashboard>
            <head-committee-dashboard *ngIf="role === 'Head Of Committee'"></head-committee-dashboard>
        </div>

    </div>
</div>
