<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<empty-layout *ngIf="layout === 'empty'"></empty-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with dense navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<dense-layout *ngIf="layout === 'dense'"></dense-layout>
