.custom-main-section {
    width: 100%;
    height: calc(100vh - 215px); //60px is navigation
    overflow: hidden;
}

.custom-content-section {
    width: 100%;
    height: calc(100vh - 215px); //60+60(navigatio+header) = 144px
}

.custom-content-section .custom-content {
    width: 100%;
    max-height: calc(100vh - 215px); //12px+12px(padding-top and padding-bottom 
    overflow: hidden;
}

 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    color: rgb(100 116 139) !important;
}
