
<div class="custom-main-section">
    <div class="min-h-15 max-h-15 flex gap-2 justify-end items-center py-2 px-5 shadow bg-white">
        <div class="flex items-center gap-2">
            <div class="custom-select-header">
                <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                    <mat-select (selectionChange)="checkSelect($event)" [(ngModel)]="Detail_type_id" class="text-gray-400">
                        <ng-container>
                            <mat-option  value="PK">PK</mat-option>
                            <mat-option  value="part">ផ្នែក</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
             <!-- ================================>> Button Search PK -->
            <!-- <div class="custom-select-header hidden sm:flex">
                <mat-form-field appearance="outline" class="min-w-48 max-w-48" *ngIf="Detail_type_id == 'PK'" >
                    <input matInput [(ngModel)]="key" placeholder="ស្វែងរក code">
                </mat-form-field>
            </div>
            <div class="custom-botton-flat hidden sm:flex">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button *ngIf="Detail_type_id == 'PK'">
                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                </button>
            </div> -->

             <!-- ================================>> Button Search Part -->
             <!-- <div class="custom-select-header hidden sm:flex">
                <mat-form-field appearance="outline" class="min-w-48 max-w-48" *ngIf="Detail_type_id == 'part'">
                    <input matInput [(ngModel)]="key"  placeholder="ស្វែងរក ID"> 
                </mat-form-field>
            </div>
            <div class="custom-botton-flat hidden sm:flex">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button *ngIf="Detail_type_id == 'part'">
                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                </button>
            </div> -->

        </div>
    </div>
   
    <div>
        <ng-container *ngIf="Detail_type_id == 'PK'">
            <app-detail-pk [id]="view_id"></app-detail-pk>
        </ng-container>

        <ng-container *ngIf="Detail_type_id == 'part'">
            <app-detail-part [id]="view_id" ></app-detail-part>
        </ng-container>
        
    </div>
</div>