<div class="custom-main-section">
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">គ្រប់គ្រងអ្នកប្រើប្រាស់</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">តួនាទី</span>
            </div>
        </div>
    </div>
    <div class="custom-content-section p-4">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <div class="container-role flex-col rounded-lg border" *ngIf="!isSearching">
            <table mat-table [dataSource]="dataSource" class="w-full">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ល.រ</th>
                    <td mat-cell *matCellDef="let i=index" class="text-center pl-0"> {{i+1}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> ឈ្មោះ </th>
                    <td mat-cell *matCellDef="let data"> {{data?.name}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>កាលបរិច្ឆេទបង្កើត</th>
                    <td mat-cell *matCellDef="let data"> {{data?.created_at | date: 'YYYY-MM-d'}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="qty">
                    <th mat-header-cell *matHeaderCellDef> ចំនួនគណនី</th>
                    <td mat-cell *matCellDef="let data"> {{data?.qty}}</td>
                    <td mat-footer-cell *matFooterCellDef>សរុប: <b class="ml-2">{{getTotal()}}</b></td>
                </ng-container>
                <tr class="bg-yellow-300" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="border-0"></tr>
            </table>
        </div>
    </div>
</div>