<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">កែប្រែព័ត៌មានទូទៅ ({{data?.category?.name}} | {{this.data?.status?.kh_name}})</span>
</div>

<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="mainForm" #mainInfoNgForm="ngForm">
        <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">ព័ត៌មានគម្រោង</h3>
        <div class="custom-form custom-select mb-4">
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>ឈ្មោះគម្រោង</mat-label>
                <input matInput [formControlName]="'name'">
                <mat-error class="min-h-6 mt-2.5 text-md">សូមបញ្ចូលឈ្មោះគម្រោង</mat-error>
            </mat-form-field>
        </div>
        <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 gap-4">
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>លេខកូដគម្រោង</mat-label>
                <input matInput [formControlName]="'code'">
                <mat-error class="min-h-6 mt-2.5 text-md">សូមបញ្ចូលលេខកូដគម្រោង</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>ប្រភេទគម្រោង</mat-label>
                <ng-container>
                    <mat-select formControlName="type_id">
                        <ng-container *ngIf="setup?.types">
                            <mat-option *ngFor="let row of setup?.types" [value]="row.id">
                                <span>{{ row.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-md">សូមជ្រើសរើសប្រភេទគម្រោង</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2" *ngIf="hideForm">
                <mat-label>ប្រភេទកម្រាលផ្លូវ</mat-label>
                <ng-container>
                    <mat-select formControlName="surface_id" multiple>
                        <ng-container *ngIf="setup?.surfaces">
                            <mat-option *ngFor="let row of setup?.surfaces" [value]="row.id">
                                <span>{{ row.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-md">សូមជ្រើសរើសប្រភេទកម្រាលផ្លូវ</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2.5">
                <mat-label>ផ្លូវជាតិលេខ</mat-label>
                <input matInput formControlName="road_id" (keyup)="checkRoad()" [matAutocomplete]="auto">
                <mat-autocomplete (optionSelected)="onOptionSelected($event)" #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option?.name">
                        {{option?.name}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសផ្លូវ</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2.5">
                <mat-label>ខេត្ត</mat-label>
                <mat-select formControlName="province_id" multiple>
                    <ng-container *ngIf="provinces">
                        <mat-option *ngFor="let row of provinces" [value]="row?.id">
                            <span>{{ row?.name }}</span>
                        </mat-option>
                    </ng-container>
                </mat-select>
                <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសខេត្ត</mat-error>
            </mat-form-field>
        </div>
        <h3 class="my-3 border py-2 rounded-md px-3 bg-slate-50">ព័ត៌មានថវិកា</h3>
        <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 gap-4">
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>ជំពូកថវិកា</mat-label>
                <mat-select formControlName="budget_plan_id">
                    <ng-container *ngIf="setup?.budgets">
                        <mat-option *ngFor="let row of setup?.budgets" [value]="row.id">
                            <span>{{ row.name }}</span>
                        </mat-option>
                    </ng-container>
                </mat-select>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('budget_plan_id').invalid">
                    សូមជ្រើសរើសជំពូកថវិកា
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2.5">
                <mat-label>ឆ្នាំនៃជំពូកថវិកា</mat-label>
                <ng-container>
                    <mat-select formControlName="budget_year_id">
                        <ng-container *ngIf="setup?.years">
                            <mat-option *ngFor="let row of setup?.years" [value]="row?.id">
                                <span>{{ row?.year }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="mainForm.get('budget_year_id').invalid">
                    សូមជ្រើសរើសឆ្នាំនៃជំពូកថវិកា
                </mat-error>
            </mat-form-field>
        </div>
        <h3 class="my-3 border py-2 rounded-md px-3 bg-slate-50">ព័ត៌មានអង្គភាព</h3>
        <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 gap-4">
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>ប្រតិបត្តិករ</mat-label>
                <ng-container>
                    <mat-select formControlName="executive_director_id">
                        <ng-container *ngIf="setup?.executives">
                            <mat-option *ngFor="let row of setup?.executives" [value]="row.id">
                                <span>{{ row?.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('executive_director_id').invalid">
                    សូមជ្រើសរើសប្រតិបត្តិករ
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2" *ngIf="!hideForm">
                <mat-label>អង្គភាពគ្រប់គ្រង</mat-label>
                <ng-container>
                    <mat-select formControlName="entity_id">
                        <ng-container *ngIf="setup?.entities">
                            <mat-option *ngFor="let row of setup?.entities" [value]="row.id">
                                <span>{{ row?.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('entity_id').invalid">
                    សូមជ្រើសរើសអង្គភាពគ្រប់គ្រង
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2" *ngIf="hideForm">
                <mat-label>អង្គភាពត្រួតពិនិត្យ</mat-label>
                <ng-container>
                    <mat-select formControlName="reviewer_id">
                        <ng-container *ngIf="setup?.reviewers">
                            <mat-option *ngFor="let row of setup?.reviewers" [value]="row.id">
                                <span>{{ row.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('reviewer_id').invalid">
                    សូមជ្រើសរើសអង្គភាពត្រួតពិនិត្យ
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>ក្របខណ្ឌ</mat-label>
                <ng-container>
                    <mat-select formControlName="framework_id">
                        <ng-container *ngIf="setup?.frameworks">
                            <mat-option *ngFor="let row of setup?.frameworks" [value]="row.id">
                                <span>{{ row.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('framework_id').invalid">
                    សូមបញ្ចូលក្របខណ្ឌ
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2">
                <mat-label>ម្ចាស់គម្រោង</mat-label>
                <ng-container>
                    <mat-select formControlName="project_owner_id">
                        <ng-container *ngIf="setup?.project_owners">
                            <mat-option *ngFor="let row of setup?.project_owners" [value]="row.id">
                                <span>{{ row?.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="mainForm.get('project_owner_id').invalid">
                    សូមជ្រើសរើសម្ចាស់គម្រោង
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button [disabled]="mainForm.invalid  || saving"
        (click)="submit()">
        <mat-icon *ngIf="!mainForm.disabled" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="mainForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn"
        [disabled]="saving">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>