.custom-button:disabled{
    background-color:  rgb(226 232 240) !important;
    color: #9da9bb !important;
    cursor: not-allowed;
}
.custom-button:enabled{
    background-color: #FFC107 !important;
    color: #fff !important;
    font-weight: 600;
}
::ng-deep .mat-select-disabled .mat-select-trigger{
    cursor: not-allowed !important;
}

::ng-deep .mat-form-field-disabled .mat-form-field-outline{ 
    --tw-bg-opacity: 1 !important;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity)) !important;
    border-radius: 8px !important;
}