.report-container {
    width: 100%;
    max-height: calc(100dvh - 12.6rem);
    overflow: hidden;

    .report-content {
        max-height: calc(100dvh - 15.6rem);
        overflow: hidden;

        .report-data {
            max-height: calc(100dvh - 18.35rem);
            overflow: auto;
        }
    }
}

.flex-custom {
    display: flex !important;
}

.custom-position {
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
}

.custom-position .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.custom-position:hover .custom-preview {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}