<div class="report-container">
    <div class="report-header min-h-12 max-h-12 flex items-center shadow">
        <div class="w-[50px] text-left pl-5 ">#</div>
        <div class="w-[100%] text-left pl-5">របាយកាណ៏</div>
        <div class="w-[4rem]  pr-2"> រូបភាព</div>
    </div>
    <div class="report-content">
        <ng-container *ngIf="loading">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !loading " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
        <div class="report-data flex-col hidden" [ngClass]="{'flex-custom': data?.length > 0  && !loading }">
            <div class="items-center flex py-3 border-b" *ngFor="let item of data">
                <div class="w-[50px] text-left pl-5">{{item.rn}}</div>
                <div class="w-[100%] text-left pl-5" style="font-size: 13px !important;">
                    <div class="py-[2px] flex">
                        <div class="min-w-[88px] max-w-[88px]">សេចក្តីពណ៏នា : </div>
                        <div> {{item?.description }}</div>
                    </div>
                    <div class="py-[2px]"><span>កាលបរិច្ឆេទ : </span><span> {{item?.created_at}}</span></div>
                    <div class="py-[2px] flex">
                        <div>
                            ផ្លូវ {{item?.point?.road?.name}} PK {{item?.point?.pk}}
                            {{item?.location?.village?.name}} {{item?.location?.commune?.name }}
                            {{item?.location?.district?.name }} {{item?.location?.province?.name }}
                        </div>
                    </div>
                </div>
                <div class="w-[4rem] h-[3rem] pr-2">
                    <div class="custom-position relative" style="width:3rem; height: 3rem; border-radius: 4px;">
                        <img [src]="url+item?.file.uri" style="width:3rem; height: 3rem; border-radius: 4px;"alt="img">
                        <span class="w-full h-full custom-preview" *ngIf="item?.file?.uri"
                            (click)="preview(url+item?.file?.uri)">
                            <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <mat-paginator
            class="overflow-hidden min-h-11 max-h-11 bg-gray-50 dark:bg-black dark:bg-opacity-5 hidden items-center justify-end"
            [ngClass]="{'flex-custom': data?.length > 0  && !loading }" [pageSizeOptions]="[20, 40, 60]"
            [showFirstLastButtons]="true" [length]="total" [pageSize]="limit" (page)="onPageChanged($event)">
        </mat-paginator>
    </div>
</div>