// :host ::ng-deep .mat-tab-header {
//     top: 0;
//     z-index: 1000; 
//     position: sticky;
//     position: -webkit-sticky; /* macOS/iOS Safari */  
//     background-color: #fff !important;  
// }
.mat-tab-group .mat-tab-header .mat-tab-label-container {
    border-bottom: 1px solid #e2e8f0;
    width: 0;
    padding: 0px;
}

.mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    border-radius: 0px !important;
    height: 3rem !important;
}

.mat-tab-group .mat-tab-body-content {
    max-height: calc(100dvh - 11.5rem);
    padding: 0;
    overflow: hidden;
}

.mat-tab-labels {
    justify-content: space-between;
}

.mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active {
    background-color: transparent !important;
    box-shadow: inset 0 -3px #FFC107;
}

// Custom by Yim Klok (26/01/2023)