<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">បង្កើតឯកសារលទ្ធកម្ម</span>
</div>

<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="proForm" #CreateProNgForm="ngForm">
        <div class="flex flex-col sm:flex-row gap-2">
            <div class="w-full md:min-w-60 md:max-w-60 flex justify-center">
              <div class="custom-image-upload">
                <div
                    class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                    <img id="imageid" *ngIf="src && !show" [src]="src" alt="image" />

                    <span class="w-full h-full bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                        *ngIf="!src || show" (click)="selectFile()">ឯកសារលទ្ធកម្ម</span>
                </div>
                <div (click)="selectFile()"
                    class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                    <span class="text-xl mr-2"> ជ្រើសរើសឯកសារ </span>
                    <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                </div>
                <input [id]="'portrait-file'" accept="image/*,application/pdf" class="hidden" type="file"
                    (change)="fileChangeEvent($event)"/>
                <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
            </div>
            </div>
            <div class="w-full">
                <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4 w-full">
                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>ចំណងជើង</mat-label>
                        <input id="title" matInput [formControlName]="'title'">
                        <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="proForm.get('title').hasError('required')">
                            សូមបញ្ចូលចំណងជើង
                        </mat-error>
                        <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="proForm.get('title').hasError('maxlength')">
                            សូមបញ្ចូលចំណងជើងតូចជាងឬស្មើ១០០ខ្ទង់
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>លេខសម្គាល់</mat-label>
                        <input id="name" matInput [formControlName]="'docu_code'">
                    </mat-form-field>
                </div>
                <div class="custom-textarea">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>សេចក្តីពណ៌នា</mat-label>
                        <textarea id="description" matInput [formControlName]="'description'"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions custom-botton-flat">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()"
        [disabled]="proForm.invalid || saving">
        <mat-icon *ngIf="!proForm.disabled" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="proForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>
