.custom-main-section {
    width: 100%;
    height: calc(100vh - 3.75rem);
    overflow: hidden;
}

.custom-content-section {
    width: 100%;
    height: calc(100vh - 7.5rem);
}

.custom-content-section .custom-content {
    width: 100%;
    max-height: calc(100vh - 9.5rem);
    overflow: hidden;
}

.custom-content .container-new-feature {
    width: 100%;
    max-height: calc(100vh - 12.25rem);
    overflow: auto;
}

::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}

table {
    width: 100%;
}

.container-new-feature .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-new-feature .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-new-feature .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.container-new-feature .mat-column-tille {
    min-width: 10rem;
    text-align: left;
    padding: 3px 3rem !important;
}

.container-new-feature .mat-column-date {
    min-width: 1rem;
}

.container-new-feature .mat-column-action {
    width: 25px;
    margin-right: -2px !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    color: rgb(100 116 139) !important;
}

::ng-deep .custom-select-header .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 1.6px !important;
    right: -9.5px !important;
}