<div class="custom-main-section">
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-secondary">មុខងារថ្មី</span>
                <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-secondary">មានអ្វីថ្មី</span>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <div class="custom-select-header hidden sm:flex">
                <mat-form-field appearance="outline" class="  min-w-48 max-w-48">
                    <input placeholder="ថ្ងៃចាប់ផ្តើម" matInput [matDatepicker]="start_date" (mousedown)="start_date.open()" [(ngModel)]="from" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="start_date">
                        <mat-icon [svgIcon]="'mat_outline:today'"></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #start_date></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="custom-select-header hidden sm:flex ">
                <mat-form-field appearance="outline" class=" min-w-48 max-w-48">
                    <input placeholder="ដល់" matInput [matDatepicker]="end_date" (mousedown)="end_date.open()" [(ngModel)]="to" [min]="from"
                        [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="end_date">
                        <mat-icon [svgIcon]="'mat_outline:event'"></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #end_date></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="custom-select-header hidden sm:flex">
                <mat-form-field appearance="outline" class="min-w-48 max-w-48">
                    <input matInput [(ngModel)]="key" (keyup.enter)="listing()" placeholder="ស្វែងរកចំណងជើង">
                </mat-form-field>
            </div>
            <div class="custom-botton-flat">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="listing()">
                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                </button>
            </div>
            <div class="custom-botton-flat">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="create()"
                    [disabled]="loading">
                    <mat-icon class="icon-size-8" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="custom-content-section p-4">
        <ng-container *ngIf="loading">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !loading " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
        <div class="custom-content flex-col rounded-lg border hidden relative"
            [ngClass]="{'flex-custom': data?.length > 0  && !loading }">
            <div class="container-new-feature">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tille">
                        <th mat-header-cell *matHeaderCellDef> ចំណងជើង</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.title}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> កាលបរិច្ឆេទបង្កើត</th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.created_at | date: 'YYYY-MM-dd'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                        <td mat-cell *matCellDef="let data" class="bg-white z-9 text-end">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="update(data)">
                                    <mat-icon class="icon-size-6 text-blue-400"
                                        svgIcon="mat_solid:remove_red_eye"></mat-icon>
                                    <span class="text-md text-gray-500">មើល</span>
                                </button>
                                <button mat-menu-item (click)="delete(data)">
                                    <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                    <span class="text-md text-gray-500">លុប</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                        class="bg-yellow-300 -pr-2 z-9"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div class="container-listing-project-paginator min-h-11 max-h-11"
                [ngClass]="{'flex-custom': data?.length > 0  && !loading }">
                <mat-paginator
                    class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
                    [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
                    (page)="onPageChanged($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>