<div class="custom-main-section">
    <!-- ================================ >> Header -->
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap" >
                <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-secondary">មុខងារថ្មី</span>
                <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-secondary">ណែនាំមិត្តភក្តិ</span>
            </div>
        </div>
    </div>
    <!--=============================>> Main -->
    <div class="custom-content-section p-3">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <div class=" contain-refer-friend rounded-lg border relative">
            <div  class="container-refer-friend"  >
                <form [formGroup]="form" class="form-refer-friend flex flex-col sm:flex-row gap-2"  *ngIf="!isSearching" (submit)="submit()">
                    <div class="custom-image-upload">
                        <div class="h-full min-h-[19.0rem] max-h-[19.0rem] max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                            <img id="imageid" *ngIf="src && !show" [src]="src" alt="image" />
                            <span class="w-full h-full custom-preview" *ngIf="src && !show" (click)="preview()">
                                <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                            </span>
                            <span class="w-full h-full bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                                *ngIf="!src || show" (click)="selectFile()">ជ្រើសរើសរូបភាព</span>
                        </div>
                        <div (click)="selectFile()"
                        class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                        <span class="text-xl mr-2"> ជ្រើសរើសរូបភាព </span>
                        <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                    </div>
                        <input [id]="'portrait-file'" accept="image/*" class="hidden" type="file"
                            (change)="fileChangeEvent($event)"/>
                        <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                        <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
                    </div>
        
                    <div class="w-full">
                        <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4 w-full">
                            <div class="grid grid-cols-1 gap-3 p-3 pl-3">
                            
                                <mat-form-field appearance="outline" class="w-full mb-3 mt-3 mr-3">
                                    <mat-label>ចំណងជើង</mat-label>
                                    <input matInput [formControlName]="'title'">
                                    
                                </mat-form-field>
            
                                <mat-form-field appearance="outline" class="w-full mb-3 mt-3 mr-3">
                                    <mat-label>url</mat-label>
                                    <input matInput [formControlName]="'url'" >
                                    
                                </mat-form-field>
        
                                <div class="custom-textarea">
                                    <mat-form-field appearance="outline" class="w-full">
                                        <mat-label>សេចក្តីពណ៌នា</mat-label>
                                        <textarea id="content" matInput [formControlName]="'content'"></textarea>
                                    </mat-form-field>
                                    
                                </div>
        
                                <mat-form-field appearance="outline" class="w-full mb-3 mt-3 mr-3">
                                    <mat-label>ios_url</mat-label>
                                    <input matInput [formControlName]="'ios_url'" >
                                    
                                </mat-form-field>
            
                                <mat-form-field appearance="outline" class="w-full mb-3 mt-3 mr-3">
                                    <mat-label>android_url</mat-label>
                                    <input matInput [formControlName]="'android_url'" >
                                    
                                </mat-form-field>
            
                                <mat-form-field appearance="outline" class="w-full mb-3 mt-3 mr-3">
                                    <mat-label>youtube_url</mat-label>
                                    <input matInput [formControlName]="'youtube_url'" >
                                </mat-form-field>
                            </div>
                        </div>
                        
                    </div>
                </form>
                <div class="w-full flex justify-end border-t p-3" *ngIf="!isSearching">
                    <button class="min-w-28 max-w-28 mt-4 min-h-10 max-h-10 rounded-md custom-button" mat-flat-button [disabled]="form.disabled || form.invalid"(click)="submit()">
                        <span class="flex items-center h-full" *ngIf="!form.disabled" ><mat-icon class="icon-size-6" [svgIcon]="'mat_solid:save'"></mat-icon>កែសម្រួល</span>
                            <mat-progress-spinner *ngIf="form.disabled" [diameter]="24"
                                [mode]="'indeterminate'">
                            </mat-progress-spinner>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>