.custom-main-section {
    width: 100%;
    height: calc(100vh - 60px); //60px is navigation
    overflow: hidden;
}

.custom-content-section {
    width: 100%;
    height: calc(100vh - 120px); //60+60(navigatio+header) = 144px
}

.custom-content-section .contain-refer-friend {
    width: 100%;
    max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
    overflow: hidden;
}

.contain-refer-friend .container-refer-friend {
    width: 100%;
    max-height: calc(100vh - 144px);
    overflow: auto;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}

.custom-position .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.custom-position:hover .custom-preview {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

.container-refer-friend .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-refer-friend .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-refer-friend .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-refer-friend .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.container-refer-friend .mat-column-tille {
    min-width: 150px;
    width: 200px;
    max-width: 200px;
    text-align: left;
    padding: 3px 2rem !important;
}

.container-refer-friend .mat-column-image {
    min-width: 100px;
    width: 200px;
    max-width: 200px;
}

.container-refer-friend .mat-column-url {
    min-width: 200px;
    width: 300px;
    max-width: 300px;
}

.container-refer-friend .mat-column-date {
    min-width: 100px;
    width: 300px;
    max-width: 300px;
}

.container-refer-friend .mat-column-action {
    flex: none;
    width: 25px;
    margin-right: -2px !important;
}

 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(100 116 139) !important;
}
::ng-deep .custom-select-header .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 1.6px !important ;
    right: -9.5px !important;
} 
.custom-image-upload{
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
}

.custom-image-upload img {
    min-height: 18.3rem;
    max-height: 18.3rem;
    border-radius: 3px;
    object-fit: cover;
}

.custom-image-upload .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 18.30rem;
    max-height: 18.30rem;
    min-width: calc(100% - 0.45rem);
    max-width: calc(100% - 0.45rem);
    margin: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 10%;
}
.custom-h {
    min-height: 11.75rem;
    max-height: 11.75rem;
}

.rounded-custom {
    border-radius: 5px;
}

.max-h-custom {
    max-height: 2.5rem;
}

.border-hover {
    box-sizing: border-box;
    border: 1px solid #cbd5e1;
    transition: all 0.1s;
}

.border-hover:hover {
    border: 2px solid #cbd5e1;
}

::placeholder {
    color: rgb(160, 176, 197) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(160, 176, 197) !important;
}
