<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">ជំពូកថវិកាប្រចាំឆ្នាំ {{ data?.data?.year }}</span>
</div>
<div class="custom-content-section ">
    
    <ng-container>
        <div *ngIf=" data?.data?.project.length == 0 " class="flex flex-col justify-center items-center mb-4">
            <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
            <span class="text-2xl"><span>គ្មានគម្រោង</span></span>
        </div>
    </ng-container>
  
    <div class="container-project-budget" *ngIf=" data?.data?.project.length > 0 ">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                <td mat-cell *matCellDef="let i=index">{{ i+1 }} </td>
            </ng-container>

            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> កូដគម្រោង</th>
                <td mat-cell *matCellDef="let data">
                    {{ data?.code }}
                </td>
            </ng-container>

            <ng-container matColumnDef="project">
                <th mat-header-cell *matHeaderCellDef> ឈ្មោះគម្រោង</th>
                <td mat-cell *matCellDef="let data">
                    {{ data?.name }}    
                </td>
            </ng-container>

            <ng-container matColumnDef="budget_year">
                <th mat-header-cell *matHeaderCellDef> ជំពូកថវិកា </th>
                <td mat-cell *matCellDef="let data">
                    {{ data?.budgets.name }}  
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> ស្ថានភាព </th>
                <td mat-cell *matCellDef="let data">
                      <ng-container *ngIf="data?.status">
                        <span [ngStyle]="{'color': data?.status?.color }">{{data?.status?.kh_name}}</span>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions"> </th>
                <td mat-cell *matCellDef="let data" class="bg-white z-9 text-end">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                    <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item  [routerLink]="['/sup/projects/'+data?.id+'/info']">
                            <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                            <span class="text-md text-gray-500">មើលគម្រោង</span>
                        </button>
                        
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-yellow-100 -pr-2 z-9"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

<mat-dialog-actions align="center" class="custom-dialog-actions">

    <button class="min-w-8 max-w-8 rounded-md  hidden text-white bg-yellow-300"  mat-flat-button (click)="download()" >
        <mat-icon class="icon-size-6 text-white"  [svgIcon]="'heroicons_solid:download'"></mat-icon>
    </button> 

    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>

