
.custom-content .container-project-budget {
    width: 100%;
    max-height: calc(100vh - 188px);
    overflow: auto;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
.container-project-budget{
    height: 400px;  
    overflow: auto;
}
table {
    width: 100%;
}

.container-project-budget .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-project-budget .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-project-budget .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-project-budget .mat-column-id {
    min-width: 50px;
    width: 50px;
    max-width: 50px;
    text-align: center;
}

.container-project-budget .mat-column-code {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: left;
}

.container-project-budget .mat-column-project {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    text-align: left;
}budget_year
.container-project-budget .mat-column-budget_year {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    text-align: left;
}
.container-project-budget .mat-column-status {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: left;
}


.container-project-budget .mat-column-action {
    // flex: none;
    width: 25px;
    margin-right: -2px !important;
}

 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(100 116 139) !important;
}
::ng-deep .custom-select-header .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 1.6px !important ;
    right: -9.5px !important;
} 