<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">{{data.title}}</span>
</div>

<mat-dialog-content class="custom-dialog-content">
    <ng-container *ngIf="isLoading">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-20 p-3">
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
    <form [formGroup]="pkForm" class="flex flex-col" *ngIf="!isLoading">
        <div class="w-full flex mb-6">
            <div class="custom-form custom-select w-full">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>PK</mat-label>
                    <mat-select formControlName="pk_id" (selectionChange)="handleStation($event)">
                        <ng-container *ngIf="pks.length > 0">
                            <mat-option *ngFor="let row of pks" [value]="row?.id">
                                <span>{{ row?.pk }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="pkForm.get('pk_id').invalid">
                        សូមជ្រើសរើស​​ PK
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="w-full flex mb-6">
            <div class="custom-form custom-select w-full grid grid-cols-2 gap-3">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Station Start</mat-label>
                    <mat-select formControlName="station_start_id" (selectionChange)="changeStart($event)">
                        <ng-container *ngIf="stationsStart.length > 0">
                            <mat-option *ngFor="let row of stationsStart" [value]="row?.id">
                                <span>{{ row?.number }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="pkForm.get('station_start_id').invalid">
                        សូមជ្រើសរើស​​ Station Start
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Station End</mat-label>
                    <mat-select formControlName="station_end_id" (selectionChange)="changeEnd($event)">
                        <ng-container *ngIf="stationsEnd.length > 0">
                            <mat-option *ngFor="let row of stationsEnd" [value]="row?.id">
                                <span>{{ row?.number }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="pkForm.get('station_end_id').invalid">
                        សូមជ្រើសរើស​​ Station End
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="w-full flex mb-6">
            <div class="custom-form custom-select w-full grid grid-cols-2 gap-3">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>ផ្នែកខាង</mat-label>
                    <mat-select formControlName="side_id">
                        <ng-container *ngIf="sides.length > 0">
                            <mat-option *ngFor="let row of sides" [value]="row?.id">
                                <span>{{ row?.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>ស្រទាប់</mat-label>
                    <mat-select formControlName="work_id">
                        <ng-container *ngIf="works.length > 0">
                            <mat-option *ngFor="let row of works" [value]="row?.id">
                                <span>{{ row?.name }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="w-full flex mb-1">
            <div class="custom-form custom-select w-full grid grid-cols-2 gap-3">
                <mat-form-field appearance="outline" class="w-full">
                    <input placeholder="ចាប់ផ្តើមពី" matInput formControlName="from" readonly
                        (click)="start_date.open()" [matDatepicker]="start_date">
                    <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                    <mat-datepicker #start_date startView="year"></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                    <input placeholder="ដល់" matInput formControlName="to" readonly (click)="end_date.open()"
                        [matDatepicker]="end_date">
                    <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
                    <mat-datepicker #end_date startView="year"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions" *ngIf="!isLoading">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()" [disabled]="saving || pkForm.invalid || isLoading">
        <ng-container>
            <mat-icon *ngIf="!saving" class="icon-size-7" svgIcon="mat_outline:file_download"></mat-icon>
        </ng-container>
        <mat-progress-spinner *ngIf="saving" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn"
        [disabled]="saving">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>