<div  class="authority-mt-main-section rounded-md">
   <ng-container *ngIf="isSearching">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
            <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
    <div *ngIf=" data?.length==0 && !isSearching ">
        <div  class="flex flex-col justify-center items-center mb-4 ">
            <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
            <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
        </div>
    </div>
    <div *ngIf="data?.length > 0 && !isSearching">
        
        <!-- ================>>  Get Data  API  -->
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="mo">
                <th mat-header-cell *matHeaderCellDef> ក្រុមជួសជុល </th>
                <td mat-cell *matCellDef="let data">
                    {{ data?.mt?.user?.name }}
                </td>
            </ng-container>

            <ng-container matColumnDef="manager">
                <th mat-header-cell *matHeaderCellDef> ដែនគ្រប់គ្រង </th>
                <td mat-cell *matCellDef="let data">
                    PK {{ data?.start_pk }} - PK {{  data?.end_pk }}
                </td>
            </ng-container>

            <ng-container matColumnDef="create_at">
                <th mat-header-cell *matHeaderCellDef> កាលបរិច្ឆេទ </th>
                <td mat-cell *matCellDef="let data">
                    {{ data?.created_at }}
                </td>
            </ng-container>
            
            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                <td mat-cell *matCellDef="let data" class="bg-white z-9 text-end">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                    <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onDelete(data)">
                            <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                            <span class="text-md text-gray-500">លុប</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-50 -pr-2 z-9 "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
        </table>
    </div>
</div>
<div class="min-h-11 max-h-11 hidden" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
    <mat-paginator
        class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
        [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
        (page)="onPageChanged($event)">
    </mat-paginator>
</div>
