<div class="container-listing-standard-section">
    <div
        class="container-listing-standard-header flex gap-2 justify-between items-center py-2 px-5 shadow bg-white sticky top-0 z-999">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">កំណត់</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">ស្តង់ដាតេស្ត</span>
            </div>
        </div>
       
        
    </div>

    <div class="container-listing-standard-body p-2">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
        <div class="container-listing-standard-content border rounded-lg hidden flex-col"
        [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
        <div class="container-listing-standard-data" scrollbar>

            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                    <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="name" >
                    <th mat-header-cell *matHeaderCellDef> ឈ្មោះ </th>
                    <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
                </ng-container>
                
                <ng-container matColumnDef="num_nr" >
                    <th mat-header-cell *matHeaderCellDef> ចំនួនផ្លូវ </th>
                    <td mat-cell *matCellDef="let element"> {{element?.roads_count}} </td>
                </ng-container>


                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                    <td mat-cell *matCellDef="let element" class="bg-white -right-1">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                            <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button  mat-menu-item
                                [routerLink]="['/sup/setting/testing-standard/'+element?.id+'/'+element.name]">
                                <mat-icon class="icon-size-5 text-blue-400" svgIcon="heroicons_outline:eye"></mat-icon>
                                <span class="text-lg text-gray-500">មើល</span>
                            </button>
                          
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-yellow-300 -pr-2">
                </tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    </div>
</div>
