<div class="w-full  p-3  flex justify-center items-center" style="height: calc(100dvh - 3.75rem); " >
  <div class="  content-change rounded-lg h-[90%] w-full sm:w-[93%] md:w-[85%] lg:w-[70%] xl:w-[60%]"  style="background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(164, 162, 162, 0.1);
  border: 1px solid rgba(149, 147, 147, 0.3);"  >
   <form [formGroup]="form" #passform="ngForm"  >
    <div class="w-full  pb-4  pt-[60px]  md:text-start lg:text-start xl:text-start pl-0 md:pl-12 lg:pl-12 xl:pl-12  text-center">
      <span style="font-size: 30px; color: #2196f3; ">ផ្លាស់ប្តូរពាក្យសម្ងាត់</span>
    </div>
    <!-- color:rgb(234 179 8/var(--tw-bg-opacity)) !important; -->
    <div class="custom-form px-10  z-20 "  >
      <mat-form-field appearance="outline" class="w-full mb-2.5 mt-6 md:mt-10 lg:mt-10">
        <mat-label>ពាក្យសម្ងាត់ ចាស់</mat-label>
        <input id="old_password" matInput [formControlName]="'old_password'" minlength="0"
            maxlength="50" (keyup)="checkoldpass($event)" >
            <mat-error class="min-h-6 mt-2.5 text-md"  >
              ពាក្យសម្ងាត់ ត្រូវមានយ៉ាងហោចណាស់ ៦ ទួរអក្សរ
          </mat-error>
          <mat-hint *ngIf="oldpassCorrect" class="min-h-6 mt-2.5 text-md " style="color: red !important;">
            ពាក្យសម្ងាត់ចាស់មិនត្រូវ
          </mat-hint>
          <!-- <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="form.get('old_password').hasError('maxlength')" >
          love you ៦ ទួរអក្សរ
        </mat-error> -->
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full mb-2.5 mt-6 md:mt-10 lg:mt-10">
      <mat-label>ពាក្យសម្ងាត់ ថ្មី</mat-label>
      <input id="password" matInput [formControlName]="'password'" minlength="0"
          maxlength="12" (keyup)="checknewpass($event)">
          <mat-error class="min-h-6 mt-2.5 text-md">
            សូមបញ្ចូលពាក្យសម្ងាត់ថ្មី
        </mat-error>
        <mat-hint *ngIf="validatePass" class="min-h-6 mt-2.5 text-md " style="color: red !important;">
          ពាក្យសម្ងាត់ថ្មីមិនត្រូវដូចពាក្យសម្ងាត់ចាស់
        </mat-hint>

      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full mb-2.5 mt-6 md:mt-10 lg:mt-10">
      <mat-label>ពាក្យសម្ងាត់ ម្តងទៀត</mat-label>
      <input id="password_confirmation" matInput [formControlName]="'password_confirmation'" minlength="0"
          maxlength="50" (keyup)="checkComfirmpass($event)" >
          <mat-error class="min-h-6 mt-2.5 text-md">
            សូមបញ្ចូលពាក្យសម្ងាត់ម្តងទៀត
        </mat-error>
        <mat-hint *ngIf="validateComfirm" class="min-h-6 mt-2.5 text-md " style="color: red !important;">
          ពាក្យសម្ងាត់ត្រូវតែដូចពាក្យសម្ងាត់ថ្មី
        </mat-hint>
      </mat-form-field>
    </div>
    <mat-dialog-actions align="end"  >
          <div class="pt-5 px-3 pb-3 pr-10 sm:pt-5 md:pt-14 lg:pt-14 xl:pt-14 flex justify-end ">
          <button class="min-w-8 max-w-8 rounded-md custom-button mr-3" mat-flat-button (click)="submit()" [disabled]=" this.form.invalid || !confirm || saving">
            <mat-icon *ngIf="!saving" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
            <mat-progress-spinner *ngIf="saving" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
          </button>
          <button [routerLink]="'/my-profile'" class="min-w-8 max-w-8 rounded-md" mat-flat-button color="warn">
            <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
          </button>
          </div>
    </mat-dialog-actions>
  </form>
  </div>


</div>
