.content-change{
  min-height: 550px;
  overflow: hidden;
  // background-color: aqua;
}
@media only screen and (max-width:959px) {
  .content-change{
    min-height: 450px;
    overflow: hidden;
  }

}
// .content-change img{
//   height:750px;
//   // min-height: calc(100vh - 800px);
//   // background-color: aqua;
// }
