
.content-report-section{
  height:calc(100dvh - 3.75rem);
  width:100%;
  overflow: hidden;
  .content-report-header{
    min-height:3.75rem;
    min-height:3.75rem;
    width: 100%;
    overflow: hidden;
  }
  .content-report-body{
    max-height:calc(100dvh - 8.55rem);
    width:100%;
    overflow: hidden;
  }
}
::ng-deep .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
  width: 25%;
}
