<div class="content-report-section">
    <div class="content-report-header flex items-center justify-between py-2 px-5 shadow">
        <!-- info main -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap cursor-pointer" [routerLink]="['/sup/projects']">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-blue-600">គម្រោង</span>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">{{ code_project}}</span>
            </div>
        </div>
        <!-- selection tap -->
        <div class="flex items-center gap-2">
            <div class="custom-select-header">
                <mat-form-field appearance="outline" class="min-w-32 max-w-32">
                    <mat-select [(ngModel)]="project_type_id" class="text-gray-400" placeholder="ជ្រើសរើសប្រភេទព័ត៌មាន">
                        <ng-container>
                            <mat-option [routerLink]="['/sup/projects/'+project_id+'/info']" [value]="1"
                                *ngIf="access_permission?.info?.can_access == 1">ព័ត៌មានគម្រោង</mat-option>
                            <mat-option *ngIf="access_permission?.technical?.can_access == 1"
                                [routerLink]="['/sup/projects/'+project_id+'/technical']"
                                [value]="2">ការងារបច្ចេកទេស</mat-option>
                            <mat-option *ngIf="access_permission?.report?.can_access == 1"
                                [routerLink]="['/sup/projects/'+project_id+'/report']"
                                [value]="3">របាយការណ៍</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div *ngIf="!checkQurey && !loading" class="content-report-body rounded-lg border">
            <mat-tab-group (selectedTabChange)="checkTab($event)">
                <mat-tab *ngIf="access_permission?.report?.progress_report?.can_access == 1" label="របាយការណ៍វឌ្ឍនភាព">
                    <app-picture [id]="project_id" [setup]="setupLayer" [setupMethods]="setStandard"></app-picture>
                </mat-tab>
                <mat-tab *ngIf="access_permission?.report?.testing_report?.can_access == 1" label="របាយការណ៍ធ្វើតេស្ត" >
                    <app-testing-report [id]="project_id" [setup]="setupLayer" [setupPk]="setupLayer" [setupMethods]="setStandard" ></app-testing-report>
                </mat-tab>
                <mat-tab *ngIf="access_permission?.report?.letter?.can_access == 1" label="លិខិត" >
                    <app-letter [id]="project_id" [access_permission]="access_permission?.report?.letter"  ></app-letter>
                </mat-tab>
                <!-- <mat-tab *ngIf="access_permission?.report?.system_report?.can_access == 1"  label="របាយការណ៍ពីប្រព័ន្ធ" >
                    <app-system-report [id]="project_id" [setup]="setupLayer" ></app-system-report>
                </mat-tab> -->
                <mat-tab *ngIf="access_permission?.report?.reference_report?.can_access == 1" label="របាយការណ៍យោង" >
                    <app-references-report [id]="project_id"></app-references-report>
                </mat-tab>
            </mat-tab-group>
        </div>

        <ng-container *ngIf="checkQurey || loading">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
    </div>
</div>



<!-- <div
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent pageSizes">
    <div
        class="relative flex flex-row flex-0 sm:items-center min-h-15 justify-between py-2 px-5 shadow bg-white">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap cursor-pointer" [routerLink]="['/sup/projects']">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-blue-600">គម្រោង</span>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">2022.16-NC2-22</span>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <div class="custom-select-header">
                <mat-form-field appearance="outline" class="min-w-32 max-w-32">
                    <mat-select [(ngModel)]="project_type_id" class="text-gray-400" placeholder="ជ្រើសរើសប្រភេទព័ត៌មាន">
                        <ng-container>
                            <mat-option [routerLink]="['/sup/projects/'+project_id+'/info']" [value]="1">ព័ត៌មានគម្រោង</mat-option>
                            <mat-option [routerLink]="['/sup/projects/'+project_id+'/technical']" [value]="2">ការងារបច្ចេកទេស</mat-option>

                            <mat-option [routerLink]="['/sup/projects/'+project_id+'/report']" [value]="4">របាយការណ៍</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="flex flex-auto overflow-hidden p-3">
        <div class="flex flex-col flex-auto">
            <div class="grid border rounded-lg overflow-hidden sm:overflow-y-auto">
                <div class="w-full">

                </div>
            </div>
        </div>
    </div>
</div>
 -->