<div *ngIf="data?.length > 0 && !isSearching" class="custom-botton-flat w-full text-right min-h-13 max-h-13  pr-3 pt-1 bg-white">

    <div class="flex justify-end gap-2">
        <div class="custom-select-header ">
            <mat-form-field appearance="outline" class="min-w-48 max-w-48">
                <input matInput [(ngModel)]="key" (keyup.enter)="listing()" placeholder="ស្វែងរកផ្លូវ">
            </mat-form-field>
        </div>
        <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="listing()">
            <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
        </button>
    </div>
</div>
<div  class="Nr-main-section rounded-md">
    
    <ng-container *ngIf="isSearching">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
            <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
    <div *ngIf="data?.length == 0 && !isSearching">
        
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
    </div>
        <!-- ================>>  Get Data  API  -->
    <div *ngIf="data?.length > 0 && !isSearching">
        <table mat-table [dataSource]="dataSource">

            <!-- no Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
            </ng-container>

            <!-- road Column -->
            <ng-container matColumnDef="road">
                <th mat-header-cell *matHeaderCellDef> ផ្លូវជាតិ</th>
                <td mat-cell *matCellDef="let data">
                    NR {{data?.road?.name}} 
                </td>
            </ng-container>

            <!-- Pk Start column -->
            <ng-container matColumnDef="PKStart">
                <th mat-header-cell *matHeaderCellDef>PK ចាប់ផ្តើម</th>
                <td mat-cell *matCellDef="let data">{{data?.start_pk}}</td>
            </ng-container>

            <!-- Pk end column -->
            <ng-container matColumnDef="PKEnd">
                <th mat-header-cell *matHeaderCellDef>PK បញ្ចប់</th>
                <td mat-cell *matCellDef="let data">{{data?.end_pk}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-50 -pr-2 z-9  "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
        </table>
    </div>
</div>
<div class="min-h-11 max-h-11 hidden" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
    <mat-paginator
        class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
        [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit"
        (page)="onPageChanged($event)">
    </mat-paginator>
</div>