
.Nr-main-section {
    width: 100%;
    max-height: calc(100dvh - 14.55rem);
    overflow: auto;
}

table {
    width: 100%;
}

tr:last-child td.mat-cell {
    border-bottom: none;
}

.Nr-main-section .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.Nr-main-section .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.Nr-main-section .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.Nr-main-section .mat-column-id {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.Nr-main-section .mat-column-road {
    min-width: 220px;
    width: 250px;
    max-width: 250px;
    text-align: left;
    padding: 3px 2rem !important;
}

.Nr-main-section .mat-column-PKStart {
    min-width: 170px;
    width: 300px;
    max-width: 300px;
    padding: 3px 6px 3px 2rem !important;
}

.Nr-main-section .mat-column-PKEnd {
    min-width: 170px;
    width: 300px;
    max-width: 300px;
    padding: 3px 6px 3px 2rem !important;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}