<div class="container-view-section">
    <div class="container-view-header flex items-center justify-between py-2 px-5 shadow">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap cursor-pointer" [routerLink]="['/pot/users']">
                <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-blue-600">អ្នកប្រើប្រាស់ផ្លូវ</span>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600"> {{ data?.name }} </span>
            </div>
        </div>
        <div class="flex items-center justify-end">
            <a class="mt-0.5" mat-icon-button [routerLink]="['../']">
                <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </a>
        </div>
    </div>
    <ng-container *ngIf="loading">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
            <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
    <div class="container-view-body p-4" *ngIf="!loading">
        <div class="container-view-content border rounded-lg">
            <mat-tab-group>
                <mat-tab label="ទិដ្ឋភាពទូទៅ">
                    <ng-container *ngIf="data">
                        <app-overview [isLoading]="loading" [user]="data"></app-overview>
                    </ng-container>
                </mat-tab>
                <mat-tab label="របាយការណ៍">
                    <ng-container>
                        <app-report [id]="id"></app-report>
                    </ng-container>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>