.container-view-section {
    width: 100%;
    height: calc(100dvh - 3.75rem);
    overflow: hidden;
  
    .container-view-header {
        width: 100%;
        min-height: 3.75rem;
        max-height: 3.75rem;
    }
  
    .container-view-body {
        width: 100%;
        height: calc(100dvh - 7.5rem);
        overflow: hidden;
  
        .container-view-content {
            width: 100%;
            max-height: calc(100dvh - 8.5rem);
            overflow: hidden;
        }
    }
  }
  
  ::ng-deep .container-view-content .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    width: 50%;
  }