.mat-dialog-actions {
  justify-content: flex-end;
}
.custom-image > img{
  min-height: 11.75rem;
  max-height: 11.75rem;
  border-radius: 3px;
  object-fit: cover;
}
.rounded-custom{
  border-radius: 5px;
}
.max-h-custom{
  max-height: 2.5rem;
}
.border-hover{
  box-sizing: border-box;
  border: 1px solid #cbd5e1;
  transition: all 0.08s;
}
.border-hover:hover{
  border: 2px solid #cbd5e1;
}
.camera{
  display: none;
}
.main-logo:hover .camera{
  display: flex;
}
@media only screen and (max-width:960px) {
  .profile_info{
    height:calc(100dvh - 350px);
  }
  .camera{
    display: none;
  }
  .main-logo:hover .camera{
    display: flex;
  }
}
