<div class="mb-5 main-logo">

  <div class="  h-[250px] w-[250px] xl:w-[350px] xl:h-[350px] lg:w-[290px] lg:h-[290px] md:w-full md:h-[217px] sm:w-full sm:h-[250px] cursor-pointer   mt-1 sm:mt-1 md:mt-10 lg:mt-10 xl:mt-10 relative" id="profile">
    <img class="w-[250px] h-[250px] xl:w-[350px] xl:h-[350px] lg:w-[290px] lg:h-[290px] md:w-[217px] md:h-[217px] sm:w-[250px]  border rounded-full p-[2px] hover:p-[1px] hover:border-2 hover:border-gray-300" (click)="selectFile()" [src]="src" alt="" type="image" style="object-fit: cover;">
      <div class=" camera absolute z-20 bottom-0  justify-center w-full">
      <img class=" w-6 h-6 md:w-5 md:h-5 lg:w-10 lg:h-10  " (click)="selectFile()" src="../../../assets/images/logo/camera.png" alt="">
    </div>
  </div>
</div>

<input [id]="'portrait-file-' + index" accept="image/*, .heic, .heif" class="hidden" type="file" (change)="fileChangeEvent($event)" />
