<!-- Button -->
<div class="flex">
  <div class=" max-h-10 min-h-10 items-center flex ">
    <div class="hidden sm:block pr-2 pl-2 font-medium">{{user.name}}</div></div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="userActions">
      <span class="relative">
          <img *ngIf=" user.avatar " class="w-7 h-7 rounded-full object-cover" [src]="user.avatar"  id="target">
          <mat-icon *ngIf="!user.avatar" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
      </span>
  </button>
  </div>
</div>

<mat-menu [xPosition]="'before'" #userActions="matMenu" class="absolute top-3.5 md:-right-5 -right-3 py-0">
    <button mat-menu-item (click)="myProfile()">
        <mat-icon svgIcon="mat_outline:change_circle"></mat-icon>
        <span class=" text-md font-bold">{{ user?.name }}</span>
    </button>
    <mat-divider class="my-0"></mat-divider>
    <button mat-menu-item (click)="myProfile()">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>គណនី</span>
    </button>
    <mat-divider class="my-0"></mat-divider>
    <button mat-menu-item (click)="Logout()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>ចាកចេញ</span>
    </button>
</mat-menu>
