mat-drawer-container {
    width: 100%;
    height: calc(100dvh - 11.25rem);
    overflow: hidden;
    position: relative;

    mat-drawer {
        width: 50%;
    }

    mat-drawer-content {
        button {
            &.drawer-btn {
                position: absolute;
                top: calc(50% - 20px);
                right: 0;
            }
        }

        agm-map {
            width: 100%;
            height: 100%;
        }
    }
}