<mat-drawer-container hasBackdrop="true">
    <mat-drawer position="end" #drawer mode="over">I'm a drawer</mat-drawer>
    <mat-drawer-content>
        <agm-map (mapReady)="mapReady($event)" [styles]="styles" [zoomControl]="true" [streetViewControl]="false"
            [disableDefaultUI]="true" (mapClick)="mapClicked($event)">
            <agm-marker-cluster maxZoom="15" [calculator]="calculator" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
                <agm-marker *ngFor="let m of routeMarkers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                    [latitude]="m.lat" optimized="true" [longitude]="m.lng" [markerDraggable]="m.draggable"
                    [iconUrl]="m.icon" (dragEnd)="markerDragEnd(m, $event)" [label]="m.label">

                    <agm-info-window>
                        <strong>{{m.info}}</strong>
                    </agm-info-window>

                </agm-marker>
            </agm-marker-cluster>

            <!-- <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat" optimized="true" [longitude]="m.lng" [label]="m.label"
                [markerDraggable]="m.draggable" [iconUrl]="m.icon" (dragEnd)="markerDragEnd(m, $event)">

                <agm-info-window>
                    <strong>{{m.info}}</strong>
                </agm-info-window>

            </agm-marker> -->

            <!-- <agm-direction *ngFor="let d of directions; let i = index" (onResponse)="onResponse($event)"
                travelMode="DRIVING" [renderOptions]="d.renderOptions" [origin]="d.origin"
                [destination]="d.destination"></agm-direction> -->
        </agm-map>
        <!-- <button class="drawer-btn" mat-raised-button (click)="drawer.toggle()">Toggle</button> -->
    </mat-drawer-content>
</mat-drawer-container>