.custom-main-section {
    width: 100%;
    height: calc(100vh - 60px); //60px is navigation
    overflow: hidden;
}

.custom-content-section {
    width: 100%;
    height: calc(100vh - 120px); //60+60(navigatio+header) = 120px
}

.custom-content-section .custom-content {
    width: 100%;
    max-height: calc(100vh - 144px); //12px+12px(padding-top and padding-bottom 
    overflow: hidden;
}

.custom-content .container-pothole {
    width: 100%;
    max-height: calc(100vh - 188px);
    overflow: auto;
}
::ng-deep .custom-select-header .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 1px !important ;
    right: -9.5px !important;
} 
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
table {
    width: 100%;
}

.container-pothole .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.container-pothole .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.container-pothole .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.container-pothole .mat-column-id {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.container-pothole .mat-column-user {
    min-width: 220px;
    width: 300px;
    max-width: 300px;
    text-align: left;
    padding: 3px 2rem !important;
}

.container-pothole .mat-column-code {
    min-width: 170px;
    width: 230px;
    max-width: 230px;
}

.container-pothole .mat-column-road_lo_auth {
    min-width: 230px;
    width: 230px;
    max-width: 230px;
}

.container-pothole .mat-column-status {
    min-width: 170px;
    width: 230px;
    max-width: 230px;
}

.container-pothole .mat-column-date_update {
    min-width: 170px;
    width: 230px;
    max-width: 230px;
}

.container-pothole .mat-column-action {
    flex: none;
    width: 25px;
    margin-right: -2px !important;
}

 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(100 116 139) !important;
}

