<div class="custom-main-section">
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <!-- ================================ >>  Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">ផ្លូវខូច</span>
            </div>
        </div>
        <div class="flex items-center gap-2">

            <div class="custom-select-header">
                <mat-form-field appearance="outline" class="min-w-50">
                 
                    <mat-select [(ngModel)]="status_id" >
                        <ng-container *ngIf="status">
                            <mat-option [value]="0" (click)="listing()"> <span>ទាំងអស់</span></mat-option>
                            <mat-option *ngFor="let row of status" [value]="row?.id" (click)="listing()">
                                <span>{{row?.name}}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div> 
        
            <div class="custom-select-header hidden sm:flex">
                <mat-form-field appearance="outline" class="  min-w-48 max-w-48">
                    <mat-label>ចាប់ពីថ្ងៃ</mat-label>
                    <input matInput [matDatepicker]="startdate" id="inputSearch" [(ngModel)]="from" [max]="maxDate">
                    <mat-datepicker-toggle  matSuffix [for]="startdate">
                        <mat-icon [svgIcon]="'mat_outline:today'"></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #startdate></mat-datepicker>
                    
                </mat-form-field>
                
            </div>
            <div class="custom-select-header hidden sm:flex " >
                <mat-form-field appearance="outline" class=" min-w-48 max-w-48 ">
                    <mat-label>ដល់</mat-label>
                    <input matInput [matDatepicker]="enddate" id="inputSearch" [(ngModel)]="to" [min]="from" [max]="maxDate" >    
                    <mat-datepicker-toggle  matSuffix [for]="enddate">
                        <mat-icon [svgIcon]="'mat_outline:event'"></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #enddate></mat-datepicker>
                </mat-form-field>
            </div>
            <!-- ================================ >> Search select -->
            <div class="custom-botton-flat">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="listing()">
                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                </button>
            </div>
        </div>
    </div>
        <!--=============================>> Main -->
    <div class="custom-content-section p-3">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4">
                <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
                <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>
            <!-- =========================== >> Data listing Table -->
        <div class="custom-content flex-col rounded-lg border hidden relative" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
            <div class="container-pothole">
                <!-- ================>>  Get Data  API  -->
                    <table mat-table [dataSource]="dataSource">

                        <!-- no Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                            <td mat-cell *matCellDef="let data"> {{ data?.rn }} </td>
                        </ng-container>

                        <ng-container matColumnDef="user">
                            <th mat-header-cell *matHeaderCellDef>​អ្នកប្រើប្រាស់</th>
                            <td mat-cell *matCellDef="let data">
                                <b>{{data?.ru?.user?.name}}</b> <br> {{data?.description.slice(0, 40)}}

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef> លេខកូដ</th>
                            <td mat-cell *matCellDef="let data">
                                {{data?.pothole?.code}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="road_lo_auth">
                            <th mat-header-cell *matHeaderCellDef>ទីតាំង</th>
                            <td mat-cell *matCellDef="let data">
                                {{data?.pothole?.location?.village?.name}} <br> {{data?.pothole?.location?.commune?.name}} <br> {{data?.pothole?.location?.province?.name}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> ស្ថានភាព</th>
                            <td mat-cell *matCellDef="let data">{{data?.statuses[0].status.name}}</td>      <!-- if you Want to read only 1 status to disply-->
                        </ng-container>

                        <ng-container matColumnDef="date_update">
                            <th mat-header-cell *matHeaderCellDef> ថ្ងៃរាយការណ៍</th>
                            <td mat-cell *matCellDef="let data"> {{data?.created_at | date : 'YYYY-MM-dd'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="action" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                            <td mat-cell *matCellDef="let data" class="bg-white z-9">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="View(data)">
                                        <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                                        <span class="text-md text-gray-500">មើល</span>
                                    </button>
                                    <button mat-menu-item (click)="onDelete(data)">
                                        <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                        <span class="text-md text-gray-500">លុប</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-yellow-300 -pr-2 z-9"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
            </div> 
               
            <!-- paginator -->
            <div class="container-listing-project-paginator min-h-11 max-h-11" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }">
                <mat-paginator class="w-full bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end overflow-hidden"
                    [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true" [length]="total" [pageSize]="limit" (page)="onPageChanged($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>