<div class="container-dashboard-section bg-slate-50" scrollbar>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full p-3">
        <!-- Visitors overview -->
        <div class="sm:col-span-2 lg:col-span-3 dark flex flex-col flex-auto bg-gray-800 shadow rounded-2xl">
            <div class="flex items-center justify-between mt-10 ml-10 mr-6 sm:mr-10">
                <div class="flex flex-col">
                    <div class="mr-4 text-2xl md:text-3xl text-white tracking-tight leading-7">Visitors Overview
                    </div>
                    <div class="font-medium text-slate-200">Number of unique visitors</div>
                </div>
                <div class="ml-2">
                    <mat-button-toggle-group class="hidden sm:inline-flex border-none space-x-1" value="this-year"
                        #visitorsYearSelector="matButtonToggleGroup">
                        <mat-button-toggle class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                            value="last-year">Last Year
                        </mat-button-toggle>
                        <mat-button-toggle class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                            value="this-year">This Year
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <div class="sm:hidden">
                        <button mat-icon-button [matMenuTriggerFor]="visitorsMenu">
                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #visitorsMenu="matMenu">
                            <button mat-menu-item>This Year</button>
                            <button mat-menu-item>Last Year</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto h-80">
                <apx-chart class="flex-auto w-full h-full" [chart]="chartVisitors.chart" [colors]="chartVisitors.colors"
                    [dataLabels]="chartVisitors.dataLabels" [fill]="chartVisitors.fill" [grid]="chartVisitors.grid"
                    [series]="chartVisitors.series[visitorsYearSelector.value]" [stroke]="chartVisitors.stroke"
                    [tooltip]="chartVisitors.tooltip" [xaxis]="chartVisitors.xaxis"
                    [yaxis]="chartVisitors.yaxis"></apx-chart>
            </div>
        </div>
        <!-- Conversions -->
        <div class="sm:col-span-2 lg:col-span-1 flex flex-col flex-auto bg-white shadow rounded-2xl overflow-hidden">
            <div class="flex items-start justify-between m-6 mb-0">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Conversions</div>
                <div class="ml-2">
                    <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button
                        [matMenuTriggerFor]="conversionMenu">
                        <span class="font-medium text-sm text-secondary">30 days</span>
                    </button>
                    <mat-menu #conversionMenu="matMenu">
                        <button mat-menu-item>30 days</button>
                        <button mat-menu-item>3 months</button>
                        <button mat-menu-item>9 months</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                <div class="text-7xl font-bold tracking-tighter leading-tight">{{data.conversions.amount |
                    number:'1.0-0'}}</div>
                <div class="flex lg:flex-col lg:ml-3">
                    <mat-icon class="icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                    <div
                        class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                        <span class="font-medium text-red-500">2%</span>
                        <span class="ml-1">below target</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto h-20">
                <apx-chart class="flex-auto w-full h-full" [chart]="chartConversions.chart"
                    [colors]="chartConversions.colors" [series]="chartConversions.series"
                    [stroke]="chartConversions.stroke" [tooltip]="chartConversions.tooltip"
                    [xaxis]="chartConversions.xaxis" [yaxis]="chartConversions.yaxis"></apx-chart>
            </div>
        </div>
        <!-- Impressions -->
        <div class="flex flex-col flex-auto bg-white shadow rounded-2xl overflow-hidden">
            <div class="flex items-start justify-between m-6 mb-0">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Impressions</div>
                <div class="ml-2">
                    <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button
                        [matMenuTriggerFor]="impressionsMenu">
                        <span class="font-medium text-sm text-secondary">30 days</span>
                    </button>
                    <mat-menu #impressionsMenu="matMenu">
                        <button mat-menu-item>30 days</button>
                        <button mat-menu-item>3 months</button>
                        <button mat-menu-item>9 months</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                <div class="text-7xl font-bold tracking-tighter leading-tight">{{data.impressions.amount |
                    number:'1.0-0'}}</div>
                <div class="flex lg:flex-col lg:ml-3">
                    <mat-icon class="icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                    <div
                        class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                        <span class="font-medium text-red-500">4%</span>
                        <span class="ml-1">below target</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto h-20">
                <apx-chart class="flex-auto w-full h-full" [chart]="chartImpressions.chart"
                    [colors]="chartImpressions.colors" [series]="chartImpressions.series"
                    [stroke]="chartImpressions.stroke" [tooltip]="chartImpressions.tooltip"
                    [xaxis]="chartImpressions.xaxis" [yaxis]="chartImpressions.yaxis"></apx-chart>
            </div>
        </div>
        <!-- Visits -->
        <div class="flex flex-col flex-auto bg-white shadow rounded-2xl overflow-hidden">
            <div class="flex items-start justify-between m-6 mb-0">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Visits</div>
                <div class="ml-2">
                    <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button
                        [matMenuTriggerFor]="impressionsMenu">
                        <span class="font-medium text-sm text-secondary">30 days</span>
                    </button>
                    <mat-menu #impressionsMenu="matMenu">
                        <button mat-menu-item>30 days</button>
                        <button mat-menu-item>3 months</button>
                        <button mat-menu-item>9 months</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                <div class="text-7xl font-bold tracking-tighter leading-tight">{{data.visits.amount |
                    number:'1.0-0'}}</div>
                <div class="flex lg:flex-col lg:ml-3">
                    <mat-icon class="icon-size-5 text-red-500" [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                    <div
                        class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                        <span class="font-medium text-red-500">4%</span>
                        <span class="ml-1">below target</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto h-20">
                <apx-chart class="flex-auto w-full h-full" [chart]="chartVisits.chart" [colors]="chartVisits.colors"
                    [series]="chartVisits.series" [stroke]="chartVisits.stroke" [tooltip]="chartVisits.tooltip"
                    [xaxis]="chartVisits.xaxis" [yaxis]="chartVisits.yaxis"></apx-chart>
            </div>
        </div>
    </div>

    <!-- Visitors vs. Page Views -->
    <div class="flex flex-col flex-auto m-3 bg-white shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between m-6 mb-0">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Visitors vs. Page Views</div>
            <div class="ml-2">
                <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
                    <span class="font-medium text-sm text-secondary">30 days</span>
                </button>
                <mat-menu #conversionMenu="matMenu">
                    <button mat-menu-item>30 days</button>
                    <button mat-menu-item>3 months</button>
                    <button mat-menu-item>9 months</button>
                </mat-menu>
            </div>
        </div>
        <div class="flex items-start mt-6 mx-6">
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 sm:gap-12">
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <div class="font-medium text-secondary leading-5">Overall Score</div>
                        <mat-icon class="ml-1.5 icon-size-4 text-hint" [svgIcon]="'heroicons_solid:information-circle'"
                            [matTooltip]="'Score is calculated by using the historical ratio between Page Views and Visitors. Best score is 1000, worst score is 0.'"></mat-icon>
                    </div>
                    <div class="flex items-start mt-2">
                        <div class="text-4xl font-bold tracking-tight leading-none">
                            {{data.visitorsVsPageViews.overallScore}}</div>
                        <div class="flex items-center ml-2">
                            <mat-icon class="icon-size-5 text-green-500"
                                [svgIcon]="'heroicons_solid:arrow-circle-up'"></mat-icon>
                            <div class="ml-1 text-md font-medium text-green-500">42.9%</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <div class="font-medium text-secondary leading-5">Average Ratio</div>
                        <mat-icon class="ml-1.5 icon-size-4 text-hint" [svgIcon]="'heroicons_solid:information-circle'"
                            [matTooltip]="'Average Ratio is the average ratio between Page Views and Visitors'"></mat-icon>
                    </div>
                    <div class="flex items-start mt-2">
                        <div class="text-4xl font-bold tracking-tight leading-none">
                            {{data.visitorsVsPageViews.averageRatio | number:'1.0-0'}}%</div>
                        <div class="flex items-center ml-2">
                            <mat-icon class="icon-size-5 text-red-500"
                                [svgIcon]="'heroicons_solid:arrow-circle-down'"></mat-icon>
                            <div class="ml-1 text-md font-medium text-red-500">13.1%</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <div class="font-medium text-secondary leading-5">Predicted Ratio</div>
                        <mat-icon class="ml-1.5 icon-size-4 text-hint" [svgIcon]="'heroicons_solid:information-circle'"
                            [matTooltip]="'Predicted Ratio is calculated by using historical ratio, current trends and your goal targets.'"></mat-icon>
                    </div>
                    <div class="flex items-start mt-2">
                        <div class="text-4xl font-bold tracking-tight leading-none">
                            {{data.visitorsVsPageViews.predictedRatio | number:'1.0-0'}}%</div>
                        <div class="flex items-center ml-2">
                            <mat-icon class="icon-size-5 text-green-500"
                                [svgIcon]="'heroicons_solid:arrow-circle-up'"></mat-icon>
                            <div class="ml-1 text-md font-medium text-green-500">22.2%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-auto h-80 mt-3">
            <apx-chart class="flex-auto w-full h-full" [chart]="chartVisitorsVsPageViews.chart"
                [colors]="chartVisitorsVsPageViews.colors" [dataLabels]="chartVisitorsVsPageViews.dataLabels"
                [grid]="chartVisitorsVsPageViews.grid" [legend]="chartVisitorsVsPageViews.legend"
                [series]="chartVisitorsVsPageViews.series" [stroke]="chartVisitorsVsPageViews.stroke"
                [tooltip]="chartVisitorsVsPageViews.tooltip" [xaxis]="chartVisitorsVsPageViews.xaxis"
                [yaxis]="chartVisitorsVsPageViews.yaxis"></apx-chart>
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0 p-3">
        <!-- New vs. Returning -->
        <div class="flex flex-col flex-auto bg-white shadow rounded-2xl overflow-hidden p-6">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">New vs. Returning</div>
                <div class="ml-2">
                    <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button
                        [matMenuTriggerFor]="conversionMenu">
                        <span class="font-medium text-sm text-secondary">30 days</span>
                    </button>
                    <mat-menu #conversionMenu="matMenu">
                        <button mat-menu-item>30 days</button>
                        <button mat-menu-item>3 months</button>
                        <button mat-menu-item>9 months</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col flex-auto mt-6 h-44">
                <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                    [chart]="chartNewVsReturning.chart" [colors]="chartNewVsReturning.colors"
                    [labels]="chartNewVsReturning.labels" [plotOptions]="chartNewVsReturning.plotOptions"
                    [series]="chartNewVsReturning.series" [states]="chartNewVsReturning.states"
                    [tooltip]="chartNewVsReturning.tooltip"></apx-chart>
            </div>
            <div class="mt-8">
                <div class="-my-3 divide-y">
                    <ng-container *ngFor="let dataset of data.newVsReturning.series; let i = index">
                        <div class="grid grid-cols-3 py-3">
                            <div class="flex items-center">
                                <div class="flex-0 w-2 h-2 rounded-full"
                                    [style.backgroundColor]="chartNewVsReturning.colors[i]"></div>
                                <div class="ml-3 truncate">{{data.newVsReturning.labels[i]}}</div>
                            </div>
                            <div class="font-medium text-right">{{data.newVsReturning.uniqueVisitors * dataset /
                                100
                                | number:'1.0-0'}}</div>
                            <div class="text-right text-secondary">{{dataset}}%</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- Gender -->
        <div class="flex flex-col flex-auto bg-white shadow rounded-2xl overflow-hidden p-6">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Gender</div>
                <div class="ml-2">
                    <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button
                        [matMenuTriggerFor]="conversionMenu">
                        <span class="font-medium text-sm text-secondary">30 days</span>
                    </button>
                    <mat-menu #conversionMenu="matMenu">
                        <button mat-menu-item>30 days</button>
                        <button mat-menu-item>3 months</button>
                        <button mat-menu-item>9 months</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col flex-auto mt-6 h-44">
                <apx-chart class="flex flex-auto items-center justify-center w-full h-full" [chart]="chartGender.chart"
                    [colors]="chartGender.colors" [labels]="chartGender.labels" [plotOptions]="chartGender.plotOptions"
                    [series]="chartGender.series" [states]="chartGender.states"
                    [tooltip]="chartGender.tooltip"></apx-chart>
            </div>
            <div class="mt-8">
                <div class="-my-3 divide-y">
                    <ng-container *ngFor="let dataset of data.gender.series; let i = index">
                        <div class="grid grid-cols-3 py-3">
                            <div class="flex items-center">
                                <div class="flex-0 w-2 h-2 rounded-full"
                                    [style.backgroundColor]="chartGender.colors[i]"></div>
                                <div class="ml-3 truncate">{{data.gender.labels[i]}}</div>
                            </div>
                            <div class="font-medium text-right">{{data.gender.uniqueVisitors * dataset / 100 |
                                number:'1.0-0'}}</div>
                            <div class="text-right text-secondary">{{dataset}}%</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- Age -->
        <div class="flex flex-col flex-auto bg-white shadow rounded-2xl overflow-hidden p-6">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Age</div>
                <div class="ml-2">
                    <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button
                        [matMenuTriggerFor]="conversionMenu">
                        <span class="font-medium text-sm text-secondary">30 days</span>
                    </button>
                    <mat-menu #conversionMenu="matMenu">
                        <button mat-menu-item>30 days</button>
                        <button mat-menu-item>3 months</button>
                        <button mat-menu-item>9 months</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col flex-auto mt-6 h-44">
                <apx-chart class="flex flex-auto items-center justify-center w-full h-full" [chart]="chartAge.chart"
                    [colors]="chartAge.colors" [labels]="chartAge.labels" [plotOptions]="chartAge.plotOptions"
                    [series]="chartAge.series" [states]="chartAge.states" [tooltip]="chartAge.tooltip"></apx-chart>
            </div>
            <div class="mt-8">
                <div class="-my-3 divide-y">
                    <ng-container *ngFor="let dataset of data.age.series; let i = index">
                        <div class="grid grid-cols-3 py-3">
                            <div class="flex items-center">
                                <div class="flex-0 w-2 h-2 rounded-full" [style.backgroundColor]="chartAge.colors[i]">
                                </div>
                                <div class="ml-3 truncate">{{data.age.labels[i]}}</div>
                            </div>
                            <div class="font-medium text-right">{{data.age.uniqueVisitors * dataset / 100 |
                                number:'1.0-0'}}</div>
                            <div class="text-right text-secondary">{{dataset}}%</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- Language -->
        <div class="flex flex-col flex-auto bg-white shadow rounded-2xl overflow-hidden p-6">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Language</div>
                <div class="ml-2">
                    <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button
                        [matMenuTriggerFor]="conversionMenu">
                        <span class="font-medium text-sm text-secondary">30 days</span>
                    </button>
                    <mat-menu #conversionMenu="matMenu">
                        <button mat-menu-item>30 days</button>
                        <button mat-menu-item>3 months</button>
                        <button mat-menu-item>9 months</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col flex-auto mt-6 h-44">
                <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                    [chart]="chartLanguage.chart" [colors]="chartLanguage.colors" [labels]="chartLanguage.labels"
                    [plotOptions]="chartLanguage.plotOptions" [series]="chartLanguage.series"
                    [states]="chartLanguage.states" [tooltip]="chartLanguage.tooltip"></apx-chart>
            </div>
            <div class="mt-8">
                <div class="-my-3 divide-y">
                    <ng-container *ngFor="let dataset of data.language.series; let i = index">
                        <div class="grid grid-cols-3 py-3">
                            <div class="flex items-center">
                                <div class="flex-0 w-2 h-2 rounded-full"
                                    [style.backgroundColor]="chartLanguage.colors[i]"></div>
                                <div class="ml-3 truncate">{{data.language.labels[i]}}</div>
                            </div>
                            <div class="font-medium text-right">{{data.language.uniqueVisitors * dataset / 100 |
                                number:'1.0-0'}}</div>
                            <div class="text-right text-secondary">{{dataset}}%</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- Summary -->
        <div class="flex flex-col flex-auto p-6 bg-white shadow rounded-2xl overflow-hidden">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Summary</div>
                <div class="ml-2 -mt-2 -mr-3">
                    <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                        <button mat-menu-item>Yesterday</button>
                        <button mat-menu-item>2 days ago</button>
                        <button mat-menu-item>3 days ago</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col items-center mt-2">
                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">21</div>
                <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Due Tasks</div>
                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Completed:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div>
                </div>
            </div>
        </div>
        <!-- Overdue -->
        <div class="flex flex-col flex-auto p-6 bg-white shadow rounded-2xl overflow-hidden">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Overdue</div>
                <div class="ml-2 -mt-2 -mr-3">
                    <button mat-icon-button [matMenuTriggerFor]="overdueMenu">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #overdueMenu="matMenu">
                        <button mat-menu-item>Yesterday</button>
                        <button mat-menu-item>2 days ago</button>
                        <button mat-menu-item>3 days ago</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col items-center mt-2">
                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">17</div>
                <div class="text-lg font-medium text-red-600 dark:text-red-500">Tasks</div>
                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">From yesterday:</div>
                    <div class="ml-1.5 text-lg font-semibold">9</div>
                </div>
            </div>
        </div>
        <!-- Issues -->
        <div class="flex flex-col flex-auto p-6 bg-white shadow rounded-2xl overflow-hidden">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Issues</div>
                <div class="ml-2 -mt-2 -mr-3">
                    <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #issuesMenu="matMenu">
                        <button mat-menu-item>Yesterday</button>
                        <button mat-menu-item>2 days ago</button>
                        <button mat-menu-item>3 days ago</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col items-center mt-2">
                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">24</div>
                <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Open</div>
                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Closed today:</div>
                    <div class="ml-1.5 text-lg font-semibold">19</div>
                </div>
            </div>
        </div>
        <!-- Features -->
        <div class="flex flex-col flex-auto p-6 bg-white shadow rounded-2xl overflow-hidden">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Features</div>
                <div class="ml-2 -mt-2 -mr-3">
                    <button mat-icon-button [matMenuTriggerFor]="featuresMenu">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #featuresMenu="matMenu">
                        <button mat-menu-item>Yesterday</button>
                        <button mat-menu-item>2 days ago</button>
                        <button mat-menu-item>3 days ago</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col items-center mt-2">
                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">38</div>
                <div class="text-lg font-medium text-green-600 dark:text-green-500">Proposals</div>
                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Implemented:</div>
                    <div class="ml-1.5 text-lg font-semibold">16</div>
                </div>
            </div>
        </div>
        <!-- Github issues summary -->
        <div
            class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-white shadow rounded-2xl overflow-hidden">
            <div class="flex flex-col sm:flex-row items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Github Issues Summary</div>
                <div class="mt-3 sm:mt-0 sm:ml-2">
                    <mat-button-toggle-group value="this-week" #githubIssuesWeekSelector="matButtonToggleGroup">
                        <mat-button-toggle value="last-week">Last Week</mat-button-toggle>
                        <mat-button-toggle value="this-week">This Week</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
                <!-- New vs. Closed -->
                <div class="flex flex-col flex-auto">
                    <div class="font-medium text-secondary">New vs. Closed</div>
                    <div class="flex flex-col flex-auto">
                        <apx-chart class="flex-auto w-full h-80" [chart]="chartGithubIssues.chart"
                            [colors]="chartGithubIssues.colors" [dataLabels]="chartGithubIssues.dataLabels"
                            [grid]="chartGithubIssues.grid" [labels]="chartGithubIssues.labels"
                            [legend]="chartGithubIssues.legend" [plotOptions]="chartGithubIssues.plotOptions"
                            [series]="chartGithubIssues.series[githubIssuesWeekSelector.value]"
                            [states]="chartGithubIssues.states" [stroke]="chartGithubIssues.stroke"
                            [tooltip]="chartGithubIssues.tooltip" [xaxis]="chartGithubIssues.xaxis"
                            [yaxis]="chartGithubIssues.yaxis"></apx-chart>
                    </div>
                </div>
                <!-- Overview -->
                <div class="flex flex-col">
                    <div class="font-medium text-secondary">Overview</div>
                    <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                        <!-- New issues -->
                        <div
                            class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-indigo-50 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                            <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                {{data.githubIssues.overview[githubIssuesWeekSelector.value]['new-issues']}}
                            </div>
                            <div class="mt-1 text-sm sm:text-lg font-medium">New Issues</div>
                        </div>
                        <!-- Closed -->
                        <div
                            class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                            <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                {{data.githubIssues.overview[githubIssuesWeekSelector.value]['closed-issues']}}
                            </div>
                            <div class="mt-1 text-sm sm:text-lg font-medium">Closed</div>
                        </div>
                        <!-- Fixed -->
                        <div
                            class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                            <div class="text-5xl font-semibold leading-none tracking-tight">
                                {{data.githubIssues.overview[githubIssuesWeekSelector.value]['fixed']}}
                            </div>
                            <div class="mt-1 text-sm font-medium text-center">Fixed</div>
                        </div>
                        <!-- Won't fix -->
                        <div
                            class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                            <div class="text-5xl font-semibold leading-none tracking-tight">
                                {{data.githubIssues.overview[githubIssuesWeekSelector.value]['wont-fix']}}
                            </div>
                            <div class="mt-1 text-sm font-medium text-center">Won't Fix</div>
                        </div>
                        <!-- Re-opened -->
                        <div
                            class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                            <div class="text-5xl font-semibold leading-none tracking-tight">
                                {{data.githubIssues.overview[githubIssuesWeekSelector.value]['re-opened']}}
                            </div>
                            <div class="mt-1 text-sm font-medium text-center">Re-opened</div>
                        </div>
                        <!-- Needs triage -->
                        <div
                            class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                            <div class="text-5xl font-semibold leading-none tracking-tight">
                                {{data.githubIssues.overview[githubIssuesWeekSelector.value]['needs-triage']}}
                            </div>
                            <div class="mt-1 text-sm font-medium text-center">Needs Triage</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Task distribution -->
        <div
            class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-white shadow rounded-2xl overflow-hidden">
            <div class="flex flex-col sm:flex-row items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Task Distribution</div>
                <div class="mt-3 sm:mt-0 sm:ml-2">
                    <mat-button-toggle-group value="this-week" #taskDistributionWeekSelector="matButtonToggleGroup">
                        <mat-button-toggle value="last-week">Last Week</mat-button-toggle>
                        <mat-button-toggle value="this-week">This Week</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <div class="flex flex-col flex-auto mt-6">
                <apx-chart class="flex-auto w-full h-80" [chart]="chartTaskDistribution.chart"
                    [labels]="chartTaskDistribution.labels" [legend]="chartTaskDistribution.legend"
                    [plotOptions]="chartTaskDistribution.plotOptions"
                    [series]="chartTaskDistribution.series[taskDistributionWeekSelector.value]"
                    [states]="chartTaskDistribution.states" [stroke]="chartTaskDistribution.stroke"
                    [theme]="chartTaskDistribution.theme" [tooltip]="chartTaskDistribution.tooltip"
                    [yaxis]="chartTaskDistribution.yaxis"></apx-chart>
            </div>
            <div class="grid grid-cols-2 border-t divide-x -m-6 mt-4 bg-gray-50 dark:bg-transparent">
                <div class="flex flex-col items-center justify-center p-6 sm:p-8">
                    <div class="text-5xl font-semibold leading-none tracking-tighter">
                        {{data.taskDistribution.overview[taskDistributionWeekSelector.value]['new']}}
                    </div>
                    <div class="mt-1 text-center text-secondary">New tasks</div>
                </div>
                <div class="flex flex-col items-center justify-center p-6 sm:p-8">
                    <div class="text-5xl font-semibold leading-none tracking-tighter">
                        {{data.taskDistribution.overview[taskDistributionWeekSelector.value]['completed']}}
                    </div>
                    <div class="mt-1 text-center text-secondary">Completed tasks</div>
                </div>
            </div>
        </div>
        <!-- Schedule -->
        <div
            class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-white shadow rounded-2xl overflow-hidden">
            <div class="flex flex-col sm:flex-row items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Schedule</div>
                <div class="mt-3 sm:mt-0 sm:ml-2">
                    <mat-button-toggle-group value="today" #scheduleDaySelector="matButtonToggleGroup">
                        <mat-button-toggle value="today">Today</mat-button-toggle>
                        <mat-button-toggle value="tomorrow">Tomorrow</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <div class="flex flex-col mt-2 divide-y">
                <ng-container *ngFor="let scheduleItem of data.schedule[scheduleDaySelector.value]; trackBy: trackByFn">
                    <div class="flex flex-row items-center justify-between py-4 px-0.5">
                        <div class="flex flex-col">
                            <div class="font-medium">{{scheduleItem.title}}</div>
                            <div
                                class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                                <ng-container *ngIf="scheduleItem.time">
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-hint"
                                            [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                        <div class="ml-1.5 text-md text-secondary">{{scheduleItem.time}}</div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="scheduleItem.location">
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-hint"
                                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                        <div class="ml-1.5 text-md text-secondary">{{scheduleItem.location}}</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <button mat-icon-button>
                            <mat-icon [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>