<div mat-dialog-title class="custom-dialog-title">
    <span *ngIf="data.action == 'create'" class="text-xl">បង្កើតតម្លៃស្តងដា: {{data.road}}, ស្រទាប់: {{data.layer}}, វិធីសាស្ត្រតេស្ត: {{data.method}}</span>
    <span *ngIf="data.action == 'update'" class="text-xl">កំណត់តម្លៃស្តងដា: {{data.road}}, ស្រទាប់: {{data.layer}}, វិធីសាស្ត្រតេស្ត: {{data.method}}</span>
</div>


<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="standardForm" #CreateStandardNgForm="ngForm" (submit)="submit()">
        <div class=" main-container-steper">
            <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4">

                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>តម្លៃស្តង់ដា</mat-label>
                        <input id="value" matInput [formControlName]="'value'" required   class="relative w-[95%]"
                        (cut)="$event.preventDefault()"
                        (copy)="$event.preventDefault()"
                        onkeypress="return /^[0-9.\. ]+$/i.test(event.key)">
                        <span class="absolute pt-1">{{data.unit}}</span>
                        <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="standardForm.get('value').hasError('required')">
                            សូមបញ្ចូលតម្លៃស្តង់ដា
                        </mat-error>
                    </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button *ngIf="data.action == 'update'" (click)="delete()" class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
    </button>
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()" [disabled]="standardForm.invalid || saving">
        <mat-icon *ngIf="!standardForm.disabled"class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="standardForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>
