
<div class="main-profile">
  <div class="top-profile "></div>
  <div class=" p-3 " >
    <form [formGroup]="form" #profileform="ngForm"  >
    <div class=" contain-profile border rounded-lg relative">
      <div  class="absolute  w-full h-full "  >
      </div>
      <div class="w-full flex flex-col md:flex-row lg:flex-row  ">
        <div class="profile_img w-full lg:w-1/3 xl:w-1/3 z-10  h-[270px] sm:h-[270px] md:h-[300px] lg:h-[300px] xl:h-[300px]  ">
          <div class="w-full h-[260px] md:h-[295px] lg:h-[395px] xl:h-[395px]  mt-2 md:mt-18 lg:mt-9 xl:mt-9 flex justify-center main-logo  ">
            <app-profile mode="mode" [src]=" src " [title]=" 'ជ្រើសរើសរូបភាព' "
                        (srcChange)="srcChange($event)">
            </app-profile>
          </div>
        </div>
        <div class="profile_info w-full sm:w-full md:w-8/12 lg:w-8/12 xl:w-8/12 z-10 custom-form ">
        <div class="pt-0 md:pt-11 lg:pt-11 xl:pt-11">
         <div class="pl-0 md:pl-5 lg:pl-5 pt-2  md:pt-10 lg:pt-10 pb-2 text-center md:text-start lg:text-start ">
          <span  style=" font-size: 30px; color: #2196f3;">ព័ត៌មានគណនី</span>
         </div>
            <div class="main-container-steper p-3 " scrollbar>
                    <mat-form-field appearance="outline" class="w-full mb-2.5 mt-4 md:mt-6 lg:mt-6">
                        <mat-label>ឈ្មោះ</mat-label>
                        <input id="name" matInput [formControlName]="'name'" minlength="0"
                            maxlength="50" >
                            <mat-error class="min-h-6 mt-2.5 text-md">
                              សូមបញ្ចូលឈ្មោះ
                          </mat-error>

                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-full mb-2.5 mt-4 md:mt-6 lg:mt-6">
                      <mat-label>លេខទូរស័ព្ទ</mat-label>
                      <input id="phone" matInput [formControlName]="'phone'" minlength="0"
                          maxlength="12" (keyup)="inputNumber($event)">
                          <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="form.get('phone').hasError('required')">
                            សូមបញ្ចូលលេខទូរស័ព្ទ
                        </mat-error>
                        <mat-error class="min-h-6 mt-2.5 text-md" *ngIf="form.get('phone').hasError('minlength')">
                        លេខទូរស័ព្ទលើស៨ខ្ទង់
                      </mat-error>
                      <mat-hint *ngIf="!passwordCurrct" class="min-h-6 mt-2.5 text-md " style="color: red !important;">
                        {{message}}
                      </mat-hint>

                  </mat-form-field>
                    <mat-form-field appearance="outline" class="w-full mb-2.5 mt-4 md:mt-6 lg:mt-6">
                      <mat-label>អុីម៉ែល</mat-label>
                      <input id="email" matInput [formControlName]="'email'" minlength="0"
                          maxlength="50" >
                          <mat-error class="min-h-6 mt-2.5 text-md">
                            សូមបញ្ចូលអុីម៉ែល
                        </mat-error>
                  </mat-form-field>

            </div>

        </div>
        <div>
          <div class="pt-0 px-3 sm:pt-0 md:pt-0 lg:pt-14 xl:pt-14 flex justify-center md:justify-end lg:justify-end xl:justify-end">
            <button [ngClass]="!saving ? 'cursor-pointer':' cursor-not-allowed' " mat-flat-button (click)="submit()" [disabled]="form.invalid || saving"  class="rounded-lg custom-button  w-[150px] ml-0 md:ml-4 lg:ml-4 xl:ml-4  pb-[4px] flex justify-center "  style=" max-height: 48px !important;min-height: 48px !important; min-width:40px !important;">
              <mat-icon mat-icon *ngIf="!saving" class="icon-size-5 text-secondary mt-[8px]"  [svgIcon]="'mat_outline:edit'" ></mat-icon><div *ngIf="!saving" class="hidden sm:block md:block lg:block xl:block pt-[8px] pl-1">ធ្វើបច្ចុប្បន្នភាព</div>
              <mat-progress-spinner *ngIf="saving" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
             </button>
             <button  [disabled]="saving" [routerLink]="['/my-profile/change-pass']" mat-flat-button   class="rounded-lg custom-button h-15 w-[150px] ml-4  pb-[4px] flex justify-center cursor-pointer"  style=" max-height: 48px !important;min-height: 48px !important; min-width:48px !important;">
              <mat-icon mat-icon class="icon-size-5 text-secondary mt-[8px]" [svgIcon]="'mat_outline:vpn_key'" ></mat-icon><div class=" hidden sm:block md:block lg:block xl:block pt-[8px] pl-1">ផ្លាស់ប្តូរពាក្យសម្ងាត់</div>
             </button>
             <button [disabled]="saving"  [routerLink]="['/my-profile/security']" mat-flat-button  class="rounded-lg h-15 w-[150px] ml-4  pb-[4px] flex justify-center custom-button cursor-pointer"  style="  max-height: 48px !important;min-height: 48px !important; min-width: 40px !important;">
              <mat-icon mat-icon class="icon-size-5 text-secondary mt-[8px]" [svgIcon]="'mat_outline:security'" ></mat-icon><div class=" hidden sm:block md:block lg:block xl:block pt-[8px] pl-1">សុវត្តិភាព</div>
             </button>

          </div>
        </div>

        </div>
      </div>
    </div>
  </form>
  </div>

 </div>
