.main-profile{
  width: 100%; height: 100%;
}
.top-profile{
  min-height: 0.4rem;
  max-height: 0.4rem;
}
.main-profile .contain-profile{
  width: 100%;
  min-height: 571px;
  // min-height: max-content;
  // min-height: calc(100dvh - 70px);
  overflow:hidden
}
.profile_img{
  height:calc(100dvh - 300px);
}
.profile_info{
  height:calc(100dvh - 300px);
}
.profile_info .mat-input-element {
  margin-top: -0.32rem !important;
  height: 40px !important;
  color: rgb(15, 23, 42) !important;
}
.camera{
  display: none;
}
.main-logo:hover .camera{
  display: flex;
}
@media only screen and (max-width:960px) {
  .contain-profile{
  height:calc(100dvh - 300px);
  min-height: 660px !important;
    overflow: hidden;
  }
  .camera{
    display: none;
  }
  .main-logo:hover .camera{
    display: flex;
  }
}


