.header-custom {
    display: flex;
    align-items: center;
    height: 10px;
    margin-top: 25px;
  }
  .header-custom .select-custom{
    margin-right: 30px;
    margin-left: 20px;
    align-items: center;
  }
  .body-section-custom {
    display: flex;
    height: auto;
    align-items: center;
    
  }