<div class="header-custom">
   
</div>

<div class="body-section-custom border-dotted border-gray-500 flex flex-row w-240 break-before-avoid">
    
</div>


<ng-container>
    <div class="flex flex-col justify-center items-center mb-4">
        <mat-icon class="icon-size-24" svgIcon="toc"></mat-icon>
        <span class="text-2xl"><span>គ្មានទិន្នន័យ</span></span>
    </div>
</ng-container>
<div class="w-full flex justify-end p-2 pt-0 border-dotted border-t border-gray-500">
   
    <button class="min-w-8 max-w-8 rounded-md  mt-2" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</div>


