<div mat-dialog-title class="custom-dialog-title">
  <span class="text-xl">{{datas?.title}}</span>
</div>

<mat-dialog-content class="custom-dialog-content hidden-scroll " scrollbar>
  <div>
    <div class="custom-resport flex flex-col">
      <ng-container *ngIf="isLoading">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
          <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
          <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="data?.length === 0  && !isLoading" class="flex flex-col justify-center items-center mb-4 ">
        <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
        <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
      </div>
    </div>
  </div>
  <div *ngIf=" !isLoading" class="custom-botton-flat w-full text-right min-h-max  pr-3  ">
    <div class="flex justify-between">
      <div class="flex flex-col w-full">

        <div class="w-full text-start py-[7px] flex flex-row justify-start">
          <div class="font-bold text-lg "> I. ព័ត៍មានទូទៅ</div>
        </div>
        <div class="w-full text-start py-[7px] flex flex-row justify-between pl-2">
          <div> លេខកូដគម្រោង ៖</div>
          <div class="text-gray-500">{{datas.setup.project.code}}</div>
        </div>
        <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2">
          <div class="min-w-[100px]"> ឈ្មោះគម្រោង ៖ </div>
          <div class="truncate pl-2 text-gray-500">{{datas.setup.project.name}}</div>
        </div>
        <div class="w-full text-start py-[7px] flex flex-row justify-between pl-2">
          <div> ទីតាំង ៖</div>
          <div class="text-gray-500">{{datas.setup.project.pk_start}} - {{datas.setup.project.pk_end}}</div>
        </div>
        <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2">
          <div> ប្រភេទកម្រាស់ផ្លូវ ៖ </div>
          <div class="text-gray-500">{{suffect}}</div>
        </div>
        <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2">
          <div> ស្ថានភាព ៖</div>
          <div class="text-gray-500">{{datas.setup.project.status.kh_name}}</div>
        </div>
        <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2 ">
          <div> រយ:ពេលសាងសង់ ៖</div>
          <div class="flex flex-row "
            *ngIf="datas.setup.project.start_date != null || datas.setup.project.end_date != null">
            <div class="text-gray-500">
              <span *ngIf="datas.setup.project.start_date != null">Start {{datas.setup.project.start_date}}</span> -
              <span *ngIf="datas.setup.project.end_date != null">end {{datas.setup.project.end_date}}</span>
            </div>
          </div>
          <div *ngIf="datas.setup.project.start_date == null && datas.setup.project.end_date == null" class="text-gray-500">
            មិនទាន់កំណត់កាលបរិច្ឆេទ
          </div>
        </div>
        <div class="w-full text-start py-[7px] flex flex-row justify-start mt-2">
          <div class="font-bold text-lg "> II. ប្រតិបត្តិការ</div>
        </div>
        <div class="w-full text-start py-[7px] flex flex-row justify-between pl-2">
          <div> ទីតាំង ៖</div>
          <div class="text-gray-500">PK{{datas.data.pk}}+{{datas.data.station_start}} PK{{datas.data.pk}}+{{datas.data.station_end}}</div>
        </div>
        <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2">
          <div> ផ្នែក ៖</div>
          <div *ngIf="datas.data?.side?.abrv == 'L'" class="text-gray-500">ឆ្វេង( {{datas.data?.side.abrv}} )</div>
          <div *ngIf="datas.data?.side?.abrv == 'R'" class="text-gray-500">ស្តាំ( {{datas.data?.side.abrv}} )</div>
        </div>
        <div class="w-full text-start py-[7px] flex flex-row justify-between pl-2">
          <div> ស្រទាប់ ៖</div>
          <div class="text-gray-500">{{datas.data?.work?.name}}</div>
        </div>
        <div class="w-full text-start py-[7px] flex flex-row justify-between pl-2">
          <div> វិធីសាស្ត្រតេស្ត ៖</div>
          <div class="text-gray-500">{{datas.data?.method?.name}}</div>
        </div>
        <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2">
          <div> កាលបរិច្ឆេទ ៖ </div>
          <div class="text-gray-500">{{datas.data?.created_at}}</div>
        </div>
        <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2">
          <div > បញ្ចូលទិន្ន័យដោយ ៖</div>
          <div class="text-gray-500">{{datas.data?.tester}}</div>
        </div>
        <div class="w-full text-start py-[7px]  flex flex-row justify-between pl-2">
          <div> មតិយោបល់ ៖ </div>
          <div>
            <span *ngIf="data[0].comment != null" class="text-gray-500">{{data[0].comment}}</span>
            <span *ngIf="data[0].comment == null" class="text-gray-500">គ្មាន</span>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div *ngIf="data?.length > 0  && !isLoading "
    class=" w-full test_dialog_list_body mt-4 overflow-x-auto overflow-y-hidden">
    <div class="w-full text-start py-1 flex flex-row justify-start">
      <div class="font-bold text-lg "> III. ការធ្វើតេស្ត</div>
    </div>
    <table mat-table [dataSource]="dataSource" class="w-full">
      <ng-container matColumnDef="nos">
        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> ទីតាំង</th>
        <td mat-cell *matCellDef="let data">
          {{data.location}}
        </td>
      </ng-container>
      <ng-container matColumnDef="standard">
        <th mat-header-cell *matHeaderCellDef>ស្តងដារ</th>
        <td mat-cell *matCellDef="let data">
          X
          <span *ngIf="data?.standard_test?.method?.name == 'BB'">
            < </span>
              <span *ngIf="data?.standard_test?.method?.name != 'BB'">></span>
              {{data?.standard_test?.standard}} {{data?.standard_test?.method?.unit}}
        </td>
      </ng-container>
      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef>តម្លៃតេស្ត</th>
        <td mat-cell *matCellDef="let data">
          {{data?.result}} {{data?.standard_test?.method?.unit}}
        </td>
      </ng-container>


      <ng-container matColumnDef="ispass">
        <th mat-header-cell *matHeaderCellDef> លទ្ធផល</th>
        <td mat-cell *matCellDef="let data">
          <span class="text-green-500" *ngIf="data?.is_pass == 1"> ជាប់</span> <span class="text-red-600"
            *ngIf="data?.is_pass == 0">ធ្លាក់</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> មតិយោបល់</th>
        <td mat-cell *matCellDef="let data">
          <span *ngIf="data?.comment != null">{{data?.comment}}</span>
          <span *ngIf="data?.comment == null">គ្មាន</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
        <td mat-cell *matCellDef="let data" class="bg-white z-9 -right-1">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
            <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="view(data)">
              <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
              <span class="text-md text-gray-500">មើល</span>
            </button>

          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-50 -pr-2 z-9 ">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
    <div *ngIf="data?.length > 0  && !isLoading " class="w-full text-start py-1 flex flex-row justify-start">
      <div class="font-bold text-lg "> IV. រូបភាព</div>
    </div>
    <div *ngIf="data?.length > 0  && !isLoading " class="w-full flex flex-row mt-2">
      <div class="grid grid-cols-3 gap-2 w-full">
        <div *ngFor="let item of datas.data.images">
          <div class="  border rounded-md p-1">
            <img class="rounded-md lg:h-64 md:h-60 sm:h-52 h-44  w-full" [src]="url+item?.image_uri" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions custom-botton-flat">
  <button class="min-w-6 max-w-6 rounded-md  text-white bg-yellow-300    mr-1.5  " [disabled]="data.length == 0 "
    mat-flat-button (click)="downloadReport(6,this.datas.data.id)">
    <mat-icon class="icon-size-6 " svgIcon="mat_outline:file_download"></mat-icon>
  </button>

  <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
    <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
  </button>
</mat-dialog-actions>

<ng-template #loadingTemplate>
  <ng-container>
    <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
      <p class="text-2xl mb-4">សូមមេត្តារងចាំ! កំពុងទាញយករបាយការណ៏</p>
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </ng-container>
</ng-template>