.hidden-scroll::-webkit-scrollbar{
  width: 0 !important;
  height: 0 !important;
}
img{
height: 400px;
}
.test_dialog_list_body .mat-cell {
  padding: 3px 6px !important;
  color: rgb(71 85 105) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.test_dialog_list_body .mat-cell p {
  font-size: 15px !important;
  font-weight: 500;
}

.test_dialog_list_body .mat-header-cell {
  font-size: 1rem !important;
  padding: 0 !important;
  color: rgb(30, 41, 59) !important;
}
.test_dialog_list_body .mat-column-nos {
  min-width: 40px;
  width: 40px;
  max-width: 40px;
  text-align: center;
}
.test_dialog_list_body .mat-column-standard {
  min-width: 100px;
  width: 100px;
  text-align: left;
}

.test_dialog_list_body .mat-column-title {
  min-width: 200px;
  width: 200px;
  text-align: left;
  padding: 3px 6px 3px 1rem !important;
}

.test_dialog_list_body .mat-column-location {
  min-width:160px;
  width: 160px;
  padding: 3px 6px 3px 1rem !important;
}
// .test_dialog_list_body .mat-column-standard {
//   min-width: 100px;
//   width: 100px;
//   max-width: 100px;
//   padding: 3px 6px 3px 2rem !important;
// }
.test_dialog_list_body .mat-column-result {
  min-width: 100px;
  width: 100px;
  padding: 3px 6px 3px 1rem !important;
}
.test_dialog_list_body .mat-column-ispass {
  min-width: 70px;
  width: 70px;
  text-align: center;
}