.container {
    width: 100%;
    height: calc(100dvh - 11.25rem);
    overflow: hidden;
    position: relative;

    .map-legend {
        background-color: rgba(255, 255, 255, 0.509);
        padding: 8px;
        position: absolute;
        bottom: 2em;
        display: flex;
        align-content: center;
        align-items: center;
        height: min-content;

        mat-radio-button {
            display: block;
            line-height: 2em;
        }

    }


    agm-map {
        width: 100%;
        height: 100%;
    }
}