.custom-button:disabled{
    background-color:  rgb(226 232 240) !important;
    color: #9da9bb !important;
    cursor: not-allowed !important;
}
.custom-button:enabled{
    background-color: #FFC107 !important;
    color: #fff !important;
    font-weight: 600;
    cursor: pointer !important;
}