<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">{{data.title}}</span>
</div>

<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="formGroup" #CreateProNgForm="ngForm">
        <div class="flex flex-col sm:flex-row gap-2">
            <div class="w-full md:min-w-60 md:max-w-60 flex justify-center">
                <div class="custom-image-upload">
                    <div class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                        <img *ngIf="src && !show" [src]="src" alt="image" />
                        <span class="w-full h-full custom-preview" *ngIf="src && !show" (click)="preview()">
                            <mat-icon class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                        </span>
                        <span class="w-full custom-h bg-gray-200 flex justify-center items-center rounded-md cursor-pointer"
                            *ngIf="!src || show" (click)="selectFile()">Upload Image</span>
                    </div>
                    <div (click)="selectFile()"
                        class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                        <span class="text-xl mr-2"> ជ្រើសរើសរូបភាព </span>
                        <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                    </div>
                    <input [id]="'portrait-file'" accept="image/*" class="hidden" type="file"
                        (change)="fileChangeEvent($event)" />
                    <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                    <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
                </div>
            </div>
            <div class="w-full">
                <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4 w-full">
                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>ការងារ</mat-label>
                        <input id="title" matInput [formControlName]="'name'">
                        <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="formGroup.get('name').hasError('required')">
                            សូមបញ្ចូលការងារ
                        </mat-error>
                        <mat-error class="min-h-6 mt-2.5 text-sm"
                            *ngIf="formGroup.get('name').hasError('maxlength')">
                            សូមបញ្ចូលការងារតូចជាងឬស្មើ១០០ខ្ទង់
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>ផ្នែក</mat-label>
                        <mat-select [formControlName]="'group_id'">
                            <ng-container >
                                <mat-option *ngFor="let row of worksGroup" [value]="row?.id">
                                    <span>{{row?.name}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="formGroup.get('type_id').hasError('required')">
                            សូមជ្រើសរើសប្រភេទការងារ
                        </mat-error>
                    </mat-form-field>
                    
                    
                </div>
            </div>
            
        </div>
    
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button [disabled]="btnDisable" [disabled]="formGroup.invalid || saving"  class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="create()" >
        <mat-icon *ngIf="!formGroup.disabled" class="icon-size-6 text-white" [svgIcon]="'mat_solid:save'"></mat-icon>
        <mat-progress-spinner *ngIf="formGroup.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
    
</mat-dialog-actions>
