<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">មើលផ្លូវខូច</span>
</div>
<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="viewForm" #ViewPotholeNgForm="ngForm">

        <div class=" main-container-steper">

            <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 sm:grid-cols-2 gap-4">

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>លេខកូដ</mat-label>
                    <input id="code" matInput [formControlName]="'code'" readonly class="cursor-not-allowed">
                    
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ឈ្មោះអ្នកប្រើប្រាស់</mat-label>
                    <input id="name" matInput [formControlName]="'name'" readonly class="cursor-not-allowed">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ស្ថានភាព</mat-label>
                    <input id="statuss" matInput [formControlName]="'statuss'" readonly class="cursor-not-allowed">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ខេត្ត</mat-label>
                    <input id="province" matInput [formControlName]="'province'" readonly class="cursor-not-allowed">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ស្រុក</mat-label>
                    <input id="district" matInput [formControlName]="'district'" readonly class="cursor-not-allowed">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ឃុំ</mat-label>
                    <input id="commune" matInput [formControlName]="'commune'" readonly class="cursor-not-allowed">
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ភូមិ</mat-label>
                    <input id="village" matInput [formControlName]="'village'" readonly class="cursor-not-allowed">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>ទទឺង</mat-label>
                    <input id="lat" matInput [formControlName]="'lat'" readonly class="cursor-not-allowed">
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="w-full mb-2">
                    <mat-label>បណ្តោយ</mat-label>
                    <input id="lng" matInput [formControlName]="'lng'" readonly class="cursor-not-allowed">
                </mat-form-field>

                <div class="custom-textarea">
                    <mat-form-field appearance="outline" class="w-full mb-6">
                        <mat-label>សេចក្តីពណ៌នា</mat-label>
                        <textarea id="description" matInput [formControlName]="'description'" readonly class="cursor-not-allowed"></textarea>
                    </mat-form-field>
                </div>

            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>