<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">កែប្រែទិន្នន័យ</span>
</div>
<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="newForm" #UpdateNewNgForm="ngForm">

        <div class=" main-container-steper">

            <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-1 sm:grid-cols-2 gap-4">

                <mat-form-field appearance="outline" class="w-full mb-2.5">
                    <mat-label>កាលបរិច្ឆេទ</mat-label>
                    <input  [formControlName]="'year'" matInput [matDatepicker]="picker" readonly/>
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event, picker)">
                    </mat-datepicker>
                    <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="newForm.get('year').hasError('required')">
                        សូមបញ្ចូលកាលបរិច្ឆេទ
                    </mat-error>

                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()" [disabled]="newForm.invalid || saving">
        <mat-icon *ngIf="!newForm.disabled"class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="newForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>