.system-report-content {
    width: 100%;
    max-height: calc(100dvh - 11.78rem);
    overflow: auto;

    .t-head,
    .t-body {

        .head,
        .body {
            width: 25%;
        }

        .head-10,
        .body-10 {
            width: 10%;
        }

        .head-35,
        .body-35 {
            width: 35%;
        }

        .head-45,
        .body-45 {
            width: 45%;
        }
    }
}

::ng-deep .system-report-content .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    width: 2.6em;
    height: 2em;
    margin-right: -10px;
    top: -2px;
}