<div class="system-report-content p-4">
    <div class="border min-w-200 overflow-y-auto">
        <div class="t-head flex p-4 py-3.5.5 border-b bg-slate-100">
            <div class="head head-10 font-semibold">No.</div>
            <div class="head head-35 font-semibold">Type of report</div>
            <div class="head head-45 font-semibold">Date</div>
            <div class="head head-10 font-semibold">Action</div>
        </div>
        <div class="t-body flex px-3 py-1 border-b">
            <div class="body body-10 py-3.5">1</div>
            <div class="body body-35 py-3.5">ព័ត៌មានគម្រោង និងស្ថិតិ</div>
            <div class="body body-45 py-1 flex gap-3">
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="overviewstart" [(ngModel)]="overviewStart"
                            placeholder="ថ្ងៃចាប់ផ្តើម">
                        <mat-datepicker-toggle matSuffix [for]="overviewstart">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:today'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #overviewstart></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="overviewend" [(ngModel)]="overviewEnd" placeholder="ដល់">
                        <mat-datepicker-toggle matSuffix [for]="overviewend">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:event'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #overviewend></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="body body-10 py-1">
                <button mat-icon-button [matTooltip]="'ទាញយក'" (click)="submit(1,overviewStart,overviewEnd)">
                    <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                </button>
            </div>
        </div>
        <div class="t-body flex px-3 py-1 border-b">
            <div class="body body-10 py-3.5">2</div>
            <div class="body body-35 py-3.5">តារាងការងារ</div>
            <div class="body body-45 py-1 flex gap-3">
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="tablestart" [(ngModel)]="tableStart"
                            placeholder="ថ្ងៃចាប់ផ្តើម">
                        <mat-datepicker-toggle matSuffix [for]="tablestart">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:today'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #tablestart></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="tableend" [(ngModel)]="tableEnd" placeholder="ដល់">
                        <mat-datepicker-toggle matSuffix [for]="tableend">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:event'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #tableend></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="body body-10 py-1">
                <button mat-icon-button [matTooltip]="'ទាញយក'" (click)="submit(2,tableStart,tableEnd)">
                    <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                </button>
            </div>
        </div>
        <!-- <div class="t-body flex px-3 py-1 border-b">
            <div class="body body-10 py-3.5">3</div>
            <div class="body body-35 py-3.5">ស្តង់ដាតេស្ត</div>
            <div class="body body-45 py-1 flex gap-3">
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="testingStandardstart" [(ngModel)]="testingStandardStart"
                            placeholder="ថ្ងៃចាប់ផ្តើម">
                        <mat-datepicker-toggle matSuffix [for]="testingStandardstart">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:today'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #testingStandardstart></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="testingStandardend" [(ngModel)]="testingStandardEnd" placeholder="ដល់">
                        <mat-datepicker-toggle matSuffix [for]="testingStandardend">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:event'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #testingStandardend></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="body body-10 py-1">
                <button mat-icon-button [matTooltip]="'ទាញយក'" (click)="submit(3,testingStandardStart,testingStandardEnd)">
                    <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                </button>
            </div>
        </div>
        <div class="t-body flex px-3 py-1 border-b">
            <div class="body body-10 py-3.5">4</div>
            <div class="body body-35 py-3.5">ប្លង់</div>
            <div class="body body-45 py-1 flex gap-3">
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="planstart" [(ngModel)]="planStart"
                            placeholder="ថ្ងៃចាប់ផ្តើម">
                        <mat-datepicker-toggle matSuffix [for]="planstart">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:today'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #planstart></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="planend" [(ngModel)]="planEnd" placeholder="ដល់">
                        <mat-datepicker-toggle matSuffix [for]="planend">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:event'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #planend></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="body body-10 py-1">
                <button mat-icon-button [matTooltip]="'ទាញយក'" (click)="submit(4,planStart,planEnd)">
                    <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                </button>
            </div>
        </div> -->
        <div class="t-body flex px-3 py-1 border-b">
            <div class="body body-10 py-3.5">5</div>
            <div class="body body-35 py-3.5">របាយការណ៍វឌ្ឍនភាព</div>
            <div class="body body-45 py-1 flex gap-3">
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="progressReportstart" [(ngModel)]="progressReportStart"
                            placeholder="ថ្ងៃចាប់ផ្តើម">
                        <mat-datepicker-toggle matSuffix [for]="progressReportstart">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:today'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #progressReportstart></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="progressReportend" [(ngModel)]="progressReportEnd" placeholder="ដល់">
                        <mat-datepicker-toggle matSuffix [for]="progressReportend">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:event'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #progressReportend></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="body body-10 py-1">
                <button mat-icon-button [matTooltip]="'ទាញយក'" (click)="submit(5,progressReportStart,progressReportEnd)">
                    <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                </button>
            </div>
        </div>
        <div class="t-body flex px-3 py-1">
            <div class="body body-10 py-3.5">6</div>
            <div class="body body-35 py-3.5">របាយការណ៍ធ្វើតេស្ត</div>
            <div class="body body-45 py-1 flex gap-3">
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="testingReportstart" [(ngModel)]="testingReportStart"
                            placeholder="ថ្ងៃចាប់ផ្តើម">
                        <mat-datepicker-toggle matSuffix [for]="testingReportstart">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:today'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #testingReportstart></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="custom-select-header icon-date">
                    <mat-form-field appearance="outline" class="min-w-40 max-w-40">
                        <input matInput [matDatepicker]="testingReportend" [(ngModel)]="testingReportEnd" placeholder="ដល់">
                        <mat-datepicker-toggle matSuffix [for]="testingReportend">
                            <mat-icon class="text-secondary" [svgIcon]="'mat_outline:event'"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #testingReportend></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="body body-10 py-1">
                <button mat-icon-button [matTooltip]="'ទាញយក'" (click)="submit(6,testingReportStart,testingReportEnd)">
                    <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                </button>
            </div>
        </div> 
    </div>
</div>

<ng-template #loadingTemplate>
    <ng-container>
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
            <p class="text-2xl mb-4">សូមមេត្តារង់ចាំ! កំពុងទាញយករបាយការណ៏</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
</ng-template>
