
<div class="custom-main-section">
    <div class="min-h-15 max-h-15 flex gap-2 justify-end items-center py-2 px-5 shadow bg-white">
        <div class="flex items-center gap-2">
            <div class="custom-select-header ">
                <mat-form-field appearance="outline" class="min-w-48 max-w-48">
                    <input matInput [(ngModel)]="key" (keyup.enter)="listing()" placeholder="ស្វែងរកឈ្មោះស្រុក">
                </mat-form-field>
            </div>
            <!-- ================================>> Button Search -->
            <div class="custom-botton-flat ">
                <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="listing()">
                    <mat-icon class="icon-size-7" svgIcon="mat_solid:search"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="custom-content-section">
        <ng-container *ngIf="isSearching">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
            <div *ngIf=" data?.length == 0 && !isSearching " class="flex flex-col justify-center items-center mb-4 ">
                <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
                <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
            </div>

        <div class="custom-content flex-col rounded-lg border hidden relative " [ngClass]="{ 'flex-custom': data?.length> 0 && !isSearching }">
            <div class="view_dis">
                <!-- ================>>  Get Data  API  -->
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="province">
                        <th mat-header-cell *matHeaderCellDef> ខេត្ត </th>
                        <td mat-cell *matCellDef="let data">
                        {{ data?.province?.name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef> លេខកូដ </th>
                        <td mat-cell *matCellDef="let data">
                            {{ data?.code }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> ស្រុក </th>
                        <td mat-cell *matCellDef="let data">
                            {{ data?.name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="n_of_communes">
                        <th mat-header-cell *matHeaderCellDef> ចំនួនឃុំ </th>
                        <td mat-cell *matCellDef="let data">
                            {{ data?.n_of_communes }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="n_of_villages">
                        <th mat-header-cell *matHeaderCellDef> ចំនួនភូមិ </th>
                        <td mat-cell *matCellDef="let data">
                            {{ data?.n_of_villages }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                        <td mat-cell *matCellDef="let data" class="bg-white z-9">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                            <mat-icon class="icon-size-7" svgIcon="mat_outline:more_vert"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item [routerLink]="['/cp/location/districts/'+data?.id]">
                                    <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:remove_red_eye"></mat-icon>
                                    <span class="text-md text-gray-500">មើល</span>
                                </button>
                                
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-300 -pr-2 z-9 "></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
                </table>
            </div>
            <mat-paginator class="overflow-hidden min-h-11 max-h-11 bg-gray-50 dark:bg-black dark:bg-opacity-5 flex items-center justify-end" [ngClass]="{'flex-custom': data?.length > 0  && !isSearching }" [pageSizeOptions]="[10,20,40]" [showFirstLastButtons]="true"
                [length]="total" [pageSize]="limit" (page)="onPageChanged($event)">
            </mat-paginator>
        </div>
    </div>
</div>
