
<div class="main-total">
    <div class="min-h-15 max-h-15 flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <!-- =============================>> Title -->
        <div class="flex flex-1 items-center font-medium">
            <div class="flex flex-1 items-center font-medium">
                <div class="flex items-center whitespace-nowrap">
                    <mat-icon matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
                </div>
                <div class="flex items-center  whitespace-nowrap" >
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">រាយការណ៍ផ្លូវខូច</span>
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">របាយការណ៍</span>
                    <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class=" text-gray-600">របាយការណ៍ការអ្នកប្រើប្រាស់ប្រចាំខែ</span>
                </div>
            </div>
        </div>
       
    </div>
    <div class="main-total-data bg-slate-50" scrollbar>
        <div class="flex flex-col lg:flex-row p-3">
            <!-- Dashboard -->
            <div class="flex flex-col flex-auto h-fit bg-white-600 shadow rounded-2xl overflow-hidden p-6">
                <div class="flex items-start justify-between">
                    <div class="text-2xl font-bold truncate py-2 text-slate-600">របាយការណ៍ការអ្នកប្រើប្រាស់ប្រចាំខែ   </div>
                </div>
                <mat-divider></mat-divider>

                <div class="title flex flex-col flex-auto mt-6  cusotom-relative">
                    <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis"
                    [stroke]="chartOptions.stroke"
                    [dataLabels]="chartOptions.dataLabels"
                    [yaxis]="chartOptions.yaxis"
                    [labels]="chartOptions.labels"
                    [legend]="chartOptions.legend"
                    [title]="chartOptions.title"
                    [subtitle]="chartOptions.subtitle"
                  ></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
