<mat-dialog-content class="custom-dialog-content">
    <div class="flex flex-col p-0">
        <div class="w-40 m-auto">
            <img src="assets/images/logo/question.png">
        </div>
        <div class="pt-2 m-auto text-lg font-semibold">
            {{ data?.message }}
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <div class="w-full flex justify-between">
        <button class="rounded-md" mat-raised-button color="warn" (click)="close(false)">មិនព្រម</button>
        <button class="rounded-md bg-blue-500 text-white" mat-raised-button (click)="close(true)">យល់ព្រម</button>
    </div>
</mat-dialog-actions>