<h3>បញ្ជូលព័ត៌មាន</h3>
<div class="custom-form mt-7">
    <form [formGroup]="formGroup" autocomplete="off">
        <mat-form-field appearance="outline" class="w-full mt-1 mb-6">
            <mat-label>section</mat-label>
            <input id="section" formControlName="section" type="text" matInput>
            <mat-error class="min-h-6 mt-2.5 text-md"
                *ngIf="formGroup.get('section').hasError('required')">
                សូមបញ្ចូល section
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full mt-1 mb-6">
            <mat-label>part</mat-label>
            <input id="part" formControlName="part" type="text" matInput>
            <mat-error class="min-h-6 mt-2.5 text-md"
                *ngIf="formGroup.get('part').hasError('required')">
                សូមបញ្ចូល part
        </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full mt-1 mb-6">
            <mat-label>name</mat-label>
            <input id="name" formControlName="name" type="text" matInput>
            <mat-error class="min-h-6 mt-2.5 text-md"
                *ngIf="formGroup.get('name').hasError('required')">
                សូមបញ្ចូល name
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full mt-1 mb-6">
            <mat-label>slug</mat-label>
            <input id="slug"  formControlName="slug" type="text" matInput>
            <mat-error class="min-h-6 mt-2.5 text-md"
                *ngIf="formGroup.get('slug').hasError('required')">
                សូមបញ្ចូល slug 
            </mat-error>
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button [disabled]="formGroup.invalid" class="min-w-8 rounded-md custom-button" mat-flat-button (click)="create()">
        បន្ថែមផ្នែក
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>