<div class="container">
    <agm-map (mapReady)="mapReady($event)" [styles]="styles" [zoomControl]="true" [streetViewControl]="false"
        [disableDefaultUI]="true" (mapClick)="mapClicked($event)">
        <agm-marker-cluster maxZoom="15" [calculator]="calculator" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
            <agm-marker *ngFor="let m of routeMarkers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat" optimized="true" [longitude]="m.lng" [label]="m.label"
                [markerDraggable]="m.draggable" [iconUrl]="m.icon" (dragEnd)="markerDragEnd(m, $event)">

                <agm-info-window>
                    <strong>{{m.info}}</strong>
                </agm-info-window>

            </agm-marker>
        </agm-marker-cluster>

        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
            [latitude]="m.lat" optimized="true" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
            [iconUrl]="m.icon" (dragEnd)="markerDragEnd(m, $event)">

            <agm-info-window>
                <strong>{{m.info}}</strong>
            </agm-info-window>

        </agm-marker>

        <agm-direction *ngFor="let d of directions; let i = index" (onResponse)="onResponse(d, $event)"
            travelMode="DRIVING" [renderOptions]="d.renderOptions" [origin]="d.origin"
            [destination]="d.destination"></agm-direction>

    </agm-map>

    <section class="map-legend">
        <!-- <mat-radio-group [(ngModel)]="selectedType" >
            <mat-radio-button *ngFor="let l of types" [style]="{ color: l.color }" [value]="l.id">{{l.label}} ({{l.abbr}})</mat-radio-button>
            <mat-radio-button value="all"> ទាំងអស់ (ALL)</mat-radio-button>
        </mat-radio-group> -->
        <div class="w-26" style="display:flex;align-items: center; height: 40px; margin-right: 15px; " ><span style="height: 10px; width: 10px; border-radius: 50%; background-color: #ffcc00; margin-right: 10px;" ></span>គ្រោងសាងសង់</div>
        <div class="w-26" style="display:flex;align-items: center; height: 40px; margin-right: 15px;  " ><span style="height: 10px; width: 10px; border-radius: 50%; background-color: #0909FF; margin-right: 10px;" ></span>កំពុងសាងសង់</div>
        <div class="w-26" style="display:flex;align-items: center; height: 40px; margin-right: 15px; " ><span style="height: 10px; width: 10px; border-radius: 50%; background-color: #12AD2B; margin-right: 10px;" ></span>បានបញ្ចប់</div>
    </section>
</div>
