.mat-paginator .mat-paginator-container{
    padding: 0 !important;
}
.mat-paginator .mat-paginator-container .mat-paginator-range-actions {
    margin: 0 !important;
}
.mat-paginator .mat-paginator-container .mat-paginator-page-size {
    margin: 0;
}
.mat-paginator-range-label {
    margin: 0 14px !important;
}
