<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">ទាញយកតារាងការងារ</span>
</div>

<mat-dialog-content class="custom-dialog-content overflow-hidden">
    <ng-container *ngIf="isLoading">
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-20 p-3">
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
    <form [formGroup]="pkForm" class="mb-4" *ngIf="!isLoading">
        <div class="custom-form custom-select grid grid-cols-1 md:grid-cols-2 gap-4">
            <mat-form-field appearance="outline" class="w-full mb-2.5">
                <mat-label>PK Start</mat-label>
                <ng-container>
                    <mat-select formControlName="pk_start_id" (selectionChange)="changeStart($event)">
                        <ng-container *ngIf="pksStart.length > 0">
                            <mat-option *ngFor="let row of pksStart" [value]="row.id">
                                <span>{{ row.pk }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="pkForm.get('pk_start_id').hasError('required')">
                    សូមជ្រើសរើស PK Start
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2.5">
                <mat-label>PK End</mat-label>
                <ng-container>
                    <mat-select formControlName="pk_end_id" (selectionChange)="changeEnd($event)">
                        <ng-container *ngIf="pksEnd.length > 0">
                            <mat-option *ngFor="let row of pksEnd" [value]="row.id">
                                <span>{{ row.pk }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="pkForm.get('pk_end_id').hasError('required')">
                    សូមជ្រើសរើស PK End
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()" [disabled]="saving">
        <ng-container>
            <mat-icon *ngIf="!saving" class="icon-size-7" svgIcon="mat_outline:file_download"></mat-icon>
        </ng-container>
        <mat-progress-spinner *ngIf="saving" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn"
        [disabled]="saving">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>