<div class="container-create-project-section">
    <div class="container-create-project-header flex gap-2 justify-between items-center py-2 px-5 shadow bg-white">
        <div class="flex flex-1 items-center font-medium">
            <div class="flex items-center whitespace-nowrap">
                <mat-icon class="text-gray-600" matPrefix [svgIcon]="'heroicons_solid:home'"></mat-icon>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap cursor-pointer" [routerLink]="['/sup/projects']">
                <span class="ml-1 text-gray-600">ត្រួតពិនិត្យគុណភាពផ្លូវ</span>
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-blue-600">គម្រោង</span>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">បង្កើតគម្រោង</span>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-gray-600" [svgIcon]="'heroicons_solid:chevron-right'">
                </mat-icon>
                <span class="ml-1 text-gray-600">{{categories?.name}}</span>
            </div>
        </div>
    </div>
    <div class="container-create-project-body p-2">
        <div class="container-create-project-content border rounded-lg">
            <ng-container>
                <mat-stepper #stepper>
                    <mat-step [stepControl]="firstcreateProjectForm">
                        <form [formGroup]="firstcreateProjectForm" #createProjectNgForm="ngForm">
                            <ng-template matStepLabel>
                                <div class="stepper-header-overlay" (click)="unawiat()"></div>
                                <span class="ml-1">ព័ត៌មានទូទៅ</span>
                            </ng-template>
                            <ng-template matStepperIcon="edit">
                                <mat-icon class="icon-size-4" svgIcon="mat_solid:create"></mat-icon>
                            </ng-template>
                            <div class="main-container-steper p-3" scrollbar>
                                <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">ព័ត៌មានគម្រោង</h3>
                                <div class="custom-form custom-select mb-4">
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>ឈ្មោះគម្រោង</mat-label>
                                        <input matInput [formControlName]="'name'" minlength="0" maxlength="255">
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមបញ្ចូលឈ្មោះគម្រោង</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-3 gap-4 mb-4">
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>លេខកូដគម្រោង</mat-label>
                                        <input matInput [formControlName]="'code'" minlength="0" maxlength="255">
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមបញ្ចូលលេខកូដគម្រោង</mat-error>
                                        <mat-error class="min-h-6 mt-2.5 text-sm text-red-500" *ngIf="code_error != ''">
                                            {{code_error}}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>ប្រភេទគម្រោង</mat-label>
                                        <ng-container>
                                            <mat-select formControlName="type_id">
                                                <ng-container *ngIf="types">
                                                    <mat-option *ngFor="let row of types" [value]="row.id">
                                                        <span>{{ row.name }}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </ng-container>
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសប្រភេទគម្រោង</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>ប្រភេទកម្រាលផ្លូវ</mat-label>
                                        <ng-container>
                                            <mat-select formControlName="surface_id" multiple>
                                                <ng-container *ngIf="surfaces">
                                                    <mat-option *ngFor="let row of surfaces" [value]="row?.id">
                                                        <span>{{ row?.name }}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </ng-container>
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសប្រភេទកម្រាលផ្លូវ</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
                                    <mat-form-field appearance="outline" class="w-full mb-4">
                                        <mat-label>ផ្លូវជាតិលេខ</mat-label>
                                        <input matInput formControlName="road_id" [matAutocomplete]="roads" (keyup)="checkRoads()">
                                        <mat-autocomplete (optionSelected)="onOptionSelected($event)" #roads="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredRoads | async" [value]="option?.name">{{option?.name}}</mat-option>
                                            <mat-option [disabled]="true" *ngIf="firstcreateProjectForm.get('road_id').valid && noRoad">គ្មានទិន្នន័យ</mat-option>
                                        </mat-autocomplete>
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសផ្លូវ</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full relative mb-4">
                                        <mat-label>ខេត្ត</mat-label>
                                        <ng-container>
                                            <mat-select formControlName="province_id" multiple>
                                                <ng-container *ngIf="provinces">
                                                    <mat-option *ngFor="let row of provinces" [value]="row?.id">
                                                        <span>{{ row?.name }}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-progress-spinner *ngIf="checkRoad" class="absolute top-0.5 right-0 bg-white" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                                        </ng-container>
                                    </mat-form-field>
                                </div>
                                <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">ព័ត៌មានថវិកា</h3>
                                <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>ជំពូកថវិកា</mat-label>
                                        <ng-container>
                                            <mat-select formControlName="budget_plan_id">
                                                <ng-container *ngIf="budget_plan">
                                                    <mat-option *ngFor="let row of budget_plan" [value]="row.id">
                                                        <span>{{ row.name }}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </ng-container>
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសជំពូកថវិកា</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full relative mb-4">
                                        <mat-label>ឆ្នាំនៃជំពូកថវិកា</mat-label>
                                        <input (keyup)="checkYears()" matInput formControlName="budget_year_id" [matAutocomplete]="years">
                                        <mat-autocomplete (optionSelected)="onYearsSelected($event)" #years="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredYears | async" [value]="option?.year">{{option?.year}}</mat-option>
                                            <mat-option [disabled]="true" *ngIf="firstcreateProjectForm.get('budget_year_id').valid && noYear">គ្មានទិន្នន័យ</mat-option>
                                        </mat-autocomplete>
                                        <a (click)="createYear(firstcreateProjectForm.get('budget_year_id').value)" mat-icon-button *ngIf="firstcreateProjectForm.get('budget_year_id').valid && noYear" class="absolute -top-1.5 -right-1.5 bg-white">
                                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                        </a>
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសឆ្នាំនៃជំពូកថវិកា</mat-error>
                                    </mat-form-field>
                                </div>
                                <h3 class="my-3 border py-2 rounded-md px-3 bg-slate-50">ព័ត៌មានអង្គភាព</h3>
                                <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 gap-4">
                                    
                                    <mat-form-field appearance="outline" class="w-full relative mb-4">
                                        <mat-label>ប្រតិបត្តិករ</mat-label>
                                        <input (keyup)="checkExecutives()" matInput formControlName="executive_director_id" [matAutocomplete]="executive">
                                        <mat-autocomplete (optionSelected)="onExecutivesSelected($event)" #executive="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredExecutives | async" [value]="option?.name">{{option?.name}}</mat-option>
                                            <mat-option [disabled]="true" *ngIf="firstcreateProjectForm.get('executive_director_id').valid && noExecutive">គ្មានទិន្នន័យ</mat-option>
                                        </mat-autocomplete>
                                        <a (click)="createOrganization(firstcreateProjectForm.get('executive_director_id').value, executives[0]?.type_id)" mat-icon-button *ngIf="firstcreateProjectForm.get('executive_director_id').valid && noExecutive" class="absolute -top-1.5 -right-1.5 bg-white" >
                                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                        </a>
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសប្រតិបត្តិករ</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-full mb-2.5" *ngIf="!hideForm">
                                        <mat-label>អង្គភាពគ្រប់គ្រង</mat-label>
                                        <input (keyup)="checkEntities()" matInput formControlName="entity_id" [matAutocomplete]="entity">
                                        <mat-autocomplete (optionSelected)="onEntitiesSelected($event)" #entity="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredEntities | async" [value]="option?.name">{{option?.name}}</mat-option>
                                            <mat-option [disabled]="true" *ngIf="firstcreateProjectForm.get('entity_id').valid && noEntity">គ្មានទិន្នន័យ</mat-option>
                                        </mat-autocomplete>
                                        <a (click)="createOrganization(firstcreateProjectForm.get('entity_id').value, entities[0]?.type_id)" mat-icon-button *ngIf="firstcreateProjectForm.get('entity_id').valid && noEntity" class="absolute -top-1.5 -right-1.5 bg-white">
                                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                        </a>
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសអង្គភាពគ្រប់គ្រង</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5" *ngIf="hideForm">
                                        <mat-label>អង្គភាពត្រួតពិនិត្យ</mat-label>
                                        <input (keyup)="checkReviewers()" matInput formControlName="reviewer_id" [matAutocomplete]="reviewer">
                                        <mat-autocomplete (optionSelected)="onReviewersSelected($event)" #reviewer="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredReviewers | async" [value]="option?.name">{{option?.name}}</mat-option>
                                            <mat-option [disabled]="true" *ngIf="firstcreateProjectForm.get('reviewer_id').valid && noReviewer">គ្មានទិន្នន័យ</mat-option>
                                        </mat-autocomplete>
                                        <a (click)="createOrganization(firstcreateProjectForm.get('reviewer_id').value, reviewers[0]?.type_id)" mat-icon-button *ngIf="firstcreateProjectForm.get('reviewer_id').valid && noReviewer" class="absolute -top-1.5 -right-1.5 bg-white">
                                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                        </a>
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសអង្គភាពត្រួតពិនិត្យ</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>ក្របខណ្ឌ</mat-label>
                                        <input (keyup)="checkFrameworks()" matInput formControlName="framework_id" [matAutocomplete]="framework">
                                        <mat-autocomplete (optionSelected)="onFrameworksSelected($event)" #framework="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredFrameworks | async"
                                                [value]="option?.name">
                                                {{option?.name}}
                                            </mat-option>
                                            <mat-option [disabled]="true"
                                                *ngIf="firstcreateProjectForm.get('framework_id').valid && noFramework">
                                                គ្មានទិន្នន័យ
                                            </mat-option>
                                        </mat-autocomplete>
                                        <a (click)="createOrganization(firstcreateProjectForm.get('framework_id').value, frameworks[0]?.type_id)"
                                            mat-icon-button
                                            *ngIf="firstcreateProjectForm.get('framework_id').valid && noFramework"
                                            class="absolute -top-1.5 -right-1.5 bg-white">
                                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                        </a>
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសក្របខណ្ឌ</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>ម្ចាស់គម្រោង</mat-label>
                                        <input (keyup)="checkProjectOwners()" matInput
                                            formControlName="project_owner_id" [matAutocomplete]="project_owner">
                                        <mat-autocomplete (optionSelected)="onProjectOwnersSelected($event)"
                                            #project_owner="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredProjectOwners | async"
                                                [value]="option?.name">
                                                {{option?.name}}
                                            </mat-option>
                                            <mat-option [disabled]="true"
                                                *ngIf="firstcreateProjectForm.get('project_owner_id').valid && noProjectOwner">
                                                គ្មានទិន្នន័យ
                                            </mat-option>
                                        </mat-autocomplete>
                                        <a (click)="createOrganization(firstcreateProjectForm.get('project_owner_id').value, project_owners[0]?.type_id)"
                                            mat-icon-button
                                            *ngIf="firstcreateProjectForm.get('project_owner_id').valid && noProjectOwner"
                                            class="absolute -top-1.5 -right-1.5 bg-white">
                                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                        </a>
                                        <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសម្ចាស់គម្រោង</mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="w-full flex justify-end border-t mt-5">
                                    <button class="min-w-30 mt-4 min-h-12 max-h-12 rounded-md custom-button"
                                        mat-flat-button [disabled]="firstcreateProjectForm.invalid || wait"
                                        (click)="check()">
                                        <mat-icon class="icon-size-6" *ngIf="!wait"
                                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                        <span *ngIf="!wait"
                                            style="font-size: 17px; margin-bottom: -1.5px;">បន្ទាប់</span>
                                        <mat-progress-spinner *ngIf="wait" [diameter]="24" [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="secondcreateProjectForm">
                        <form #form [formGroup]="secondcreateProjectForm">
                            <ng-template matStepLabel>
                                <div class="stepper-header-overlay" (click)="checkCanStay()"></div>
                                <span class="ml-1">លទ្ធកម្ម</span>
                            </ng-template>
                            <ng-template matStepperIcon="edit">
                                <mat-icon class="icon-size-4" svgIcon="mat_solid:create"></mat-icon>
                            </ng-template>
                            <div class="main-container-steper p-3" scrollbar>
                                <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">តម្លៃគម្រោងស្នើសុំដំបូង</h3>
                                <div class="custom-form grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-4 mb-3">
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>សាងសង់</mat-label>
                                        <input (keyup)="calculate1()" formatInput matInput
                                            [formControlName]="'bud_request_construction'" maxlength="27"
                                            autocomplete="off">
                                        <span class="custom-position"
                                            *ngIf="secondcreateProjectForm.value.bud_request_construction != ''"> រៀល
                                        </span>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_request_construction').hasError('required')">
                                            សូមបញ្ចូលតម្លៃកិច្ចសន្យា សាងសង់ស្នើសុំ​ ជាលេខ
                                        </mat-error>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_request_construction').hasError('maxlength')">
                                            តម្លៃកិច្ចសន្យា សាងសង់ស្នើសុំ​ មិនអាចកលើសពី២០ខ្ទង់
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>ត្រួតពិនិត្យ</mat-label>
                                        <input (keyup)="calculate1()" formatInput matInput
                                            [formControlName]="'bud_request_check'" maxlength="27" autocomplete="off">
                                        <span class="custom-position"
                                            *ngIf="secondcreateProjectForm.value.bud_request_check != ''"> រៀល </span>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_request_check').hasError('required')">
                                            សូមបញ្ចូលតម្លៃកិច្ចសន្យា ត្រួតពិនិត្យ ស្នើសុំ ជាលេខ
                                        </mat-error>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_request_check').hasError('maxlength')">
                                            តម្លៃកិច្ចសន្យា ត្រួតពិនិត្យ ស្នើសុំ មិនអាចកលើសពី២០ខ្ទង់
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5 cursor-not-allowed">
                                        <mat-label>សរុប</mat-label>
                                        <input formatInput matInput readonly [value]="bud_request_total | number"
                                            class="cursor-not-allowed" [disabled]="true">
                                        <span class="custom-position">រៀល</span>
                                    </mat-form-field>
                                </div>
                                <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">តម្លៃគម្រោងក្រោយធានាចំណាយ</h3>
                                <div class="custom-form grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-4 mb-3">
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>សាងសង់</mat-label>
                                        <input (keyup)="calculate2()" formatInput matInput
                                            [formControlName]="'bud_after_warranty_con'" maxlength="27"
                                            autocomplete="off">
                                        <span class="custom-position"
                                            *ngIf="secondcreateProjectForm.value.bud_after_warranty_con != ''"> រៀល
                                        </span>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_after_warranty_con').hasError('required')">
                                            សូមបញ្ចូលតម្លៃកិច្ចសន្យា សាងសង់ក្រោយធានាចំណាយ ជាលេខ
                                        </mat-error>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_after_warranty_con').hasError('maxlength')">
                                            តម្លៃកិច្ចសន្យា សាងសង់ក្រោយធានាចំណាយ មិនអាចកលើសពី២០ខ្ទង់
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>ត្រួតពិនិត្យ</mat-label>
                                        <input (keyup)="calculate2()" formatInput matInput
                                            [formControlName]="'bud_after_warranty_check'" maxlength="27"
                                            autocomplete="off">
                                        <span class="custom-position"
                                            *ngIf="secondcreateProjectForm.value.bud_after_warranty_check != ''"> រៀល
                                        </span>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_after_warranty_check').hasError('required')">
                                            សូមបញ្ចូលតម្លៃកិច្ចសន្យាត្រួតពិនិត្យ ក្រោយធានាចំណាយ ជាលេខ
                                        </mat-error>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_after_warranty_check').hasError('maxlength')">
                                            តម្លៃកិច្ចសន្យាត្រួតពិនិត្យ ក្រោយធានាចំណាយ មិនអាចកលើសពី២០ខ្ទង់
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5 cursor-not-allowed">
                                        <mat-label>សរុប</mat-label>
                                        <input formatInput matInput readonly [value]="bud_after_warranty_total | number"
                                            class="cursor-not-allowed" [disabled]="true">
                                        <span class="custom-position">រៀល</span>
                                    </mat-form-field>

                                </div>
                                <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">តម្លៃគម្រោងក្នុងកិច្ចសន្យា</h3>
                                <div class="custom-form grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-4 mb-3">

                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>សាងសង់</mat-label>
                                        <input (keyup)="calculate3()" formatInput matInput
                                            [formControlName]="'bud_contract_construciton'" maxlength="27"
                                            autocomplete="off">
                                        <span class="custom-position"
                                            *ngIf="secondcreateProjectForm.value.bud_contract_construciton != ''"> រៀល
                                        </span>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_contract_construciton').hasError('required')">
                                            សូមបញ្ចូលតម្លៃកិច្ចសន្យា សាងសង់ ជាលេខ
                                        </mat-error>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_contract_construciton').hasError('maxlength')">
                                            តម្លៃកិច្ចសន្យា សាងសង់ មិនអាចកលើសពី២០ខ្ទង់
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>ត្រួតពិនិត្យ</mat-label>
                                        <input (keyup)="calculate3()" formatInput matInput
                                            [formControlName]="'bud_contract_check'" maxlength="27" autocomplete="off">
                                        <span class="custom-position"
                                            *ngIf="secondcreateProjectForm.value.bud_contract_check != ''"> រៀល </span>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_contract_check').hasError('required')">
                                            សូមបញ្ចូលតម្លៃកិច្ចសន្យា ត្រួតពិនិត្យ ជាលេខ
                                        </mat-error>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="secondcreateProjectForm.get('bud_contract_check').hasError('maxlength')">
                                            តម្លៃកិច្ចសន្យា ត្រួតពិនិត្យ មិនអាចកលើសពី២០ខ្ទង់
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5 cursor-not-allowed">
                                        <mat-label>សរុប</mat-label>
                                        <input formatInput matInput readonly [value]="bud_contract_total | number"
                                            class="cursor-not-allowed" [disabled]="true">
                                        <span class="custom-position">រៀល</span>
                                    </mat-form-field>
                                </div>

                                <div class="w-full flex justify-between border-t mt-5">
                                    <button class="min-w-30 mt-4 min-h-12 max-h-12 rounded-md custom-button"
                                        (click)="unawiat()" mat-flat-button matStepperPrevious>
                                        <mat-icon class="icon-size-6"
                                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                                        <span style="font-size: 17px; margin-bottom: -0.5px;">ត្រឡប់ក្រោយ</span>
                                    </button>
                                    <button class="min-w-30 mt-4 min-h-12 max-h-12 rounded-md custom-button"
                                        mat-flat-button [disabled]="secondcreateProjectForm.invalid" matStepperNext>
                                        <mat-icon class="icon-size-6"
                                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                        <span style="font-size: 17px; margin-bottom: -0.5px;">បន្ទាប់</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="thirdcreateProjectForm">
                        <form [formGroup]="thirdcreateProjectForm">
                            <ng-template matStepLabel><span class="ml-1.5">កាលបរិច្ឆេទ</span></ng-template>
                            <ng-template matStepperIcon="edit">
                                <mat-icon class="icon-size-4" svgIcon="mat_solid:create"></mat-icon>
                            </ng-template>
                            <div class="main-container-steper p-3" scrollbar>
                                <div class="custom-form grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-4">
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>កាលបរិច្ឆេទ ចាប់ផ្តើមអនុវត្ត កិច្ចសន្យាគម្រោង</mat-label>
                                        <input id="project_start_date_contract" matInput
                                            [formControlName]="'project_start_date_contract'" (keyup)="calculate()"
                                            [matDatepicker]="project_start_date_contract">
                                        <mat-hint class="mt-2">ឧទាហរណ៍: 2023-01-15</mat-hint>
                                        <mat-datepicker-toggle matSuffix
                                            [for]="project_start_date_contract"></mat-datepicker-toggle>
                                        <mat-datepicker #project_start_date_contract (closed)="calculate()"
                                            startView="year"></mat-datepicker>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="thirdcreateProjectForm.get('project_start_date_contract').invalid">
                                            សូមបញ្ចូលកាលបរិច្ឆេទឲ្យត្រឹមត្រូវ
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>កាលបរិច្ឆេទបញ្ចប់​ កិច្ចសន្យាគម្រោង</mat-label>
                                        <input id="project_end_date_contract" matInput
                                            [min]="thirdcreateProjectForm.get('project_start_date_contract').value"
                                            [formControlName]="'project_end_date_contract'" (keyup)="calculate()"
                                            [matDatepicker]="project_end_date_contract">
                                        <mat-hint class="mt-2">ឧទាហរណ៍: 2023-01-15</mat-hint>
                                        <mat-datepicker-toggle matSuffix
                                            [for]="project_end_date_contract"></mat-datepicker-toggle>
                                        <mat-datepicker (closed)="calculate()" #project_end_date_contract
                                            startView="year"></mat-datepicker>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="thirdcreateProjectForm.get('project_end_date_contract').invalid">
                                            សូមបញ្ចូលកាលបរិច្ឆេទឲ្យត្រឹមត្រូវ
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>រយៈពេលអនុវត្ត កិច្ចសន្យាគម្រោង</mat-label>
                                        <input id="process_contract_duration" matInput
                                            [formControlName]="'process_contract_duration'">
                                        <span class="custom-position"
                                            *ngIf="thirdcreateProjectForm.value.process_contract_duration != '' && thirdcreateProjectForm.value.process_contract_duration != undefined">
                                            ខែ
                                        </span>
                                        <mat-hint class="mt-2">ឧទាហរណ៍: 24</mat-hint>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="thirdcreateProjectForm.get('process_contract_duration').invalid">
                                            រយៈពេលអនុវត្ត កិច្ចសន្យាគម្រោង ត្រូវតែជាលេខ
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>កាលបរិច្ឆេទបញ្ចប់​ កិច្ចសន្យាគម្រោង(ករណីពន្យា)</mat-label>
                                        <input id="delay_date" matInput [formControlName]="'delay_date'"
                                            [matDatepicker]="delay_date">
                                        <mat-hint class="mt-2">ឧទាហរណ៍: 2023-01-15</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="delay_date"></mat-datepicker-toggle>
                                        <mat-datepicker #delay_date startView="year"></mat-datepicker>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="thirdcreateProjectForm.get('delay_date').invalid">
                                            សូមបញ្ចូលកាលបរិច្ឆេទឲ្យត្រឹមត្រូវ
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>រយៈពេលធានា សុពលភាពគម្រោង</mat-label>
                                        <input id="warranty_duration" matInput [formControlName]="'warranty_duration'">
                                        <span class="custom-position"
                                            *ngIf="thirdcreateProjectForm.value.warranty_duration != '' && thirdcreateProjectForm.value.warranty_duration != undefined">
                                            ខែ
                                        </span>
                                        <mat-hint class="mt-2">ឧទាហរណ៍: 12</mat-hint>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="thirdcreateProjectForm.get('warranty_duration').invalid">
                                            រយៈពេលធានា សុពលភាពគម្រោង ត្រូវតែជាលេខ
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-full mb-2.5">
                                        <mat-label>កាលបរិច្ឆេទបញ្ចប់សុពលភាពគម្រោង</mat-label>
                                        <input id="close_project_date" matInput [formControlName]="'close_project_date'"
                                            [matDatepicker]="close_project_date">
                                        <mat-hint class="mt-2">ឧទាហរណ៍: 2023-01-15</mat-hint>
                                        <mat-datepicker-toggle matSuffix
                                            [for]="close_project_date"></mat-datepicker-toggle>
                                        <mat-datepicker #close_project_date startView="year"></mat-datepicker>
                                        <mat-error class="min-h-6 mt-2.5 text-sm"
                                            *ngIf="thirdcreateProjectForm.get('close_project_date').invalid">
                                            សូមបញ្ចូលកាលបរិច្ឆេទឲ្យត្រឹមត្រូវ
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="w-full flex justify-between border-t mt-5">
                                    <button class="min-w-30 mt-4 min-h-12 max-h-12 rounded-md custom-button"
                                        mat-flat-button matStepperPrevious>
                                        <mat-icon class="icon-size-6"
                                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                                        <span style="font-size: 17px; margin-bottom: -1.5px;">ត្រឡប់ក្រោយ</span>
                                    </button>
                                    <button class="min-w-36 max-w-36 mt-4 min-h-12 max-h-12 rounded-md custom-button"
                                        mat-flat-button
                                        [disabled]="thirdcreateProjectForm.disabled || thirdcreateProjectForm.invalid"
                                        (click)="submit()">
                                        <span class="flex items-center h-full" *ngIf="!thirdcreateProjectForm.disabled">
                                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                            បង្កើតគម្រោង</span>
                                        <mat-progress-spinner *ngIf="thirdcreateProjectForm.disabled" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </mat-step>
                </mat-stepper>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <ng-container>
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
            <p class="text-2xl mb-4">សូមរង់ចាំ! កំពុងរក្សាទុកទិន្នន័យ</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
</ng-template>