.container-create-project-section {
    width: 100%;
    height: calc(100dvh - 3.75rem);
    overflow: hidden;

    .container-create-project-header {
        width: 100%;
        min-height: 3.75rem;
        max-height: 3.75rem;
    }

    .container-create-project-body {
        width: 100%;
        height: calc(100dvh - 7.5rem);
        overflow: hidden;

        .container-create-project-content {
            width: 100%;
            height: calc(100dvh - 8.5rem);
            overflow: hidden;
        }

        .main-container-steper {
            width: 100%;
            max-height: calc(100dvh - 11.5rem);
            overflow: auto !important;
        }
        .main-container-steper::-webkit-scrollbar{
            width: 0 !important;
        }
    }
}


.custom-position {
    position: absolute;
    right: 0.2rem;
    top: 0.25rem;
}

::ng-deep {

    //header
    .mat-horizontal-stepper-header-container .mat-horizontal-stepper-header {
        border-radius: 6px !important;
        height: 2.75rem !important;
        padding: 0 15px !important;
    }

    @media (max-width: 1133px) {
        .mat-horizontal-stepper-header-container .mat-horizontal-stepper-header {
            width: 22px !important;
        }
    }

    @media (max-width: 960px) {
        .mat-horizontal-stepper-header-container .mat-horizontal-stepper-header {
            width: auto !important;
        }
    }

    @media (max-width: 812px) {
        .mat-horizontal-stepper-header-container .mat-horizontal-stepper-header {
            width: 22px !important;
        }
    }

    .mat-step-text-label {
        height: 40px !important;
        display: flex !important;
        align-items: center !important;
    }

    .mat-stepper-horizontal-line {
        margin: 0 !important;
    }

    //content
    .mat-horizontal-content-container {
        padding: 0px !important;
    }

    .stepper-header-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

::ng-deep .mat-select-disabled .mat-select-trigger{
    cursor: not-allowed !important;
}

::ng-deep .mat-form-field-disabled .mat-form-field-outline{ 
    --tw-bg-opacity: 1 !important;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity)) !important;
    border-radius: 8px !important;
}

.custom-shadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(0, 0, 0, 0.05);
}