
.mt-main-section {
    width: 100%;
    max-height: calc(100dvh - 18.2rem);
    overflow: auto;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
table {
    width: 100%;
}

.mt-body-section .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.mt-body-section .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.mt-body-section .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.mt-body-section .mat-column-id {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.mt-body-section .mat-column-name {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    text-align: left;
    padding: 3px 2rem !important;
}

.mt-body-section .mat-column-contact {
    min-width: 350px;
    width: 350px;
    max-width: 350px;
    padding: 3px 6px 3px 2rem !important;
}

.mt-body-section .mat-column-n_of_mos {
    min-width: 170px;
    width: 170px;
    max-width: 170px;
    padding: 3px 6px 3px 2rem !important;
}
.mt-body-section .mat-column-n_of_m_roads {
    min-width: 170px;
    width: 170px;
    max-width: 100px;
    padding: 3px 6px 3px 2rem !important;
}

.mt-body-section .mat-column-action {
    flex: none;
    width: 25px;
    margin-right: -30px !important;
}

 ::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

 ::placeholder {
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

 ::-ms-input-placeholder {
    color: rgb(100 116 139) !important;
}
