<div class="procurement-main-section">
    <div
        class="flex min-h-12 max-h-12 items-center justify-end gap-2 px-2 py-0.5 shadow text-gray-800 bg-white custom-botton-flat">
        <button class="min-w-8 max-w-8 rounded-md bg-yellow-400" mat-flat-button (click)="changeView()">
            <mat-icon *ngIf="!toggle" class="icon-size-6 " svgIcon="heroicons_outline:view-list"></mat-icon>
            <mat-icon *ngIf="toggle" class="icon-size-6 " svgIcon="heroicons_outline:view-grid"></mat-icon>
        </button>
        <button *ngIf="access_permission?.create == 1" class="min-w-8 max-w-8 rounded-md bg-yellow-400 " mat-flat-button
            (click)="create()">
            <mat-icon class="icon-size-8 " [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        </button>
    </div>
    <div class="procurement-content-section">
        <ng-container *ngIf="isLoading">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div *ngIf=" data?.length == 0 && !isLoading " class="flex flex-col justify-center items-center mb-4 ">
                <mat-icon class="icon-size-24 " svgIcon="toc"></mat-icon>
                <span class="text-2xl "><span>គ្មានទិន្នន័យ</span></span>
            </div>
        </ng-container>

        <div class="procurement-body-section hidden" [ngClass]="{ 'flex-custom': data?.length> 0 && !isLoading }"
            *ngIf="toggle" scrollbar>

            <table mat-table [dataSource]="dataSource" *ngIf="toggle">

                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef> ល.រ </th>
                    <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> ចំណងជើង</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.title}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>លេខសម្គាល់</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.docu_code}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> ឯកសារជាPDF</th>
                    <td mat-cell *matCellDef="let data">
                        <div class="custom-position relative" (click)="openPDF(data)" matTooltip="មើលឯកសារ" >
                            <mat-icon class="icon-size-14 text-hint opacity-50 cursor-pointer"
                                [svgIcon]="'heroicons_solid:document'"></mat-icon>
                            <div class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white "
                                [class.bg-red-600]="true">
                                PDF
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> សេចក្តីពណ៌នា</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.description}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>កាលបរិច្ឆេទបង្កើត</th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.date}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                    <td mat-cell *matCellDef="let data" class="bg-white z-9 -right-1">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                            <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button *ngIf="access_permission?.update == 1" mat-menu-item (click)="updatePro(data)">
                                <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:edit"></mat-icon>
                                <span class="text-md text-gray-500">កែប្រែ</span>
                            </button>
                            <button *ngIf="access_permission?.delete == 1" mat-menu-item (click)="deletePro(data)">
                                <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                <span class="text-md text-gray-500">លុប</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-yellow-50 -pr-2 z-9 ">
                </tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
            </table>

        </div>
        <div class="procurement-body-section grid p-4 grid-cols-2 gap-5 grid-content sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4"
            *ngIf="!toggle && !isLoading" scrollbar>
            <div class="gridItem border rounded-xl  bg-[#f2f3f8] hover:bg-gray-300" *ngFor="let row of data">
                <div class="gridItem-header my-1.5 h-[15%] mt-3 flex w-full items-center  ">
                    <div
                        class="w-[75%] sm:w-[80%] md:w-[82%] lg:w-[82%] xl:w-[82%]  pl-2 sm:pl-3 md:pl-3 lg:pl-4 xl:pl-5 truncate flex">
                        <!-- <div class="pr-2"><mat-icon style="color: rgb(212, 176, 15);"
                                svgIcon="heroicons_solid:photograph"></mat-icon></div> -->
                        <div>
                            <span class="pt-[5px]">{{row?.title}}</span>
                            <div class="mt-2 text-base">
                                <span class="text-gray-600">លេខសម្គាល់</span>: <span
                                    style="font-weight: 500;">{{row?.docu_code}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="w-[25%] sm:w-[20%] md:w-[18%] lg:w-[18%] xl:w-[18%] ">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu"
                            class="">
                            <mat-icon class="icon-size-6" svgIcon="mat_outline:more_vert"></mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button *ngIf="access_permission?.update == 1" mat-menu-item (click)="updatePro(row)">
                                <mat-icon class="icon-size-6 text-blue-400" svgIcon="mat_solid:edit"></mat-icon>
                                <span class="text-md text-gray-500">កែប្រែ</span>
                            </button>
                            <button *ngIf="access_permission?.delete == 1" mat-menu-item (click)="deletePro(row)">
                                <mat-icon class="icon-size-6 text-red-400" svgIcon="mat_solid:delete"></mat-icon>
                                <span class="text-md text-gray-500">លុប</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="gridItem-body px-1 sm:px-2 md:px-2 lg:px-3 xl:px-4 pb-4 h-[85%] relative cursor-pointer">
                    <div class=" gridItemMain absolute  w-full h-full   "
                        style=" right: 0; left: 0; top: 0; bottom: 0;">
                        <div class="w-full h-full  gridItemView items-center flex justify-center" *ngIf="row?.file"
                            (click)="preview(fileUrl+row?.file)">
                            <mat-icon class="text-white w-8 h-8" style="object-fit: cover;"
                                svgIcon="heroicons_outline:eye"></mat-icon>
                        </div>
                    </div>
                    <div class=" image-block justify-center flex h-[280px] items-center ">
                        <!-- <img (click)="preview(fileUrl+row?.file)" class="rounded-md object-cover" [src]="row?.file ? fileUrl+row?.file : null" style="height: 200px;" alt="img">
                        <div (click)="preview(fileUrl+row?.file)" class="absolute top-0 rounded-md flex justify-center items-center" style="height: 100%; width: 100%;">
                            <mat-icon  class="text-white" svgIcon="heroicons_outline:eye"></mat-icon>
                        </div> -->
                        <div class="relative">
                            <mat-icon class="icon-size-24 text-hint opacity-50 cursor-pointer "
                                [svgIcon]="'heroicons_solid:document'"></mat-icon>
                            <div class="absolute left-0 bottom-0 px-1.5 rounded text-lg font-semibold leading-5 text-white "
                                [class.bg-red-600]="true">
                                PDF
                            </div>
                        </div>
                    </div>
                    <div class="mt-3.5">
                        {{row?.description}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>