.procurement-main-section {
    width: 100%;
    max-height: calc(100dvh - 8.5rem);
    overflow: hidden;
}

.procurement-content-section {
    width: 100%;
    max-height: calc(100dvh - 11.5rem);
    overflow: hidden;
}

.procurement-content-section .procurement-body-section {
    width: 100%;
    max-height: calc(100vh - 14.75rem);
    overflow: auto !important;
}
.procurement-body-section::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.custom-position .custom-preview {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.custom-position:hover .custom-preview {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

tr:last-child td.mat-cell {
    border-bottom: none;
}
::ng-deep .mat-menu-panel {
    min-height: 3rem !important;
    min-width: 7rem !important;
}
.procurement-body-section .mat-cell {
    padding: 3px 6px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.procurement-body-section .mat-cell p {
    font-size: 15px !important;
    font-weight: 500;
}

.procurement-body-section .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.procurement-body-section .mat-column-no {
    min-width: 70px;
    width: 70px;
    max-width: 70px;
    text-align: center;
}

.procurement-body-section .mat-column-title {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    text-align: left;
    padding: 3px 6px 3px 2rem !important;
}

.procurement-body-section .mat-column-image {
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    padding: 3px 6px 3px 2rem !important;
}

.procurement-body-section .mat-column-date {
    min-width: 250px;
    width: 300px;
    max-width: 300px;
}

.procurement-body-section .mat-column-description {
    min-width: 170px;
    width: 350px;
    max-width: 350px;
    padding: 3px 6px 3px 2rem !important;
}

.procurement-body-section .mat-column-action {
    flex: none;
    width: 2rem;
    text-align: right;
}

::ng-deep .custom-botton-flat .mat-flat-button {
    color: #fff !important;
}

.flex-custom {
    display: flex !important;
}

::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(100 116 139) !important;
}

/// grid

.grid-content {
    width: 100%;
    // height: max-content;
    max-height: calc(100dvh - 14.45rem);
    overflow-y: auto;
}

.gridItemMain {
    display: none;
}

.gridItem-body img {
    height: 100%;
}
.image-block:hover img{
    filter: brightness(50%);
}
.image-block img{
    object-position: top !important;
}

.mat-column-code{
    width: 100px;
}


@media (min-width: 1790px) {
    .gridItem {
        height: 430px;
    }
}

@media (max-width: 1550px) {
    .gridItem {
        height: 340px;
    }
}

@media (max-width: 1470px) {
    .gridItem {
        height: 320px;
    }
}

@media (max-width: 1400px) {
    .gridItem {
        height: 310px;
    }
}

@media (max-width: 1300px) {
    .gridItem {
        height: 290px;
    }
}

@media (max-width: 1280px) {
    .gridItem {
        height: 350px;
    }
}

@media (max-width: 1190px) {
    .gridItem {
        height: 330px;
    }
}

@media (max-width: 1090px) {
    .gridItem {
        height: 310px;
    }
}

@media (max-width: 1029px) {
    .gridItem {
        height: 290px;
    }
}

@media (max-width: 960px) {
    .gridItem {
        height: 350px;
    }
}

@media (max-width: 780px) {
    .gridItem {
        height: 330px;
    }
}

@media (max-width: 700px) {
    .gridItem {
        height: 290px;
    }
}

@media (max-width: 494px) {
    .gridItem {
        height: 280px;
    }
}

@media (max-width: 464px) {
    .gridItem {
        height: 260px;
    }
}

@media (max-width: 424px) {
    .gridItem {
        height: 240px;
    }
}

@media (max-width: 640px) {
    .gridItem-body .gridItemMain {
        display: none;
        background-color: transparent;
        padding: 0 8px 8px 8px !important;
    }
}

@media (max-width: 768px) {
    .gridItem-body .gridItemMain {
        display: none;
        background-color: transparent;
        padding: 0 8px 8px 8px !important;
    }
}

@media (max-width: 1024px) {
    .gridItem-body .gridItemMain {
        display: none;
        background-color: transparent;
        padding: 0 12px 12px 12px !important;
    }
}

@media (max-width:1280px) {
    .gridItem-body .gridItemMain {
        display: none;
        background-color: transparent;
        padding: 0 16px 16px 16px !important;
    }
}

@media (max-width:1536px) {
    .gridItem-body .gridItemMain {
        display: none;
        background-color: transparent;
        padding: 0 16px 16px 16px !important;
    }
}