<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">កែប្រែគណនី</span>
</div>
<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="updateForm" #CreateProNgForm="ngForm">
        <div class="flex flex-col md:flex-row gap-2">
            <div class="w-full md:min-w-60 md:max-w-60 flex justify-center">
                <div class="custom-image-upload">
                    <div
                        class="h-full min-h-50 max-h-50 max-w-64 mx-auto mb-4 border-2 rounded-md mt-1 w-full custom-image relative p-1">
                        <img [src]="src" />
                        <span class="w-full h-full custom-preview" (click)="preview()">
                            <img *ngIf="src == ''" src="assets/images/avatars/person-placeholder.jpg" class="w-full"
                                alt="">
                        </span>
                    </div>
                    <div (click)="selectFile()"
                        class="w-auto cursor-pointer max-h-custom rounded-custom border-hover p-2 flex justify-center items-center">
                        <span class="text-xl mr-2"> ជ្រើសរើសរូបភាព </span>
                        <mat-icon class="text-secondary" [svgIcon]="'mat_outline:backup'"></mat-icon>
                    </div>
                    <input [id]="'portrait-file'" accept="image/*" class="hidden" type="file"
                        (change)="fileChangeEvent($event.target.files)" />
                    <p *ngIf="error_size !=''" class="text-red-500 m-0 mt-1 text-base">{{error_size}}</p>
                    <p *ngIf="error_type !=''" class="text-red-500 m-0 mt-1 text-base">{{error_type}}</p>
                </div>
            </div>
            <div class="w-full">
                <div class="custom-form custom-select lg:grid-cols-1 sm:grid-cols-2 gap-4 w-full">
                    <div class="grid grid-cols-2 gap-3">
                        <mat-form-field appearance="outline" class="w-full mb-6">
                            <mat-label>គោត្តនាម</mat-label>
                            <input matInput [formControlName]="'name'">
                            <mat-error class="min-h-6 mt-2.5 text-sm"
                                *ngIf="updateForm.get('name').hasError('required')">
                                សូមបញ្ចូលគោត្តនាម
                            </mat-error>
                            <mat-error class="min-h-6 mt-2.5 text-sm"
                                *ngIf="updateForm.get('name').hasError('maxlength')">
                                សូមបញ្ចូលគោត្តនាមតូចជាងឬស្មើ១០០ខ្ទង់
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mb-6">
                            <mat-label>អុីម៉ែល</mat-label>
                            <input matInput [formControlName]="'email'">
                            <mat-error class="min-h-6 mt-2.5 text-sm"
                                *ngIf="updateForm.get('email').hasError('required')">
                                សូមបញ្ចូលអុីម៉ែល
                            </mat-error>
                            <mat-error class="min-h-6 mt-2.5 text-sm"
                                *ngIf="updateForm.get('email').hasError('pattern')">
                                សូមបញ្ចូលអុីម៉ែលឲ្យបានត្រឹមត្រូវ
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid grid-cols-1 gap-3">
                        <mat-form-field appearance="outline" class="w-full mb-6">
                            <mat-label>លេខទូរស័ព្ទ </mat-label>
                            <input matInput formControlName="phone">
                            <mat-error class="min-h-6 mt-2.5 text-sm">
                                <span class="min-h-6 mt-1 text-md" *ngIf="updateForm.get('phone').hasError('required')">
                                    សូមបញ្ចូលលេខទូរស័ព្ទ</span>
                                <span class="min-h-6 mt-1 text-md"
                                    *ngIf="updateForm.get('phone').hasError('pattern')">សូមបញ្ចូលលេខទូរស័ព្ទត្រឹមត្រូវ
                                    E.g: 0965372263 </span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid grid-cols-2 gap-3">
                        <mat-form-field appearance="outline" class="w-full mb-6">
                            <mat-label>អង្គភាព</mat-label>
                            <mat-select [formControlName]="'organization_id'">
                                <ng-container>
                                    <mat-option *ngFor="let row of setup.organizations" [value]="row?.id">
                                        <span>{{row?.name}}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសបអង្គភាព</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mb-6">
                            <mat-label>តួនាទីក្នុងអង្គភាព</mat-label>
                            <mat-select [formControlName]="'role_id'">
                                <ng-container *ngFor="let row of setup.roles">
                                    <mat-option [value]="row?.id">
                                        <span>{{row?.name}}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសតួនាទី</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid grid-cols-1 gap-3" *ngIf="user_type_id !== 8">
                        <mat-form-field appearance="outline" class="w-full mb-6">
                            <mat-label>ប្រភេទ</mat-label>
                            <mat-select [formControlName]="'type_id'">
                                <ng-container>
                                    <mat-option *ngFor="let row of setup.types" [value]="row?.id">
                                        <span>{{row?.name}}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error class="min-h-6 mt-2.5 text-sm">សូមជ្រើសរើសប្រភេទ</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button [disabled]="updateForm.invalid || saving" class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="update()">
        <mat-icon *ngIf="!updateForm.disabled" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="updateForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>