<div class="main-body-info-dashboard">
    <div class="main-body-info-data bg-slate-50" scrollbar>

        <ng-container *ngIf="loading">
            <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2 mt-6">
                <p class="text-xl mb-4">សូមរង់ចាំ! កំពុងទាញទិន្នន័យ</p>
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-container>

        <div class="w-full mt-3 px-3 flex gap-3" *ngIf="!show && !loading && access_permission?.give_approval == 1">
            <smooth-alert class="w-full" *ngIf="!loading" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'warning'">
                {{ alert.message }}
            </smooth-alert>
            <button class="rounded-md custom-button min-w-32 max-w-32 min-h-13" mat-flat-button [disabled]="loading"
                (click)="submit()">
                <span *ngIf="!loading" class="text-lg">
                    ផ្តល់គោលការណ៍
                </span>
                <mat-progress-spinner *ngIf="loading" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
        <div class="w-full mt-3 px-3 flex gap-3" *ngIf="show && !loading">
            <smooth-alert class="w-full" [appearance]="'outline'" [showIcon]="false" [type]="alert.type">
                {{ alert.message }} <strong>{{approved?.by}}</strong> កាលបរិច្ឆេទៈ {{approved?.date}}
            </smooth-alert>
        </div>

        <div class="flex flex-col lg:flex-row gap-3 p-3" *ngIf="data && !loading">
            <div class="flex flex-col flex-auto h-fit bg-white custom-shadow rounded-2xl min-w-100 lg:max-w-100 overflow-hidden p-6">
                <div class="flex items-start justify-between">
                    <div class="text-2xl font-bold truncate py-2 text-slate-600">វឌ្ឍនភាពការងារ</div>
                </div>
                <mat-divider></mat-divider>
                <div class="flex flex-col flex-auto mx-auto mt-6 h-72 w-80 cusotom-relative">
                    <apx-chart class="flex flex-auto items-center justify-center w-full h-full z-99"
                        [chart]="workProgress.chart" [colors]="workProgress.colors" [labels]="workProgress.labels"
                        [plotOptions]="workProgress.plotOptions" [series]="workProgress.series"
                        [states]="workProgress.states" [tooltip]="workProgress.tooltip">
                    </apx-chart>
                    <div class="custom-absolute text-center">
                        <div class="svg-item">
                            <svg width="100%" height="100%" viewBox="0 0 40 40" class="donut">

                                <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent"
                                    stroke-width="3.5">
                                </circle>
                                <circle class="donut-segment-2"
                                    style="--stroke-dasharray: {{ strokeDasharray }}; --stroke-color: {{data?.test_quality?.colors[0]}}"
                                    cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"
                                    [attr.stroke-dasharray]="attrStrokeDasharray" stroke-dashoffset="25"></circle>
                                <g class="donut-text-1">
                                    <text y="50%" transform="translate(0, 2)">
                                        <tspan x="50%" text-anchor="middle" class="donut-percent">
                                            {{total | number:'1.2-2'}}%
                                        </tspan>
                                    </text>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="mt-8">
                    <div class="-my-3 divide-y">
                        <div class="grid grid-cols-2 py-3">
                            <div class="flex items-center">
                                <div class="flex-0 w-2 h-2 rounded-full"
                                    [style.backgroundColor]="data?.test_quality?.colors[0]">
                                </div>
                                <div class="ml-3 truncate">{{data?.test_quality?.labels[0]}}</div>
                            </div>
                            <div class="text-right text-secondary">{{data?.test_quality?.series[0] | number:'1.2-2'}}%
                            </div>
                        </div>
                        <ng-container *ngFor="let dataset of data?.process?.series; let i = index">
                            <div class="grid grid-cols-2 py-3">
                                <div class="flex items-center">
                                    <div class="flex-0 w-2 h-2 rounded-full"
                                        [style.backgroundColor]="workProgress?.colors[i]">
                                    </div>
                                    <div class="ml-3 truncate">{{data?.process?.labels[i]}}</div>
                                </div>
                                <div class="text-right text-secondary">{{dataset | number:'1.2-2'}}%</div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto h-fit gap-3">
                <div class="grid-cols-1 md:grid-cols-2 gap-3">
                    <div class="flex flex-col flex-auto h-fit bg-white w-full custom-shadow rounded-2xl overflow-hidden p-6">
                        <div class="flex items-start justify-between">
                            <div class="text-2xl font-bold truncate py-2 text-slate-600">ព័ត៌មានទូទៅ</div>
                        </div>
                        <mat-divider></mat-divider>
                        
                        <div class="flex flex-col flex-auto mt-3 gap-3 ">
                            <div class="flex flex-col">
                                <div class="flex justify-between rounded-md p-3">
                                    <strong class="mr-1">លេខកូដគម្រោង:</strong> {{ data?.overview ? data?.overview?.code : "N/A"}}
                                </div>
                                <div class="flex justify-between rounded-md p-3">
                                    <strong class="mr-1 min-w-26">ឈ្មោះគម្រោង:</strong> {{ data?.overview ? data?.overview?.name : "N/A"}}
                                </div>
                                <div class="flex justify-between rounded-md p-3">
                                    <strong class="mr-1">ទីតាំង:</strong> {{ overview ? overview?.pk_start_end : "N/A"}}
                                </div>
                                <div class="flex justify-between rounded-md p-3">
                                    <strong class="mr-1">ប្រភេទកម្រាលផ្លូវ:</strong> {{ overview ? surface : "N/A"}}
                                </div>
                                <div class="flex justify-between rounded-md p-3">
                                    <strong class="mr-1">ស្ថានភាព:</strong> {{ data?.overview ? data?.overview?.status?.name : "N/A"}}
                                </div>
                                <div class="flex justify-between rounded-md p-3">
                                    <strong class="mr-1">កាលបរិច្ចេទសាងសង់:</strong>
                                    <span>
                                        <span *ngIf="data?.overview?.project_start_date">
                                            {{ data?.overview?.project_start_date | date : 'MMM YYYY'}} - 
                                        </span>
                                        <span *ngIf="!data?.overview?.project_start_date">
                                            N/A - 
                                        </span>
                                        <span *ngIf="data?.overview?.project_end_date">
                                            {{data?.overview?.project_end_date | date : 'MMM YYYY'}}
                                        </span>
                                        <span *ngIf="!data?.overview?.project_end_date">
                                            N/A
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-col flex-auto h-fit bg-white w-full custom-shadow rounded-2xl overflow-hidden p-6">
                    <div class="flex items-start justify-between">
                        <div class="text-2xl font-bold truncate py-2 text-slate-600">ទាញយករបាយការណ៍</div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="flex flex-col flex-auto mt-3 gap-3 bg-white">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                            <button mat-stroked-button class="rounded-md" (click)="download(1)">ព័ត៌មានទូទៅ</button>
                            <button mat-stroked-button class="rounded-md" (click)="download(2)">តារាងការងារ</button>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                            <button mat-stroked-button class="rounded-md" (click)="download(5)">របាយការណ៍វឌ្ឍភាពការងារ</button>
                            <button mat-stroked-button class="rounded-md" (click)="download(6)">របាយការណ៍ធ្វើតេស្ត</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <ng-container>
        <div class="min-w-26 w-full flex flex-col items-center overflow-hidden min-h-30 p-2">
            <p class="text-2xl mb-4">សូមមេត្តារង់ចាំ! កំពុងទាញយករបាយការណ៏</p>
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </ng-container>
</ng-template>