.main-body-info-dashboard {
    height: calc(100dvh - 11.5rem);
    overflow: hidden;
}

.main-body-info-dashboard .main-body-info-data {
    height: calc(100dvh - 11.8rem);
    overflow: auto;
}

.custom-shadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(240, 240, 240, 0.3);
}

.cusotom-relative {
    position: relative;

    .custom-absolute {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .svg-item {
            width: 254px;
            font-size: 16px;
            margin: 0 auto;
            margin-top: 17px;
            animation: donutfade 1s;
            display: inline-block;
        }

        @keyframes donutfade {

            0% {
                opacity: .2;
            }

            100% {
                opacity: 1;
            }
        }

        .donut-ring {
            stroke: #fff;
        }

        .donut-segment-2 {
            stroke: var(--stroke-color);
            animation: donut1 0.5s;
        }

        @keyframes donut1 {
            0% {
                stroke-dasharray: 0, 100;
            }

            100% {
                stroke-dasharray: var(--stroke-dasharray);
            }
        }

        .donut-text-1 {
            fill: #000;
        }

        .donut-percent {
            font-size: 0.5em;
            line-height: 1;
            transform: translateY(0.5em);
            font-weight: bold;
        }
    }
}

.none {
    display: none;
}