.custom-button:disabled {
    background-color: rgb(226 232 240) !important;
    color: #9da9bb !important;
    cursor: not-allowed;
}

.custom-button:enabled {
    background-color: #FFC107 !important;
    color: #fff !important;
    font-weight: 600;
}

table {
    width: 100%;
}

.section-container .mat-header-cell {
    font-size: 1rem !important;
    padding: 0 !important;
    color: rgb(30, 41, 59) !important;
}

.section-container .mat-cell {
    padding: 6px 6px 3px !important;
    color: rgb(71 85 105) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.section-container .mat-column-checkbox {
    min-width: 70px;
    padding-left: 1rem !important;
  }

::ng-deep .section-container .mat-checkbox .mat-checkbox-layout .mat-checkbox-inner-container {
    display: inline-flex;
    align-items: center;
    margin: -4px 8px 0 0;
}