<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">សំណង់ផ្លូវ</span>
</div>

<mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="pkForm" class="mb-4">
        <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">ប្រឡោះ</h3>
        <div class="custom-form custom-select grid grid-cols-1 gap-4 mb-4">
            <mat-form-field appearance="outline" class="w-full mb-2.5">
                <mat-label>Scale</mat-label>
                <ng-container>
                    <mat-select formControlName="stationScale" (selectionChange)="changeScale($event)">
                        <ng-container *ngIf="scales">
                            <mat-option *ngFor="let row of scales" [value]="row">
                                <span>{{ row }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="pkForm.get('stationScale').hasError('required')">
                    សូមជ្រើសរើស Scale
                </mat-error>
            </mat-form-field>
        </div>

        <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">ទីតាំងចាប់ផ្តើម</h3>
        <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
            <mat-form-field appearance="outline" class="w-full mb-2.5">
                <mat-label>PK</mat-label>
                <input id="pk_start" matInput [formControlName]="'pk_start'" minlength="0" maxlength="255"
                    (keyup)="pkStat()" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()"
                    (paste)="$event.preventDefault()" onkeypress="return /[0-9]/i.test(event.key)">
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="pkForm.get('pk_start').hasError('required')">
                    សូមបញ្ចូលលេខ PK
                </mat-error>
                <mat-hint class="pt-1 pl-1 text-red-500 min-h-6 max-h-6"
                    *ngIf="errorPkstart != '' && !pkForm.get('pk_start').hasError('required') ">{{errorPkstart}}</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2.5">
                <mat-label>Station</mat-label>
                <ng-container>
                    <mat-select formControlName="station_start">
                        <ng-container *ngIf="stations">
                            <mat-option *ngFor="let row of stations" [value]="row">
                                <span>{{ row }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="pkForm.get('station_start').hasError('required')">
                    សូមជ្រើសរើស Station
                </mat-error>
            </mat-form-field>
        </div>
        
        <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">ទីតាំងបញ្ចប់</h3>
        <div class="custom-form custom-select grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
            <mat-form-field appearance="outline" class="w-full mb-2.5">
                <mat-label>PK</mat-label>
                <input id="pk_end" matInput [formControlName]="'pk_end'" minlength="0" maxlength="255" (keyup)="pkend()"
                    (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()"
                    onkeypress="return /[0-9]/i.test(event.key)">
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="pkForm.get('pk_end').hasError('required')">
                    សូមបញ្ចូលលេខ PK
                </mat-error>
                <mat-hint class="pt-1 pl-1 text-red-500 min-h-6 max-h-6"
                    *ngIf="errorPkend != '' && !pkForm.get('pk_end').hasError('required') ">{{errorPkend}}</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full mb-2.5">
                <mat-label>Station</mat-label>
                <ng-container>
                    <mat-select formControlName="station_end">
                        <ng-container *ngIf="stations">
                            <mat-option *ngFor="let row of stations" [value]="row">
                                <span>{{ row }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </ng-container>
                <mat-error class="min-h-6 mt-2.5 text-sm" *ngIf="pkForm.get('station_end').hasError('required')">
                    សូមជ្រើសរើស Station
                </mat-error>
            </mat-form-field>
        </div>
    </form>
    <h3 class="mb-3 border py-2 rounded-md px-3 bg-slate-50">ស្រទាប់ផ្លូវ</h3>
    <section id="select" class="section-container" tabindex="0">
        <table>
            <tr class="min-h-[48px] h-[48px] max-h-[48px] border-b">
                <th class="w-[196px]"></th>
                <th class="w-[426px] text-left">សំណង់ផ្លូវ</th>
                <th class="w-[170px] text-left">ចំនួនតេស្ត</th>
            </tr>
        </table>
        <div *ngFor="let item of data_create; let i=index;" class="grid grid-cols-1 gap-2">
            <div class=" min-h-[30px] h-[30px] max-h-[30px] bg-yellow-50 flex items-center pl-2"><span>{{i+1}}.
                    {{item}}</span></div>
            <table>
                <tr *ngFor="let j of datas[i]" class="min-h-[48px] h-[48px] max-h-[48px]  border-b">
                    <td class="w-[196px] text-center">
                        <mat-checkbox [checked]="j.check" (change)="checkbox($event,j.id)"
                            [disabled]="saving"></mat-checkbox>
                    </td>
                    <td class="w-[426x] text-left">{{j.en_name}}</td>
                    <td class="w-[170px] text-left">{{j.testing_amount}} </td>
                </tr>
            </table>
        </div>
    </section>

</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button (click)="submit()"
        [disabled]="canSubmit || saving || pkForm.invalid">
        <ng-container *ngIf="data.data_update.length == 0">
            <mat-icon *ngIf="!saving" class="icon-size-7" svgIcon="mat_solid:save"></mat-icon>
        </ng-container>
        <ng-container *ngIf="data.data_update.length > 0">
            <mat-icon *ngIf="!saving" class="icon-size-6" svgIcon="mat_solid:save"></mat-icon>
        </ng-container>
        <mat-progress-spinner *ngIf="saving" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn"
        [disabled]="saving">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>